@use 'sass:math';

@function rem($size) {
  $remSize: math.div($size, 16);

  @return #{$remSize}rem;
}

@mixin center($position) {
  position: absolute;

  @if $position == "vertical" {
    top: 50%;
    transform: translateY(-50%);
  } @else if $position == "horizontal" {
    left: 50%;
    transform: translate(-50%);
  } @else if $position == "both" {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin btnBg($bg) {
  background: $bg;

  &:hover {
    background: lighten($bg, 5%);
  }
}

@mixin pseudo() {
  position: absolute;
  display: block;
  background-position: center;
  background-size: cover;
  transition: 0.2s;
  content: "";

  @include center(vertical);
}

@mixin mt($time) {
  transition: all $time ease-in;
}
