//variables
$wrapper-width: 1200px;
$wrapper-content-width: 1024px;
$wrapper-xs-width: 768px;

//FONT
$fw-thin: 100;

$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

//COLORS
$clr-white: #fff;
$clr-black: #333;
$clr-mercury: #e5e5e5;
$clr-silver: #bcbcbc;
$clr-gray: #878787;
$clr-new: #757575;
$clr-dove-gray: #616161;
$clr-radical-red: #ff485b;
$clr-amaranth: #ee2a3e;
$clr-blue-lagoon: #038992;
$clr-wild-sand: #f4f4f4;
$clr-robins-egg-blue: #08c1c1;
$clr-gulf-stream: #7fb1b1;
$clr-coral: #ff8c48;
$clr-jet-stream: #bfd8d8;
$clr-orange: #fc9403;

$clr-primary-lightest: $clr-silver;
$clr-primary-light: $clr-gray;
$clr-primary: $clr-black;
$clr-secondary: $clr-orange;

$primary: $clr-robins-egg-blue;
$secondary: $clr-coral;

$ug-black: $clr-black;
$ug-white: $clr-white;
$ug-blue: $clr-robins-egg-blue;
$ug-orange: $clr-coral;
$ug-red: $clr-radical-red;
$ug-gray: $clr-dove-gray;
$ug-gray-light: $clr-silver;

//SIZES
$fs-large-lg: 24px;
$fs-large: 32px;
$fs-large-xs: 20px;
$fs-large-xxs: 18px;

$fs-medium-lg: 16px;
$fs-medium: 14px;
$fs-medium-xs: 12px;
$fs-medium-xxs: 10px;

$fs-small-lg: 8px;
$fs-small: 6px;
$fs-small-xs: 4px;

// FORM
$height-form-element: 56px;

// NEW VARS

//font
$main-font: roboto, -apple-system, blinkmacsystemfont, segoe ui, oxygen, ubuntu,
cantarell, fira sans, droid sans, helvetica neue, sans-serif;

$fw-light: 200;
$fw-regular: 400;

//colors
$primary-color-light: #7fb1b1;
$primary-color: #009aa4;
$primary-color-dark: #038992;

$error: #ff0000;

$g-100: #fff;
$g-99: #fcfcfc;
$g-97: #f7f7f7;
$g-94: #f0f0f0;
$g-68: #adadad;
$g-58: #949494;
$g-0: #000;

//components color
$bg: $g-100;
$bg-2: $g-99;
$bg-3: $g-97;

$border: $g-94;

$input-value: $g-58;

$ttl: $g-0;
$text: $g-68;
$paragraph: $g-68;
$caption: $g-58;
$disclaimer: $g-58;
$placeholder: $g-68;

$link-default: $primary-color;
$link-hover: $primary-color-dark;
$link-active: $g-58;

$icon-default: $g-58;
$icon-hover: $primary-color-dark;
$icon-active: $g-58;
$icon-white: $g-100;


// transitions
$t-02-eio: 0.2s ease-in-out;
$t-04-eio: 0.4s ease-in-out;
$t-08-eio: 0.8s ease-in-out;

$t-08-l: 0.8s linear;

// gap
$gap-r-xxs: 0.5rem;
$gap-r-xs: 1rem;
$gap-r-s: 1.5rem;
$gap-r-m: 2rem;
$gap-r-l: 4rem;
$gap-r-xl: 8rem;
$gap-r-xxl: 16rem;

$gap-xxs: 8px;
$gap-xs: 16px;
$gap-s: 24px;
$gap-m: 32px;
$gap-l: 64px;
$gap-xl: 128px;
$gap-xxl: 256px;
