.timepicker {
  width: 100%;
  color: $clr-silver;

  &__head {
    .timepicker__row {
      margin-bottom: 16px;
    }
  }

  &__head,
  &__body {
    display: block;
  }

  &__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__range {
    display: flex;

    &-item {
      position: relative;
      width: 100%;
      background-color: #f4f4f4;

      @include mt(0.1s);

      &:nth-child(2n) {
        background-color: #ececec;
      }

      &:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &:first-child {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  }

  // ВНИМАНИЕ КОСТЫЛЬ, чтоб перебить стили nth-child(2n) без !important
  .timepicker__range-item {
    &:hover {
      .timepicker__tooltip {
        display: block;
      }
    }
  }

  // МОЖНО ОТКРЫВАТЬ ГЛАЗКИ
  &__tooltip {
    position: absolute;
    top: -180%;
    left: 60%;
    z-index: 3;
    display: none;
    padding: 6px 8px;
    color: $clr-black;
    font-size: 10px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.14);

    &::after {
      position: absolute;
      bottom: -45%;
      left: 0;
      z-index: 4;
      width: 0;
      height: 0;
      border-right: 6px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 11px solid white;
      content: "";
    }
  }

  &--aside {
    font-size: 12px;

    .timepicker {
      &__head {
        .timepicker__row {
          padding-left: 26px;
        }
      }

      &__day {
        width: 25px;
      }

      &__range {
        width: 221px;
        height: 10px;

        &-item {
          &._active {
            background-color: $clr-coral;
          }

          &._hovered {
            background-color: #ff485b;

            .timepicker__tooltip {
              display: block;
            }
          }
        }
      }

      &__tooltip {
        top: -320%;
      }
    }
  }

  &--full {
    .timepicker {
      &__day {
        display: none;
      }

      &__range {
        width: 100%;
        height: 18px;

        &-item {
          &._active {
            background-color: #ff485b;
          }

          &:hover {
            background-color: #bcbcbc;
          }
        }
      }
    }
  }
}
