.#{answers} {
  .question {
    display: flex;
    width: 100%;

    &__navigation {
      width: 175px;
      margin-top: 14px;
      margin-right: 32px;
    }

    &__item {
      display: block;
      width: 100%;
      color: $clr-black;
      font-size: 14px;
      line-height: 37px;
      cursor: pointer;

      &--active {
        color: #038992;
      }
    }

    &__answers {
      width: 584px;
    }

    &__block {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #e4e4e4;
      cursor: pointer;
    }

    &__quest {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 68px;
      color: #038992;
      font-weight: 600;
      font-size: 16px;
      line-height: 29px;
    }

    &__quest-answer {
      display: none;
      padding-bottom: 30px;
      color: $clr-black;
      font-size: 12px;
      line-height: 22px;
      cursor: initial;

      &--show {
        display: block;
      }
    }

    &__quest-icon {
      position: absolute;
      top: 31px;
      right: 32px;

      &--up {
        transform: rotate(180deg);
      }
    }
  }
}
