@import '__question';

.answers {
  $answers : &;

  width: 796px;
  margin: 0 auto;

  &__title {
    margin-top: 62px;
    margin-bottom: 30px;
    color: #000;
    font-size: 24px;
  }

  &__search {
    position: relative;
    margin-bottom: 40px;
  }

  &__search-input {
    width: 100%;
    height: 56px;
    padding-left: 60px;
    color: #878787;
    font-size: 14px;
    border: 1px solid #e4e4e4;
    border-radius: 38px;
  }

  &__search-icon {
    position: absolute;
    top: 18px;
    left: 27px;
    width: 26px;
    height: 25px;
  }

  &__help {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    margin-top: 74px;
    margin-bottom: 96px;
    padding: 0 20px 0 32px;
    border: 1px solid #f4f4f4;
    border-top: 2px solid #08c1c1;
  }

  &__help-quest {
    color: $clr-black;
    font-size: 14px;
  }

  &__help-message {
    color: #08c1c1;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    cursor: pointer;
    text-decoration-line: underline;
  }
}
