/* user-card */
//.user-card {
//  &__name {
//    margin-bottom: 14px;
//    color: $clr-black;
//  }
//
//  &__image {
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//    margin-bottom: 16px;
//  }
//
//  &__image-file {
//    width: 56px;
//    height: 56px;
//    overflow: hidden;
//    border-radius: 50%;
//  }
//
//  &__nav {
//    display: flex;
//    justify-content: space-between;
//    padding-top: 16px;
//    border-top: 1px solid rgba($clr-mercury, 0.4);
//  }
//
//  &__rate {
//    display: flex;
//    align-items: center;
//  }
//
//  &__rate-link {
//    margin-right: 12px;
//
//    &:last-child {
//      margin-right: 0;
//    }
//  }
//}
