<template lang="pug">
.block
  add-offer-form(:offer="offer" :searchType="offer.searchType" @updateSearchType="updateSearchType")
</template>

<script>
import addOfferForm from '~/components/domain/offers/addOfferForm.vue'
export default {
  components: {
    addOfferForm
  },
  middleware ({ redirect, $auth }) {
    if (!$auth.loggedIn) {
      return redirect('/')
    }
  },
  async asyncData ({ app, route }) {
    const { result } = await app.$api('offers.getFast', {
      offerId: Number.parseInt(route.params.id)
    })
    return {
      offer: result
    }
  },
  data () {
    return {
      offer: {}
    }
  },
  methods: {
    updateSearchType (val) {
      this.offer.searchType = Number.parseInt(val)
    }
  }
}
</script>

<style lang="scss" scoped></style>
