<template lang='pug'>
  .object.main__wrap
    UgStatePanel.object__state-panel(
      :publishedAt="publishedAt"
      :views="offer.views"
    )
    .object__grid.block.grid
      .object__heading
        h1.ttl.ttl_1 {{ offer.title ? offer.title : 'Заголовок' }}
      UgMobileBar
        UgAction.object__action(:offerId="offer.offerId")
        .object__buttons
          UgBtn.btn_primary.object__btn(:href="formattedPhoneHref")= "{{ formattedPhone || 'Записаться на просмотр' }}"
          UgBtn.btn_secondary.object__btn(:func="scrollToTop")= "Наверх"
      .object__side-bar-wrap
        .object__side-bar
          UgAction.object__action(:offerId="offer.offerId")
          .object__main-data-wrap
            // блок адреса
            .object__position(v-if="offer.address")
              .object__address
                .object__pin-wrap
                  UgSVG.object__pin(:svg="'pin-empty'")
                .disclaimer= `{{ offer.address }}`
              .object__metro(
                v-for='item of offer.metroStations'
                v-if='offer.metroStations && offer.metroStations.length > 0'
                :key='item.lineId'
                )
                UgSVG(
                  width='16'
                  height='16'
                  :svg="'metro'"
                  :color="item.color"
                )
                .caption {{ item.title }}
            // блок цены
            .object__offer(v-if="offer.price")
              .ttl.ttl_4(v-if="offer.price") `{{ offer.price }} ₽ / месяц`
              .object__offer-wrap
                .object__offer-item(v-if="offer.communal")
                  span.caption.object__offer-item-name= 'К/У'
                  span.caption.object__offer-item-value= `+ {{ offer.communal }} ₽ / месяц`
                .object__offer-item
                  span.caption.object__offer-item-name= 'Залог'
                  span.caption.object__offer-item-value= `{{ offer.pledge ? offer.pledge : '0' }} ₽`
                .object__offer-item
                  span.caption.object__offer-item-name= 'Оплата'
                  span.caption.object__offer-item-value= `{{ offer.payment ? offer.payment : 'В начале периода' }}`
            UgLandlord(v-if='offer.user' :landlord='offer.user')
          .object__buttons
            //- UgBtn.btn_primary(:href="formattedPhoneHref")= "{{ formattedPhone || 'Записаться на просмотр' }}"
            //- btn(v-if="contacts === null" type="button" )._main._full Показать контакты
            //-     a.btn-call(v-else target="_blank" :href="contactLink.link" fullwidth) {{ contactLink.title }}
            UgBtn.btn_primary(v-if="contacts === null" :func="showContacts") {{ 'Показать контакты' }}
            UgBtn.btn_primary(v-else target="_blank" :href="contactLink.link") {{ contactLink.title || 'Записаться на просмотр' }}
            UgBtn.btn_secondary(:func="scrollToTop")= "Скролл наверх"
      .object__gallery
        UgGallery(:gallery='offer.images' :offer='offer')
      .object__content
        .object__block.object__block_comment(v-if='offer.comment')
          h3.ttl.ttl_2= 'Комментарии гнездовладельца'
          nl2br(
            tag="p"
            :text="offer.comment"
            class-name="paragraph"
          )
        //.object__block(v-if='offer.objectAttr')
          h3.ttl.ttl_2= 'Характеристики объекта'
          UgTwoColList.object__two-col-list(
            //:items="offer.objectAttr"
          //)
        //.object__block(v-if='offer.growth')
          h3.ttl.ttl_2= 'Оснащение'
          .object__growth-wrap
            UgGrowth(:growth='offer.growth')
        //.object__block(v-if='offer.buildAttr')
          h3.ttl.ttl_2= 'Характеристики строения'
          UgTwoColList.object__two-col-list(
            //:items="offer.buildAttr"
          )
      //.object__reviews(v-if='reviews && reviews.length > 0')
        UgReviews(:reviews='reviews')
</template>

<script>
import Nl2br from 'vue-nl2br'

import UgBtn from '~/components/ui/UgBtn/UgBtn'
import UgReviews from '~/components/ui/UgReviews/UgReviews'
import UgTwoColList from '~/components/ui/UgTwoColList/UgTwoColList'
import UgStatePanel from '~/components/ui/UgStatePanel/UgStatePanel'
import UgGrowth from '~/components/ui/UgGrowth/UgGrowth'
import UgGallery from '~/components/ui/UgGallery/UgGallery'
import UgAction from '~/components/ui/UgAction/UgAction'
import UgLandlord from '~/components/ui/UgLandlord/UgLandlord'
import UgSVG from '~/components/common/UgSVG/UgSVG'
import UgMobileBar from '~/components/ui/UgMobileBar/UgMobileBar'

import formatDate from '~/utils/FormatDate'
import formatPhone from '~/utils/phone-format'

// рыбные данные
const fakeData = {
  phone: '+79991234567',
  objectAttr: [
    {
      name: 'Тип объекта',
      value: 'Квартира'
    },
    {
      name: 'Этаж',
      value: '12'
    },
    {
      name: 'Количество комнат',
      value: '1'
    },
    {
      name: 'Высота потолка',
      value: 'от 3 м'
    },
    {
      name: 'Общая площадь',
      value: '72 м2'
    }
  ],
  growth: {
    bunkBed: true,
    singleBed: true,
    doubleBed: true,
    sofa: true,
    refrigerator: true
  },
  buildAttr: [
    {
      name: 'Тип объекта',
      value: 'Квартира'
    },
    {
      name: 'Этаж',
      value: '12'
    },
    {
      name: 'Количество комнат',
      value: '1'
    },
    {
      name: 'Высота потолка',
      value: 'от 3 м'
    },
    {
      name: 'Общая площадь',
      value: '72 м2'
    }
  ],
  reviews: [
    {
      id: 1,
      user: {
        name: 'Имя',
        surname: 'Фамилия',
        ava: 'user-pic.png'
      },
      date: '01.01.2020',
      value: 3,
      review: 'Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий способствует подготовки и реализации систем массового участия.'
    },
    {
      id: 2,
      user: {
        name: 'Имя',
        surname: 'Фамилия',
        ava: ''
      },
      date: '01.01.2020',
      value: 4,
      review: 'Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий способствует подготовки и реализации систем массового участия.'
    },
    {
      id: 3,
      user: {
        name: 'Имя',
        surname: 'Фамилия',
        ava: 'user-pic.png'
      },
      date: '01.01.2020',
      value: 4,
      review: 'Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий способствует подготовки и реализации систем массового участия.'
    },
    {
      id: 4,
      user: {
        name: 'Имя',
        surname: 'Фамилия',
        ava: ''
      },
      date: '01.01.2020',
      value: 4,
      review: 'Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий способствует подготовки и реализации систем массового участия.'
    },
    {
      id: 5,
      user: {
        name: 'Имя',
        surname: 'Фамилия',
        ava: 'user-pic.png'
      },
      date: '01.01.2020',
      value: 4,
      review: 'Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий способствует подготовки и реализации систем массового участия.'
    }
  ]
}

export default {
  components: {
    UgBtn,
    UgTwoColList,
    UgReviews,
    UgStatePanel,
    UgGrowth,
    UgGallery,
    UgAction,
    UgLandlord,
    UgSVG,
    UgMobileBar,
    Nl2br
  },

  layout: 'page',

  asyncData: async function ({ app, route }) {
    const res = {}

    const { result, error } = await app.$api('offers.getFast', {
      offerId: Number.parseInt(route.params.id)
    })

    if (error && error.code > 0) {
      res.error = error
    }

    const commentsResp = await app.$api('comments.offerComments', {
      offerId: Number.parseInt(route.params.id)
    })

    res.offer = result

    res.comments = commentsResp.result

    // подстановка рыбных данных
    res.offer.phone = fakeData.phone
    res.offer.objectAttr = fakeData.objectAttr
    res.offer.growth = fakeData.growth
    res.offer.buildAttr = fakeData.buildAttr
    res.reviews = fakeData.reviews

    return res
  },

  data () {
    return {
      contacts: null
    }
  },

  computed: {
    depositTitle () {
      if (this.itemValueByIdFromValue(8)) {
        return this.itemValueByIdFromValue(8).title
      }
      return ''
    },
    publishedAt () {
      let time = this.offer.publishedAt

      if (!this.offer.publishedAt) {
        time = this.offer.createdAt
      }

      return formatDate(time)
    },

    formattedPhone () {
      if (this.offer.phone) {
        let phone = this.offer.phone
        phone = phone[0] === '+' ? phone.slice(1) : phone
        return `+${phone.slice(0, 1)} (${phone.slice(1, 4)}) ${phone.slice(4, 7)}-${phone.slice(7, 9)}-${phone.slice(9)}`
      }

      return null
    },

    formattedPhoneHref () {
      if (this.offer.phone) {
        let phone = this.offer.phone
        phone = phone[0] === '+' ? phone.slice(1) : phone
        return 'tel:+' + phone
      }

      return null
    },

    contactLink () {
      if (this.contacts === null) {
        return {
          link: '1',
          title: ''
        }
      }

      try {
        let link = ''
        let title = 'Позвонить'
        if (this.contacts.phone) {
          link = `tel:${this.contacts.phone}`
          title = formatPhone(this.contacts.phone)
        } else if (this.contacts.vkId) {
          title = 'Написать сообщение'
          link = `https://vk.me/id${this.contacts.vkId}`
        } else {
          return {
            link: '2',
            title: ''
          }
        }

        return {
          link: link,
          title: title
        }
      } catch (err) {
        console.log(err)

        return {
          link: '3',
          title: ''
        }
      }
    }
  },

  created () {
    this.$store.commit(
      'localStorage/addToViewed',
      Number.parseInt(this.$route.params.id)
    )
  },

  methods: {
    scrollToTop () {
      document.documentElement.scrollIntoView({ behavior: 'smooth' })
    },
    async showContacts () {
      console.log('showContacts')
      const { result } = await this.$api('offers.showContacts', {
        offerId: this.offer.offerId
      })
      this.contacts = result
    }
  }
}

</script>

<style lang='scss' scoped>
  @media screen and (min-width: 320px) {
    .object {
      min-height: inherit;
    }

    .object__grid {
      position: relative;
      margin-bottom: $gap-r-l;
    }

    .object__heading {
      grid-column: 1/-1;
      padding: 0 0 rem(16);
    }

    .object__buttons {
      display: flex;
      flex-direction: row;
      gap: rem(16);
    }

    .object__state-panel {
      margin-bottom: $gap-r-xs;
    }

    .object__btn {
      flex: 1 0 auto;
    }

    .object__gallery {
      grid-column: 1/-1;
      margin-bottom: $gap-r-m;
    }

    .object__reviews {
      grid-column: 1/-1;
      margin: $gap-r-l 0 0;
    }

    .object__content {
      display: flex;
      flex-direction: column;
      grid-column: 1/-1;
      gap: $gap-r-l;
    }

    .object__block {
      display: flex;
      flex-direction: column;
      gap: $gap-r-s;
    }

    .object__block_comment {
      gap: $gap-r-xs;
    }

    .object__side-bar-wrap {
      position: relative;
      grid-column: 1/-1;
      grid-row: 3/4;
    }

    .object__side-bar {
      position: sticky;
      top: 1rem;
      left: 0;
      display: flex;
      flex-direction: column;
      height: fit-content;
      margin-bottom: $gap-r-l;
    }

    .object__side-bar .object__action,
    .object__side-bar .object__buttons {
      display: none;
    }

    .object__main-data-wrap {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
    }

    .object__position {
      width: 100%;
      padding: 1rem;
      border: 1px solid $border;
    }

    .object__address {
      display: flex;
      gap: $gap-r-xxs;
      padding-bottom: 1rem;
      border-bottom: 1px solid $border;
    }

    .object__metro {
      display: flex;
      gap: $gap-r-xxs;
      align-items: center;
      padding-top: 1rem;
    }

    .object__pin-wrap {
      padding-top: 1px;
    }

    .object__pin {
      width: 1rem;
      height: 1rem;
      fill: $primary-color;
    }

    .object__offer {
      width: 100%;
      padding: rem(16);
      border: 1px solid $border;
    }

    .object__offer-wrap {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
      margin-top: $gap-r-s;
    }

    .object__offer-item {
      display: flex;
    }

    .object__offer-item-name {
      flex-grow: 1;
    }
  }

  @media screen and (min-width: 600px) {
    .object__content {
      grid-column: 1/9;
      gap: $gap-r-l;
    }

    .object__side-bar-wrap {
      grid-row: 3/4;
      grid-column: 9/-1;
    }

    .object__side-bar {
      margin-bottom: initial;
      gap: $gap-r-s;
    }

    .object__side-bar .object__action {
      display: flex;
    }

    .object__main-data-wrap,
    .object__side-bar .object__buttons {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
    }

    .object__position,
    .object__offer {
      padding: rem(24);
    }

    .object__offer-item-value {
      flex-grow: 1;
      text-align: right;
    }
  }

  @media screen and (min-width: 1280px) {
    .object__grid {
      position: relative;
      grid-auto-flow: dense;
      margin-bottom: $gap-xl;
    }

    .object__heading {
      padding: 0 0 32px;
    }

    .object__state-panel {
      margin-bottom: $gap-xs;
    }

    .object__gallery {
      grid-column: 1/10;
      margin-bottom: $gap-l;
    }

    .object__reviews {
      grid-column: 1/10;
      margin: $gap-l 0 0;
    }

    .object__content {
      grid-column: 1/10;
      gap: $gap-l;
    }

    .object__side-bar-wrap {
      grid-row: 2/5;
      grid-column: 10/-1;
    }

    .object__side-bar {
      top: 16px;
      gap: $gap-s;
    }

    .object__main-data-wrap,
    .object__side-bar .object__buttons {
      gap: $gap-xs;
    }

    .object__position {
      padding: 24px;
    }

    .object__address {
      gap: $gap-xxs;
      padding-bottom: 16px;
    }

    .object__metro {
      gap: $gap-xxs;
      padding-top: 16px;
    }

    .object__pin {
      width: 16px;
      height: 16px;
    }

    .object__offer {
      padding: 24px;
    }

    .object__offer-wrap {
      gap: $gap-xs;
      margin-top: $gap-s;
    }

    .object__block {
      gap: $gap-s;
    }
  }
</style>
