<template lang="pug">
.block
  .offer-status Статус объявления:
    span.offer-status-text {{ offer.statusTitle }}.
    | Для того, чтобы оно появилось в поиске, оплатите его.
  .pay-page-header Оплата объявления
  .pay-page-description Стоимость объявления: 19 рублей.
  .pay-page-label Выберите способ оплаты:
  .pay-page-methods
    a.pay-page-method(:href="item.redirectURL" target="_blank" v-for="item,i in invoice.paymentMethods" :key="i")
      img(:src="require(`~/assets/images/payment-systems/${item.icon}.png`)" height="50px")
</template>

<script>
export default {
  middleware ({ route, redirect }) {
    return redirect(`/offers/${route.params.id}`)
  },
  async asyncData ({ app, route }) {
    const { result } = await app.$api('payments.invoice', {
      offerId: Number.parseInt(route.params.id)
    })

    const offerResult = await app.$api('offers.getFast', {
      offerId: Number.parseInt(route.params.id)
    })
    return { invoice: result, offer: offerResult.result }
  }
}
</script>

<style lang="scss" scoped>
.pay-page {
  &-header {
    margin-top: 10px;
    font-size: 2em;
  }

  &-description {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.offer-status {
  margin-top: 20px;
  padding: 20px 20px;
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
}

.offer-status-text {
  font-weight: bold;
}

.pay-page-methods {
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;
}

.pay-page-method {
  width: 20%;
  margin-right: 10px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
}

.pay-page-method img {
  margin: 0 auto;
}
</style>
