.favorites {
  margin-top: 40px;

  &__title {
    color: #000;
    font-size: 24px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-right: 24px;
    padding: 0 25px;
    color: #878787;
    font-size: 14px;
    text-align: center;
    border: 1px solid #bcbcbc;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      border: 1px solid $clr-coral;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
}
