<template lang="pug">
  a.btn(
    v-if="href"
    :href="href"
    :target="target"
  )
    UgSVG.btn__icon(
      v-if="icon"
      :svg="icon"
    )
    slot
  nuxt-link.btn(
    v-else-if="to"
    :to="to"
  )
    UgSVG.btn__icon(
      v-if="icon"
      :svg="icon"
    )
    slot
  button.btn(
    v-else
    @click.prevent="func"
  )
    UgSVG.btn__icon(
      v-if="icon"
      :svg="icon"
    )
    slot
</template>

<script>
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgBtn',

  components: {
    UgSVG
  },

  props: {
    icon: {
      type: String,
      default: () => null
    },

    href: {
      type: String,
      default: () => null
    },

    target: {
      type: String,
      default: () => null
    },

    to: {
      type: String,
      default: () => null
    },

    func: {
      type: Function,
      default () {
        return () => {}
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .btn {
      display: flex;
      gap: $gap-r-xs;
      align-items: center;
      justify-content: center;
      width: auto;
      height: rem(48);
      padding: 0 rem(8);
      font-size: rem(16);
      border: none;
      cursor: pointer;
      transition: $t-04-eio;
      text-decoration: none;
      white-space: nowrap;
    }

    .btn_primary {
      color: $g-100;
      background-color: $primary-color;
    }

    .btn_primary:hover:not(.disable):not([disabled]) {
      background-color: $primary-color-dark;
    }

    .btn_primary:disabled,
    .btn_primary.disable {
      opacity: 0.7;
      pointer-events: none;
      cursor: default;
    }

    .btn_secondary {
      color: $primary-color;
      background-color: $g-100;
      border: 1px solid $border;
    }

    .btn_secondary:hover:not(.disable):not([disabled]) {
      color: $primary-color-dark;
      border: 1px solid $primary-color-light;
    }

    .btn_secondary:disabled,
    .btn_secondary.disable {
      opacity: 0.7;
      pointer-events: none;
      cursor: default;
    }

    .btn__icon {
      width: rem(16);
      height: rem(16);
    }
  }

  @media screen and (min-width: 600px) {
    .btn {

    }
  }

  @media screen and (min-width: 1280px) {
    .btn {
      gap: $gap-xs;
      height: 48px;
      padding: 0 $gap-s;
      font-size: 16px;
    }

    .btn__icon {
      width: 16px;
      height: 16px;
    }
  }
</style>
