<template lang="pug">
  label.checkbox
    input.checkbox__input(
      type="checkbox"
      :name="option.label"
      v-model="value"
      @change="changeHandler(option.id)"
    )
    .checkbox__box
    span.input-caption {{ option.label }}
</template>

<script>
export default {
  name: 'UgCheckbox',

  props: {
    isChecked: {
      type: Boolean,
      default () {
        return false
      }
    },

    option: {
      type: Object,
      default () {
        return {}
      }
    }
  },

  data () {
    return {
      value: this.isChecked
    }
  },

  methods: {
    changeHandler (id) {
      if (this.value) {
        this.$emit('check', id)
      } else {
        this.$emit('uncheck', id)
      }
    }
  }
}
</script>

<style lang="scss">
  @media screen and (min-width: 320px) {
    .checkbox {
      position: relative;
      display: flex;
      align-items: center;
      gap: $gap-r-xxs;
      width: fit-content;
      cursor: pointer;
    }

    .checkbox.disabled {
      opacity: 0.7;
      pointer-events: none;
    }

    .checkbox__input {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
    }

    .checkbox__box {
      position: relative;
      width: rem(16);
      height: rem(16);
      border: 1px solid $border;
      z-index: 1;
      transition: $t-04-eio;
    }

    .checkbox__box::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(8);
      height: rem(8);
      background-color: $primary-color;
      opacity: 0;
      transition: $t-04-eio;
    }

    .checkbox__input:checked + .checkbox__box::after {
      opacity: 1;
    }
  }

  @media screen and (min-width: 1280px) {
    .checkbox {
      gap: $gap-xxs;
    }

    .checkbox__box {
      width: 16px;
      height: 16px;
    }

    .checkbox:hover .checkbox__box {
      border: 1px solid $primary-color;
    }

    .checkbox__box::after {
      width: 8px;
      height: 8px;
    }
  }
</style>
