.ya-map-box {
  width: 100%;
  height: 90vh;
  height: calc(100vh - 78px);
}

.filters {
  position: absolute;
  z-index: 1;
  width: 390px;
  margin: 40px;
  padding: 20px;
  background-color: rgb(255, 255, 255);

  &__header {
    ._active {
      font-weight: bold;
    }

    margin-bottom: 8px;
  }

  &__header-choosen-address {
    font-weight: 400;

    ._active {
      font-weight: bold;
    }
  }

  &__header-params {
    display: inline-block;
    color: $clr-black;
    text-decoration: none;
    outline: none;

    &:nth-child(1) {
      margin-right: 5px;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &__cancel {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
    position: relative;
    right: 0;
    float: right;
  }

  @media screen and (max-width: 800px) {
    margin: 0px;
    width: 100%;
  }
}

.wrapper--search-form-mini {
  width: 350px;

  .flex {
    flex-direction: column;
    margin: 0;

    * {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }

  .multiselect__select,
  .multiselect,
  .filter-multiselect,
  .multiselect__tags {
    width: 350px;
  }

  .inline-setting__item-block {
    flex-direction: row;
  }

  .inline-setting__labels {
    padding: 0;
  }

  .tooltip-input__checkboxes {
    align-items: baseline !important;
  }

  .tooltip-input__checkbox-title {
    padding-left: 10px;
  }

  .tooltip-input__content {
    top: 99%;
    right: 0;
    left: 0;
    z-index: 1;
    width: 350px;
  }

  .inline-setting__input {
    width: 40%;
  }

  .inline-setting__button {
    width: 50%;
    margin-right: -1px !important;
    padding: 15px;

    &._padding {
      margin-right: -1px !important;
    }
  }

  .inline-setting__item {
    width: 350px;
    margin: 5px 0;
  }

  .inline-setting {
    align-items: center;
    margin-bottom: 20px;

    .inline-setting__found & {
      flex-direction: column;
      align-items: center;
    }
  }

  .filter-search {
    margin-top: 20px;
  }

  .inline-setting__found {
    margin: 0 auto !important;
  }

  .filter-search__separator {
    display: none;
  }

  .btn {
    margin: 10px auto;
  }

  @media screen and (max-width: 799px) {
    display: none;
    width: 100%;

    &.show-on-mobile {
      display: block;
    }
  }
}

.map-fixed-buttons {
  .back-to-list,
  .filters-btn {
    position: fixed;
    bottom: 64px;
    z-index: 10;
    padding: 16px 32px;
    border: 1px solid #eee;
    background-color: rgba(136, 243, 234, 0.7);
  }

  .filters-btn {
    right: 8px;
  }

  .back-to-list {
    left: 8px;
  }

  @media screen and (min-width: 800px) {
    display: none;
  }
}
