@import 'sweet-modal';
@import 'record';

.history-search {
  $history-search: &;

  &__heading {
    display: flex;
    margin-top: 48px;
    margin-bottom: 44px;
    color: #616161;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__records {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
  }

  &__records-box {
    overflow-y: scroll;
  }

  &__popup {
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow-y: hidden;
    text-align: center;
  }

  &__clear {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &__clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 204px;
    height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    background: #038992;
    border-radius: 3px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  }
}
