.#{history-search} {
  .record {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;
    border-bottom: 1px solid #e4e4e4;

    &:last-child {
      margin-bottom: 0;
    }

    &__time {
      display: flex;
      align-items: center;
      margin-bottom: 17px;
    }

    &__time-icon {
      margin-right: 7px;
    }

    &__data {
      color: #616161;
      font-weight: 500;
      font-size: 12px;
    }

    &__name {
      margin-bottom: 24px;
      color: #038992;
      font-size: 14px;
      line-height: 24px;
    }

    &__icon-basket {
      position: absolute;
      top: 30%;
      right: 10px;
    }
  }
}
