.#{history-search} {
  .sweet-modal {
    min-width: $wrapper-width;
    height: 90vh;
    overflow: hidden;

    .sweet-content {
      padding: 0 20px 0 32px !important;
    }

    .sweet-action-close svg {
      width: 16px !important;
      height: 16px !important;
    }
  }
}
