<template lang="pug">
  div.block
    h1 Задать вопрос в техподдержку
    input.tickets_input(value="Sdf")
    textarea
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style lang="css" scoped>
.tickets_input {
  border: 1px solid #000;
}
</style>
