.btn {
  &:hover,
  &:focus {
    outline: none;
  }

  &._bold {
    font-weight: $fw-bold;
  }

  &._full {
    width: 100%;
  }

  &._main {
    @include btnBg($clr-blue-lagoon);

    color: $clr-white;
  }

  &._gray {
    @include btnBg(#bcbcbc);
  }

  &._trans {
    color: $clr-robins-egg-blue;
    border: 1px solid #ececec;

    &:hover {
      border-color: $clr-robins-egg-blue;
    }
  }
}
