/* report */

// .report {
//   $report: &;

//   width: 100%;
//   text-align: center;
//   background-color: $clr-wild-sand;
//   border: none;
//   outline: none;
//   cursor: pointer;
//   transition: 0.2s;
//   display: flex;
//   justify-content: center;
//   color: $clr-primary-lightest;
//   align-items: center;
//   padding: 8px;

//   &:hover {
//     #{$report} {
//       &__text {
//         text-decoration: none;
//       }
//     }
//   }
//   &__text {
//     text-decoration: underline;
//   }
// }
