<template lang="pug">
.ya-map-box()
    .map-fixed-buttons
      .back-to-list(@click="toSearch") Списком
      .filters-btn(@click="showFilters") Фильтры
    .wrapper--search-form-mini(:class="{'show-on-mobile': showFiltersOnMobile}")
        svg.real-svg
          filter(id="map-filter-linear")
            feColorMatrix(type="matrix" values="1.5 0 0 -0.3 0              0 1.5 0.2 -0.4 0              0 0.3 1.5 -0.2 0              0 0 0 .6 0")
        div.filters
            div.filters__header
                .filters__header-params(:class="{_active: paramsIsActive }" @click="paramsIsActive = true") Параметры
                .filters__header-params(v-if="!paramsIsActive" :class="{_active: paramsIsActive }" @click="hideChoosenAddress") | Выбранный адрес
                .filters__cancel(v-if="!paramsIsActive" @click="hideChoosenAddress")
                    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10")
                        path(class="shape" fill="#4D4D4D" d="M5 3.586L1.707.293A1 1 0 0 0 .293 1.707L3.586 5 .293 8.293a1 1 0 0 0 1.414 1.414L5 6.414l3.293 3.293a1 1 0 0 0 1.414-1.414L6.414 5l3.293-3.293A1 1 0 1 0 8.293.293L5 3.586z")
            .wrapper--search-form-mini(v-if="paramsIsActive" :class="{'show-on-mobile': showFiltersOnMobile}")
                search-form.thin-filters(:expandAll="true" :hideTelegramSubscription="true")
                btn(fullwidth @click="showFiltersOnMobile = false") Применить
            div(v-if="!paramsIsActive")
                .scroll-container
                  .offer-placeholder(v-if="loading")
                  //offer-list.card-offers--full(:offers="offers" :fullwidth="true" :openInNewTab="true")
    no-ssr
        yandex-map(
            ref="yamap"
            :zoom.sync="zoom"
            :coords.sync="coords"
            :controls="controls"
            :behaviors="behaviors"
            :zoom-control="zoomControl"
            @map-was-initialized="setMap"
            @boundschange="sizeChange"
            ).ya-map-box
          div(:key="refreshKey")
            ymap-marker(
                v-for="(item,i) in items"
                :key="item.geoId?item.geoId:item.id"
                :marker-id="item.geoId?item.geoId:item.id"
                marker-type="placemark"
                :coords="[item.lat,item.lon]"
                :icon="markerIcon(item)"
                :options="{'preset': isPointViewed(item)?'islands#greyCircleIcon':'islands#blueCircleIcon'}"
                @click="onItemClick"
                :callbacks="{click:onItemClick}"
            )
</template>

<script>
import SearchForm from '~/components/domain/search/form/OfferSearchForm'
// import OfferList from '~/components/domain/offers/offerList/index.vue'

export default {
  components: {
    SearchForm
    // OfferList
  },
  loading: false,
  data () {
    return {
      loading: true,
      refreshKey: 1,
      mapInitialized: false,
      showFiltersOnMobile: false,
      map: {},
      objectManager: {},
      zoom: 12,
      paramsIsActive: true,
      activeItem: null,
      title: 'Кнопка',
      setting: {},
      coords: [59.95, 30.3],
      behaviors: ['default'],
      zoomControl: {
        options: {
          position: {
            right: '40px',
            top: '150px',
            left: 'auto',
            botton: 'auto'
          }
        }
      },
      items: [
      ],
      offers: []
    }
  },
  computed: {
    choosenAddressOffer () {
      return this.items.find(x => x.geoId === this.activeItem)
    },
    controls () {
      return this.isMobile ? [] : ['zoomControl']
    },
    isMobile () {
      if (/mobi|android/i.test(navigator.userAgent)) {
        return true
      }
      return false
    }
  },
  methods: {
    showFilters () {
      this.showFiltersOnMobile = true
    },
    toSearch () {
      this.$router.push('/spb/search')
    },
    markerIcon (item) {
      return {
        color: 'red',
        content: item.count
      }
    },
    sizeChange () {
      this.do1()
    },
    setMap (m) {
      window.myMap = m
      this.map = m
      const om = new window.ymaps.ObjectManager({ clusterize: false })
      this.objectManager = om
      om.objects.options.set('preset', 'islands#greenDotIcon')
      this.map.geoObjects.add(om)
      this.mapInitialized = true
      this.do1()
    },
    async do1 () {
      try {
        window.da = this.map
        const center = this.map.getCenter()
        const bounds = this.map.getBounds()
        const zoom = this.map.getZoom()
        const { result } = await this.$api('offers.GeoSearch', {
          search: {
            center,
            bounds,
            zoom
          }
        })

        if (result !== null && result.points !== null) {
          this.items = result.points
        }
        if (result !== null && result.offers !== null) {
          this.offers = result.offers
        }
        this.refreshKey++
      } catch (err) {
        console.error(err)
      }
    },
    async onItemClick (e) {
      this.showFiltersOnMobile = true
      const markerId = e.get('target').properties.get('markerId')

      this.paramsIsActive = false
      this.activeItem = markerId
      this.loading = true

      const mapItem = this.items.find(x => x.geoId === this.activeItem)

      if (!mapItem) {
        // TODO: что делать в такой ситуации??? wtf?
        this.loading = false
        return
      }

      try {
        let ids = []
        switch (mapItem.type) {
          case 'point':
            ids = [mapItem.id]

            this.$store.commit(
              'localStorage/setMapClickedOffers',
              Number.parseInt(mapItem.id)
            )

            break
          case 'cluster':
            ids = mapItem.items
            break
        }
        // загружаем объявления
        const { result } = await this.$api('offers.fastCards', { search: { ids: ids } })
        console.log(result)
        this.offers = result.offers
      } catch (err) {
        console.log(err)
      } finally {
        this.loading = false
      }
    },
    hideChoosenAddress () {
      this.paramsIsActive = true
      this.showFiltersOnMobile = false
    },
    isPointViewed (point) {
      switch (point.type) {
        case 'cluster':
          return false
        case 'point':
          if (!!this.$store.state.localStorage.mapClickedOffers && this.$store.state.localStorage.mapClickedOffers.find(
            x => x === point.id
          ) > 0) { return true }

          if (this.$store.state.localStorage.viewedList.find(
            x => x === point.id
          ) > 0) { return true }
      }

      return false
    }
  }
}
</script>

<style lang="scss">
// [class*="inner-panes"] [class*="ground-pane"] {
//   //filter: hue-rotate(-20deg) grayscale(0.3);
//   filter: url("#map-filter-linear");
//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 1000;
//     width: 100%;
//     height: 100%;
//   }
// }
.real-svg {
  position: absolute;
  top: -1000px;
  left: -1000px;
}

.scroll-container {
  overflow-y: scroll;
  max-height: 70vh;
}

.offer-placeholder {
  width: 100;
  height: 300px;
  border-radius: 4px;
  background-color: #bbb;
}

.thin-filters {
  .search-form-row {
    display: block;
    flex-wrap: wrap;

    .search-form-control {
      width: 100%;
      border-bottom: 0 solid #bbb;
      border-left: 1px solid #bbb;

      &:first-child {
        border-left: 1px solid #bbb;
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
          border-radius: 0 0 4px 4px;
      }
    }
  }

}
</style>
