<template lang="pug">
  .floating-panel
    transition(name="fade")
      .floating-panel__overlay(
        v-show="floatingPanelIsOpen"
        @click.self="toggleFloatingPanel"
      )
    transition(name="slide-left")
      .floating-panel__wrap(v-show="floatingPanelIsVisible || floatingPanelIsOpen")
        h2.ttl.ttl_2= "Фильтр"
        .floating-panel__group
          slot
    .floating-panel__btn(
      v-show="!floatingPanelIsVisible"
      @click="toggleFloatingPanel"
    )
      transition(name="fade")
        UgSVG.floating-panel__btn-icon(
          v-show="!floatingPanelIsOpen"
          :svg="'filter'"
        )
      transition(name="fade")
        UgSVG.floating-panel__btn-icon(
          v-show="floatingPanelIsOpen"
          :svg="'apply'"
        )
</template>

<script>
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgFloatingPanel',

  components: {
    UgSVG
  },

  data () {
    return {
      floatingPanelIsOpen: false,
      viewportWidth: window.innerWidth
    }
  },

  computed: {
    floatingPanelIsVisible () {
      return this.viewportWidth >= 1280
    }
  },

  created () {
    window.addEventListener('resize', this.updateViewportWidth)
  },

  methods: {
    toggleFloatingPanel () {
      const BODY = document.body
      BODY.classList.toggle('no-scroll')
      this.floatingPanelIsOpen = !this.floatingPanelIsOpen
    },

    updateViewportWidth () {
      this.viewportWidth = window.innerWidth
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .floating-panel {
      display: flex;
      flex-direction: column;
      gap: $gap-r-s;
      -webkit-tap-highlight-color: transparent;
    }

    .floating-panel__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 40;
    }

    .floating-panel__wrap {
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      gap: $gap-r-s;
      width: 100%;
      height: 100vh;
      padding: $gap-r-xs $gap-r-xs rem(80) $gap-r-xs;
      background-color: $bg;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 50;
    }

    .floating-panel__group {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
    }

    .floating-panel__btn {
      position: fixed;
      right: rem(16);
      bottom: rem(16);
      width: rem(48);
      height: rem(48);
      border-radius: 50%;
      background-color: $primary-color;
      z-index: 100;
      cursor: pointer;
    }

    .floating-panel__btn-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      width: rem(16);
      height: rem(16);
      transform: translate(-50%, -50%);
      fill: $icon-white;
      transition: $t-04-eio;
    }
  }

  @media screen and (min-width: 600px) {
    .floating-panel__wrap {
      width: rem(334);
      padding: $gap-r-s $gap-r-s rem(80) $gap-r-s;
    }

    .floating-panel__btn {
      right: rem(24);
      bottom: rem(24);
    }
  }

  @media screen and (min-width: 1280px) {
    .floating-panel {
      gap: $gap-s;
      height: fit-content;
      max-height: calc(100vh - 32px);
      overflow-x: hidden;
      overflow-y: auto;
    }

    .floating-panel__wrap {
      position: static;
      top: initial;
      right: initial;
      gap: 24px;
      width: 100%;
      height: fit-content;
      padding: initial;
      overflow-x: initial;
      overflow-y: initial;
    }

    .floating-panel__group {
      gap: $gap-xs;
    }
  }
</style>
