<template lang="pug">
  .state-panel.block
    .state-panel__wrap
      nuxt-link.state-panel__back(to='/spb/search')
        UgSVG.state-panel__icon.state-panel__arrow(:svg="'arrow'")
        span.link.state-panel__link= 'Вернутсья к подбору'
    .state-panel__values
      UgSVG.state-panel__icon(:svg="'clock'")
      span.text {{ publishedAt ? publishedAt : 'Дата публикации' }}
    .state-panel__values
      UgSVG.state-panel__icon(:svg="'eye'")
      span.text {{ views ? views : '0' }}
</template>

<script>
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgStatePanel',

  components: {
    UgSVG
  },

  props: {
    publishedAt: {
      type: String,
      default () {
        return ''
      }
    },

    views: {
      type: String,
      default () {
        return ''
      }
    }
  },

  data () {
    return {
    }
  }
}
</script>

<style lang="scss">
  @media screen and (min-width: 320px) {
    .state-panel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: rem(24);
      padding-bottom: rem(24);
    }

    .state-panel__wrap {
      flex-grow: 1;
    }

    .state-panel__back {
      display: flex;
      gap: $gap-r-xxs;
      align-items: center;
      color: $link-default;
      text-decoration: none;
      transition: $t-04-eio;
    }

    .state-panel__back:hover {
      color: $link-hover;
    }

    .state-panel__icon {
      width: rem(16);
      height: rem(16);
      transition: $t-04-eio;
      fill: $icon-default;
    }

    .state-panel__arrow {
      transform: rotate(180deg);
      fill: $primary-color;
    }

    .state-panel__values {
      display: flex;
      gap: $gap-r-xxs;
      align-items: center;
      color: $text;
    }

    .state-panel__values:not(:last-child) {
      margin-right: rem(24);
    }

    .state-panel__link {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {
    .state-panel__link {
      display: block;
    }
  }

  @media screen and (min-width: 1280px) {
    .state-panel {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    .state-panel__icon {
      width: 16px;
      height: 16px;
    }

    .state-panel__back:hover .state-panel__arrow {
      fill: $icon-hover;
    }

    .state-panel__values:not(:last-child) {
      margin-right: 24px;
    }
  }
</style>
