<template lang="pug">
  svg(
    :viewBox="viewBox"
    xmlns="http://www.w3.org/2000/svg"
  )
    title {{ alt }}
    g(v-if="svg === 'apply'")
      path(
        d="M13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315ZM8 14.9277C4.18011 14.9277 1.07226 11.82 1.07226 8C1.07226 4.18004 4.18004 1.07226 8 1.07226C11.82 1.07226 14.9277 4.18004 14.9277 8C14.9277 11.82 11.82 14.9277 8 14.9277Z"
      )
      path(
        d="M6.79439 9.67733L4.33448 7.21746L3.5763 7.97564L6.79439 11.1937L12.4069 5.58121L11.6487 4.82302L6.79439 9.67733Z"
      )
    path(
      v-else-if="svg === 'arrow'"
      d="M4.21737 14.7676C3.92406 14.4613 3.92809 13.9688 4.22637 13.6676L9.83939 8L4.22637 2.33235C3.92809 2.03117 3.92406 1.53873 4.21737 1.23245C4.51067 0.926164 4.99024 0.922026 5.28852 1.2232L12 8L5.28852 14.7768C4.99024 15.078 4.51067 15.0738 4.21737 14.7676Z"
    )
    path(
      v-else-if="svg === 'arrow-little'"
      d="M5.16303 12.834C4.94305 12.6152 4.94607 12.2634 5.16978 12.0483L9.37954 8L5.16978 3.95168C4.94607 3.73655 4.94305 3.38481 5.16303 3.16603C5.383 2.94726 5.74268 2.9443 5.96639 3.15943L11 8L5.96639 12.8406C5.74268 13.0557 5.383 13.0527 5.16303 12.834Z"
    )
    path(
      v-else-if="svg === 'clock'"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M14.9824 8.5C14.8726 10.0569 14.2534 11.4734 13.2906 12.5837L12.5955 11.8887C12.4003 11.6934 12.0837 11.6934 11.8884 11.8887C11.6931 12.0837 11.6931 12.4004 11.8884 12.5957L12.5835 13.2908C11.4729 14.2537 10.0562 14.8728 8.49872 14.9824V14C8.49872 13.7239 8.27484 13.5 7.99872 13.5C7.7226 13.5 7.49872 13.7239 7.49872 14V14.9824C5.94263 14.8723 4.52704 14.2537 3.41718 13.2915L4.11298 12.5957C4.30823 12.4004 4.30823 12.0837 4.11298 11.8884C3.91772 11.6934 3.60114 11.6934 3.40588 11.8884L2.71002 12.5845C1.74689 11.4741 1.1275 10.0574 1.01758 8.5H2.00177C2.27789 8.5 2.50177 8.27612 2.50177 8C2.50177 7.84399 2.4303 7.70459 2.3183 7.61304C2.23212 7.54248 2.12189 7.5 2.00177 7.5H1.01758C1.1275 5.94263 1.74689 4.52588 2.71002 3.41553L3.40588 4.11157C3.60114 4.30664 3.91772 4.30664 4.11298 4.11157C4.30829 3.91626 4.30829 3.59961 4.11298 3.4043L3.41718 2.7085C4.52704 1.74634 5.94263 1.12769 7.49872 1.01758V2C7.49872 2.27612 7.7226 2.5 7.99872 2.5C8.27484 2.5 8.49872 2.27612 8.49872 2V1.01758C10.0562 1.1272 11.4729 1.74634 12.5835 2.70923L11.8884 3.4043C11.6931 3.59961 11.6931 3.91626 11.8884 4.11133C11.9323 4.15527 11.9824 4.18945 12.0358 4.21362C12.0604 4.22461 12.0857 4.23364 12.1115 4.24048C12.1348 4.24683 12.1584 4.25146 12.1823 4.25415C12.3293 4.27173 12.4827 4.22412 12.5955 4.11133L13.2906 3.41626C14.2534 4.52661 14.8726 5.94312 14.9824 7.5H13.9996C13.9487 7.5 13.8995 7.50757 13.8533 7.52173C13.8383 7.52637 13.8237 7.53149 13.8093 7.53735C13.7736 7.55225 13.74 7.5708 13.709 7.59302C13.5822 7.68384 13.4996 7.83228 13.4996 8C13.4996 8.27612 13.7234 8.5 13.9996 8.5H14.9824ZM1.00067 7.90332L1.00177 7.84106V8.15894L1.00073 8.10181L1 8L1.00067 7.90332ZM16 8C16 12.4182 12.4183 16 8 16C3.58173 16 0 12.4182 0 8C0 3.58179 3.58173 0 8 0C12.4183 0 16 3.58179 16 8ZM8.49872 5C8.49872 4.72388 8.27484 4.5 7.99872 4.5C7.7226 4.5 7.49872 4.72388 7.49872 5V9.5H9.99872C10.2748 9.5 10.4987 9.27612 10.4987 9C10.4987 8.72388 10.2748 8.5 9.99872 8.5H8.49872V5ZM14.9996 7.92188L15 8L14.9996 8.07812V7.92188Z"
    )
    path(
      v-else-if="svg === 'close'"
      d="M0.46967 0.46967C0.762563 0.176777 1.23744 0.176777 1.53033 0.46967L8 6.93934L14.4697 0.46967C14.7626 0.176777 15.2374 0.176777 15.5303 0.46967C15.8232 0.762563 15.8232 1.23744 15.5303 1.53033L9.06066 8L15.5303 14.4697C15.8232 14.7626 15.8232 15.2374 15.5303 15.5303C15.2374 15.8232 14.7626 15.8232 14.4697 15.5303L8 9.06066L1.53033 15.5303C1.23744 15.8232 0.762563 15.8232 0.46967 15.5303C0.176777 15.2374 0.176777 14.7626 0.46967 14.4697L6.93934 8L0.46967 1.53033C0.176777 1.23744 0.176777 0.762563 0.46967 0.46967Z"
    )
    path(
      v-else-if="svg === 'eye'"
      d="M7.99992 13C12.3497 13 15.7554 8.49683 15.8983 8.30518C16.0339 8.12354 16.0339 7.87646 15.8983 7.69458C15.7554 7.50317 12.3497 3 7.99992 3C3.65019 3 0.244308 7.50317 0.101486 7.69482C-0.0338287 7.87671 -0.0338287 8.12354 0.101486 8.30542C0.244308 8.49683 3.65019 13 7.99992 13ZM1.19939 8.00024C2.02086 7.02319 4.79588 4.03442 7.99992 4.03442C11.2108 4.03442 13.9801 7.02173 14.8005 7.99976C13.9786 8.97729 11.2038 11.9656 7.99992 11.9656C4.78899 11.9656 2.01976 8.97827 1.19939 8.00024ZM4.83678 8C4.83678 9.71118 6.25658 11.1035 8.00163 11.1035C9.74669 11.1035 11.1665 9.71118 11.1665 8C11.1665 6.28882 9.74669 4.89648 8.00163 4.89648C6.25658 4.89648 4.83678 6.28882 4.83678 8ZM5.89177 8C5.89177 6.85913 6.83818 5.93115 8.00163 5.93115C9.16508 5.93115 10.1115 6.85913 10.1115 8C10.1115 9.14087 9.16502 10.0691 8.00163 10.0691C6.83824 10.0691 5.89177 9.14087 5.89177 8Z"
    )
    path(
      v-else-if="svg === 'filter'"
      d="M7.45709 15.5H6V7.93213L0.75 1.68212V0.5H15V1.67537L10 7.92537V12.9571L7.45709 15.5ZM7 14.5H7.04291L9 12.5429V7.57463L13.8597 1.5H1.90313L7 7.56787V14.5Z"
    )
    path(
      v-else-if="svg === 'metro'"
      d='M4.82167 4.2067C4.58179 3.39008 3.93068 3.47958 3.4855 3.85993C2.38887 4.87788 0.96096 7.0145 1.87483 10.0911C2.64019 12.6975 5.82483 14.3643 5.82483 14.3643H2.11238C2.11238 14.3643 0.195482 12.2053 0.0241233 9.66603C-0.192911 6.45556 1.0866 4.43079 2.57163 3.11084C3.96526 1.86914 5.29036 1.5 5.29036 1.5L8.00096 10.4246L10.7116 1.5C10.7116 1.5 12.0367 1.86914 13.4303 3.11084C14.9153 4.43079 16.1948 6.45556 15.9778 9.66603C15.8064 12.2053 13.8895 14.3643 13.8895 14.3643H10.1771C10.1771 14.3643 13.3615 12.6975 14.1271 10.0911C15.041 7.01485 13.6131 4.87823 12.5164 3.85993C12.0709 3.47958 11.4198 3.39008 11.1803 4.2067C10.3578 6.81313 8.0013 14.2811 8.0013 14.2811C8.0013 14.2811 5.64414 6.81063 4.82167 4.2067Z'
      :fill='"#" + color'
    )
    path(
      v-else-if="svg === 'person'"
      d="M8 9.6C12.4181 9.6 15 11.2715 15 13.3333V15H1V13.3333C1 11.2715 3.58187 9.6 8 9.6ZM13.9333 13.3333C13.9333 11.8613 11.8293 10.6667 8 10.6667C4.17067 10.6667 2.06667 11.8613 2.06667 13.3333V13.9333H13.9333V13.3333ZM8 1C8.99014 1 9.93973 1.39333 10.6399 2.09347C11.34 2.7936 11.7333 3.74319 11.7333 4.73333C11.7333 5.72348 11.34 6.67306 10.6399 7.3732C9.93973 8.07333 8.99014 8.46667 8 8.46667C7.00986 8.46667 6.06027 8.07333 5.36014 7.3732C4.66 6.67306 4.26667 5.72348 4.26667 4.73333C4.26667 3.74319 4.66 2.7936 5.36014 2.09347C6.06027 1.39333 7.00986 1 8 1ZM8 2.06667C7.29276 2.06667 6.61448 2.34762 6.11438 2.84772C5.61429 3.34781 5.33333 4.02609 5.33333 4.73333C5.33333 5.44058 5.61429 6.11885 6.11438 6.61895C6.61448 7.11905 7.29276 7.4 8 7.4C8.70724 7.4 9.38552 7.11905 9.88562 6.61895C10.3857 6.11885 10.6667 5.44058 10.6667 4.73333C10.6667 4.02609 10.3857 3.34781 9.88562 2.84772C9.38552 2.34762 8.70724 2.06667 8 2.06667Z"
    )
    path(
      v-else-if="svg === 'pin-empty'"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M7.59802 15.8269C7.81275 16.0579 8.18764 16.0575 8.40198 15.8269C8.63059 15.581 14 9.75982 14 5.79457C13.9999 2.59944 11.3084 0 8 0C4.69158 0 2 2.59944 2 5.79457C2 9.75982 7.36941 15.581 7.59802 15.8269ZM13 5.79457C12.9999 3.18425 10.7892 1 8 1C5.21075 1 3 3.18428 3 5.79457C3 6.57978 3.27161 7.53541 3.75177 8.58408C4.22594 9.61968 4.86976 10.674 5.53567 11.6366C6.5087 13.0431 7.49844 14.2104 8 14.7791C8.50157 14.2104 9.4913 13.0431 10.4643 11.6366C11.1302 10.674 11.7741 9.61968 12.2482 8.58408C12.7284 7.53542 13 6.5798 13 5.79459M8.33041 15.146L8.33038 15.146ZM11 6C11 7.65685 9.65685 9 8 9C6.34315 9 5 7.65685 5 6C5 4.34315 6.34315 3 8 3C9.65685 3 11 4.34315 11 6ZM10 6C10 7.10457 9.10457 8 8 8C6.89543 8 6 7.10457 6 6C6 4.89543 6.89543 4 8 4C9.10457 4 10 4.89543 10 6Z"
    )
    path(
      v-else-if="svg === 'profile-empty'"
      d="M114.77 118.52L155.474 139.477C156.524 140.017 157.181 141.08 157.182 142.236V156.91C157.182 158.634 158.681 184.274 155.474 175.183L129.909 182.455C110.515 185.486 70.879 191.546 67.485 191.546C63.2426 191.546 12.9396 177.607 12.3335 175.183C11.8487 173.243 6.59249 164.274 4.02501 160.031C2.25427 160.031 0.818359 158.634 0.818359 156.91V142.236C0.818359 141.08 1.4754 140.017 2.52589 139.477L43.2316 118.52L45.1123 112.801C45.6747 110.885 46.5659 108.969 48.3983 108.466C48.9791 108.306 49.7166 107.272 49.812 106.55L50.8985 95.4302C50.9582 94.478 50.5655 93.6235 50.0495 93.0234C46.9317 89.3853 45.2307 85.1717 44.5124 80.3542C44.1503 77.9324 42.855 75.6983 42.1915 73.3127L39.5809 60.0162C39.3085 58.2703 39.361 56.9242 41.3659 56.248C41.9195 56.0604 42.4003 54.9354 42.4003 53.8314L42.3738 28.7431C42.8002 22.6709 45.9824 18.2317 50.7858 14.7074C56.1529 10.769 77.5172 3.17734 85.538 0.304248C87.6876 -0.465589 87.7861 0.57578 87.4773 1.17516C82.2482 11.3591 98.2704 8.464 107.218 14.7074C111.902 17.9754 115.204 22.6709 115.63 28.7431L115.603 53.8314C115.603 55.1686 116.084 56.0604 116.637 56.248C118.642 56.9246 118.694 58.2703 118.422 60.0162L115.812 73.3127C115.147 75.6983 113.853 77.9321 113.491 80.3542C112.772 85.1717 111.072 89.3853 107.954 93.0234C107.437 93.6235 107.045 94.478 107.105 95.4302L108.191 106.55C108.286 107.272 109.022 108.306 109.604 108.466C111.436 108.969 112.327 110.885 112.89 112.801L114.77 118.52Z"
    )
    path(
      v-else-if="svg === 'share'"
      d="M8.35875 1L15.1445 6.32245L16 6.99363L8.35875 12.9873V9.4539H5.60125C5.04652 9.4539 4.67458 9.51777 4.15907 9.78459C3.58152 10.0835 2.82584 10.6375 1.55949 11.6961L0 13V11.0429C0 7.04993 3.32202 4.53335 6.18442 4.53335H8.35875V1ZM9.45299 3.21234V5.58066H6.18442C3.99834 5.58066 1.29309 7.49338 1.10466 10.6869C2.22237 9.76273 2.99115 9.19844 3.63857 8.86335C4.34483 8.49781 4.90345 8.40659 5.60125 8.40659H9.45299V10.7749L14.2739 6.99363L9.45299 3.21234Z"
    )
    path(
      v-else-if="svg === 'three-dots'"
      d="M2 10C3.10547 10 4 9.10547 4 8C4 6.89453 3.10547 6 2 6C0.894531 6 0 6.89453 0 8C0 9.10547 0.894531 10 2 10ZM10 8C10 9.10547 9.10547 10 8 10C6.89453 10 6 9.10547 6 8C6 6.89453 6.89453 6 8 6C9.10547 6 10 6.89453 10 8ZM16 8C16 9.10547 15.1055 10 14 10C13.5039 10 13.0488 9.82031 12.6992 9.52148C12.2715 9.1543 12 8.60938 12 8C12 7.92578 12.0039 7.85156 12.0117 7.7793C12.0215 7.68555 12.0391 7.5918 12.0625 7.5C12.2832 6.63867 13.0664 6 14 6C14.3652 6 14.707 6.09766 15 6.26758C15.377 6.48633 15.6758 6.82422 15.8457 7.23047C15.9453 7.4668 16 7.72656 16 8Z"
    )
    path(
      v-else-if="svg === 'vk'"
      d="M16.1332 3.6772C16.2449 3.28651 16.1332 3 15.6046 3H13.8535C13.408 3 13.2044 3.24786 13.0926 3.52008C13.0926 3.52008 12.2023 5.80457 10.9407 7.28583C10.5335 7.71685 10.3475 7.85297 10.1255 7.85297C10.0145 7.85297 9.85322 7.71685 9.85322 7.32616V3.6772C9.85322 3.20837 9.72467 3 9.35338 3H6.60187C6.32401 3 6.15633 3.21677 6.15633 3.42346C6.15633 3.86708 6.78712 3.96959 6.85179 5.21979V7.93194C6.85179 8.52596 6.75039 8.63435 6.52682 8.63435C5.93356 8.63435 4.48993 6.34146 3.63318 3.71669C3.4663 3.20669 3.29782 3.00084 2.85068 3.00084H1.10045C0.599808 3.00084 0.5 3.2487 0.5 3.52092C0.5 4.00991 1.09326 6.42968 3.26349 9.62998C4.71031 11.8153 6.74719 13 8.60282 13C9.71509 13 9.85242 12.737 9.85242 12.2833V10.6315C9.85242 10.1055 9.95862 9.99966 10.3107 9.99966C10.5694 9.99966 11.015 10.1375 12.0538 11.1902C13.2403 12.4387 13.4367 12.9992 14.1035 12.9992H15.8537C16.3535 12.9992 16.6034 12.7362 16.4597 12.2169C16.3024 11.7002 15.7355 10.9482 14.9834 10.0585C14.5745 9.551 13.9637 9.00487 13.7777 8.73181C13.5182 8.37977 13.5932 8.22433 13.7777 7.91178C13.7785 7.91262 15.9112 4.75181 16.1332 3.6772Z"
      fill="#4D76A1"
    )
    path(
      v-else-if="svg === 'star'"
      d="M9.95638 5.3365L10.0719 5.58216L10.3408 5.61912L14.9187 6.24829L11.5673 9.51635L11.3776 9.70135L11.4242 9.9622L12.2445 14.5563L8.24134 12.3501L8 12.2171L7.75866 12.3501L3.75555 14.5563L4.57581 9.9622L4.62239 9.70135L4.43267 9.51635L1.08133 6.24829L5.65921 5.61912L5.92813 5.58216L6.04362 5.3365L8 1.17519L9.95638 5.3365Z"
    )
    path(
      v-else-if="svg === 'search'"
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M1.52389 7.22417C1.52389 10.3378 4.12048 12.9245 7.40175 12.9245C10.683 12.9245 13.2796 10.3378 13.2796 7.22417C13.2796 4.11054 10.683 1.52381 7.40175 1.52381C4.12048 1.52381 1.52389 4.11054 1.52389 7.22417ZM0 7.22417C0 11.214 3.31388 14.4483 7.40175 14.4483C9.08967 14.4483 10.6456 13.8969 11.8908 12.9685L14.6993 15.7768C14.9968 16.0744 15.4793 16.0744 15.7768 15.7768C16.0744 15.4793 16.0744 14.9969 15.7768 14.6993L13.0129 11.9356C14.1289 10.6707 14.8035 9.02433 14.8035 7.22417C14.8035 3.23437 11.4896 0 7.40175 0C3.31388 0 0 3.23437 0 7.22417Z"
    )
    path(
      v-else-if="svg === 'like'"
      d="M 8.066406 12.367188 L 8 12.433594 L 7.925781 12.367188 C 4.761719 9.492188 2.667969 7.59375 2.667969 5.667969 C 2.667969 4.332031 3.667969 3.332031 5 3.332031 C 6.027344 3.332031 7.027344 4 7.378906 4.90625 L 8.621094 4.90625 C 8.972656 4 9.972656 3.332031 11 3.332031 C 12.332031 3.332031 13.332031 4.332031 13.332031 5.667969 C 13.332031 7.59375 11.238281 9.492188 8.066406 12.367188 M 11 2 C 9.839844 2 8.726562 2.539062 8 3.386719 C 7.273438 2.539062 6.160156 2 5 2 C 2.945312 2 1.332031 3.605469 1.332031 5.667969 C 1.332031 8.179688 3.601562 10.238281 7.035156 13.351562 L 8 14.234375 L 8.964844 13.351562 C 12.398438 10.238281 14.667969 8.179688 14.667969 5.667969 C 14.667969 3.605469 13.054688 2 11 2 Z M 11 2 "
    )
    path(
      v-else-if="svg === 'like-filled'"
      d="M 8 14.234375 L 7.035156 13.351562 C 3.601562 10.238281 1.332031 8.179688 1.332031 5.667969 C 1.332031 3.605469 2.945312 2 5 2 C 6.160156 2 7.273438 2.539062 8 3.386719 C 8.726562 2.539062 9.839844 2 11 2 C 13.054688 2 14.667969 3.605469 14.667969 5.667969 C 14.667969 8.179688 12.398438 10.238281 8.964844 13.351562 Z M 8 14.234375 "
    )
    path(
      v-else-if="svg === 'like-multiple'"
      d="M 9 13.332031 C 4.601562 9.265625 2.332031 7.199219 2.332031 4.734375 C 2.332031 2.667969 3.933594 1.066406 6 1.066406 C 7.132812 1.066406 8.265625 1.601562 9 2.464844 C 9.734375 1.601562 10.867188 1.066406 12 1.066406 C 14.066406 1.066406 15.667969 2.667969 15.667969 4.734375 C 15.667969 7.265625 13.398438 9.332031 9 13.332031 M 8 14.066406 C 3.601562 10.132812 1 7.800781 1 4.667969 C 1 4.535156 1 4.398438 1 4.265625 C 0.601562 4.867188 0.332031 5.601562 0.332031 6.398438 C 0.332031 8.933594 2.601562 11 7 14.933594 Z M 8 14.066406 "
    )
    path(
      v-else-if="svg === 'plane'"
      d="M15.4619 7.40049L1.4578 0.115229C0.677111 -0.290902 -0.207102 0.44231 0.0432748 1.28819L1.92266 7.63748C1.98505 7.61956 2.05095 7.60996 2.11908 7.60996L10.0494 7.60996C10.4428 7.60996 10.7617 7.92999 10.7617 8.32477C10.7617 8.71955 10.4428 9.03958 10.0494 9.03958L2.11908 9.03958C2.04522 9.03958 1.97399 9.0283 1.907 9.00736L0.0846589 14.6904C-0.183327 15.5261 0.674839 16.2781 1.46403 15.8992L15.4334 9.19098C16.1756 8.8346 16.1923 7.78047 15.4619 7.40049Z"
    )
    path(
      v-else-if="svg === 'plus'"
      d="M8.75 1C8.75 0.585786 8.41421 0.25 8 0.25C7.58579 0.25 7.25 0.585786 7.25 1V7.25H1C0.585787 7.25 0.25 7.58579 0.25 8C0.25 8.41421 0.585787 8.75 1 8.75H7.25V15C7.25 15.4142 7.58579 15.75 8 15.75C8.41421 15.75 8.75 15.4142 8.75 15V8.75H15C15.4142 8.75 15.75 8.41421 15.75 8C15.75 7.58579 15.4142 7.25 15 7.25H8.75V1Z"
    )
    path(
      v-else-if="svg === 'person'"
      d="M8 9.6C12.4181 9.6 15 11.2715 15 13.3333V15H1V13.3333C1 11.2715 3.58187 9.6 8 9.6ZM13.9333 13.3333C13.9333 11.8613 11.8293 10.6667 8 10.6667C4.17067 10.6667 2.06667 11.8613 2.06667 13.3333V13.9333H13.9333V13.3333ZM8 1C8.99014 1 9.93973 1.39333 10.6399 2.09347C11.34 2.7936 11.7333 3.74319 11.7333 4.73333C11.7333 5.72348 11.34 6.67306 10.6399 7.3732C9.93973 8.07333 8.99014 8.46667 8 8.46667C7.00986 8.46667 6.06027 8.07333 5.36014 7.3732C4.66 6.67306 4.26667 5.72348 4.26667 4.73333C4.26667 3.74319 4.66 2.7936 5.36014 2.09347C6.06027 1.39333 7.00986 1 8 1ZM8 2.06667C7.29276 2.06667 6.61448 2.34762 6.11438 2.84772C5.61429 3.34781 5.33333 4.02609 5.33333 4.73333C5.33333 5.44058 5.61429 6.11885 6.11438 6.61895C6.61448 7.11905 7.29276 7.4 8 7.4C8.70724 7.4 9.38552 7.11905 9.88562 6.61895C10.3857 6.11885 10.6667 5.44058 10.6667 4.73333C10.6667 4.02609 10.3857 3.34781 9.88562 2.84772C9.38552 2.34762 8.70724 2.06667 8 2.06667Z"
    )
    path(
      v-else-if="svg === 'loading'"
      d="M 8 2.667969 L 8 1.332031 C 4.316406 1.332031 1.332031 4.316406 1.332031 8 L 2.667969 8 C 2.667969 5.054688 5.054688 2.667969 8 2.667969 Z M 8 2.667969 "
    )
</template>

<script>
export default {
  name: 'UgSVG',

  props: {
    svg: {
      type: String,
      default: () => ''
    },

    alt: {
      type: String,
      default: () => ''
    },

    viewBox: {
      type: String,
      default: () => '0 0 16 16'
    },

    color: {
      type: String,
      default: () => '000'
    }
  }
}
</script>

<style lang="scss">
  @media screen and (min-width: 320px) {

  }

  @media screen and (min-width: 600px) {

  }

  @media screen and (min-width: 1280px) {

  }
</style>
