/* datepicker */
.datepicker {
  $datepicker: &;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border: 1px solid $clr-primary-lightest;
  cursor: pointer;

  &:hover {

    #{$datepicker} {
      &__icon {
        opacity: 0.7;
      }
    }
  }

  &__icon {
    transition: 0.2s;
  }
}
