<style>
.splash-screen-header {
  width: 100%;
  height: 78px;
  padding: 13px 32px;
  border-bottom: 1px solid #e5e5e5;
}

.splash-screen-header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 1350px) {
  .logo-img-text {
    display: none;
  }
}

.logo-img {
  margin-right: 8px;
}

</style>

<div id="nuxt-loading">
    <div class="splash-screen-header">
      <div class="splash-screen-header-inner">
        <img class="logo-img" width="24" height="33" src="/icon-logo-not-name.svg">
        <img class="logo-img-text" width="82" height="26" src="/icon-logo-text.svg" alt="">
      </div>
    </div>
</div>
