<template lang="pug">
    img(:src="image.url" :alt="image.alt").comment__attached-photo
</template>

<script>
export default {
  name: 'CommentAttachedImage',
  props: ['image', 'imageIndex']
}
</script>
