.declaration-form {
  margin-top: 64px;

  &__btns-wrap {
    display: flex;
  }

  &__btn-wrap {
    display: flex;
    margin-top: 50px;
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.success-notify {
  display: flex;
  align-items: center;
  margin: 0 20px;

  &__icon {
    margin-right: 12px;
  }
}
