.declaration-popup {
  text-align: center;

  &__title {
    margin-bottom: 4px;
    color: $clr-black;
    font-size: $fs-medium-lg;
    line-height: 24px;
  }

  &__price {
    margin-bottom: 28px;
    color: $clr-coral;
    font-size: $fs-large-lg;
  }

  &__price-strikethrough {
    text-decoration: line-through;
  }

  &__payment-methods {
    color: $clr-silver;
    font-size: $fs-medium-xs;
    line-height: 1.2;
  }

  &__image-block {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  &__btn-block {
    display: flex;
    justify-content: center;
  }
}
