/* offer */
.offer {
  &__wrapper {
    padding-top: 30px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__header-nav {
    display: flex;
  }

  &__head {
    margin-bottom: 10px;
  }

  &__nav {
    flex-shrink: 0;
    margin-left: 30px;
  }

  &__main {
    width: 75%;
    margin-right: 24px;
    overflow: hidden;
  }

  &__sidebar {
    flex: 1;
  }

  &__slider {
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 10px 10px #eee;
  }

  &__slider-image {
    height: 400px;
    margin: 0 auto;
    border-radius: 4px;
  }

  &__slider-wrapper {
    position: relative;
    height: 70vh;
    margin-bottom: 24px;
    overflow: hidden;
  }

  &__place {
    margin-bottom: 24px;
  }

  &__params {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 10%;
    padding-top: 24px;
    border-top: 1px solid $clr-mercury;
  }

  &__params-list {
    width: 40%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__page {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

  &__furniture {
    margin-top: 40px;
    margin-bottom: 48px;
  }

  &__about {
    margin: 48px 0;
  }

  &__about-head {
    margin-bottom: 24px;
  }

  &__about-text {
    line-height: 24px;
  }

  &__requirements-head {
    margin-bottom: 32px;
  }

  &__requirements-set {
    width: 100%;
    margin-right: 32px;
    padding: 24px 40px;
    border: 1px solid $clr-mercury;

    &:last-child {
      margin-right: 0;
    }
  }

  &__requirements-sets {
    display: flex;
  }

  &__owner-message {
    margin-top: 48px;
  }

  &__owner-message-head {
    margin-bottom: 24px;
  }

  &__owner-message-text {
    line-height: 24px;
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .offer {
    &__page {
      flex-wrap: wrap;
    }

    &__main {
      flex: none;
      width: 100%;
    }
  }
}
