<template lang="pug">
.form
  ug-form-row(label="Заголовок")
    ug-input(placeholder="Заголовок" v-model="blogPost.title")
  ug-form-row(label="Ссылка")
    ug-input(placeholder="Ссылка" v-model="blogPost.slug")
  ug-form-row(label="Краткое описание")
    ug-textarea(placeholder="Краткое описание" v-model="blogPost.summary")
  ug-form-row(label="Текст шаринга")
    ug-textarea(placeholder="Текст шаринга" v-model="blogPost.shareText")
  ug-form-row(label="Текст")
    ug-textarea(placeholder="Текст" v-model="blogPost.body")
  ug-form-row(label="Изображение")
    img(v-if="blogPost&&blogPost.topImage&&blogPost.topImage.url" :src="blogPost.topImage.url" height="200px")
    ug-uploader(v-model="images" :multiple="false")

</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Watch } from 'vue-property-decorator'

import { BlogPost } from '~/services/api/factory'

@Component({
  layout: 'moderation',
  props: {
    blogPost: {
      type: BlogPost,
      default: () => new BlogPost()
    }
  },
  model: {
    prop: 'blogPost',
    event: 'update'
  }
})
export default class Blog extends Vue {
    images: string[]=[]

    @Watch('images')
    // при изменении images, добавляем первую картинку в форму как главную
    setTopImage () {
      console.log('image up', this.images)
      if (this.images.length > 0) {
        (this as any).blogPost.topImage = { url: this.images[0] }
      }
    }
}
</script>

<style lang="scss" scoped>
.form {
  width: 100%;
}
</style>
