<template lang="pug">
  div.auth
    div(v-if="this.$auth.loggedIn") Вы авторизованы
    div.auth__wrapper(v-if="!this.$auth.loggedIn")
      div.block._small
        div.auth__inner
          div.auth__form-wrapper
            h3.auth__message(v-if="message") {{ message }}
            h1.h1.auth__header Добро пожаловать!
            div.auth__subhead Вход на сайт
            div.auth__form
              div.auth__inline-setting
                div.inline-setting._middle
                  div.inline-setting__item-block._full
                    input(
                      type="text"
                      placeholder="Номер телефона"
                      @keypress="inputOnlyNumber($event)"
                      v-model="phone"
                      ref="phone").inline-setting__input._full._small-height
              div.auth__inline-setting
                div.inline-setting._middle
                  div.inline-setting__item-block._full
                    input(
                      type="password"
                      placeholder="Пароль"
                      v-model="password"
                      v-on:keyup.enter="onSubmit").inline-setting__input._full._small-height
              div.auth__submit
                button(type="submit" @click.prevent="onSubmit").btn._main._full Войти
              .auth__options
                nuxt-link(to="/auth/email").auth__reg Зарегистрироваться

            //div.auth__socials
              a(v-for="item in socialAuth" href="#").auth__social-link
                img(:src="require(`~/assets/images/icons/icon-${item.icon}.svg`)").auth__social-link-image

            div.auth__desciption Авторизируясь на сайте, вы принимаете условия <a href="#" class="link _orange">пользовательского соглашения</a>, и даете согласие на обработку ваших персональных данных в соответсвии с законодательством РФ.
          div.auth__image(v-if="!hideImage")
            img(src="~assets/images/content/auth-image.png").auth__image-file
</template>

<script>
export default {
  props: ['hideImage', 'noRedirect', 'message'],
  data () {
    return {
      phone: '',
      password: '',
      authStep: true,
      socialAuth: [
        {
          icon: 'vk'
        },
        {
          icon: 'fb'
        },
        {
          icon: 'google'
        },
        {
          icon: 'yandex'
        },
        {
          icon: 'mailru'
        }
      ]
    }
  },
  async beforeMount () {
    if (this.$auth.loggedIn && !this.noRedirect) {
      await this.$router.push(`/users/${this.$auth.user.id}/edit`)
    }
  },
  mounted () {
    this.$nextTick(() => {
      if (this.$refs.phone) {
        this.$refs.phone.focus()
      }
    })
  },
  methods: {
    inputOnlyNumber (e) {
      e = e || window.event
      const charCode = e.width ? e.width : e.keyCode
      console.log(charCode)
      if (
        (charCode < 106 || charCode > 95) &&
        (charCode < 48 || charCode > 57) &&
        (charCode < 42 || charCode > 44) &&
        charCode !== 190
      ) {
        e.preventDefault()
      } else {
        return true
      }
    },
    errTitle (code, msg) {
      switch (code) {
        case 500:
          return 'Неверный логин или пароль'
        case 505:
          return 'Превышено число неверных попыток'
        default:
          return msg
      }
    },
    async onSubmit () {
      const self = this
      this.$auth
        .loginWith('local', {
          data: {
            phone: this.phone,
            password: this.password
          }
        })
        .then(() => {
          self.$auth.fetchUser().then(() => {
            this.$emit('success')
            if (!self.noRedirect) {
              this.$router.push(`/users/${this.$auth.user.id}/edit`)
            }
          })
        })
        .catch((err) => {
          console.log(err)
          if (
            typeof err.response !== 'undefined' &&
            typeof err.response.data !== 'undefined'
          ) {
            this.$toast.error(
              this.errTitle(
                err.response.data.error.code,
                err.response.data.error.message
              )
            )
          }
        })
    }
  }
}
</script>
