<template lang="pug">
.auth
  .auth-input-login(v-if="isInputLoginStep")
    ug-input-phone(v-model="phone" ref="phoneInput" @done="nextStep")
  .auth-input-code(v-if="isInputCodeStep")
    div Мы отправили СМС с кодом на номер <b>{{ phone }}</b>
    ug-input(
      type="number"
      pattern="[0-9]*"
      ref="codeInput"
      placeholder="●●●●"
      maxlength="4"
      v-model.number="code")
    div Не приходит код?&nbsp;
      span.resend-btn(v-if="canSend" @click="sendCode") Отправить ещё раз.
      span(v-else) Повторно отправить код можно через {{ resendTime }}
</template>

<script>
import UgInputPhone from '~/components/ui/UgInputPhone'
import UgInput from '~/components/ui/UgInput'

import plural from '~/utils/plural'

const StepChooseAuthType = 1
const StepInputLogin = 2
const StepInputCode = 3

const resendInterval = 59000

export default {
  components: {
    UgInputPhone,
    UgInput
  },
  data () {
    return {
      step: StepInputLogin,
      phone: '',
      code: null,
      sessionId: null,
      sentAt: null,
      now: Date.now()
    }
  },
  computed: {
    isInputLoginStep () {
      return this.step === StepInputLogin
    },
    isInputCodeStep () {
      return this.step === StepInputCode
    },
    canSend () {
      if (!this.sentAt) {
        return true
      }

      return this.sentAt + resendInterval <= this.now + 1000
    },
    resendTime () {
      if (!this.sentAt) {
        return '...'
      }
      const diff = (this.sentAt + resendInterval) - this.now
      const seconds = Math.floor(diff / 1000)
      if (seconds < 60) {
        return seconds + ' ' + plural(seconds, 'секунду', 'секунды', 'секунд')
      }
      const minutes = Math.floor(seconds / 60)
      if (minutes < 60) {
        return minutes + ' ' + plural(minutes, 'минуту', 'минуты', 'минут')
      }

      return diff
    }
  },
  watch: {
    isInputCodeStep (v) {
      if (v) {
        this.focusInputCode()
      }
    },
    async code (val) {
      if (val && val > 999 && val < 10000) {
        // sms auth
        const { result, error } = await this.$api('auth.SMSAuth', {
          phone: this.phone,
          sessionID: this.sessionId,
          code: this.code
        })
        if (error && error.code) {
          if (error.code === 504) {
            this.code = ''
            this.$toast.error('Не верный код')
            return
          }

          this.$toast.error('Не верный код')
          return
        }
        await this.$auth.setUserToken(result.token)
        await this.$auth.fetchUser()
        // TODO:
        console.log('emit')
        this.$emit('success')
      }
    }
  },
  created () {
    const self = this
    setInterval(function () {
      self.now = Date.now()
    }, 1000)
  },
  mounted () {
    this.$refs.phoneInput.$el.focus()
  },
  methods: {
    async nextStep () {
      this.step++
      switch (this.step) {
        case StepInputCode:
          await this.sendCode()

          break
      }
    },
    async sendCode () {
      const { result } = await this.$api('auth.SendCode', {
        phone: this.phone
      })
      this.sentAt = new Date().getTime()
      this.sessionId = result
    },
    focusInputCode () {
      this.$nextTick(() => {
        if (this.$refs.codeInput) {
          this.$refs.codeInput.$el.focus()
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.resend-btn {
  cursor: pointer;
  text-decoration: underline;
}
</style>
