<template lang="pug">
.input-slice {{ item.data.title }}
  input.input(v-if="!item.data.multiple" v-model="editValue" :placeholder="item.data.title" @input="search")
  input.input(v-if="item.data.multiple"
    v-for="str,i in editValue"
    v-model="editValue[i].title"
    @focus="setEditIndex(i)"
    :key="i"
    type="text"
    :placeholder="item.data.title"
    @input="search"
  )
  .suggestions
    .suggestion(v-for="item,i in suggestions" :key="i" @click="setValue(item)") {{ item.title }}
  button.input-slice-label(v-if="item.data.multiple" @click="addItem") {{ item.data.addButtonLabel }}
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    item: {
      type: Object
    },
    value: {
      type: [Array, String]
    }
  },
  data () {
    return { editValue: this.value, suggestions: [], editIndex: -1 }
  },
  watch: {
    editValue () {
      this.$emit('update', this.editValue)
    }
  },
  methods: {
    addItem () {
      if (this.editValue === null) {
        this.editValue = []
      }
      this.editValue.push({ title: '' })
      this.editIndex = this.editValue.length - 1
    },
    async search ($event) {
      const { result } = await this.$api(this.item.data.method, { query: $event.target.value, cityId: this.$store.state.localStorage.city })
      this.suggestions = result
    },
    setValue (value) {
      this.suggestions = []
      if (this.item.data.multiple) {
        this.$set(this.editValue, this.editIndex, value)
        return
      }
      this.editValue = value.title
    },
    setEditIndex (index) {
      this.editIndex = index
    }
  }
}

</script>

<style lang="scss" scoped>
.input {
  width: 100%;
}

.input,
.input-slice-label {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
}

.input:focus,
.input-slice-label:active {
  box-shadow: inset 0 0 1px 1px $ug-blue;
}

.suggestions {
  display: flex;
  flex-wrap: wrap;
}

.suggestion {
  margin-right: 16px;
  margin-bottom: 8px;
  padding: 8px 16px;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}
</style>
