<template lang="pug">
div
  .label {{ item.data.title }}
  textarea.textarea(:placeholder="item.data.title" v-model="editValue")
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    },
    value: {
      type: String,
      default: () => ''
    }
  },
  data () {
    return { editValue: this.value }
  },
  watch: {
    editValue () {
      this.$emit('update', this.editValue)
    }
  }
}
</script>

<style lang="scss" scoped>
.textarea {
  width: 100%;
  min-height: 200px;
  padding: 20px;
  font-size: $fs-medium;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
  -webkit-appearance: none;

  &::placeholder {
    color: #bbb;
  }
}

.textarea:focus {
  box-shadow: inset 0 0 1px 1px $ug-blue;
}

.label {
  margin-bottom: 10px;
  color: #aaa;
}
</style>
