<template lang="pug">
.button-group
  .button-group-label {{ item.data.title }}
  .button-group-items
    .button-group-item(v-for="item, i in item.data.items" :key="i" :class="{'button-group-item__active' : i==activeElement}" @click="onChange(i)")
      .button-group-item-title {{ item.title }}
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'update'
  },
  props: ['item', 'value'],
  data () {
    let activeElement = -1
    try {
      if (!isNaN(this.value)) {
        this.item.data.items.map((item, index) => {
          if (item.value === this.value) {
            activeElement = index
          }
        })
      }
    } catch (err) {
      console.error('get value:', err)
    }

    return { activeElement }
  },
  methods: {
    onChange (index) {
      this.activeElement = index
      this.$emit('update', this.item.data.items[this.activeElement].value)
    }
  }
}
</script>

<style lang="scss" scoped>
.button-group-label {
  margin-bottom: 5px;
  color: #aaa;
}

.button-group-items {
  display: flex;
}

.button-group-item:first-child {
  border-radius: 4px 0 0 4px;
}

.button-group-item:last-child {
  border-radius: 0 4px 4px 0;
}

.button-group-item {
  display: flex;
  flex: 1;
  padding: 20px 0;
  box-shadow: inset 0 0 1px 0 #aaa;
  cursor: pointer;
}

.button-group-item__active {
  color: $primary;
  background-color: #fff;
  box-shadow: inset 0 0 1px 1px $primary;
}

.button-group-item-title {
  width: 100%;
  text-align: center;
}

</style>

<style lang="css" scoped>
.button-group-item {
  border-left: none;
}

.no-side-borders .button-group-item:first-child {
  border-left: none!important;
}

.no-side-borders .button-group-item:last-child {
  border-right: none;
}
</style>
