<template lang="pug">
.input-slice
  input.input(v-for="str,i in editValue" v-model="editValue[i]" :key="i" type="text" :placeholder="item.data.title")
  button.input-slice-label(@click="addItem") {{ item.data.addButtonLabel }}
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    item: {
      type: Object
    },
    value: {
      type: [Array]
    }
  },
  data () {
    return { editValue: this.value }
  },
  watch: {
    editValue () {
      this.$emit('update', this.editValue)
    }
  },
  methods: {
    addItem () {
      if (this.editValue === null) {
        this.editValue = []
      }
      this.editValue.push('')

      console.log(this.editValue, typeof this.editValue)
    }
  }
}
</script>

<style lang="scss" scoped>
.input-slice-label {
}

.input {
  width: 100%;
}

.input,
.input-slice-label {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
}

.input:focus,
.input-slice-label:active {
  box-shadow: inset 0 0 1px 1px $ug-blue;
}
</style>
