<template lang="pug">
div
    label.custom-file-upload
        input(type="file" ref="file" multiple @change="fileChange" accept="image/*")
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z"/></svg>
        .custom-upload-label Загрузить изображения
    div.flex
      .upload-img(v-for="img,i in value" :key="i")
        .upload-img-delete(@click="remove(i)") ❌
        .upload-img-rotate(@click="rotate(i)") 🔄
        img.image-preview(height="100px" :src="img.url")
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'update'
  },
  props: ['item', 'value'],
  data () {
    return {
      editValue: this.value
    }
  },
  methods: {
    fileChange ($event) {
      [...$event.target.files].forEach(
        (file, index) => this.upload(file, index)
      )
    },
    async upload (file, index, rotate) {
      let uploadUrl = '/api/v1/upload'
      if (rotate) {
        uploadUrl = '/api/v1/upload?rotate=1'
      }
      const formData = new FormData()
      formData.append('file', file)
      console.info(index, file)
      const response = await this.$axios.post(uploadUrl, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })

      if (!Array.isArray(this.editValue)) {
        this.editValue = []
      }

      this.editValue.push({ url: response.data.url })

      this.$emit('update', this.editValue)
    },
    remove (index) {
      this.editValue.splice(index, 1)
      this.$emit('update', this.editValue)
    },
    async rotate (index) {
      const { result, error } = await this.$api('offers.rotateImage', {
        uri: this.editValue[index].url
      })
      if (error) {
        this.$toast.error(error.message)
      }
      this.editValue[index].url = result
      this.$emit('update', this.editValue)
    }
  }
}
</script>

<style lang="scss" scoped>
.custom-file-upload {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 6px 12px;
  border-radius: 4px;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
  cursor: pointer;
}

.custom-file-upload svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.custom-file-upload input {
  display: none;
}

.upload-img {
  position: relative;
  width: 150px;
  height: 100px;

  &-delete {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    background-color: #eee;
    opacity: 0.1;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  &-rotate {
    position: absolute;
    top: 0;
    right: 40px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    background-color: #999;
    opacity: 0.1;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}
</style>
