<template lang="pug">
div
  .label {{ item.data.title }}
  input.textarea(:placeholder="item.data.title" v-model="editValue" :type="item.data.valueType===`number`?`number`:`text`")
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    item: {
      type: Object
    },
    value: {
      type: [String, Number]
    }
  },
  data () {
    return { editValue: this.value }
  },
  watch: {
    editValue () {
      if (this.item.data.valueType === 'number') {
        this.$emit('update', Number.parseInt(this.editValue))
        return
      }
      this.$emit('update', this.editValue)
    },
    value (v) {
      this.editValue = v
    }
  }
}
</script>

<style lang="scss" scoped>
.textarea {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
  -webkit-appearance: none;
}

.textarea:focus {
  box-shadow: inset 0 0 1px 1px $ug-blue;
}

.label {
  margin-bottom: 10px;
  color: #aaa;
}
</style>
