<template lang="pug">
div
  .switch-label {{ item.data.title }}
  ug-switch(v-model="editValue")
</template>

<script>
import UgSwitch from '~/components/ui/UgSwitch.vue'

export default {
  components: {
    UgSwitch
  },
  model: {
    prop: 'value',
    event: 'update'
  },
  props: ['item', 'value'],
  data () {
    return { editValue: this.value }
  },
  watch: {
    editValue () {
      this.$emit('update', this.editValue)
    }
  }
}
</script>

<style lang="scss" scoped>
.switch-label {
  margin-bottom: 10px;
  color: $ug-gray-light;
}

.button-group-label {
  margin-bottom: 10px;
}

.button-group-items {
  display: flex;
}

.button-group-item:first-child {
  border-radius: 4px 0 0 4px;
}

.button-group-item:last-child {
  border-radius: 0 4px 4px 0;
}

.button-group-item {
  display: flex;
  flex: 1;

  // box-shadow: inset 0 0 1px 0px #aaa;
  padding: 20px 0;
  cursor: pointer;
}

.button-group-item__active {
  color: #ff8c48;
  background-color: #fff;
  // box-shadow: inset 0 0 1px 1px #ff8c48;
}

.button-group-item-title {
  width: 100%;
  text-align: center;
}
</style>
