<template lang="pug">
    component(:is="componentInstance" :item="item" v-model="editValue")
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'update'
  },
  props: ['item', 'value'],
  data () {
    return {
      editValue: this.value
    }
  },
  computed: {
    componentInstance () {
      if (this.item.type === 'control') {
        switch (this.item.data.type) {
          case 'buttonGroup':
            return () =>
              import('~/components/domain/offers/offerForm/block/BlockButtonGroup.vue')
          case 'textarea':
            return () =>
              import('~/components/domain/offers/offerForm/block/BlockTextarea.vue')
          case 'input':
            return () => import('~/components/domain/offers/offerForm/block/BlockInput.vue')
          case 'search':
            return () => import('~/components/domain/offers/offerForm/block/BlockSearch.vue')
          case 'switch':
            return () => import('~/components/domain/offers/offerForm/block/BlockSwitch.vue')
          case 'slice':
            return () =>
              import('~/components/domain/offers/offerForm/block/BlockInputSlice.vue')
          case 'upload':
            return () => import('~/components/domain/offers/offerForm/block/BlockUpload.vue')
          default:
            throw new Error(`unknown component: ${this.item.data.type}`)
        }
      } else if (this.item.type === 'header') {
        return () => import('~/components/domain/offers/offerForm/block/BlockHeader.vue')
      }
      throw new Error(`unknown component: ${JSON.stringify(this.item)}`)
    }
  },
  watch: {
    editValue () {
      this.$emit('update', this.editValue)
    }
  }
}
</script>
