<template lang="pug">
    .comment__stars
        svg(v-for="(filledStar, filledStarIndex) in filledStarsCounter" :key="filledStarIndex" width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg").comment__star-icon.comment__star-icon--filled
          path(d="M10 1.15465L12.4412 6.23615L12.558 6.47923L12.8253 6.51517L18.4124 7.26664L14.334 11.1586L14.1389 11.3448L14.1873 11.6101L15.1992 17.156L10.2374 14.4799L10 14.3519L9.76265 14.4799L4.80083 17.156L5.81268 11.6101L5.86108 11.3448L5.66599 11.1586L1.58757 7.26664L7.17474 6.51517L7.44201 6.47923L7.55879 6.23615L10 1.15465Z")
        svg(v-if="halfStarsCounter" width="20" height="19" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg").comment__star-icon.comment__star-icon--half
          path(d="M8 1.15465L9.86283 5.03223L9.97961 5.2753L10.2469 5.31125L14.5103 5.88467L11.3982 8.85457L11.2031 9.04074L11.2515 9.30603L12.0236 13.538L8.23735 11.4959L8 11.3679L7.76265 11.4959L3.9764 13.538L4.74852 9.30603L4.79692 9.04074L4.60183 8.85457L1.48968 5.88467L5.75313 5.31125L6.02039 5.2753L6.13717 5.03223L8 1.15465Z")
          path(d="M6 12.5V5.5L1.5 6L5 9L4 13.5L6 12.5Z" fill="#08C1C1")
        svg(v-for="(emptyStar, emptyStarIndex) in emptyStarsCounter" :key="emptyStarIndex" width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg").comment__star-icon.comment__star-icon--empty
          path(d="M10 1.15465L12.4412 6.23615L12.558 6.47923L12.8253 6.51517L18.4124 7.26664L14.334 11.1586L14.1389 11.3448L14.1873 11.6101L15.1992 17.156L10.2374 14.4799L10 14.3519L9.76265 14.4799L4.80083 17.156L5.81268 11.6101L5.86108 11.3448L5.66599 11.1586L1.58757 7.26664L7.17474 6.51517L7.44201 6.47923L7.55879 6.23615L10 1.15465Z")
</template>

<script>
export default {
  name: 'StarsRating',
  props: ['rating'],
  computed: {
    filledStarsCounter () {
      return Math.trunc(this.rating)
    },
    halfStarsCounter () {
      try {
        if (String(this.rating).split('.')[1] > 0) {
          return true
        } else {
          return false
        }
      } catch {

      }

      return false
    },
    emptyStarsCounter () {
      return Math.trunc(5 - this.rating)
    }
  }
}
</script>
