.upload-file {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__img-box {
    position: relative;
    height: 100px;
    padding: 10px;
    box-shadow: 0 0 1px #eee;

    &__close {
      position: absolute;
      top: 16px;
      right: 16px;
      width: 32px;
      height: 32px;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }

      &::before,
      &::after {
        position: absolute;
        left: 15px;
        width: 2px;
        height: 33px;
        background-color: rgb(158, 10, 10);
        content: ' ';
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &__img {
      height: 100%;
    }
  }
}
