<template lang="pug">
div(@drop.prevent="addFile" @dragover.prevent)
  h1 Добавить жалобу в чёрный список
  div.select-container На что жалуемся?&nbsp;
    select(v-model.number="reason")
      option(value="1") Мошенничество
      option(value="2") Агент
      option(value="3") Неадекватность
      option(value="0") Другое
  textarea.textarea(v-model="text" placeholder="Напишите здесь что-нибудь")
  uploader(v-model="files" @progress="onProgress")
  .actions
    button.btn(@click="request" :disabled="!allDone") Подать жалобу
</template>
<script>
import Uploader from '~/components/domain/offers/form/uploader.vue'

export default {
  components: {
    Uploader
  },
  layout: 'dark',
  data () {
    return {
      files: [],
      text: '',
      reason: 1,
      allDone: false
    }
  },
  methods: {
    request () {
      try {
        const { error } = this.$api('blacklist.request', {
          text: this.text,
          images: this.files.map(x => x.url),
          reason: this.reason
        })
        if (!error) {
          this.$toast.success('Жалоба отправлена на модерацию')
          this.$router.push('/blacklist')
        }
      } catch (err) {
        this.$toast.error(err)
      }
    },
    onProgress (p) {
      if (p === 100) {
        this.allDone = true
      } else {
        this.allDone = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.select-container {
  margin-bottom: 15px;
}

.textarea {
  width: 100%;
  height: 20vh;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  background-color: #0c1e19;
  border: none;
  border-radius: 4px;
  resize: none;
}

.actions {
  margin-top: 10px;
}

.btn {
  padding: 12px 60px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background-color: #161616;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0 #181818d1;

  &[disabled] {
    color: #00000021;
    background-color: inherit;
  }
}
</style>
