<template lang="pug">
.blacklist
  .heading
    h1 Чёрный список
    btn(to="/blacklist/add" dark large) Подать жалобу
  //input.search-input(placeholder="Поиск")
  .request(v-for="request,i in requests" :key="i")
    .request-content
      .request-header
        .request-header-img
          img(:src="request.owner.avatarUrl" width="64" height="64")
        .request-header-text
          .request-header-text-name {{ request.owner.name }}
            .request-header-text-time {{ request.createdAt }}
          .request-header-text-title {{ request.title }}
      .request-text
        nl2br(tag="div" :text="request.text")
      .request-images(v-if="request.images.length>0")
        .request-image(v-for="image,i in request.images" :key="i")
          img(:src="image.url" height="400")
      .request-actions
    //.request-comments
      .request-comments-header Комментарии

  div(v-if="!requests || requests.length === 0")
    .no-text Пока здесь нет жалоб, станьте первым, кто разместит запись в чёрном списке. Для этого перейдите на&nbsp;
      nuxt-link(to="/blacklist/add") страницу создания.
    img.no-image(height="400" :src="require('~/assets/images/il-placeholder.png')")
</template>

<script>
import Nl2br from 'vue-nl2br'

import Btn from '~/components/ui/Btn.vue'

export default {
  components: {
    Nl2br,
    Btn
  },
  layout: 'dark',
  async asyncData ({ app }) {
    const { result } = await app.$api('blacklist.list')
    return {
      requests: result
    }
  },
  data () {
    return {
      text: ''
    }
  },
  methods: {}
}
</script>

<style lang="scss" scoped>
.heading {
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  margin-bottom: 16px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 16px;
  background-color: #0c1e19;
  border-radius: 4px;
}

.black-btn {
  padding: 12px 60px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background-color: #161616;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0 #181818d1;
}

.no-text a {
  color: $ug-blue;
  font-weight: 500;
  text-decoration: none;
}

.no-image {
  margin: 0 auto;
}

.request {
  display: flex;
  margin-bottom: 32px;

  &-content {
    //width: 50%;
  }

  &-comments {
    width: 49%;
    margin-left: 1%;

    &-header {
      color: #bbb;
    }
  }

  &-header {
    display: flex;
    align-items: center;

    &-img img {
      margin-right: 10px;
      border-radius: 50%;
    }

    &-text {
      &-time {
        display: inline;
        margin-left: 16px;
        color: #aaa;
      }

      &-title {
        font-weight: 500;
        font-size: 1.3em;
      }
    }
  }

  &-text {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  &-images {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-radius: 4px;
  }

  &-image {
    flex: 0 0 auto;
  }
}
</style>
