<template lang="pug">
  .card.moderation__card(@click="$emit('showOffer', ticket)")
    .card__autor Пользователь №{{ ticket.userId }}
    .card__title
        .card__title-comment Новое объявление №{{ ticket.objectId }}
        .card__subtitle {{ ticket.text }}
    .card__line
    .status
        .card__status {{ ticketStatus }}
        .card__time
            img(src="~/assets/images/icons/time.svg")
            Ago(:datetime="ticket.createdAt")
</template>

<script>
import Ago from '~/components/ui/Ago'

export default {
  components: {
    Ago
  },
  props: ['ticket'],
  computed: {
    ticketStatus () {
      console.log(this.ticket)
      switch (this.ticket.status) {
        case 1:
          return 'Опубликовано'
        case 2:
          return 'Отклонено'
        case 3:
          return 'Завершено'
      }
      return 'Модерация'
    }
  }
}
</script>

<style lang="css" scoped></style>
