<template lang='pug'>
  .review
    .review__head
      UgAva(:image="itemData.user.ava")
      .review__head-wrap
        .review__head-line
          span.caption {{ itemData.date }}
          UgStars(:value="itemData.value")
        .review__head-line
          span.ttl.ttl_5 {{ itemData.user.name }}
    .reviews__body
      p.paragraph {{ itemData.review }}
</template>

<script>
import UgAva from '~/components/ui/UgAva/UgAva'
import UgStars from '~/components/ui/UgStars/UgStars'

export default {
  name: 'UgReview',

  components: {
    UgAva,
    UgStars
  },

  props: {
    itemData: {
      type: Object,
      default () {
        return {}
      }
    }
  }
}
</script>

<style lang='scss' scoped>
  @media screen and (min-width: 320px) {
    .review {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
      padding: rem(24) 0;
      border-bottom: none;
    }

    .review__head {
      display: grid;
      grid-template-columns: rem(64) 1fr;
      grid-column-gap: $gap-r-xs;
      width: 100%;
    }

    .review__head-wrap {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: $gap-r-xs;
      width: 100%;
    }

    .review__head-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  @media screen and (min-width: 600px) {

  }

  @media screen and (min-width: 1280px) {
    .review {
      gap: $gap-xs;
      padding: 24px 0;
    }

    .review__head {
      grid-template-columns: 64px 1fr;
      grid-column-gap: $gap-xs;
    }

    .review__head-wrap {
      gap: $gap-xs;
    }
  }
</style>
