<template lang="pug">
  nuxt-link.landlord.svg-border-wrap(:to="`/users/${landlord.id}`")
    UgAva(:image='landlord.avatarUrl')
    .landlord__data
      span.ttl.ttl_5 {{ landlord.firstName ? landlord.firstName : 'Имя' }}
      span.caption(v-if="landlord.status") {{ landlord.status ? landlord.status : 'Статус' }}
    svg.svg-border
      rect(width="100%" height="100%")
</template>

<script>
import UgAva from '~/components/ui/UgAva/UgAva'

export default {
  name: 'UgLandlord',

  components: {
    UgAva
  },

  props: {
    landlord: {
      id: Number,
      avatarUrl: String,
      firstName: String,
      status: String
    }
  },

  data () {
    return {

    }
  }
}
</script>

<style lang="scss">
@media screen and (min-width: 320px) {
  .landlord {
    display: flex;
    gap: $gap-r-xs;
    align-items: center;
    width: 100%;
    padding: rem(24);
    text-decoration: none;
    border: 1px solid $border;
    cursor: pointer;
  }

  .landlord__data {
    display: flex;
    flex-direction: column;
    gap: $gap-r-xs;
  }

  .object__state-panel {
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .landlord {

  }
}

@media screen and (min-width: 1280px) {
  .landlord {
    gap: $gap-xs;
    padding: 24px;
  }

  .landlord__data {
    gap: $gap-xs;
  }
}
</style>
