<template lang="pug">
  .ug-select(
    :class="{ 'open': optionListIsVisible }"
    ref="ugSelect"
  )
    .ug-select__head(@click="toggleOptionList")
      span.input-value {{ label }}
      UgSVG.ug-select__icon(
        :svg="'arrow-little'"
        :class="{'open': optionListIsVisible}"
      )
    ul.ug-select__body
      li.ug-select__option.input-value(
        v-for="(item, index) in options"
        :key="index"
        @click="select(item.id)"
      ) {{ item.title }}
</template>

<script>
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgSelect',

  components: {
    UgSVG
  },

  model: {
    prop: 'value',
    event: 'select'
  },

  props: {
    options: {
      type: Array,
      default () {
        return []
      }
    },

    value: {
      type: Number,
      default () {
        return 0
      }
    }
  },

  data () {
    return {
      optionListIsVisible: false
    }
  },

  computed: {
    label () {
      const v = this.options.find(x => x.id === this.value)

      return v ? v.title : this.options[0].title
    }
  },

  methods: {
    toggleOptionList () {
      this.optionListIsVisible = !this.optionListIsVisible

      const OPEN_LIST = this.$refs.ugSelect
      const HEAD = OPEN_LIST.querySelector('.ug-select__head')
      const BODY = OPEN_LIST.querySelector('.ug-select__body')

      let headHeight = Number.parseFloat(getComputedStyle(HEAD).height)
      let bodyHeight = Number.parseFloat(getComputedStyle(BODY).height)
      let bodyMarginTop = Number.parseFloat(getComputedStyle(BODY).marginTop)

      window.addEventListener('resize', () => {
        headHeight = Number.parseFloat(getComputedStyle(HEAD).height)
        bodyHeight = Number.parseFloat(getComputedStyle(BODY).height)
        bodyMarginTop = Number.parseFloat(getComputedStyle(BODY).marginTop)
      })

      if (OPEN_LIST.classList.contains('open')) {
        OPEN_LIST.style.height = `${headHeight}px`
      } else {
        OPEN_LIST.style.height = `${headHeight + bodyHeight + bodyMarginTop}px`
      }
    },

    select (value) {
      this.$emit('select', value)
      this.toggleOptionList()
    }
  }
}
</script>

<style lang="scss">
  @media screen and (min-width: 320px) {
    .ug-select {
      --height: 3rem;

      width: 100%;
      height: var(--height);
      overflow: hidden;
      transition: $t-04-eio;
    }

    .ug-select__head {
      position: relative;
      display: flex;
      align-items: center;
      width: inherit;
      height: rem(48);
      padding: 0 rem(48) 0 $gap-r-xs;
      background-color: $bg;
      border: 1px solid $border;
      box-sizing: border-box;
      cursor: pointer;
    }

    .ug-select__icon {
      position: absolute;
      top: 50%;
      right: $gap-r-xs;
      transform: translateY(-50%) rotate(90deg);
      width: rem(16);
      height: rem(16);
      fill: $icon-default;
      pointer-events: none;
      transition: $t-04-eio;
    }

    .ug-select__icon.open {
      transform: translateY(-50%) rotate(270deg);
    }

    .ug-select__body {
      display: flex;
      flex-direction: column;
      width: inherit;
      margin-top: $gap-r-xxs;
      background-color: $bg;
      border: 1px solid $border;
      box-sizing: border-box;
    }

    .ug-select__option {
      width: inherit;
      padding: $gap-r-xs;
      background-color: $bg;
      box-sizing: border-box;
      cursor: pointer;
      transition: $t-04-eio;
    }

    .ug-select__option:hover {
      background-color: $bg-2;
    }
  }

  @media screen and (min-width: 1280px) {
    .ug-select {
      --height: 48px;
    }

    .ug-select__head {
      height: 48px;
      padding: 0 48px 0 $gap-xs;
    }

    .ug-select__icon {
      right: $gap-xs;
      width: 16px;
      height: 16px;
    }

    .ug-select__head:hover .ug-select__icon {
      fill: $icon-hover;
    }

    .ug-select__body {
      margin-top: $gap-xxs;
    }

    .ug-select__option {
      padding: $gap-xs;
    }
  }
</style>
