<template lang="pug">
  .card-list(ref="list")
    .card-list__wrap
      .card-list__empty(v-if="!offers||!offers.length")
        img.card-list__img(:src="require('~/assets/img/png/stiker-12.png')")
        p.card-list__paragraph.paragraph {{ emptyText }}
      UgOfferCard(
        v-for="(item, index) in offers"
        :offer="item"
        :key="index"
      )
    UgMore(
      v-if="hasMore"
      @loadMore="$emit('loadMore')"
    )
</template>

<script>
import UgOfferCard from '~/components/ui/UgOfferCard/UgOfferCard'
import UgMore from '~/components/ui/UgMore/UgMore'

export default {
  name: 'UgCardList',

  components: {
    UgOfferCard,
    UgMore
  },

  props: {
    emptyText: {
      type: String,
      default () {
        return ''
      }
    },

    offers: {
      type: Array,
      default () {
        return []
      }
    },

    hasMore: {
      type: Boolean,
      default () {
        return false
      }
    }
  },

  methods: {
    visibilityChanged (isVisible, index) {
      let scrollPositionPcnt = 0

      try {
        scrollPositionPcnt = window.scrollY / this.$refs.list.offsetHeight
      } catch {
        scrollPositionPcnt = 1
      }

      if (isVisible && this.offers.length - index <= 6 && scrollPositionPcnt > 0.8) {
        this.$emit('more', this.offers.length)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .card-list,
    .card-list__wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $gap-r-m;
      width: 100%;
    }

    .card-list__wrap {
      gap: $gap-r-s;
    }

    .card-list__empty {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .card-list__img {
      width: 100%;
    }

    .card-list__paragraph {
      text-align: center;
    }
  }

  @media screen and (min-width: 600px) {
    .card-list__empty {
      width: rem(348);
    }
  }

  @media screen and (min-width: 1280px) {
    .card-list,
    .card-list__wrap {
      gap: $gap-m;
    }

    .card-list__wrap {
      gap: $gap-s;
    }

    .card-list__empty {
      width: 480px;
    }

    .card-list__img {
      width: 276px;
    }
  }
</style>
