<template lang="pug">
    .mobile-bar(:class='visibility')
        .mobile-bar__button(@click="toggleVisibility")
            UgSVG.mobile-bar__button-icon(:svg="visibility ? 'close' : 'three-dots'")
        .mobile-bar__wrap
            slot
</template>

<script>
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgMobileBar',

  components: {
    UgSVG
  },

  data () {
    return {
      visibility: ''
    }
  },

  methods: {
    toggleVisibility () {
      this.visibility = this.visibility ? '' : 'visible'
    }
  }
}
</script>

<style lang="scss" scoped>
    @media screen and (min-width: 320px) {
        .mobile-bar {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            padding: 1rem;
            transform: translateY(100%);
            transition: transform $t-04-eio;
            background-color: $bg;
            border: 1px solid $border;
        }

        .mobile-bar.visible {
            transform: translateY(0);
        }

        .mobile-bar__wrap {
            display: flex;
            gap: $gap-r-xs;
            flex-direction: column;
        }

        .mobile-bar__button {
            position: absolute;
            top: rem(-64);
            right: rem(16);
            width: rem(48);
            height: rem(48);
            border-radius: 50%;
            background-color: $primary-color;
        }

        .mobile-bar__button-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            width: rem(16);
            height: rem(16);
            transform: translate(-50%, -50%);
            fill: $icon-white;
            transition: $t-04-eio;
        }
    }

    @media screen and (min-width: 600px) {
        .mobile-bar {
            display: none;
        }
    }
</style>
