<template lang="pug">
  footer.footer
    .footer__top
      .footer__inner
        .footer__links
          a.link(
            v-for="item of links"
            :key="item.name"
            :href="item.url"
            :target="item.target"
          ) {{ item.name }}
    .footer__bottom
      .footer__inner
        .footer__soc
          a.footer__soc-item(
            v-for="item of social"
            :key="item.name"
            :href="item.url"
            target="_blank"
          )
            svg
              use(:xlink:href="require('@/assets/img/svg/sprite.svg')+item.icon")
        a.footer__dev-logo(
          href="https://rootfront.su"
          target="_blank"
          rel="nofollow"
        )
          svg
            use(xlink:href="@/assets/img/svg/sprite.svg#rootfront")
</template>

<script>
export default {
  name: 'UgFooter',

  props: {
    dark: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      social: [
        {
          name: 'telegram',
          icon: '#telegram',
          url: 'https://t.me/tgspb'
        },
        {
          name: 'vk',
          icon: '#vk',
          url: 'https://vk.com/yuytnoe_gnezdishko'
        }
      ],

      links: [
        {
          name: 'Найти гнездышко',
          url: '/spb/snyat',
          target: '_self'
        },
        {
          name: 'Предложить гнездышко',
          url: '/add/new',
          target: '_self'
        }
        // {
        //   name: 'Статьи по теме',
        //   url: '/',
        //   target: '_blank'
        // }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .footer {
      display: flex;
      flex-direction: column;
    }

    .footer__top {
      padding: rem(24) rem(16);
      background-color: $bg-2;
    }

    .footer__bottom {
      padding: rem(24);
      background-color: $bg-3;
    }

    .footer__inner {
      display: flex;
      flex-direction: column;
      gap: $gap-r-s;
      align-items: center;
      justify-content: center;
    }

    .footer__links {
      display: flex;
      flex-direction: column;
      gap: $gap-r-s;
      align-items: center;
    }

    .footer__dev-logo {
      display: flex;
      height: 0.625rem;
    }

    .footer__dev-logo svg {
      width: 7.875rem;
      height: 0.625rem;
      transition: $t-04-eio;
    }

    .footer__dev-logo:hover svg {
      opacity: 0.8;
    }

    .footer__soc {
      display: flex;
      gap: $gap-r-xs;
    }

    .footer__soc-item {
      display: flex;
      height: 1.5rem;
    }

    .footer__soc-item svg {
      width: 1.5rem;
      height: 1.5rem;
      transition: $t-04-eio;
      fill: $primary-color;
    }

    .footer__soc-item:hover {
      fill: $primary-color-dark;
    }
  }

  @media screen and (min-width: 600px) {
    .footer__top {
      padding: rem(32) rem(24);
    }

    .footer__inner {
      flex-direction: row;
      gap: initial;
      justify-content: space-between;
    }

    .footer__links {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: $gap-r-m;
      grid-row-gap: $gap-r-s;
      width: 100%;
    }
  }

  @media screen and (min-width: 1280px) {
    .footer__top {
      padding: 32px 0;
    }

    .footer__bottom {
      padding: 24px 0;
    }

    .footer__inner {
      width: 1200px;
      margin: 0 auto;
    }

    .footer__links {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 16px;
      grid-row-gap: $gap-xs;
    }

    .footer__dev-logo {
      height: 10px;
    }

    .footer__soc {
      gap: $gap-xs;
    }

    .footer__soc-item svg {
      width: 24px;
      height: 24px;
    }
  }
</style>
