.#{black-list} {
  .statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    border-right: 1px solid #e4e4e4;

    &__icon {
      margin-right: 4px;
    }

    &__likes {
      display: flex;
      margin-right: 12px;
    }

    &__dislikes {
      display: flex;
    }

    &__comment {
      display: flex;
      margin-left: 40px;
    }
  }
}
