@import '___statistics';

.black-list {
  $black-list: &;

  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 40px;
    margin-bottom: 32px;
    color: #000;
    font-size: 24px;
  }

  &__search {
    position: relative;
    display: flex;
    color: #878787;
    font-size: 12px;
  }

  &__search-input {
    width: 348px;
    margin-bottom: 44px;
    padding-bottom: 9px;
    padding-left: 24px;
    color: #878787;
    border-bottom: 1px solid #e4e4e4;

    &::placeholder {
      color: #878787;
    }
  }

  &__search-icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__user {
    display: flex;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    border: 1px solid #e4e4e4;
  }

  &__user-name {
    display: flex;
    align-items: center;
    width: 275px;
    padding-left: 16px;
    color: #000;
    border-right: 1px solid #e4e4e4;
  }

  &__user-image {
    width: 56px;
    height: 56px;
    margin-right: 15px;
  }

  &__user-violation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    padding: 0 32px;
    color: #616161;
    font-size: 12px;
    line-height: 22px;
    border-right: 1px solid #e4e4e4;
    //font-family: "Lato";
  }

  &__user-deadline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    color: #038992;
    font-size: 14px;
  }
}
