<template lang="pug">
  .action
    UgSquareBtn.secondary.action__btn(
      :icon="'like'"
      :active="isFave"
      @click.native="toggleFavourite"
    )
    //- UgSquareBtn.secondary.action__btn(
    //-   :icon="'share'"
    //-   :active="false"
    //-   disabled
    //- )
    UgBtn.btn_secondary.action__btn.action__btn_wide(disabled)= "Пожаловаться"
</template>

<script>
import UgSquareBtn from '~/components/ui/UgSquareBtn/UgSquareBtn'
import UgBtn from '~/components/ui/UgBtn/UgBtn'

export default {
  name: 'UgAction',

  components: {
    UgSquareBtn,
    UgBtn
  },

  props: {
    offerId: {
      type: Number,
      default: () => null
    }
  },

  data () {
    return {

    }
  },

  computed: {
    isFave () {
      return this.$store.state.localStorage.faveList.some(x => x === this.offerId)
    }
  },

  methods: {
    toggleFavourite () {
      this.$store.commit('localStorage/toggleFave', this.offerId)
    }
  }
}
</script>

<style lang="scss">
@media screen and (min-width: 320px) {
  .action {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 3rem;
  }

  .action__btn:not(:first-child) {
    margin-left: -1px;
  }

  .action__btn.active {
    z-index: 10;
  }

  .action__btn_wide {
    flex-grow: 1;
  }
}

@media screen and (min-width: 1280px) {
  .action {
    height: 48px;
  }

  .action__btn:hover {
    z-index: 10;
  }
}
</style>
