<template lang="pug">
.block
  ug-breadcrumbs(:items="$store.state.meta.meta.breadcrumbs")
  h1 Результаты поиска по изображению
  offer-list(:offers="offers")
  div(v-if="loading") Загрузка...
  div(v-if="!loading&&(!offers||offers.length==0)")
    img(:src="`/api/v1/resizer?h=220&url=/images/orig/${hash}.jpg`" height="220")
    h2.h2-not-found По данному изображению объявления не найдены
    nuxt-link(to="/find-by-image") Вернуться к поиску
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'

import OfferList from '~/components/ui/UgCardList/UgCardList.vue'

@Component({
  components: {
    OfferList
  }
})
export default class Report extends Vue {
    offers = []
    loading: Boolean = true;

    created () {
      this.f()
    }

    get hash () {
      return this.$route.params.hash
    }

    async f () {
      try {
        const { result } = await this.$api('offers.searchByImage', {
          imageID: this.hash
        })
        this.offers = result.offers
      } catch (err) {
        console.error(err)
      }

      this.loading = false
    }
}
</script>

<style lang="scss" scoped>
.h2-not-found {
  margin-top: 16px;
}
</style>
