<template lang="pug">
.block
  ug-breadcrumbs(:items="$store.state.meta.meta.breadcrumbs")
  h1.mt Поиск объявлений по изображению
  .flex.flex-wrap
    ug-uploader.uploader(v-model="images" :multiple="false")
    .aside Поиск по изображению нужен для поиска дубликатов и похожих объявлений. <br /><br />Если вы где-нибудь увидели объявление от агента, то можно попробовать найти собственника у нас. <br /> <br />
      nuxt-link(to="/blog/search-by-image") Почитать подробнее
</template>

<script lang="ts">
import Vue from 'vue'
import { Component, Watch } from 'vue-property-decorator'

import UgUploader from '~/components/ui/UgUploader.vue'

@Component({
  components: {
    UgUploader
  }
})
export default class Report extends Vue {
    images: string[] = [];

    @Watch('images')
    onImagesUpload (n) {
      this.$router.push('/find-by-image/' + n[0].replace('/images/orig/', '').replace('.jpg', ''))
    }
}
</script>

<style lang="scss" scoped>
.uploader {
  flex: 1;
}

.aside {
  max-width: 240px;
  margin-left: 32px;
  color: #666;
  font-size: 16px;
  line-height: 20px;

  @media screen and (max-width: 800px) {
    width: 100%;
    max-width: 100%;
    margin-top: 16px;
    margin-left: 0;
  }
}
</style>
