.announcement-element {
  $announcement-element: &;

  display: block;
  padding: 45px 30px 10px;
  text-align: center;
  background: $clr-white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(#666, 0.3);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-color: $clr-robins-egg-blue;
    border-width: 2px;

    .#{announcement-element} {
      &__title {
        color: $clr-robins-egg-blue;
      }
    }
  }

  &__ico-plus {
    display: block;
    margin: 0 auto;
  }

  &__title {
    margin-top: 45px;
    color: $clr-gulf-stream;
    font-size: $fs-medium-lg;
  }

  &__sub-ico {
    display: block;
    margin: 0 auto;
  }
}
