<template lang="pug">
  transition(name="fade")
    .comments__item.comment
      .comment__user
        img(:src="comment.user.avatarUrl").comment__user-avatar
        .comment__user-info
          .comment__user-name {{ comment.user.name }}
          .comment__date
            Ago(:datetime="comment.createdAt")
            span(v-if="comment.isVkComment")  •
              img.social-offer(:src="require(`~/assets/images/icons/vk.svg`)" alt="Комментарий из нашего паблика ВК")
        //.comment__user-rating
          stars-rating(:rating="comment.rating")
          .comment__cloud
            img(src="~assets/images/icons/icon-cloud.svg").comment__cloud-icon
      .comment__text {{ comment.text }}
      //.comment__attachment(v-if="comment.attachedImages")
        .comment__attached-title
          span.comment__attached-text Прикрепленные файлы
          img(src="~assets/images/icons/icon-attach.svg").comment__attached-icon
        comment-attached-images-list(:images="comment.attachedImages")
</template>

<script>
// import commentAttachedImagesList from "~/components/comments/comment/commentAttachedImagesList/index"
import starsRating from '~/components/domain/comments/starsRating/index'

export default {
  name: 'Comment',
  components: {
    // commentAttachedImagesList,
    starsRating
  },
  props: ['comment']
}
</script>

<style lang="scss" scoped>
.social-offer {
  position: relative;
  bottom: -3px;
  display: inline;
  height: 1em;
  filter: invert(0.8);
}
</style>
