.advertising {
  &__title {
    margin-bottom: 32px;
    color: #000;
    font-size: 24px;
  }

  &__block {
    padding: 32px 32px 40px 34px;
    border: 1px solid #bcbcbc;
  }

  &__block-info {
    display: flex;
    margin-bottom: 16px;
  }

  &__block-info_hint {
    margin-left: 3px;
  }

  &__block-title {
    margin-bottom: 16px;
    color: #038992;
    font-size: 24px;
  }

  &__block-subtitle {
    margin-bottom: 40px;
    color: $clr-black;
    font-size: 14px;
    line-height: 24px;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ff8c48;
    font-size: 24px;
  }

  &__hint {
    display: inline;
    color: #bcbcbc;
    font-size: 14px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 199px;
    height: 40px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    background: #038992;
    border-radius: 3px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  }
}
