<template lang="pug">
  .last-offer-card
    .last-offer-card__gallery
      img.last-offer-card__gallery-item(
        :src="require('~/assets/images/content/offer-slide.jpg')"
        v-for='(item, index) in offer.images'
        :key='index'
        :class='{ "last-offer-card__gallery-item_active": index === activeImg }'
      )
      .last-offer-card__gallery-pag(v-if='offer.images && offer.images.length > 1')
        .last-offer-card__gallery-pag-item(
          v-for='(item, index) in offer.images'
          :key='index'
          :class='{ "last-offer-card__gallery-pag-item_active": index === activeImg }'
        )
      .last-offer-card__gallery-fields
        .last-offer-card__gallery-field(
          v-for='(item, index) in offer.images'
          :key='index'
          @mouseenter='setActiveImg(index)'
        )
    .last-offer-card__info
      .last-offer-card__state-panel
        .last-offer-card__values
          svg.last-offer-card__icon
            use(xlink:href='@/assets/img/svg/sprite.svg#clock')
          span.caption {{ offer.publishedAt }}
        .last-offer-card__values
          svg.last-offer-card__icon
            use(xlink:href='@/assets/img/svg/sprite.svg#eye')
          span.caption {{ offer.views ? offer.views : '0' }}
      h2.ttl.ttl_3 {{ offer.title }}
      .last-offer-card__footer
        .last-offer-card__metro-wrap
          .last-offer-card__metro(v-if='offer.metroStations && offer.metroStations.length > 0' v-for='item, index in offer.metroStations' :key='item.index')
            svg()
              path(d='M4.82167 4.2067C4.58179 3.39008 3.93068 3.47958 3.4855 3.85993C2.38887 4.87788 0.96096 7.0145 1.87483 10.0911C2.64019 12.6975 5.82483 14.3643 5.82483 14.3643H2.11238C2.11238 14.3643 0.195482 12.2053 0.0241233 9.66603C-0.192911 6.45556 1.0866 4.43079 2.57163 3.11084C3.96526 1.86914 5.29036 1.5 5.29036 1.5L8.00096 10.4246L10.7116 1.5C10.7116 1.5 12.0367 1.86914 13.4303 3.11084C14.9153 4.43079 16.1948 6.45556 15.9778 9.66603C15.8064 12.2053 13.8895 14.3643 13.8895 14.3643H10.1771C10.1771 14.3643 13.3615 12.6975 14.1271 10.0911C15.041 7.01485 13.6131 4.87823 12.5164 3.85993C12.0709 3.47958 11.4198 3.39008 11.1803 4.2067C10.3578 6.81313 8.0013 14.2811 8.0013 14.2811C8.0013 14.2811 5.64414 6.81063 4.82167 4.2067Z' :fill='"#" + item.color')
            .caption {{ item.title }}
        .last-offer-card__offer
          .ttl.ttl_3(v-if="offer.price") `{{ toCurrencyString(offer.price) }} / месяц`
          UgSquareBtn(
            :isFavourite="offer.isFavorite"
            @click="addToFave"
          )
</template>

<script>
import UgSquareBtn from '~/components/ui/UgSquareBtn/UgSquareBtn'

import formatDate from '~/utils/FormatDate'

export default {
  name: 'UgLastOfferCard',

  components: {
    UgSquareBtn
  },

  props: {
    offer: {
      type: Object,
      default () {
        return {}
      }
    },

    index: {
      type: Number
    },

    isVk: {
      type: Boolean
    }
  },

  data () {
    const note = this.$store.state.localStorage.notes.find(
      x => x.offerId === this.offer.id
    )

    return {
      note: note ? note.text : null,
      activeImg: 0
    }
  },

  computed: {
    isFave () {
      return this.$store.state.localStorage.faveList.find(
        x => x === this.offer.id
      )
    }
  },

  watch: {
    note (val) {
      this.$store.commit('localStorage/setNote', {
        offerId: this.offer.id,
        text: val
      })
    }
  },

  methods: {
    setActiveImg (index) {
      this.activeImg = index
    },

    formatRelative () {
      return formatDate(this.offer.publishedAt)
    },

    toCurrencyString (number) {
      return number
        .toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })
        .replace(',00', '')
    },

    addToFave ($event) {
      $event.stopPropagation()

      this.$store.commit('localStorage/toggleFave', this.offer.id)
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .last-offer-card {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
      width: 100%;
    }

    .last-offer-card__gallery {
      position: relative;
      overflow: hidden;
    }

    .last-offer-card__gallery::after {
      content: '';
      display: block;
      padding-top: 62.5%;
    }

    .last-offer-card__gallery-item {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: rem(4);
      object-fit: cover;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
    }

    .last-offer-card__gallery-item_active {
      z-index: 0;
      visibility: visible;
      opacity: 1;
    }

    .last-offer-card__gallery-pag {
      position: absolute;
      bottom: rem(8);
      left: 50%;
      z-index: 10;
      display: flex;
      gap: $gap-r-xxs;
      align-items: flex-end;
      max-width: calc(100% - 1rem);
      transform: translate(-50%, 0);
    }

    .last-offer-card__gallery-pag-item {
      position: relative;
      flex: 0 1 auto;
      width: 2.625rem;
      height: 0.25rem;
      overflow: hidden;
      background-color: #fff;
      border: 0.125rem solid $g-100;
      border-radius: 0.25rem;
      cursor: pointer;
      opacity: 0.6;
    }

    .last-offer-card__gallery-pag-item_active {
      border: 0.125rem solid $g-100;
      opacity: 1;
    }

    .last-offer-card__gallery-fields {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      z-index: 20;
    }

    .last-offer-card__gallery-field {
      flex: 1 0 auto;
      height: 100%;
    }

    .last-offer-card__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $gap-r-xs;
    }

    .last-offer-card__state-panel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .last-offer-card__icon {
      width: rem(16);
      height: rem(16);
      transition: $t-04-eio;
      fill: $icon-default;
    }

    .last-offer-card__values {
      display: flex;
      gap: $gap-r-xxs;
      align-items: center;
      color: $text;
    }

    .last-offer-card__values .caption {
      color: $text;
    }

    .last-offer-card__ttl {
      width: fit-content;
      text-decoration: none;
    }

    .last-offer-card__footer {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xxs;
    }

    .last-offer-card__metro-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      grid-row-gap: $gap-r-xxs;
      grid-column-gap: $gap-r-s;
    }

    .last-offer-card__metro {
      display: flex;
      gap: $gap-r-xxs;
      align-items: center;
    }

    .last-offer-card__metro .caption {
      color: $text;
    }

    .last-offer-card__metro > svg {
      width: rem(16);
      height: rem(16);
    }

    .last-offer-card__offer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 600px) {

  }

  @media screen and (min-width: 1280px) {
    .last-offer-card {
      gap: $gap-xs;
    }

    .last-offer-card__gallery-item {
      border-radius: 4px;
    }

    .last-offer-card__gallery-pag {
      bottom: 8px;
      gap: $gap-xxs;
      max-width: calc(100% - 32px);
    }

    .last-offer-card__gallery-pag-item {
      width: 42px;
      height: 4px;
      border: 2px solid $g-100;
      border-radius: 4px;
    }

    .last-offer-card__gallery-pag-item_active {
      border: 2px solid $g-100;
    }

    .last-offer-card__info {
      gap: $gap-xs;
    }

    .last-offer-card__icon {
      width: 16px;
      height: 16px;
    }

    .last-offer-card__values {
      gap: $gap-xxs;
    }

    .last-offer-card__footer {
      gap: $gap-xxs;
    }

    .last-offer-card__metro-wrap {
      grid-row-gap: $gap-xxs;
      grid-column-gap: $gap-s;
    }

    .last-offer-card__metro {
      gap: $gap-xxs;
    }

    .last-offer-card__metro > svg {
      width: 16px;
      height: 16px;
    }
  }
</style>
