<template lang="pug">
  .more(@click="$emit('loadMore')")
    UgSVG.more__icon(:svg="'three-dots'")
    span.link= "Ещё"
</template>

<script>
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgMore',

  components: {
    UgSVG
  }
}
</script>

<style lang="scss" scoped>
@media screen and (min-width: 320px) {
  .more {
    display: flex;
    gap: $gap-r-xxs;
    align-items: center;
    cursor: pointer;
  }

  .more > span {
    color: $primary-color;
    transition: $t-04-eio;
  }

  .more:hover > span {
    color: $primary-color-dark;
  }

  .more__icon {
    width: 1rem;
    height: 1rem;
    transition: $t-04-eio;
    fill: $primary-color;
  }

  .more:hover .more__icon {
    fill: $link-hover;
  }
}

@media screen and (min-width: 1280px) {
  .more {
    gap: $gap-xxs;
  }

  .more__icon {
    width: 16px;
    height: 16px;
  }
}
</style>
