.comments {
  &__form {
    padding: 0;
  }
}

.comment-add-form {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  &__textarea-block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__textarea {
    display: flex;
    width: 100%;
    min-height: 56px;
    padding: 13.59px 0 0 16px;
    border: 1px solid #e4e4e4;
    resize: none;

    @include mt(0.2s);

    &:focus {
      border-color: #038992;
      outline: none;
    }
  }

  &__icon {
    position: absolute;
    top: 7px;
    right: 6px;
    cursor: pointer;

    &:nth-child(2) {
      top: 9px;
      right: 37px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background-color: #038992;
    border: none;
    cursor: pointer;

    @include mt(0.2s);

    &:hover {
      background-color: darken(#038992, 5%);
    }
  }

  &__button-icon {
    position: static;
  }
}
