.filter {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    padding: 0 32px;
    border: 1px solid #e4e4e4;
    cursor: pointer;

    @include mt(0.2s);

    &:hover {
      border-bottom-color: #ff8c48;
    }

    &:nth-child(2) {
      border-right: none;
      border-left: none;
    }

    &--active {
      border: 1px solid $clr-coral;
      cursor: default;

      &:nth-child(2) {
        border: 1px solid $clr-coral;
      }
    }
  }

  &__category,
  &__circle,
  &__number {
    color: #616161;
    font-size: 14px;
    line-height: 24px;

    &:nth-child(2) {
      margin: 0 4px;
      color: #038992;
    }
  }
}
