.page-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 56px 0;

  * {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    margin: 0 12px;
  }

  &__item {
    margin: 0 4px;
  }

  &__link {
    width: 28px;
    height: 28px;
    font-size: 12px;
    border-radius: 50%;

    @include mt(0.2s);

    &:hover {
      background-color: #e4e4e4;
    }

    &--active {
      background-color: #ffdd9c;

      &:hover {
        background-color: #ffdd9c;
      }
    }
  }

  &__control {
    width: 56px;
    height: 56px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    cursor: pointer;

    @include mt(0.2s);

    &:hover {
      border-color: #ffdd9c;
    }
  }
}
