@import "___filter";
@import "___comments-form";
@import "___page-nav";

.comments {
  //border: 1px solid #e4e4e4;
  margin-bottom: 40px;
  // width: 993px;
  // margin: 0 auto 56px auto;
  //font-family: "Lato";
  &__title {
    margin-bottom: 56px;
    color: #000;
    font-size: 24px;
    text-align: left;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__rating-text {
    margin-right: 24px;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 32px;
    border: 1px solid #e4e4e4;
    border-left: none;
  }

  &__star {
    margin-right: 6px;

    &:last-child {
      margin: 0;
    }
  }

  &__add {
    margin: 0;
    padding: 45px 30px 39px 30px;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
  }

  &__list {
    padding: 0 32px;
    border-top: none;
  }
}

.comment {
  padding-top: 32px;
  border-top: 1px solid #e4e4e4;

  &:first-child {
    padding-top: 0;
    border: none;
  }

  &__user {
    display: flex;
  }

  &__user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50px;
  }

  &__user-info {
    width: 100%;
    margin-left: 24px;
  }

  &__user-name {
    color: #616161;
    font-size: 14px;
    line-height: 24px;
  }

  &__date {
    color: #bcbcbc;
    font-size: 12px;
  }

  &__stars {
    display: flex;
    align-items: center;
  }

  &__star-icon {
    display: inline-block;

    path {
      stroke: #08c1c1;
    }

    &--filled {
      path {
        fill: #08c1c1;
      }
    }
  }

  &__cloud {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }

  &__text {
    padding-top: 18px;
    padding-bottom: 32px;
    color: #616161;
    font-size: 14px;
    line-height: 24px;
  }

  &__attached-title {
    display: flex;
    align-items: flex-end;
    padding-bottom: 18px;
    color: #bcbcbc;
    font-size: 12px;
  }

  &__attached-text {
    margin-right: 6px;
    padding-bottom: 2px;
  }

  &__attached-files {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  &__attached-photo {
    width: 245px;
    height: auto;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

// END VUE TRANSITION
.empty-comments {
  display: flex;
  align-items: center;
  justify-content: center;
}
