<template lang='pug'>
  .ava
    img.ava__img(
      v-if='image'
      :src="image"
    )
    UgSVG.ava__icon(
      v-else
      :svg="'person'"
    )
</template>

<script>
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgAva',

  components: {
    UgSVG
  },

  props: {
    image: {
      type: String,
      default () {
        return ''
      }
    }
  },

  data () {
    return {}
  }
}
</script>

<style lang='scss' scoped>
  @media screen and (min-width: 320px) {
    .ava {
      position: relative;
      width: rem(64);
      height: rem(64);
      overflow: hidden;
      background-color: $bg-3;
      border-radius: 50%;
    }

    .ava__icon,
    .ava__img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
    }

    .ava__icon {
      width: rem(16);
      height: rem(16);
      fill: $icon-default;
    }
  }

  @media screen and (min-width: 1280px) {
    .ava {
      width: 64px;
      height: 64px;
    }

    .ava__icon {
      width: 16px;
      height: 16px;
    }
  }
</style>
