<template lang="pug">
  .ugInterval
    .ugInterval__head
      span.input-caption {{ title }}
    .ugInterval__body
      input.ugInterval__input(
        type="number"
        maxlength="7"
        placeholder="От"
        v-model="from"
        @change="changeHandler('from')"
      )
      input.ugInterval__input(
        type="number"
        maxlength="7"
        placeholder="До"
        v-model="to"
        @change="changeHandler('to')"
      )
</template>

<script>
export default {
  name: 'UgInterval',

  props: {
    title: {
      type: String,
      default () {
        return ''
      }
    },

    valueFrom: {
      type: Number,
      default () {
        return 0
      }
    },

    valueTo: {
      type: Number,
      default () {
        return 0
      }
    }
  },

  data () {
    return {
      from: this.valueFrom,
      to: this.valueTo
    }
  },

  methods: {
    changeHandler (value) {
      this.$emit('change' + value, Number.parseInt(this[value]))
    }
  }
}
</script>

<style lang="scss">
  @media screen and (min-width: 320px) {
    .ugInterval {
      width: 100%;
      background-color: $bg;
      border: 1px solid $border;
      overflow: hidden;
      transition: $t-04-eio;
    }

    .ugInterval__head {
      position: relative;
      display: flex;
      align-items: center;
      width: inherit;
      height: rem(48);
      padding: 0 rem(48) 0 $gap-r-xs;
      box-sizing: border-box;
    }

    .ugInterval__body {
      display: flex;
      align-items: center;
      gap: $gap-r-xxs;
      padding: $gap-r-xxs $gap-r-xs $gap-r-xs;
      box-sizing: border-box;
    }

    .ugInterval__input {
      width: 50%;
      color: $input-value;
    }
  }

  @media screen and (min-width: 1280px) {
    .ugInterval__head {
      height: 48px;
      padding: 0 48px 0 $gap-xs;
    }

    .ugInterval__body {
      gap: $gap-xxs;
      padding: $gap-xxs $gap-xs $gap-xs;
    }
  }
</style>
