.#{balance} {
  .amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0 32px;
    background: #fff;
    border: 1px solid #08c1c1;

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__info-many {
      margin-bottom: 10px;
      color: #ff8c48;
      font-size: 24px;
    }

    &-equally {
      color: #bcbcbc;
      font-size: 14px;
    }

    &__replenish {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 177px;
      height: 40px;
      color: #fff;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      background: #038992;
      border-radius: 3px;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
    }
  }
}
