.#{balance} {
  .ad {
    margin-bottom: 72px;
    padding: 8px 16px 40px 16px;
    background-color: #f4f4f4;

    &__head {
      display: flex;
      padding: 24px 18px;
    }

    &__head-heading {
      display: flex;
      width: 377px;
      color: #878787;
      font-size: 14px;

      &:nth-child(2) {
        width: 165px;
      }

      &:nth-child(3) {
        width: 143px;
      }

      &:nth-child(4) {
        display: flex;
        justify-content: flex-end;
      }
    }

    &__block {
      display: flex;
      height: 107px;
      margin-bottom: 8px;
      padding: 24px;
      background-color: #fff;
    }

    &__block-name {
      width: 340px;
      margin-right: 30px;
      color: #000;
      font-size: 14px;
      line-height: 21px;

      &--black-green {
        color: #038992;
      }
    }

    &__block-data {
      width: 72px;
      margin-right: 93px;
      color: #000;
      font-size: 14px;
      line-height: 21px;
    }

    .payment {
      width: 62px;
      margin-right: 83px;
      color: #000;
      font-size: 14px;
      line-height: 21px;

      &__data,
      &__time {
        color: #878787;
        font-size: 12px;
        line-height: 22px;
      }
    }

    &-remove {
      color: #000;
      font-size: 14px;
    }
  }
}
