@import "___amout";
@import "___ad";

.balance {
  $balance: &;

  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 74px;
    color: #000;
    font-size: 24px;
  }

  &__payment {
    margin-top: 80px;
    margin-bottom: 30px;
    color: $clr-black;
    font-weight: bold;
    font-size: 16px;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 39px;

    &--active {
      border: 1px solid $clr-coral;
    }
  }

  &__buttons-ad,
  &__buttons-connect-amenities,
  &__buttons-advertising {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    margin-right: 40px;
    color: #878787;
    font-size: 14px;
    border: 1px solid #bcbcbc;
  }
}
