<template lang="pug">
  .block-check(
    :class="{ 'open': bodyIsVisible }"
    ref="blockCheck"
  )
    .block-check__head(@click="toggleBody")
      span.input-caption {{ title }}
      UgSVG.block-check__icon(
        :svg="'arrow-little'"
        :class="{'open': bodyIsVisible}"
      )
    .block-check__body
      UgCheckbox(
        v-for="(item, index) in options"
        :key="index"
        :option="item"
        :isChecked="Boolean(checkOptions.find(x => x === item.id))"
        @check="addValue($event)"
        @uncheck="removeValue($event)"
      )
</template>

<script>
import UgCheckbox from '~/components/ui/UgCheckbox/UgCheckbox'
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgBlockCheckbox',

  components: {
    UgCheckbox,
    UgSVG
  },

  props: {
    title: {
      type: String,
      default () {
        return ''
      }
    },

    options: {
      type: Array,
      default () {
        return []
      }
    },

    checkOptions: {
      type: Array,
      default () {
        return []
      }
    }
  },

  data () {
    return {
      bodyIsVisible: false
    }
  },

  computed: {
    values () {
      return []
    }
  },

  methods: {
    addValue (id) {
      this.values.push(id)
      this.$emit('changeValues', this.values)
    },

    removeValue (id) {
      const pos = this.values.findIndex(item => item === id)
      this.values.splice(pos, 1)
      this.$emit('changeValues', this.values)
    },

    toggleBody () {
      this.bodyIsVisible = !this.bodyIsVisible

      const OPEN_LIST = this.$refs.blockCheck
      const HEAD = OPEN_LIST.querySelector('.block-check__head')
      const BODY = OPEN_LIST.querySelector('.block-check__body')

      let headHeight = Number.parseFloat(getComputedStyle(HEAD).height)
      let bodyHeight = Number.parseFloat(getComputedStyle(BODY).height)

      window.addEventListener('resize', () => {
        headHeight = Number.parseFloat(getComputedStyle(HEAD).height)
        bodyHeight = Number.parseFloat(getComputedStyle(BODY).height)
      })

      if (OPEN_LIST.classList.contains('open')) {
        OPEN_LIST.style.height = `${headHeight}px`
      } else {
        OPEN_LIST.style.height = `${headHeight + bodyHeight}px`
      }
    }
  }
}
</script>

<style lang="scss">
  @media screen and (min-width: 320px) {
    .block-check {
      --height: 3rem;

      width: 100%;
      height: var(--height);
      background-color: $bg;
      border: 1px solid $border;
      overflow: hidden;
      transition: $t-04-eio;
    }

    .block-check__head {
      position: relative;
      display: flex;
      align-items: center;
      width: inherit;
      height: rem(48);
      padding: 0 rem(48) 0 $gap-r-xs;
      box-sizing: border-box;
      cursor: pointer;
    }

    .block-check__icon {
      position: absolute;
      top: 50%;
      right: $gap-r-xs;
      transform: translateY(-50%) rotate(90deg);
      width: rem(16);
      height: rem(16);
      fill: $icon-default;
      pointer-events: none;
      transition: $t-04-eio;
    }

    .block-check__icon.open {
      transform: translateY(-50%) rotate(270deg);
    }

    .block-check__body {
      display: flex;
      flex-direction: column;
      gap: $gap-r-s;
      padding: $gap-r-xxs $gap-r-xs $gap-r-xs;
      box-sizing: border-box;
    }
  }

  @media screen and (min-width: 1280px) {
    .block-check {
      --height: 48px;
    }

    .block-check__head {
      height: 48px;
      padding: 0 48px 0 $gap-xs;
    }

    .block-check__icon {
      right: $gap-xs;
      width: 16px;
      height: 16px;
    }

    .block-check__head:hover .block-check__icon {
      fill: $icon-hover;
    }

    .block-check__body {
      gap: $gap-s;
      padding: $gap-xxs $gap-xs $gap-xs;
    }
  }
</style>
