<template lang="pug">
div.offer__furniture
  //div.furniture
    div.furniture__header.h3 Мебель и удобства
    div(v-for="set in furniture").furniture__set
      div.furniture__title {{set.title}}
      div.furniture__items
        div(v-for="item in set.items").furniture__item
          div.furniture__item-icon
            img(:src="require(`~/assets/images/icons/icon-${item.icon}.svg`)").furniture__item-icon-file
          div.furniture__item-name {{item.name}}
</template>

<script>
export default {
  props: ['furniture']
}
</script>

<style lang="css" scoped></style>
