<template lang="pug">
  .reviews
    .reviews__field
      UgInput(
        :type="'text'"
        :placeholder="'Чтобы оставить отзыв, авторизуйтесь'"
        disabled
      )
      UgSquareBtn.primary(
        :icon="'plane'"
        disabled
      )
    .reviews__state
      .reviews__radiogroup
        UgRbutton(
          :name="'reviews'"
          :option="{value: 'Все', isChecked: true}"
        )
        UgRbutton(
          :name="'reviews'"
          :option="{value: 'Хорошие'}"
        )
        UgRbutton(
          :name="'reviews'"
          :option="{value: 'Плохие'}"
        )
      .reviews__rating
        span.caption= "Рейтинг сервиса"
        UgStars(:value="4")
    .reviews__listing
      UgReview(
        v-for="(item, index) in reviews"
        :itemData="item"
        :key="index"
      )
    UgMore
</template>

<script>
import UgInput from '~/components/ui/UgInput/UgInput'
import UgSquareBtn from '~/components/ui/UgSquareBtn/UgSquareBtn'
import UgReview from '~/components/ui/UgReview/UgReview'
import UgMore from '~/components/ui/UgMore/UgMore'
import UgStars from '~/components/ui/UgStars/UgStars'
import UgRbutton from '~/components/ui/UgRbutton/UgRbutton'

export default {
  name: 'UgReviews',

  components: {
    UgInput,
    UgSquareBtn,
    UgReview,
    UgMore,
    UgStars,
    UgRbutton
  },

  props: {
    reviews: {
      type: Array,
      default () {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .reviews {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
      align-items: center;
      width: 100%;
    }

    .reviews__state {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
      padding: rem(8) 0;
      justify-content: space-between;
      width: 100%;
    }

    .reviews__radiogroup,
    .reviews__rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .reviews__field {
      display: grid;
      grid-template-columns: auto 3rem;
      width: 100%;
      height: 3rem;
    }

    .reviews__listing {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (min-width: 600px) {
    .reviews__state {
      flex-direction: row;
      padding: rem(16) 0;
      gap: initial;
    }

    .reviews__radiogroup,
    .reviews__rating {
      gap: $gap-r-xs;
    }
  }

  @media screen and (min-width: 1280px) {
    .reviews {
      gap: $gap-xs;
    }

    .reviews__state {
      padding: 16px 0;
    }

    .reviews__radiogroup,
    .reviews__rating {
      gap: $gap-xs;
    }

    .reviews__field {
      grid-template-columns: auto 48px;
      height: 48px;
    }
  }
</style>
