<template lang="pug">
    dropzone(ref="myVueDropzone"
    id="dropzone"
    :options="dropzoneOptions"
      :include-styling="false"
      :useCustomSlot="true"
      @vdropzone-success="uploadSuccess"
      )
      .dropzone-custom-content.dz-clickable
        a.dropzone-custom-title(href="#") Выберите файл
        div или
        img.dropzone-extender__image(src="~assets/images/icons/icon-ellipse.svg")
        .subtitle Перетащите сюда файлы (jpg, jpeg, png) не более 12 штук
</template>

<script>
import Dropzone from 'nuxt-dropzone'
// import 'vue2-dropzone/dist/vue2Dropzone.css'

export default {
  components: { Dropzone },
  props: ['url', 'successHandler'],
  data () {
    return {
      dropzoneOptions: {
        url: this.url,
        thumbnailWidth: 150,
        maxFilesize: 10,
        maxFiles: 12,
        headers: { 'My-Awesome-Header': 'header value' },
        // previewTemplate: this.template(),
        dictDefaultMessage: '',
        clickable: '.dz-clickable, .dropzone',
        acceptedFiles: 'image/*',
        // createImageThumbnails: false, // не показывать превьюхи
        // previewTemplate: '<div style="display:none"></div>',
        // addedfile: function(file) {
        //  console.log(file)
        // },
        previewsContainer: false,

        dictCancelUpload: 'Отменить',
        dictRemoveFile: 'Удалить'
      }
    }
  },
  methods: {
    uploadSuccess (a, b) {
      console.log('upload success', a, b)
      this.successHandler(a, b)
    }
    // template: function() {
    //   return `
    //           <div class="dz-preview dz-file-preview">
    //             <div class="dz-image">
    //                 <div data-dz-thumbnail-bg></div>
    //             </div>
    //             <div class="dz-details">
    //                 <div class="dz-size"><span data-dz-size></span></div>
    //                 <div class="dz-filename"><span data-dz-name></span></div>
    //             </div>
    //             <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    //             <div class="dz-error-message"><span data-dz-errormessage></span></div>
    //             <div class="dz-success-mark"><i class="fa fa-check"></i></div>
    //             <div class="dz-error-mark"><i class="fa fa-close"></i></div>
    //         </div>
    //     `
    // }
  }
}
</script>

<style lang="css">
.dropzone {
  position: relative;
  width: 100%;
  min-height: 204px;
  padding-top: 24px;
  border-style: dashed;
}

.dropzone-custom-content {
  text-align: center;
}

.dropzone-custom-title {
  margin-top: 24px;
  color: #038992;
  font-size: 12px;
  cursor: pointer;
}

.subtitle {
  color: #314b5f;
}

.text-center {
  text-align: center;
}

.dropzone-extender__image {
  margin: 16px auto;
}
</style>
