<template lang="pug">
  .two-col-list
    .two-col-list__item(
      v-for="(item, index) in items"
      v-if="item.value"
      :key='index'
    )
      span.text.two-col-list__caption {{ item.name }}
      span.two-col-list__line
      span.text.two-col-list__txt {{ item.value}}
</template>

<script>
export default {
  name: 'UgTwoColList',

  props: {
    items: {
      type: Array,
      default () {
        return []
      }
    }
  }
}
</script>

<style lang="scss">
  @media screen and (min-width: 320px) {
    .two-col-list {
      display: flex;
      flex-direction: column;
      gap: $gap-r-s;
      width: 100%;
    }

    .two-col-list__item {
      display: flex;
      align-items: flex-end;
    }

    .two-col-list__line {
      flex-grow: 1;
      height: 1px;
      margin: 0 0.5rem;
      background-color: $border;
    }

    .two-col-list__caption,
    .two-col-list__txt {
      white-space: nowrap;
    }
  }

  @media screen and (min-width: 1280px) {
    .two-col-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-flow: dense;
      grid-row-gap: $gap-s;
      grid-column-gap: $gap-m;
    }

    .two-col-list__line {
      margin: 0 8px;
    }
  }
</style>
