.moderation {
  display: flex;
  margin: 0 auto;
  //font-family: "Lato";
  padding-top: 40px;

  &__title {
    display: block;
    float: left;
    color: #000;
    font-size: 24px;
  }

  &__subtitle {
    display: inline;
    color: $clr-black;
    font-size: 16px;
    line-height: 24px;
  }

  .settings-view {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      background-color: #fff;
      border: 1px solid #e4e4e4;
      cursor: pointer;
    }
  }

  &__online {
    display: flex;
    align-items: center;
    float: right;
    margin-top: 3px;
    color: $clr-black;
    font-weight: 500;
    font-size: 12px;
    text-align: right;
  }

  &__checked-button {
    position: relative;
    width: 55px;
    height: 28px;
    margin-left: 4px;
    background: #7fb1b1;
    border-radius: 14px;
    cursor: pointer;

    @include mt(0.2s);

    .circle {
      // cursor: pointer;
      position: absolute;
      top: 4px;
      right: 4px;
      bottom: 4px;
      display: block;
      width: 20px;
      height: 20px;
      background: #fff;
      border-radius: 50%;
      transition: all 0.4s ease;
    }

    &--no-active {
      background-color: rgb(179, 175, 175);

      .circle {
        right: 31px;
      }
    }
  }

  &__no-moderator {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    padding-bottom: 16px;
    border-bottom: 1px solid #f8f8f8;

    p {
      padding-top: 3px;
      padding-right: 30px;
      color: #038992;
      font-size: 12px;
      text-align: right;
      //font-family: "Lato";
      cursor: pointer;
      text-decoration-line: underline;
    }

    .quest {
      position: absolute;
      top: 5px;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      color: #fff;
      font-size: 14px;
      background: #c4c4c4;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &__tabs {
    margin-top: 40px;

    &-big {
      z-index: 3;
      display: inline-block;
      float: left;
      margin: 0;
      margin-left: -1px;
      padding: 12px 20px;
      color: #878787;
      font-size: 14px;
      text-align: center;
      border: 1px solid #bcbcbc;
      border-left: 1px solid $clr-coral;
      cursor: pointer;

      &--active {
        z-index: 1;
        margin-left: 0;
        color: $clr-coral;
        border: 1px solid $clr-coral;
      }
    }

    &-mini {
      display: inline-block;
      float: right;
      margin: 0 2px;
      padding: 3px 10px;
      color: $clr-black;
      font-size: 11px;
      text-align: center;
      background: #fff;
      border: 1px solid #e4e4e4;
      border-radius: 12px;
      cursor: pointer;

      &--active {
        border: 1px solid #7fb1b1;
      }
    }
  }

  .page-view {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;

    &__info {
      display: flex;
    }

    &__tickets {
      margin-right: 16px;
      color: #878787;
      font-size: 14px;
    }
  }

  .declaration-box__aside {
    float: right;
  }

  &__stub {
    margin: 70px 0 30px;
    text-align: center;

    &-title {
      font-weight: 600;
      font-size: 22px;
    }

    &-img {
      display: flex;
      justify-content: center;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
  }

  &__card {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__sentence {
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0 auto;
  }

  &__help-call {
    display: flex;
    align-items: center;
    font-weight: $fw-bold;
    cursor: pointer;

    @include mt(0.2s);

    &:hover {
      color: $clr-robins-egg-blue;
    }

    &-img {
      width: 56px;
      height: 56px;
      margin-right: 12px;

      @include mt(0.2s);
    }
  }

  &__offer-btns {
    display: flex;
  }
}
