.head-info-labels {
  display: flex;
  color: $clr-primary;
  font-size: $fs-medium;

  &__item {
    position: relative;
    margin-right: 32px;
    padding-left: 24px;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      @include pseudo;

      left: 0;
    }

    &._time {
      &::before {
        width: 16px;
        height: 16px;
        background-image: url('~assets/images/icons/icon-time.svg');
      }
    }

    &._date {
      &::before {
        width: 16px;
        height: 10px;
        background-image: url('~assets/images/icons/icon-eye.svg');
      }
    }
  }
}
