.places-info {
  $places-info: &;

  &__place-icon {
    margin-right: 10px;
  }

  &__place-item,
  &__place-items {
    display: flex;
    align-items: center;
  }

  &__place-items {
    margin-top: 15px;
  }

  &__place-item {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }

    &._city {
      margin-right: 0;

      #{$places-info} {
        &__place-text {
          margin: 0;
          padding: 0;

          &::before {
            display: none;
          }
        }
      }
    }
  }

  &__place-text {
    position: relative;
    margin-right: 5px;
    padding-left: 10px;

    &::before {
      @include pseudo;

      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    &._blue {
      &::before {
        background-color: #2780e9;
      }
    }

    &._purple {
      &::before {
        background-color: #6633a8;
      }
    }
  }

  &__place-desc {
    color: #cdcdcd;
  }
}
