<template lang="pug">
  button.square-btn(
    :class="{'active': active}"
  )
    UgSVG.square-btn__icon(:svg="icon")
</template>

<script>
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgSquareBtn',

  components: {
    UgSVG
  },

  props: {
    active: {
      type: Boolean,
      default () {
        return true
      }
    },

    icon: {
      type: String,
      default () {
        return ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .square-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(48);
      height: rem(48);
      padding: 0;
      border: 1px solid transparent;
      cursor: pointer;
      transition: $t-04-eio;
    }

    .square-btn__icon {
      width: 1rem;
      height: 1rem;
      transition: $t-04-eio;
    }

    .square-btn:disabled {
      pointer-events: none;
    }

    // Primary
    .square-btn.primary {
      background-color: $primary-color;
      border-color: $primary-color;
    }

    .square-btn.primary .square-btn__icon {
      fill: $g-100;
    }

    .square-btn.primary.active {
      border-color: $primary-color;
    }

    .square-btn.primary:disabled {
      opacity: 0.3;
    }

    // Secondary
    .square-btn.secondary {
      background-color: $g-100;
      border-color: $border;
    }

    .square-btn.secondary .square-btn__icon {
      fill: $primary-color;
    }

    .square-btn.secondary.active {
      border-color: $primary-color-dark;
    }

    .square-btn.secondary.active .square-btn__icon {
      fill: $primary-color-dark;
    }

    .square-btn.secondary:disabled {
      opacity: 0.7;
    }
  }

  @media screen and (min-width: 600px) {

  }

  @media screen and (min-width: 1280px) {
    .square-btn {
      width: 48px;
      height: 48px;
    }

    .square-btn.primary:hover {
      border-color: $primary-color;
    }

    .square-btn.secondary:hover {
      border-color: $primary-color;
    }

    .square-btn__icon {
      width: 16px;
      height: 16px;
    }

    .square-btn.secondary:hover .square-btn__icon {
      fill: $primary-color;
    }
  }
</style>
