.inline-setting {
  $inline-setting: &;
  $button-indent: 24px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &._start {
    align-items: flex-start;
  }

  &__label {
    width: 200px;
    min-width: 200px;
    min-height: 32px;
    padding-right: 20px;
    color: $clr-dove-gray;
    font-size: $fs-medium;

    &._error {
      color: $clr-radical-red;
    }
  }

  &__error-notify {
    display: block;
    padding-top: 8px;
    color: $clr-radical-red;
  }

  &__body {
    min-width: 250px;
  }

  &__item {
    flex: 1;
  }

  &__item-block {
    position: relative;
    margin-left: -1px !important;

    &._full {
      width: 100%;
    }

    &._group {
      display: flex;
      flex-wrap: wrap;
      width: auto;
    }

    &._some-line {
      margin-bottom: -$button-indent;
    }

    &._group-input {
      position: relative;
      height: 56px;
      border: 1px solid $clr-silver;

      &::after {
        width: 1px;
        height: 10px;
        background: $clr-silver;
        content: '';

        @include center(both);
      }
    }

    &._ico-group {
      display: grid;
      grid-auto-flow: unset;
      grid-row-gap: 30px;
      grid-column-gap: 30px;
      grid-template-columns: repeat(4, 1fr);

      #{$inline-setting} {
        &__button {
          height: 56px;
        }
      }
    }

    &._inline {
      display: flex;
      align-items: center;
    }
  }

  &__separate {
    margin-right: 20px;
    margin-left: 20px;
  }

  &__tooltip {
    width: 100%;
    margin-top: 0.5em;
    text-align: center;

    &._error {
      color: $clr-radical-red;
    }
  }

  &__input {
    width: 100%;
    height: $height-form-element;
    padding: 0 15px;
    color: $clr-dove-gray;
    border: 1px solid $clr-silver;

    &._currency {
      padding-right: 20px;
    }

    &._small {
      width: 120px;
    }

    &._group {
      width: auto;
      height: $height-form-element - 2px;
      border: none;
    }

    &._full {
      width: 100%;
    }

    &._small-height {
      height: 40px;
    }
  }

  &__currency {
    position: absolute;
    right: 15px;
    font-size: $fs-medium;
    content: '';

    @include center(vertical);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 115px;
    height: 40px;
    color: $clr-dove-gray;
    border: 1px solid $clr-silver;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &._padding {
      padding: 0 20px;
    }

    &:hover {
      color: $clr-coral;
    }

    & + #{$inline-setting}__button {
      margin-left: -1px;
    }

    &._active {
      position: relative;
      z-index: 1;
      color: $clr-coral;
      border-color: $clr-coral;
    }

    &._small {
      min-width: 65px;
      padding: 0 20px;
    }

    &._separate {
      min-width: initial;
      height: 32px;
      margin-right: $button-indent;
      margin-bottom: $button-indent;
      border-radius: 4px;

      &:last-child {
        margin-right: 0;
      }
    }

    &._with-ico {
      display: flex;
      justify-content: space-between;
    }

    &-input {
      width: 130px;
      height: 100%;
      padding: 0 15px;
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: 14px 16px;
    border: 1px solid $clr-silver;
    resize: none;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &__select {
    width: 300px;
    height: $height-form-element;
    padding: 0 15px;
    color: $clr-dove-gray;
    border: 1px solid $clr-silver;

    &:focus,
    &:active {
      outline: none;
    }
  }

  // &__ico {

  // }
  .radio-input {
    & + .radio-input .radio-input__box {
      margin-left: -1px;
    }

    .radio-input {
      & + .radio-input .radio-input__box {
        margin-left: -1px;
      }

      input {
        display: none;

        &._active + .radio-input__box {
          position: relative;
          z-index: 1;
          color: $clr-coral;
          border-color: $clr-coral;
        }
      }

      &__box {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 115px;
        height: 40px;
        padding: 0 15px;
        color: $clr-dove-gray;
        border: 1px solid $clr-silver;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: $clr-coral;
        }
      }
    }
  }
}
