.location-form {
  &__city {
    position: absolute;
    top: 12px;
    left: 32px;
    display: flex;
    cursor: pointer;

    &-name {
      margin-left: 8px;
      color: $clr-blue-lagoon;
      line-height: 1.2;
      border-bottom: 1px solid $clr-blue-lagoon;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__type {
    display: flex;
    margin-right: 50px;
  }

  &__user-choice {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
  }

  &__choice-item {
    display: flex;
    flex-grow: 0;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 6px;
    padding: 4px;
    font-size: 12px;
    border: 1px solid #c0c0c0;
    border-radius: 25px;

    &:last-child {
      margin: 0;
    }

    &._selected {
      .location-form__district-abbr {
        color: #fff;
        background-color: #fc8c4f;
      }
    }

    &-branch-abbr {
      width: 6px;
      height: 6px;
      margin-right: 10px;
      margin-left: 6px;
      background-color: #ce1c19;
      border-radius: 50%;
    }

    .area-list__abbr {
      margin-right: 8px;
    }

    &-control {
      position: relative;
      width: 12px;
      height: 12px;
      margin-right: 4px;
      margin-left: 8px;
      cursor: pointer;

      &:hover {
        &::after,
        &::before {
          background-color: darken(#818181, 10%);
        }
      }

      &::after,
      &::before {
        position: absolute;
        top: 50%;
        width: 12px;
        height: 1px;
        background-color: #818181;
        content: "";
      }

      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }
  }

  &__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  &__district-abbr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 24px;
    color: $clr-primary;
    font-size: 14px;
    background-color: #fedca1;
    border-radius: 25px;
  }

  &__time {
    margin-top: 30px;
  }

  &__accept-btn {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__title {
    margin-bottom: 12px;
    color: $clr-primary-light;
    text-transform: uppercase;
  }
}

.area-list {
  width: 100%;

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 380px;
    margin-bottom: 8px;
    padding: 6px 12px;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $clr-primary-lightest;
    }

    &._active {
      background-color: #f4f4f4;

      &:hover,
      &:focus {
        color: $clr-primary;
      }
    }

    &._selected {
      .location-form__district-abbr {
        color: #fff;
        background-color: #fc8c4f;
      }

      .area-list__branch-index::after {
        position: absolute;
        top: -4px;
        width: 22px;
        height: 22px;
        border: 2px solid $clr-coral;
        border-radius: 50%;
        content: "";
      }
    }
  }

  &__abbr {
    margin-right: 10px;
  }

  &__branch-index {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 12px;
    background-color: #ce1b19;
    border-radius: 50%;
  }
}

.entity-list {
  &__select-all-btn {
    display: inline-block;
    margin: 0 8px 6px 8px;
    color: $clr-blue-lagoon;
    line-height: 1.2;
    border-bottom: 1px solid $clr-blue-lagoon;
    cursor: pointer;
  }

  &__item {
    min-width: 160px;
    margin-bottom: 2px;
    padding: 2px 8px;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }

    &:hover,
    &:focus {
      color: $clr-primary-lightest;
    }

    &._active {
      background-color: #feeecf;

      &:hover,
      &:focus {
        color: $clr-primary;
      }
    }
  }
}
