.tooltip-input {
  position: relative;
  margin-left: -1px;
  cursor: pointer;

  &__content {
    position: absolute;
    top: 105%;
    display: none;
    width: 263.5px;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid #bbbcbd;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.14);
    cursor: default;

    &._opened {
      z-index: 999;
      display: block;
      background-color: #fff;
    }
  }

  &__checkbox-title {
    font-size: 13px;
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: normal;
    height: 100px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-bottom: 6px;
    cursor: pointer;

    &._active .tooltip-input__checkbox-box::after {
      width: 8px;
      height: 8px;
    }
  }

  &__checkbox-box {
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    background-color: #fff;
    border: 1px solid #bcbdbe;

    &::after {
      position: absolute;
      top: 3px;
      left: 3px;
      width: 0;
      height: 0;
      background-color: #fc8d52;
      content: '';

      @include mt(0.1s);
    }
  }

  &__radios {
    display: flex;
    flex-wrap: nowrap;
  }

  &__radio {
    width: 100%;
  }

  .inline-setting {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &__button {
      min-width: auto;
      padding: 0 14.5px;
      // flex: 1;
    }
  }
}
