<template lang="pug">
dropdown(:label="areaLabel" @toggle="handleToggle")
  ug-input(
    placeholder="Метро, ветка"
    :focus="areaInputFocus"
    v-model="areaValue"
    fullwidth
    )
  .area-settings
    .area-setting(v-for="v in editValues") {{ v.title }}
      .setting-close(@click="removeArea(v)") x
  .suggestions
    .suggestion(
      v-for="s in suggestions"
      @click="selectArea(s)"
    ) {{ s.title }}
</template>

<script>
import Dropdown from '~/components/domain/offers/form/dropdown'
import UgInput from '~/components/ui/UgInput'

export default {
  components: {
    Dropdown,
    UgInput
  },
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    value: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      // editValues: this.value ? [...this.value] : [],
      areaInputFocus: false,
      areaValue: '',
      suggestions: []
    }
  },
  computed: {
    editValues: {
      get () {
        return this.value ?? []
      },
      set (v) {
        this.$emit('update', v)
      }
    },
    areaLabel () {
      if (this.value && this.value.length > 0) {
        const maxLen = 40
        const result = this.value.map(x => x.title).join(', ')
        if (result.length > maxLen) {
          return result.slice(0, Math.max(0, maxLen)) + '...'
        }
        return result
      }
      return 'Метро, ветка'
    }
  },
  watch: {
    areaValue (v) {
      this.search(v)
    }
    // editValues: {
    //   deep: true,
    //   handler (v) {
    //     this.$emit('update', v)
    //   }
    // }
  },
  methods: {
    handleToggle (v) {
      if (v) {
        const self = this
        this.$nextTick().then(() => {
          self.areaInputFocus = true
        })
      } else {
        this.areaInputFocus = false
      }
    },
    selectArea (v) {
      try {
        if (this.editValues.find(x => x.title === v.title)) {
          return
        }
        this.editValues.push(v)
        this.areaValue = ''
        this.suggestions = []
        const self = this
        // хак для фокуса курсора
        this.$nextTick().then(() => {
          self.areaInputFocus = true
          self.$nextTick().then(() => {
            self.areaInputFocus = false
          })
        })
      } catch (err) {
        console.error(err)
      }
    },
    removeArea (v) {
      try {
        if (!this.editValues.find(x => x.title === v.title)) {
          return
        }
        this.editValues = this.editValues.filter(x => x.title !== v.title)
      } catch (err) {
        console.error(err)
      }
    },
    async  search (q) {
      if (!q) {
        return
      }
      const { result } = await this.$api('geo.search', { q, cityId: this.$store.state.localStorage.city })
      this.suggestions = result
    }
  }
}
</script>

<style lang="scss" scoped>
.area-settings {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;

  .area-setting {
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px;
    background-color: #eee;
    border-radius: 4px;

    .setting-close {
      display: inline-block;
      margin-left: 8px;
      padding: 4px 8px;
      text-align: center;
      background-color: #dedede;
      cursor: pointer;
    }
  }
}

.suggestions {
  margin-top: 16px;
}

.suggestion {
  padding: 8px 8px;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}
</style>
