<template lang="pug">
  div.counter
    div(@click="this.minus").counter__button
      img(src="~assets/images/icons/icon-counter-minus.svg").counter__button-icon
    input(type="text", :value="this.defaultInputValue" maxlength="2").counter__value
    div(@click="this.plus").counter__button
      img(src="~assets/images/icons/icon-counter-plus.svg").counter__button-icon
</template>

<script>
export default {
  data () {
    return {
      defaultInputValue: 0
    }
  },
  methods: {
    plus () {
      this.defaultInputValue++
    },
    minus () {
      if (this.defaultInputValue > 0) {
        this.defaultInputValue--
      }
    }
  }
}
</script>
