<template lang="pug">
  .offer-card
    nuxt-link.offer-card__gallery(
      :to="isVk?`/offers/vk/${offer.id}`:`/offers/${offer.id}`"
      target="_blank"
      ref="gallery"
    )
      img.offer-card__gallery-item(
        :src='item.url'
        v-for='(item, index) in offer.images'
        :key='index'
        :class='{ "offer-card__gallery-item_active": index === activeImg }'
      )
      .offer-card__gallery-pag(v-if='offer.images && offer.images.length > 1')
        .offer-card__gallery-pag-item(
          v-for='(item, index) in offer.images'
          :key='index'
          :class='{ "offer-card__gallery-pag-item_active": index === activeImg }'
        )
      .offer-card__gallery-fields
        .offer-card__gallery-field(
          v-for='(item, index) in offer.images'
          :key='index'
          @mouseenter='setActiveImg(index)'
        )
    .offer-card__info
      .offer-card__state-panel
        .offer-card__values
          UgSVG.offer-card__icon(:svg="'clock'")
          span.caption {{ formatRelative(offer.publishedAt) }}
        .offer-card__values
          UgSVG.offer-card__icon(:svg="'eye'")
          span.caption {{ offer.views ? offer.views : '0' }}
      .offer-card__desc
        nuxt-link.offer-card__ttl(
          :to="isVk?`/offers/vk/${offer.id}`:`/offers/${offer.id}`"
          target="_blank"
        )
          h2.ttl.ttl_3 {{ offer.title }}
        p.offer-card__paragraph.paragraph {{ formatDesc }}
      .offer-card__footer
        .offer-card__metro-wrap
          .offer-card__metro(
            v-for='(item, index) in offer.metroStations'
            :key='index'
          )
            UgSVG(
              width='16'
              height='16'
              :svg="'metro'"
              :color="item.color"
            )
            .caption {{ item.title }}
        .offer-card__offer
          .ttl.ttl_3(v-if="offer.price") `{{ toCurrencyString(offer.price) }} / месяц`
          div(v-else) &nbsp;
          UgSquareBtn.secondary(
            :active="isFave"
            :icon="isFave?'like-filled':'like'"
            @click.native="toggleFavourite"
          )
</template>

<script>
import Hammer from 'hammerjs'

import UgSquareBtn from '~/components/ui/UgSquareBtn/UgSquareBtn'
import UgSVG from '~/components/common/UgSVG/UgSVG'

import formatDate from '~/utils/FormatDate'

export default {
  name: 'UgOfferCard',

  components: {
    UgSquareBtn,
    UgSVG
  },

  props: {
    offer: {
      type: Object,
      default () {
        return {}
      }
    },

    index: {
      type: Number,
      default () {
        return null
      }
    },

    isVk: {
      type: Boolean,
      default () {
        return false
      }
    }
  },

  data () {
    // Note - это заметки к объявлению
    const note = this.$store.state.localStorage.notes.find(
      x => x.offerId === this.offer.id
    )

    return {
      note: note ? note.text : null,
      activeImg: 0
    }
  },

  computed: {
    isFave () {
      return this.$store.state.localStorage.faveList.some(x => x === this.offer.id)
    },

    formatDesc () {
      if (this.offer.comment.length >= 140) {
        return `${this.offer.comment.slice(0, 140)}...`
      } else {
        return this.offer.comment
      }
    },

    length () {
      return this.offer.images.length - 1
    }
  },

  watch: {
    note (val) {
      this.$store.commit('localStorage/setNote', {
        offerId: this.offer.id,
        text: val
      })
    }
  },

  mounted () {
    const recognizer = new Hammer(this.$refs.gallery.$el, {
      recognizers: [
        [Hammer.Swipe, { direction: Hammer.DIRECTION_HORIZONTAL }]
      ]
    })

    recognizer.on('swipe', event => {
      if (event.offsetDirection === 2) {
        this.nextImg()
      }
      if (event.offsetDirection === 4) {
        this.prevImg()
      }
    })
  },

  methods: {
    setActiveImg (index) {
      this.activeImg = index
    },

    prevImg () {
      if (this.activeImg === 0) {
        this.activeImg = this.length
      } else {
        --this.activeImg
      }
    },

    nextImg () {
      if (this.activeImg === this.length) {
        this.activeImg = 0
      } else {
        ++this.activeImg
      }
    },

    formatRelative () {
      return formatDate(this.offer.publishedAt)
    },

    toCurrencyString (number) {
      return number
        .toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })
        .replace(',00', '')
    },

    toggleFavourite () {
      this.$store.commit('localStorage/toggleFave', this.offer.id)
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .offer-card {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
      width: 100%;
    }

    .offer-card__gallery {
      position: relative;
      overflow: hidden;
    }

    .offer-card__gallery::after {
      content: '';
      display: block;
      padding-top: 62.5%;
    }

    .offer-card__gallery-item {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: rem(4);
      object-fit: cover;
      z-index: -1;
      visibility: hidden;
      opacity: 0;

      background-color: rgb(196, 196, 196);
    }

    .offer-card__gallery-item_active {
      z-index: 0;
      visibility: visible;
      opacity: 1;
    }

    .offer-card__gallery-pag {
      position: absolute;
      bottom: rem(8);
      left: 50%;
      z-index: 10;
      display: flex;
      gap: $gap-r-xxs;
      align-items: flex-end;
      max-width: calc(100% - 1rem);
      transform: translate(-50%, 0);
    }

    .offer-card__gallery-pag-item {
      position: relative;
      flex: 0 1 auto;
      width: rem(64);
      height: 0.25rem;
      overflow: hidden;
      background-color: #fff;
      border: 0.125rem solid $g-100;
      border-radius: 0.25rem;
      cursor: pointer;
      opacity: 0.6;
    }

    .offer-card__gallery-pag-item_active {
      border: 0.125rem solid $g-100;
      opacity: 1;
    }

    .offer-card__gallery-fields {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      z-index: 20;
    }

    .offer-card__gallery-field {
      flex: 1 0 auto;
      height: 100%;
    }

    .offer-card__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $gap-r-xs;
    }

    .offer-card__state-panel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .offer-card__icon {
      width: rem(16);
      height: rem(16);
      transition: $t-04-eio;
      fill: $icon-default;
    }

    .offer-card__values {
      display: flex;
      gap: $gap-r-xxs;
      align-items: center;
      color: $text;
    }

    .offer-card__desc {
      display: flex;
      flex-direction: column;
    }

    .offer-card__ttl {
      width: fit-content;
      text-decoration: none;
    }

    .offer-card__paragraph {
      display: none;
    }

    .offer-card__footer {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xxs;
    }

    .offer-card__metro-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      grid-row-gap: $gap-r-xxs;
      grid-column-gap: $gap-r-s;
    }

    .offer-card__metro {
      display: flex;
      gap: $gap-r-xxs;
      align-items: center;
    }

    .offer-card__metro > svg {
      width: rem(16);
      height: rem(16);
    }

    .offer-card__offer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  @media screen and (min-width: 600px) {
    .offer-card {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-column-gap: $gap-r-m;
      width: 100%;
    }

    .offer-card__icon {
      width: rem(16);
      height: rem(16);
    }

    .offer-card__gallery-pag {
      bottom: rem(16);
      max-width: calc(100% - 2rem);
    }

    .offer-card__gallery {
      grid-column: 1/5;
    }

    .offer-card__gallery::after {
      padding-top: 100%;
    }

    .offer-card__state-panel {
      padding: rem(8) 0 0;
    }

    .offer-card__desc {
      gap: $gap-r-xxs;
    }

    .offer-card__info {
      grid-column: 5/-1;
    }

    .offer-card__paragraph {
      display: initial;
    }
  }

  @media screen and (min-width: 1280px) {
    .offer-card {
      grid-template-columns: repeat(9, 1fr);
      grid-column-gap: $gap-m;
      opacity: 0.85;
      transition: $t-04-eio;
    }

    .offer-card:hover {
      opacity: 1;
    }

    .offer-card__gallery-item {
      border-radius: 4px;
    }

    .offer-card__gallery-pag {
      bottom: 16px;
      gap: $gap-xxs;
      max-width: calc(100% - 32px);
    }

    .offer-card__gallery {
      grid-column: 1/4;
    }

    .offer-card__gallery-pag-item {
      width: 64px;
      height: 4px;
      border: 2px solid $g-100;
      border-radius: 4px;
    }

    .offer-card__gallery-pag-item_active {
      border: 2px solid $g-100;
    }

    .offer-card__info {
      grid-column: 4/-1;
    }

    .offer-card__state-panel {
      padding: 8px 0 0;
    }

    .offer-card__icon {
      width: 16px;
      height: 16px;
    }

    .offer-card__values {
      gap: $gap-xxs;
    }

    .offer-card__desc {
      gap: $gap-xxs;
    }

    .offer-card__footer {
      gap: $gap-xxs;
    }

    .offer-card__metro-wrap {
      grid-row-gap: $gap-xxs;
      grid-column-gap: $gap-s;
    }

    .offer-card__metro {
      gap: $gap-xxs;
    }

    .offer-card__metro > svg {
      width: 16px;
      height: 16px;
    }
  }
</style>
