<template lang="pug">
  div.announcement-wrapper
    div(
      v-for="(item, index) in announcementType",
      class="announcement-wrapper__item"

    )
      div.announcement-element(@click=" $emit('chooseSubject', item.id) ")
        img(src="~assets/images/icons/icon-add-new.svg", class="announcement-element__ico-plus")
        div.announcement-element__title {{ item.title }}
        img(src="~assets/images/content/announcement/announcement-ico.png", class="announcement-element__sub-ico")
</template>

<script>
export default {
  data () {
    return {
      declaratinSubtitle: 'Стоимость размещения объявления: 125 гнездокоинов',
      announcementType: [
        {
          id: 1,
          title: 'Ищу гнёздышко'
        },
        {
          id: 2,
          title: 'Ищу гнездоискателя'
        },
        {
          id: 3,
          title: 'Ищу гнездососеда'
        }
      ]
    }
  }
}
</script>
