<template lang='pug'>
  .stars
    UgSVG.star(
      v-for="(item, index) of 5"
      :svg="'star'"
      :class="{active: index < value}"
      :key="index"
    )
</template>

<script>
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgStars',

  components: {
    UgSVG
  },

  props: {
    value: {
      type: Number,
      default () {
        return null
      }
    }
  }
}
</script>

<style lang='scss' scoped>
  @media screen and (min-width: 320px) {
    .stars {
      display: flex;
      gap: $gap-r-xxs;
    }

    .star {
      width: rem(16);
      height: rem(16);
      fill: transparent;
      stroke: $icon-default;
    }

    .star.active {
      fill: $primary-color;
      stroke: $primary-color;
    }
  }
</style>
