@media screen and (min-width: 320px) {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 5vw;
  }

  body {
    overflow-x: hidden;
    color: $clr-black;
    font: $fs-medium $main-font;
    background-color: $clr-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body.no-scroll {
    height: 100vh;
    overflow: hidden;
  }

  a {
    color: $ug-blue;
    transition: color 0.2s, border 0.2s;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  input {
    margin: 0;
    padding: 0;
    color: $clr-silver;
    font-weight: $fw-regular;
    border: none;
    outline: none;
    box-shadow: none;
  }

  input::placeholder {
    color: $clr-silver;
  }

  .content {
    padding-top: 2em;
  }

  .sitemap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  b {
    font-weight: 600;
  }

  .no-decoration {
    text-decoration: none;
  }

  // svg-border
  .svg-border-wrap {
    position: relative;
  }

  .svg-border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 10;
  }

  .svg-border > rect {
    transition: $t-08-eio;
    fill: transparent;
    stroke: #009aa4;
    stroke-width: 1px;
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%;
  }

  .svg-border-wrap.active .svg-border > rect,
  .svg-border-wrap:hover .svg-border > rect {
    stroke-dashoffset: 0;
  }

  // Vue-анимации
  .slide-left-enter-active,
  .slide-left-leave-active {
    transition: transform $t-04-eio;
  }

  .slide-left-enter,
  .slide-left-leave-to {
    transform: translateX(100%);
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity $t-04-eio;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 2.08vw;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 16px;
  }

  body {
    width: calc(100vw - 17px);
  }
}
