.link {
  color: $clr-black;
  font-weight: $fw-semibold;
  text-decoration: none;
  cursor: pointer;

  &._gray {
    color: #bbb;

    &:hover,
    &:focus {
      color: $clr-primary-light;
    }

    &.is-active {
      color: $clr-primary-lightest;
    }
  }

  &._small {
    font-weight: $fw-regular;
    font-size: $fs-medium;
  }

  &._red {
    color: $clr-amaranth;

    &:hover,
    &:focus {
      color: $clr-radical-red;
    }
  }

  &._decor {
    text-decoration: underline;

    &:hover {
      color: $clr-blue-lagoon;
    }
  }

  &._orange {
    color: #fc9403;

    &:hover {
      color: rgba(#fc9403, 0.7);
    }
  }
}
