@media screen and (min-width: 320px) {
  .page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 3rem;
  }

  .main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .main > div {
    width: 100%;
  }

  .main_100vh {
    align-items: center;
  }

  .main__wrap {
    position: relative;
    max-width: none;
    margin-top: 0;
  }

  .block {
    width: 100%;
    padding: 0 $gap-r-xs;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: $gap-r-xs;
    width: 100%;
  }
}

@media screen and (min-width: 600px) {
  .page {
    padding-top: $gap-r-l;
  }

  .main_100vh {
    padding: 0;
  }

  .block {
    padding: 0 $gap-r-s;
  }

  .grid {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: $gap-r-s;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    padding-top: 0;
  }

  .block {
    width: 1200px;
    padding: 0;
  }

  .grid {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: $gap-m;
  }

  .main > div {
    width: initial;
  }

  .main_100vh {
    padding: 0;
  }
}
