.flex {
  display: flex;

  &--top {
    margin-top: 40px !important;
  }

  &--wrap,
  &-wrap {
    flex-wrap: wrap;
  }

  &--baseline {
    align-items: baseline !important;
  }

  &--no-wrap {
    flex-wrap: nowrap !important;
  }

  &--flex-1 {
    flex: 1;
  }

  &--column {
    flex-direction: column;
  }

  &--flex-end {
    justify-content: flex-end;
  }

  &--around {
    justify-content: space-around !important;
  }

  &--center {
    align-items: center !important;
    justify-content: center;
  }

  &--jc-center {
    justify-content: center !important;
  }

  &--between {
    justify-content: space-between !important;
  }
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: ' ';
}

.clearfix::after {
  clear: both;
}

.sweet-modal.has-content.is-visible.is-alert {
  width: auto;

  .sweet-content {
    text-align: left;
  }
}
