@media screen and (min-width: 320px) {
  .ttl {
    color: $ttl;
    font-weight: $fw-regular;
  }

  .ttl_1 {
    font-size: rem(20);
    line-height: 1.5em;
  }

  .ttl_2 {
    font-size: rem(20);
    line-height: 1.5em;
  }

  .ttl_3 {
    font-size: rem(16);
    line-height: 1.5em;
  }

  .ttl_4 {
    font-size: rem(16);
    line-height: 1em;
  }

  .ttl_5 {
    font-size: rem(16);
    line-height: 1em;
  }

  .paragraph {
    color: $paragraph;
    font-weight: $fw-regular;
    font-size: rem(12);
    line-height: 1.75em;
  }

  .text {
    color: $text;
    font-weight: $fw-regular;
    font-size: rem(12);
    line-height: 1em;
  }

  .disclaimer {
    color: $disclaimer;
    font-weight: $fw-regular;
    font-size: rem(12);
    line-height: 1.75em;
  }

  .disclaimer a {
    text-decoration: none;
  }

  .caption {
    color: $caption;
    font-weight: $fw-regular;
    font-size: rem(12);
    line-height: 1em;
  }

  .link {
    color: $link-default;
    font-weight: $fw-regular;
    font-size: rem(16);
    line-height: 1em;
    text-decoration: none;
    transition: $t-04-eio;
  }

  .link:hover {
    color: $link-hover;
  }

  .link.active {
    color: $link-active;
    pointer-events: none;
  }

  .input-value {
    color: $input-value;
    font-weight: $fw-regular;
    font-size: rem(16);
    line-height: 1em;
  }

  .input-caption {
    color: $caption;
    font-weight: $fw-regular;
    font-size: rem(16);
    line-height: 1em;
  }
}

@media screen and (min-width: 1280px) {
  .ttl_1 {
    font-size: 32px;
  }

  .ttl_2 {
    font-size: 24px;
  }

  .ttl_3 {
    font-size: 20px;
  }

  .ttl_4 {
    font-size: 20px;
  }

  .ttl_5 {
    font-size: 16px;
  }

  .paragraph {
    font-size: 16px;
  }

  .text {
    font-size: 16px;
  }

  .disclaimer {
    font-size: 12px;
  }

  .caption {
    font-size: 12px;
  }

  .link {
    font-size: 16px;
  }

  .input-value {
    font-size: 16px;
  }

  .input-caption {
    font-size: 16px;
  }
}
