<template lang="pug">
  .pass
    input.pass__field.input-value(
      v-bind="$attrs"
      :value="value"
      :type="inputType"
      :placeholder="placeholder"
      v-on="inputListeners"
    )
    .pass__icon-wrap(@click="togglePass")
      UgSVG.pass__icon(
        :class="{'active': inputType === 'text'}"
        :svg="'eye'"
        :alt="'Видимость пароля'"
      )
</template>

<script>
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgPass',

  components: {
    UgSVG
  },

  props: {
    value: {
      type: String,
      default: () => ''
    },

    placeholder: {
      type: String,
      default: () => ''
    }
  },

  data () {
    return {
      inputType: 'password'
    }
  },

  computed: {
    inputListeners () {
      const vm = this

      return Object.assign({}, this.$listeners, {
        input: function (event) {
          vm.$emit('input', event.target.value)
        }
      })
    }
  },

  methods: {
    togglePass () {
      if (this.inputType === 'password') {
        this.inputType = 'text'
      } else {
        this.inputType = 'password'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .pass {
      position: relative;
      width: 100%;
      height: rem(48);
    }

    .pass__field {
      width: inherit;
      height: inherit;
      padding: 0 rem(48) 0 rem(16);
      background-color: $bg;
      border: 1px solid $border;
      box-sizing: border-box;
    }

    .pass__field:disabled {
      background-color: $bg-2;
    }

    .pass__field::placeholder {
      color: $placeholder;
      font-size: rem(16);
      line-height: 1em;
    }

    .pass__icon {
      position: absolute;
      top: 50%;
      right: rem(16);
      transform: translateY(-50%);
      width: rem(16);
      height: rem(16);
      fill: $icon-default;
      transition: $t-04-eio;
      cursor: pointer;
    }

    .pass__icon:hover{
      fill: $icon-default;
    }

    .pass__icon.active {
      fill: $primary-color;
    }
  }

  @media screen and (min-width: 1280px) {
    .pass {
      height: 48px;
    }

    .pass__field {
      padding: 0 rem(48) 0 rem(16);
    }

    .pass__field::placeholder {
      font-size: 16px;
    }

    .pass__icon {
      right: 16px;
      width: 16px;
      height: 16px;
    }
  }
</style>
