<template lang="pug">
span {{ ago }}
</template>

<script>
import plural from '~/utils/plural'

export default {
  props: {
    datetime: {
      type: String,
      default: () => null
    }
  },
  computed: {
    ago () {
      const publishedAt = new Date(this.datetime)
      const now = new Date(Date.now())
      const since = now - publishedAt
      const minute = 60 * 1000
      const hour = 60 * minute
      const hours24 = 24 * hour

      if (since > hours24) {
      // TODO: вынести в функцию padZero
        const day =
        publishedAt.getDate() < 10
          ? `0${publishedAt.getDate()}`
          : publishedAt.getDate()
        const month =
        publishedAt.getMonth() + 1 < 10
          ? `0${publishedAt.getMonth() + 1}`
          : publishedAt.getMonth() + 1
        return `${day}.${month}.${publishedAt.getFullYear()}`
      } else if (since > hour) {
        let start = 'сегодня'
        const minutes =
        publishedAt.getMinutes() < 10
          ? `0${publishedAt.getMinutes()}`
          : publishedAt.getMinutes()
        if (now.getHours() < publishedAt.getHours()) {
          start = 'вчера'
        }
        return `${start} в ${publishedAt.getHours()}:${minutes}`
      } else if (since > minute) {
        const pluralMinutes = plural(
          Math.round(since / 60 / 1000),
          'минуту',
          'минуты',
          'минут'
        )
        return `${Math.round(since / 60 / 1000)} ${pluralMinutes} назад`
      } else {
        return 'только что'
      }
    }
  }
}
</script>
