<template lang="pug">
  a.btn(v-if="link" :href="link" :class="cl")
    slot
  nuxt-link.btn(v-else-if="to" :to="to" @click="$emit('click')"
  :class="cl")
    slot
  button.btn(v-else @click="$emit('click')" :class="cl")
    slot
</template>

<script>
export default {
  props: {
    link: {
      type: String,
      default: () => null
    },
    fullwidth: {
      type: Boolean,
      default: () => false
    },
    to: {
      type: String,
      default: () => null
    },
    dark: {
      type: Boolean,
      default: () => false
    },
    large: {
      type: Boolean,
      default: () => false
    },
    muted: {
      type: Boolean,
      default: () => false
    },
    block: {
      type: Boolean,
      default: () => false
    },
    transparent: {
      type: Boolean,
      default: () => false
    }
  },
  data () {
    return {
      cl: { fullwidth: this.fullwidth, dark: this.dark, light: !this.dark, muted: this.muted, large: this.large, block: this.block, transparent: this.transparent }
    }
  }
}
</script>

<style lang="scss" scoped>
.btn {
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.fullwidth {
  width: 100%;
}

.light {
  color: #fff;
  background-color: $ug-blue;
  border: 1px solid #eee;
}

.dark {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background-color: #161616;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 0 #181818d1;
}

.large {
  padding: 12px 60px;
}

.muted {
  background-color: #aaa;
}

.block {
  display: inline-block;
}

.transparent {
  color: $ug-gray;
  background-color: inherit;
}
</style>
