<template lang="pug">
.button-group-items(:class="{'no-borders':noborders}")
  .button-group-item(v-for="item, i in mapedItems" :key="i" :class="{'button-group-item__active' : item.active,'no-borders': noborders}" @click="onChange(i)")
    .button-group-item-title {{ item.title }}
</template>

<script>
export default {
  model: {
    prop: 'active',
    event: 'update'
  },
  props: {
    items: {
      type: Array
    },
    active: {
      type: [Array, Number],
      default () {
        return []
      }
    },
    multiple: {
      type: Boolean,
      default () {
        return false
      }
    },
    noborders: {
      type: Boolean,
      default () {
        return false
      }
    }
  },

  data () {
    return { editActive: this.active.length === this.items.length ? this.active : new Array(this.items.length).fill(false) }
  },
  computed: {
    mapedItems () {
      if (!this.items || this.items.length === 0) {
        return []
      }
      if (typeof this.items[0] === 'object') {
        return this.items.map((x, i) => ({ ...x, active: Array.isArray(this.editActive) ? this.editActive[i] : x.id === this.editActive }))
      }
      return this.items.map((x, i) => ({ title: x, id: i + 1, active: Array.isArray(this.editActive) ? this.editActive[i] : x.id === this.editActive }))
    }
  },
  methods: {
    onChange (index) {
      if (typeof this.active === 'number') {
        this.editActive = this.mapedItems[index].id
        this.$emit('update', this.editActive)
      } else {
        this.editActive = this.editActive.map((el, i) => {
          if (i === index) {
            return !el
          }
          return this.multiple ? el : false
        })

        this.$emit('update', this.editActive)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.button-group-label {
  margin-bottom: 10px;
  color: #aaa;
}

.button-group-items {
  display: flex;
}

.button-group-item:first-child {
  border-left: 1px solid #bbb;
  border-radius: 4px 0 0 4px;
}

.button-group-item:last-child {
  border-radius: 0 4px 4px 0;
}

.button-group-item {
  display: flex;
  flex: 1;
  padding: 16px 32px;

  // box-shadow: inset 0 0 1px 0px #aaa;
  border-top: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
}

.button-group-item__active {
  color: $ug-white;
  background-color: #fff;
  //box-shadow: inset 0 0 1px 1px $clr-dove-gray;
  background-color: $ug-blue;//$ug-gray-light;
}

.button-group-item-title {
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.no-borders {
  border-radius: 0 !important;
  box-shadow: none;
}

.no-side-borders .button-group-item:first-child {
  border-left: none;
}

.no-side-borders .button-group-item:last-child {
  border-right: none;
}
</style>
