<template lang="pug">
.floating-button
  .floating-button-content(@click="open") !
  .floating-button-tooltip Нашли баг, есть предложение или вопрос? Напишите нам!
  //sweet-modal(ref="fbModal" overlay-theme="dark" class="styled-popup _narrow" v-model="modal")
    .notice Напишите нам что-нибудь. Если вы хотите получить ответ, оставьте свои контакты в сообщении.
    ug-textarea(fullwidth v-model="message")
    btn(text="Отправить" @click="sendFeedback")
</template>

<script>
// import { SweetModal } from 'sweet-modal-vue'

import UgTextarea from '~/components/domain/offers/form/textarea.vue'
import Btn from '~/components/ui/Btn.vue'

export default {
  components: {
    // SweetModal,
    UgTextarea,
    Btn
  },
  data () {
    return {
      modal: false,
      message: ''
    }
  },
  methods: {
    open () {
      this.$refs.fbModal.open()
    },
    async sendFeedback () {
      await this.$api('moderation.feedback', {
        message: this.message
      })
      this.message = ''
      this.$toast.success('Сообщение успешно отправлено!')
      this.$nextTick(() => {
        this.message = ''
      })
      this.$refs.fbModal.close()
    }
  }
}
</script>

<style lang="scss" scoped>
.floating-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  width: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  background-color: #eee;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px #bbb;
  cursor: pointer;
}

.floating-button:hover .floating-button-tooltip {
  display: block;
}

.floating-button-tooltip {
  position: absolute;
  right: 60px;
  bottom: 35px;
  display: none;
  width: 400px;
  padding: 10px 15px;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  background: #eee;
  border-radius: 4px;
  box-shadow: 1px 1px 5px 1px #bbb;
}
</style>
