<template lang="pug">
img(
    :v-observe-visibility="observeVisibilityOptions"
    :src="imageSrc"
    :srcset="srcset"
    :sizes="sizes"
    decoding="async"
    alt=""
    :height="height"
    )
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  inheritAttrs: false,
  props: {
    src: {
      type: String,
      required: true
    },
    srcset: {
      type: String,
      default: () => ''
    },
    sizes: {
      type: String,
      default: () => '100vw'
    },
    lazy: {
      type: Boolean,
      default: true
    },
    height: {
      type: String,
      default: () => ''
    }
  }
})
export default class LazyImage extends Vue {
imageSrc: string | null

 observeVisibilityOptions= {
   once: true,
   callback: this.onView,
   intersection: {
     rootMargin: '100px',
     threshold: 0
   }
 }

 constructor () {
   super()

   this.imageSrc = this.$props.lazy ? '/static/img/transparent.gif' : this.$props.src
 }

 onView (isVisible: boolean) {
   if (!isVisible) return

   this.imageSrc = this.$props.src
 }
}
</script>
