<template lang="pug">
.form
  textarea.textarea(
          ref="textarea"
          placeholder="Введите сообщение..."
          v-model="message"
          @keydown.enter.exact.prevent
          @keyup.enter.exact="send"
          @keydown.enter.shift.exact="newline"
          )
  button.button(@click="send")
    img(src="~assets/images/icons/icon-push.svg")
</template>

<script>
export default {
  data () {
    return {
      message: null
    }
  },
  methods: {
    send () {
      this.$emit('send', this.message)
      this.message = null
    },
    focus () {
      this.$refs.textarea.focus()
    }
  }
}
</script>

<style lang="scss" scoped>
.form {
  display: flex;
  flex: 1;
  padding: 10px 20px 10px 10px;
  box-shadow: inset 0 0 1px 1px #eee;
}

.textarea {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: inset 0 0 1px 1px #eee;
  resize: none;
}

.button {
  margin-left: 10px;
  padding: 0 10px;
  background-color: inherit;
  background-color: #038992;
  border: none;
  border-radius: 4px;
}
</style>
