<template lang="pug">
.modal(v-if="value")
  .modal-header
    .block
      img(@click="close" src="~assets/images/icons/icon-back.svg")
  .modal-body
    slot
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    value: {
      type: Boolean,
      dafault: () => false
    }
  },
  watch: {
    value (v) {
      if (v) {
        document.body.style.overflow = 'hidden'
      } else {
        document.body.style.overflow = ''
      }
    }
  },
  beforeDestroy () {
    document.body.style.overflow = ''
  },
  methods: {
    close () {
      document.body.style.overflow = ''
      this.$emit('update', false)
      window.history.pushState({}, null, this.$route.fullPath)
    }
  }
}
</script>

<style lang="scss" scoped>
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  overflow-x: hidden;
  background-color: #fff;

  &-header {
    padding-top: 16px;
  }

  &-body {
    height: 100%;
    overflow-y: scroll;
  }
}
</style>
