<template lang="pug">
.moderation-card
  .moderation-card-title(v-if="title") {{ title }}
  .moderation-card-body
    slot
  .moderation-card-footer(v-if="to")
    btn(:to="to" block) {{ toMessage }}
</template>

<script>
import Btn from '~/components/ui/Btn'

export default {
  components: {
    Btn
  },
  props: {
    title: {
      type: String,
      default: () => null
    },
    to: {
      type: String,
      default: () => null
    },
    toMessage: {
      type: String,
      default: () => null
    }
  }
}
</script>

<style lang="scss" scoped>
.moderation-card {
  background-color: #e0e0e0;
  border-radius: 4px;

  &-title {
    padding: 16px;
    border-bottom: 1px solid #eee;
  }

  &-body {
    padding: 16px;
  }
}
</style>
