<template lang="pug">
.social-icons
  a.social-icons-item.v(v-if="vk" target="_blank" :href="`https://vk.com/${vk}`")
    img(height="32" :src="require(`~/assets/images/icons/icon-vk.svg`)")
  a.social-icons-item.i(v-if="instagram" target="_blank" :href="`https://instagram.com/${instagram}/`")
    img(height="32" :src="require(`~/assets/images/icons/icon-instagram.svg`)")
  a.social-icons-item.y(v-if="youtube" target="_blank" :href="`https://youtube.com/${youtube}`")
    img(height="32" :src="require(`~/assets/images/icons/icon-youtube.svg`)")
</template>

<script>
export default {
  props: {
    vk: {
      type: String,
      default: () => null
    },
    instagram: {
      type: String,
      default: () => null
    },
    youtube: {
      type: String,
      default: () => null
    }
  }
}
</script>

<style lang="scss" scoped>
.social-icons {
  display: flex;
  justify-content: center;

  &-item {
    margin-right: 8px;
  }
}
</style>
