<template lang="pug">
.glide(
  ref="carousel"
  v-observe-visibility="observeVisibilityOptions"
  @hover="preload = true"
  )
  .glide__track(data-glide-el="track")
    .glide__slides
      .glide__slide(v-for="image,i in images" :key="i")
        lazy-image.slider-image(
          :src="getUrl(image.url)"
          draggable="false"
          :class="{'cover': cover}"
          :lazy="i !== 0 || glide && glide.index == i+1 && preload"
          :srcset="computeSrceset(image.attrSrcset, false, image.url, image.previewURL)"
          :sizes="computeSizes(image.attrSizes, false)"
          :height="imageHeight"
          :blurhash="image.blurhash"
        )
  .arrows(v-if="arrows && images && images.length > 1" data-glide-el="controls")
    button.arrow.arrow--left(data-glide-dir="<") <
    button.arrow.arrow--right(data-glide-dir=">") >
</template>

<script>
// import Glide, { Swipe } from '@glidejs/glide/dist/glide.modular.esm'
import Glide, { Controls, Swipe } from '@glidejs/glide/dist/glide.modular.esm'

import LazyImage from '~/components/ui/LazyImage.vue'

import '@glidejs/glide/dist/css/glide.core.min.css'

export default {
  components: {
    Controls,
    LazyImage
  },
  props: {
    images: {
      type: Array,
      default: () => []
    },
    arrows: {
      type: Boolean,
      default: () => false
    },
    cover: {
      type: Boolean,
      default: () => false
    },
    imageHeight: {
      type: String,
      default: () => ''
    }
  },
  data () {
    return {
      glide: null,
      preload: false,
      observeVisibilityOptions: {
        once: true,
        callback: this.initGlide,
        intersection: {
          rootMargin: '100px',
          threshold: 0
        }
      }
    }
  },
  beforeDestroy () {
    if (this.glide) {
      this.glide.destroy()
    }
  },
  methods: {
    getUrl (uri) {
      if (typeof uri === 'object') {
        uri = uri.url
      }
      return uri.startsWith('/api/v1') ? uri : uri //  + '?w=278&h=320'
    },
    initGlide () {
      const self = this
      this.$nextTick(() => {
        self.glide = new Glide(self.$refs.carousel)
        self.glide.on(['swipe.start', 'run', 'move'], self.swipeStartHandler)
        self.glide.mount({ Controls, Swipe })
      })
    },
    swipeStartHandler () {
      if (this.preload) {
        return
      }
      this.preload = true
    },
    visibilityChanged (isVisible) {
      if (!this.glide && isVisible) {
        this.initGlide()
      }
    },
    computeSrceset (actualSrcset, hasPreview, bigURL, previewURL) {
      if (!actualSrcset && hasPreview) {
        actualSrcset = previewURL + ' 480w, ' + this.getUrl(bigURL) + ' 800w'
      }

      return actualSrcset
    },
    computeSizes (actualSizes, hasPreview) {
      if (!actualSizes && hasPreview) {
        actualSizes = '(max-width: 600px) 480px, 800w'
      }

      return actualSizes
    }
  }
}
</script>

<style lang="scss" scoped>
.slider-image {
  width: auto;
  max-height: 70vh;
  margin: 0 auto;
  object-fit: cover;
}

.glide {
  overflow: hidden;
  background: rgb(249, 249, 249);
  background: linear-gradient(90deg, rgba(249, 249, 249, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(249, 249, 249, 1) 100%);
  border-radius: 4px;
}

.arrows {
  user-select: none;
}

.arrow {
  position: absolute;
  top: 50%;
  z-index: 2;
  display: block;
  padding: 9px 12px;
  color: #bbb;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 1;
  transition: opacity 150ms ease, border 300ms ease-in-out;

  &--left {
    left: 1em;
  }

  &--right {
    right: 1em;
  }
}

.cover {
  width: 100%;
}
</style>
