<template lang="pug">
.tooltip
  .tooltip-activator
    slot
  span.tooltiptext(:class="{'left': dir=='left', 'right': dir == 'right'}") {{ tooltip }}
</template>

<script>
export default {
  props: ['tooltip', 'direction'],
  computed: {
    dir () {
      if (this.direction) {
        return this.direction
      }
      return 'right'
    }
  }
}
</script>

<style lang="scss" scoped>
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

$tooltip-black: rgba(0, 0, 0, 0.7);

/* Tooltip text */
.tooltip .tooltiptext {
  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: -30%;
  z-index: 1;
  width: auto;
  padding: 5px 15px;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  background-color: $tooltip-black;
  border-radius: 6px;
  visibility: hidden;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext.right {
  left: 150%;
}

.tooltip .tooltiptext.left {
  right: 150%;
}

.tooltip .tooltiptext::after,
.tooltip .tooltiptext::after {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  border-color: transparent $tooltip-black transparent transparent;
  border-style: solid;
  border-width: 5px;
  content: ' ';
}

.tooltip .tooltiptext.left::after {
  left: 100%; /* To the left of the tooltip */
  display: none;
  content: '';
}

.tooltip .tooltiptext.right::after {
  right: 100%; /* To the left of the tooltip */
}
</style>
