<template lang="pug">
  .autocomplete
    ug-input.autocomplete-input(
      :placeholder="placeholder"
      v-model="editValue"
      :class="{'no-bottom-radius': suggestionsOpened}"
      @focus="() => {suggestionsOpened = true}")
    .autocomplete-suggestions(v-if="suggestionsOpened")
      .autocomplete-suggestions-item(v-for="item,i in items" :key="i" @click="select(item)")
        .autocomplete-suggestions-item-internal {{ item }}
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'

@Component({
  name: 'UgAutocomplete',
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    placeholder: { type: String },
    value: { type: String },
    handler: { type: Function }
  }
})
export default class UgAutocomplete extends Vue {
    editValue = '';

    items = [];

    suggestionsOpened = false;
    // флаг нужен, чтобы закрыть бокс с подсказками и он не открылся на ватчере editValue
    isManuallySelected = false;

    showSuggestions () {
      this.suggestionsOpened = true
    }

    hideSuggestions () {
      this.suggestionsOpened = false
    }

    select (item: string) {
      this.isManuallySelected = true
      this.editValue = item

      this.hideSuggestions()

      this.$nextTick(() => { this.isManuallySelected = false })
    }

    @Watch('value')
    onValueUpdated (v:string) {
      this.editValue = v
    }

    @Watch('editValue')
    async onEditValueUpdated (v: string) {
      this.$emit('update', v)

      if (v !== '' && !this.isManuallySelected) {
        if (this.$props.handler !== null) {
          this.items = await this.$props.handler(v)
        }

        this.showSuggestions()
      }
    }
}
</script>

<style lang="scss" scoped>
.autocomplete {
  position: relative;
  width: 100%;

  &-suggestions {
    position: absolute;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 10px 1px #eee;

    &-item {
      padding: 16px 8px;

      &:hover {
        background-color: #eee;
        cursor: pointer;
      }

      &-internal {

      }
    }
  }
}
</style>

<style>
.no-bottom-radius {
  border-radius: 4px 4px 0 0 !important;
}
</style>
