<template lang="pug">
div
  no-ssr
    div
      button.pick-avatar-btn(id="pick-avatar") Загрузить новое изображение профиля
      avatar(
        @uploaded="handleUploaded"
        trigger="#pick-avatar"
        upload-url="/api/v1/upload"
        :labels=`{ submit: "Сохранить", cancel: "Отмена"}`)
      img(:src="imgDataUrl" height="50px")
</template>

<script>
export default {
  model: {
    prop: 'imgDataUrl',
    event: 'onUpload'
  },
  props: ['imgDataUrl'],
  data () {
    return {}
  },
  methods: {
    handleUploaded (resp) {
      this.imgDataUrl = resp.url
      this.$emit('onUpload', this.imgDataUrl)
    }
  }
}
</script>

<style lang="scss" scoped>
.pick-avatar-btn {
  height: 56px;
  padding: 15px;
  font-size: 14px;
  background-color: inherit;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
  cursor: pointer;
}
</style>
