<template lang="pug">
a.close(href="#" @click.prevent="$emit('click');return false")
</template>

<script>
export default {}
</script>

<style scoped>
.close {
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}

.close::before,
.close::after {
  position: absolute;
  left: 15px;
  width: 2px;
  height: 33px;
  background-color: #fff;
  content: ' ';
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}
</style>
