<template lang="pug">
.form-row
  .form-row-label {{ label}}
  .form-row-control
    slot
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: () => null
    }
  }
}
</script>

<style lang="scss" scoped>
.form-row {
  margin: 16px 0;

  &-label {
    margin-bottom: 8px;
  }
}

.form-row-control {
  width: 100%;
}
</style>
