<template lang="pug">
input.input(@change="change" type="file" accept="image/*")
</template>

<script>
export default {
  model: {
    event: 'update',
    prop: 'text'
  },
  props: {
  },
  data () {
    return {

    }
  },
  methods: {
    async change ($event) {
      console.log($event.target.files[0])
      const formData = new FormData()
      formData.append('file', $event.target.files[0])
      const response = await this.$axios.post('/api/v1/upload', formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      try {
        console.log('uploaded', response.data.url)
        this.$emit('update', response.data.url)
      } catch (err) {
        console.error(err)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  display: none;
}
</style>
