<template lang="pug">
ug-input.phone-input(
        type="tel"
        ref="phoneInput"
        v-model="editValue"
        placeholder="Введите номер здесь"
        inputmode="numeric"
        id="phone"
        maxlength="18"
      )
</template>

<script>
import UgInput from '~/components/ui/UgInput/UgInput'

import formatPhone from '~/utils/phone-format'

export default {
  components: {
    UgInput
  },
  model: {
    prop: 'phone',
    event: 'update'
  },
  props: ['phone'],
  data () {
    return {

    }
  },
  computed: {
    editValue: {
      get () {
        return this.phone
      },
      set (v) {
        this.$emit('update', v)
      }
    },
    phoneInputDone () {
      return this.phone && this.phone.length === 18
    },
    formattedPhone () {
      return formatPhone(this.phone)
    }
  },
  watch: {
    editValue (val, oldVal) {
      this.$emit('update', val)
      console.log('need event:', val, val !== this.formattedPhone ||
                (oldVal != null))
      if (
        val !== this.formattedPhone ||
                (oldVal != null)
      ) {
        // this.phone = this.formattedPhone
        this.$emit('update', this.formattedPhone)
      }
    },
    phone (v) {
      this.editValue = v
    },
    phoneInputDone (v) {
      if (v) {
        this.$emit('done')
      }
    }
  }

}
</script>

<style lang="scss" scoped>
.phone-input {
  margin-top: 10px;
  font-size: 2em;
  text-align: center;

  &::placeholder {
    font-size: 0.95em;
    text-align: center;
  }
}
</style>
