<template lang="pug">
input.input(
    v-if="type === 'number'"
    type="number"
    inputmode="numeric"
    pattern="[0-9]*"
    v-model.number="editValue"
    :placeholder="placeholder"
    :class="{'fullwidth': fullwidth, 'noborder': noborder}"
    ref="inp"
)
input.input(v-else
 v-model="editValue"
 :placeholder="placeholder"
 :class="{'fullwidth': fullwidth, 'noborder': noborder}"
 ref="inp"
 )
</template>

<script>
export default {
  model: {
    event: 'update',
    prop: 'text'
  },
  props: {
    text: {
      type: [String, Number],
      default: () => null
    },
    placeholder: {
      type: String,
      default: () => null
    },
    fullwidth: {
      type: Boolean,
      default: () => false
    },
    noborder: {
      type: Boolean,
      default: () => false
    },
    type: {
      type: String,
      default: () => 'text'
    },
    focus: {
      type: Boolean,
      default: () => false
    }
  },
  data () {
    return {
      editValue: this.text
    }
  },
  watch: {
    editValue (v) {
      if (this.type === 'number') {
        this.$emit('update', Number.parseInt(v))
      } else {
        this.$emit('update', v)
      }
    },
    text (v) {
      this.editValue = v
    },
    focus (v) {
      if (v) {
        this.$refs.inp.focus()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.input {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 8px;
  color: #333;
  font-size: 14px;
  font-family: $main-font;
  border: 1px solid #bbb;
  border-radius: 4px;

  &::placeholder {
    color: #bbb;
  }
}

.fullwidth {
  display: block;
  width: 100%;
}

.noborder {
  border: none;
}
</style>
