<template lang="pug">
.ya-map-box
    .wrapper--search-form-mini
        svg.real-svg
          filter(id="map-filter-linear")
            feColorMatrix(type="matrix" values="1.5 0 0 -0.3 0              0 1.5 0.2 -0.4 0              0 0.3 1.5 -0.2 0              0 0 0 .6 0")
    no-ssr
        yandex-map(
            :coords="coords"
            :controls="controls"
            :behaviors="behaviors"
            :zoom-control="zoomControl"
            zoom="10"
            ).ya-map-box
            ymap-marker(
                marker-id="antihype"
                marker-type="placemark"
                marker-super-data="ololo"
                :coords="[point.lat,point.lon]"
                superData="dadada"
                :icon="{color: 'red', glyph: 'home'}"
                :callbacks="{click:onItemClick}")
</template>

<script>

// main map component

export default {
  components: {

  },
  props: {
    point: {
      type: Object
    }
  },
  data () {
    return {
      paramsIsActive: true,
      activeItem: null,
      title: 'Кнопка',
      setting: {},
      coords: [this.point.lat, this.point.lon],
      controls: ['zoomControl'],
      behaviors: ['default'],
      zoomControl: {
        options: {
          position: {
            right: '40px',
            top: '150px',
            left: 'auto',
            botton: 'auto'
          }
        }
      }
    }
  },
  computed: {
    choosenAddressOffer () {
      return this.items.filter(x => x.id === this.activeItem)
    }
  },
  methods: {
    onItemClick (e) {
      this.paramsIsActive = false
      this.activeItem = e.get('target').properties.get('markerId')
      this.console.log(e, e.get('target').properties.get('markerId'))
    },
    hideChoosenAddress () {
      this.paramsIsActive = true
    }
  }
}
</script>

<style lang="scss">
[class*='inner-panes'] [class*='ground-pane'] {
  //filter: hue-rotate(-20deg) grayscale(0.3);
  filter: url('#map-filter-linear');

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    content: '';
  }
}

.real-svg {
  position: absolute;
  top: -1000px;
  left: -1000px;
}
</style>
