<template lang="pug">
div
  .notifications-setting(v-if="!notificationsAllowed")
    h2.subtitle Настройка уведомлений
    .caption Мы будем оповещать вас о статусе объявления, откликах гнездовчан и новых сообщениях.
    btn(@click="requestPermission") Разрешить уведомления
    .deny Не разрешать
  .allo Ожидаем загрузки изображений
</template>

<script>
import Btn from '~/components/ui/Btn'

export default {
  components: {
    Btn
  },
  data () {
    return {
      userChoice: false,
      notificationsAllowed: !!Notification && Notification.permission === 'granted',
      permission: Notification.permission
    }
  },
  computed: {

  },
  watch: {
    async userChoice (v) {
      if (v) {
        console.log('request permission')
        const permission = await Notification.requestPermission()
        console.log('got permission:', permission)
      }
    }
  },
  methods: {
    async requestPermission () {
      const permission = await Notification.requestPermission()
      this.notificationsAllowed = permission === 'granted'
      this.permission = permission
    }
  }
}
</script>

<style lang="scss" scoped>
.deny {
  display: inline-block;
  margin-left: 16px;
  color: #bbb;
  cursor: pointer;
}

.subtitle {
  margin: 1em 0;
}

.caption {
  margin: 1em 0;
}
</style>
