<template lang="pug">
    btn-group(v-model="editValue" :color="color" :items="[{title: checkedLabel,active:false}, {title: uncheckedLabel,active:true}]")
</template>

<script>
import BtnGroup from '~/components/ui/BtnGroup.vue'

export default {
  components: {
    BtnGroup
  },
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    checkedLabel: {
      type: String,
      default () {
        return 'Да'
      }
    },
    uncheckedLabel: {
      type: String,
      default () {
        return 'Нет'
      }
    },
    value: {
      type: Boolean,
      default () {
        return false
      }
    },
    color: {
      type: String,
      default () {
        return '#666666'
      }
    }
  },
  data () {
    return { editValue: this.value ? [true, false] : [false, true] }
  },
  watch: {
    editValue () {
      this.$emit('update', !!this.editValue[0])
    }
  }
}
</script>

<style></style>
