<template lang="pug">
table.table
  thead
    tr
      th(v-for="c,i in computedColumns" :key="i") {{ c }}
  tbody
    tr(v-for="row,i in data" :key="i")
      td(v-for="columnName,j in computedColumns" :key="j")
        a(v-if="isLink(columnName)" :href="row[columnName]" target="_blank") {{ row[columnName] }}
        div(v-else) {{ row[columnName] }}
</template>

<script>
export default {
  props: {
    data: {
      type: Array,
      required: true
    },
    columns: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    computedColumns () {
      if (this.columns && this.columns.length > 0) {
        return this.columns
      }
      if (!this.data) {
        return []
      }
      if (this.data.length === 0) {
        return []
      }

      return Object.keys(this.data[0])
    }
  },
  methods: {
    isLink (columnName) {
      if (columnName === 'link') {
        return true
      }
      return false
    }
  }
}
</script>

<style lang="scss" scoped>
.table {
  width: 100%;
}
</style>
