<template lang="pug">
textarea.textarea(v-model="editvalue" :class="{'fullwidth':fullwidth}" ref="textarea")
</template>

<script>
export default {
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    value: {
      type: String,
      default: () => null
    },
    fullwidth: {
      type: Boolean,
      default: () => false
    }
  },
  data () {
    return {
      editvalue: this.value
    }
  },
  watch: {
    editvalue: {
      handler (v) {
        this.$emit('update', v)
        this.autoSize()
      },
      deep: true
    },
    value: {
      handler (v) {
        this.editvalue = v
        this.autoSize()
      }
    }
  },
  methods: {
    autoSize () {
      this.$refs.textarea.style.height = 'auto'
      this.$refs.textarea.style.height = (this.$refs.textarea.scrollHeight) + 'px'
    }
  }
}
</script>

<style lang="scss" scoped>
.textarea {
  width: 100%;
  min-height: 5em;
  padding: 10px;
  color: #333;
  font-size: 14px;
  font-family: $main-font;
  border: 1px solid #bbb;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 2px 2px #eee;
  // height: 50vh;
  box-shadow: 0 0 1px 1px #eee;
  transition: all 1s;
  resize: none;

  &::placeholder {
    color: #bbb;
  }
}

.textarea:focus {
  box-shadow: 0 0 2px 4px #eee;
}

.fullwidth {
  width: 100%;
}
</style>
