<template lang="pug">
.uploader(v-cloak @drop.prevent="addFile" @dragover.prevent)
  .uploader-input-wrapper(@click="$refs.uploaderInput.click()")
    input.uploader-input(type="file" ref="uploaderInput" @change="fileChange" :multiple="multiple" accept="image/*")
    .uploader-help-text
      img(src='~/assets/images/icons/icon-add-new.svg' width="50px" height="50px").header__comments-file
      p Нажмите или перетащите изображения сюда
  .uploader-images
    .uploader-images-image(v-for="uri,i in editValue" :key="i")
      .uploader-images-image-status
        UgSVG(:svg="uri.loading?'loading':'apply'" :class="{'spin': uri.loading}")
      img(:src="uri.url" height="100px")
</template>

<script>
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  components: {
    UgSVG
  },
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    value: { type: Array, default: () => [] },
    uploadUrl: { type: String, default: () => '/api/v1/upload' },
    multiple: { type: Boolean, default: () => true }
  },
  data () {
    return {
      editValue: this.value.map(x => ({ url: x, uploaded: true, progress: null, loading: false }))
    }
  },
  computed: {
    uploaded () {
      const upl = this.editValue.map(x => x.uploaded).reduce((uploaded, cur) => cur && uploaded, true)
      return upl
    },
    progress () {
      if (!this.editValue) {
        return null
      }
      return this.editValue.map(x => x.progress).reduce((sum, x) => sum + x, 0) / this.editValue.length
    }
  },
  watch: {
    uploaded (v) {
      if (v) {
        this.$emit('done')
      }
    },
    progress (v) {
      this.$emit('progress', v)
    }
  },
  methods: {
    fileChange ($event) {
      const self = this
      let len = this.editValue.length
      ;[...$event.target.files].forEach((file, index) => {
        this.$emit('uploadStarted')
        if (!this.multiple) {
          self.editValue = []
          len = 0
        }
        self.editValue.push({ file, uploaded: false, url: URL.createObjectURL(file), progress: null, size: file.size })
        self.upload(file, index + len)
      })
    },
    async upload (file, index) {
      const uploadUrl = this.uploadUrl
      const formData = new FormData()
      formData.append('file', file)

      const self = this

      this.editValue[index].loading = true

      const response = await this.$axios.post(uploadUrl, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        onUploadProgress (progressEvent) {
          const percentCompleted = progressEvent.loaded / progressEvent.total
          self.editValue[index].progress = percentCompleted
        }
      })
      try {
        this.editValue[index].url = response.data.url
        this.editValue[index].uploaded = true
        this.editValue[index].progress = 1
        this.editValue[index].loading = false
        if (!this.multiple) {
          this.$emit('update', [this.editValue[index].url])
        } else {
          this.$emit('update', this.editValue.map(x => x.url))
        }
      } catch {
      }
    },
    addFile (e) {
      const self = this
      let len = this.editValue.length
      const droppedFiles = e.dataTransfer.files
      if (!droppedFiles) {
        return // this tip, convert FileList to array, credit: https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
      }[...droppedFiles].forEach((f, index) => {
        this.$emit('uploadStarted')
        if (!this.multiple) {
          self.editValue = []
          len = 0
        }
        self.editValue.push({ f, uploaded: false, url: URL.createObjectURL(f), progress: null })
        self.upload(f, index + len)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.uploader {
  width: 100%;

  &-input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #fdfdfd;
    border: 1px dashed #bbb;
    cursor: pointer;
  }

  &-help-text {
    margin: 0 auto;

    img {
      display: block;
      margin: 0 auto 10px;
    }
  }

  input {
    display: none;
  }

  &-images {
    display: flex;
    flex-wrap: wrap;

    &-image {
      position: relative;

      &-status {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 16px;
        height: 16px;
      }
    }

    img {
      flex: 0 0  auto;
    }
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
</style>
