<template lang="pug">
div.offer__requirements
  //div.h3.offer__requirements-head Требования к гнездоискателю
  //div.offer__requirements-sets
    div(v-for="requirementList in requirements").offer__requirements-set
      div.offer__requirements-set-item
        div.param-list
          div(v-for="requirementItem in requirementList").param-list__item
            div.param-list__start
              div.param-list__name {{requirementItem.key}}
              div.param-list__divider
            div.param-list__end
              div.param-list__value {{requirementItem.value}}
</template>

<script>
export default {
  props: ['requirements']
}
</script>
