.circle-notation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: $clr-white;
  font-size: $fs-medium-xs;
  background: $clr-robins-egg-blue;
  border-radius: 50%;
}
