<template lang="pug">
.block.help-page
  ug-breadcrumbs(:items="$store.state.meta.meta.breadcrumbs")
  h1 Как сдать гнездышко?
  p.p 1 Создайте объявление
  p.p Это просто: опишите ваше гнездышко так, будто вы уже нашли жильца по душе. Расскажите подробно обо всем, что важно в жилье вам самим!
  p.p Так будущий арендатор сможет лучше понять вас и ваши внутренние правила.
  p.p Если вы заранее будете уважать своих жильцов, то они вам будут попадаться замечательные, и жить у вас будут долго.
  p.p Мой опыт показывает, что фальш и обман люди чувствуют за версту, впрочем, это всем известно.
  p.p Добавьте фотографии, цену, информацию о местоположении, а также дополнительную информацию. Например:
  p.p
    ul.ul
      li о возможности проживать с питомцами
      li о том каких людей вы ждете и сколько?
  p.p 2 Познакомьтесь поближе
  p.p Пообщайтесь с потенциальными жильцами до показа гнездышка при помощи нашего сообщества.
  p.p Познакомьтесь с профилями в социальных сетях, узнайте о том чем занимается и увлекается ваш будущий жилец, а затем договоритесь о просмотре.
  p.p Пожалуйста, будьте готовы предоставить все необходимые документы!

  p.p 3 Покажите гнездоискателю его гнездышко!
  p.p Встретив ваших будущих жильцов, вы будете понимать с кем имеете дело, поэтому познакомиться поближе будет неимоверно интересно!
  p.p Живое общение - это самое крутое, что может быть, ведь мы же люди! 🙂
  p.p Поэтому  не боитесь быть собой и говорить правду, ведь лучше найти своего человека, чем врать потом жильцу весь год или 2.
  p.p После знакомства обсудите нюансы и дату въезда, после чего смело заключайте договор. Поздравляем! У вашего гнездышка появился уютных хранитель.</template>

<style lang="scss" scoped>
.p {
  margin: 10px 0;
}

.ul {
  list-style: disc inside;
}

.help-page {
  color: #333;
  font-size: 18px;
  font-family: CustomSerif, Georgia, Cambria, 'Times New Roman', serif;
  font-style: normal;
  line-height: 24.44px;
}
</style>
