<template lang="pug">
.block.help-page
  ug-breadcrumbs(:items="$store.state.meta.meta.breadcrumbs")
  h1 Как найти гнездышко
  p.p Итак, перед Вами встал вопрос о поиске своего уютного гнездышка.
  p.p Чем серьезнее Вы отнесетесь к этому вопросу, тем комфортнее Вам будет проживать в нем.
  p.p 1. Первым делом Вы должны определить для себя главные параметры и составить развернутое объявление:
  p.p
    ul.ul
      li что это (комната, квартира, подселение);
      li Ваш бюджет;
      li срок, на которое Вы ищете себе гнездышко;
      li Ваши соседи (если таковые вообще предполагаются);
      li идеальное для Вас местоположение, (район, метро, удаленность от него);
      li наличие необходимой мебели и бытовой техники;
      li укажите информацию относительно домашних животных (имеются они у Вас или м.б. у Вас аллергия на них).
  p.p Для полноты картины стоит немного рассказать о себе: возраст, увлечения, с кем планируете проживать, а может быть вы вообще вегитарианец?

  p.p 2. После размещения объявления, получив отклик, главное не лениться, внимательно изучить предложенные варианты. Отобрать те, которые Вам больше всего по душе, задать гнездовладельцам все вопросы которые он не освятил в своем предложении, запросить фото гнездышка, и если Вас все устроило, то можно смело ехать на просмотр предложенных Вам вариантов.

  p.p 3. И если даже после просмотра у вас не осталось сомнений, что это именно тот вариант, который Вы искали, то можете смело переходить к документальной части аренды нового гнездышка. Обязательно просмотрите все документы на право гнездовладельца распоряжаться тем гнездышком, которое он Вам предлагает. Если объект находится в доверительном управлении, то это м.б. доверенность или договор на право управления недвижимостью. А если на Вас вышел сам собственник, то не поленитесь попросить его предоставить Вам для ознакомления паспорт и выписку из ЕГРП. Обратите внимание, что если гнездовладелец приобрел свою недвижимость до 15.07.2016 года, то вместо выписки он должен Вам показать свидетельство на право собственности.

  p.p 4. Если с документами все ОК, можете смело заключать договор. В нем обязательно надо прописать все условия, чем более подробно Вы пропишете все, тем легче Вам будет вернуть свои залоговые средства. Обратите внимание, что в описи имущества, надо прописать всю бытовую технику, которую Вы получаете во временное пользование, не поленитесь проверить её на предмет работоспособности. А также у Вас на руках д.б. соглашение о денежном залоге. Обычно оно идет одним из приложений к договору. Получаете ключи, передаете денежные средства гнездовладельцу. Все, завозите вещи!
</template>

<style lang="scss" scoped>
.p {
  margin: 10px 0;
}

.ul {
  list-style: disc inside;
}

.help-page {
  color: #333;
  font-size: 18px;
  font-family: $main-font;
  font-style: normal;
  line-height: 24.44px;
}
</style>
