<template lang="pug">
  label.rbutton
    input.rbutton__input(
      type="radio"
      :name="name"
      :value="option.value"
      :checked="option.isChecked"
    )
    .rbutton__box
    span.input-caption {{ option.value }}
</template>

<script>
export default {
  name: 'UgRbutton',

  props: {
    option: {
      type: Object,
      default () {
        return {}
      }
    },

    name: {
      type: String,
      default () {
        return ''
      }
    }
  }
}
</script>

<style lang="scss">
  @media screen and (min-width: 320px) {
    .rbutton {
      position: relative;
      display: flex;
      align-items: center;
      gap: $gap-r-xxs;
      width: fit-content;
      cursor: pointer;
    }

    .rbutton.disabled {
      opacity: 0.7;
      pointer-events: none;
    }

    .rbutton__input {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
    }

    .rbutton__box {
      position: relative;
      width: rem(16);
      height: rem(16);
      border: 1px solid $border;
      border-radius: 50%;
      z-index: 1;
      transition: $t-04-eio;
    }

    .rbutton__box::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(8);
      height: rem(8);
      border-radius: 50%;
      background-color: $primary-color;
      opacity: 0;
      transition: $t-04-eio;
    }

    .rbutton__input:checked + .rbutton__box::after {
      opacity: 1;
    }
  }

  @media screen and (min-width: 1280px) {
    .rbutton {
      gap: $gap-xxs;
    }

    .rbutton__box {
      width: 16px;
      height: 16px;
    }

    .rbutton:hover .rbutton__box {
      border: 1px solid $primary-color;
    }

    .rbutton__box::after {
      width: 8px;
      height: 8px;
    }
  }
</style>
