/* bread */
.bread {
  padding: 14px 0;
  font-size: $fs-medium;
  background-color: #f4f4f4;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__link {
    position: relative;
    margin-right: 12px;
    text-decoration: none;

    &::after {
      @include pseudo;

      right: -10px;
      content: '>';
    }
  }

  &__current {
    color: $clr-silver;
  }
}
