<template lang="pug">
  .search.main__wrap
    .search__breadcrumbs
      UgBreadcrumbs(:items="$store.state.meta.meta.breadcrumbs")
    .search__grid.block.grid
      .search__listing
        UgCardList(
          :emptyText="'К сожалению по вашему запросу ничего не найдено, попробуйте указать другие параметры фильтрации'"
          :offers="offers"
          :hasMore="hasMore"
          @loadMore="loadMore"
        )
      UgFloatingPanel.search__filter
        UgSelect(
          :options="cities"
          :value="city"
          @select="chooseCity($event)"
        )
        UgSelect(
          :options="searchTypes"
          :value="searchType"
          @select="chooseSearchType($event)"
        )
        UgSelect(
          :options="buildTypes"
          :value="buildType"
          @select="chooseBuildTypes($event)"
        )
        UgBlockCheckbox(
          :title="'Количество комнат'"
          :options="countOfRooms"
          :checkOptions="searchParams.roomCount"
          @changeValues="changeRooms($event)"
        )
        UgInterval(
          :title="'Стоимость аренды'"
          :valueFrom="searchParams.priceFrom",
          :valueTo="searchParams.priceTo"
          @changefrom="choosePriceFrom($event)"
          @changeto="choosePriceTo($event)"
        )
</template>

<script>
import axios from 'axios'

import UgBreadcrumbs from '~/components/ui/UgBreadcrumbs/UgBreadcrumbs'
import UgFloatingPanel from '~/components/ui/UgFloatingPanel/UgFloatingPanel'
import UgCardList from '~/components/ui/UgCardList/UgCardList'
import UgSelect from '~/components/ui/UgSelect/UgSelect'
import UgBlockCheckbox from '~/components/ui/UgBlockCheckbox/UgBlockCheckbox'
import UgInterval from '~/components/ui/UgInterval/UgInterval'

export default {
  components: {
    UgBreadcrumbs,
    UgFloatingPanel,
    UgCardList,
    UgSelect,
    UgBlockCheckbox,
    UgInterval
  },

  layout: 'page',

  data () {
    return {
      loading: true,
      // title: '',
      searchParams: {
        price: null,
        priceFrom: 0,
        priceTo: 0
      },
      offerCount: 0,
      hasMore: false,
      offers: [],
      offset: 0,
      cancelTokenSource: null,

      countOfRooms: [
        {
          label: 'Студия',
          id: 4
        },
        {
          label: '1 комната',
          id: 1
        },
        {
          label: '2 комнаты',
          id: 2
        },
        {
          label: '3 и более',
          id: 3
        }
      ]
    }
  },

  computed: {
    buildTypes () {
      return this.$store.state.localStorage.buildTypes
    },

    buildType () {
      return this.$store.state.localStorage.buildType
    },

    searchTypes () {
      return this.$store.state.localStorage.searchTypes
    },

    searchType () {
      return this.$store.state.localStorage.searchType
    },

    cities () {
      return this.$store.state.localStorage.cities
    },

    city () {
      return this.$store.state.localStorage.city
    },

    pageSize () {
      if (process.client && window.innerWidth <= 1024) {
        return 3
      } else {
        return 4
      }
    }
  },

  watch: {
    buildType () {
      this.offset = 0
      this.fetchOffers()
    },

    searchType () {
      this.offset = 0
      this.fetchOffers()
    },

    city () {
      this.offset = 0
      this.fetchOffers()
    },

    searchParams: {
      handler () {
        this.fetchOffers()
      },
      deep: true
    }
  },

  created () {
    this.$set(this, 'searchParams', { ...this.$store.state.meta.meta.searchOffers, price: null, priceFrom: null, priceTo: null, roomCount: [1, 2, 3, 4] })
  },

  methods: {
    changeRooms (value) {
      this.searchParams.roomCount = value
    },

    choosePriceFrom (value) {
      this.searchParams.priceFrom = value
    },

    choosePriceTo (value) {
      this.searchParams.priceTo = value
    },

    chooseBuildTypes (id) {
      this.$store.commit('localStorage/setBuildType', id)
    },

    chooseCity (id) {
      this.$store.commit('localStorage/setCity', id)
    },

    chooseSearchType (id) {
      this.$store.commit('localStorage/setSearchType', id)
    },

    async loadMore () {
      if (this.loading || !this.hasMore) {
        return
      }

      this.loading = true
      this.offset = this.offset + this.pageSize
      this.cancelTokenSource = axios.CancelToken.source()

      const { result } = await this.$api('offers.FastCards', {
        search: {
          ...this.searchParams,
          offset: this.offset,
          limit: this.pageSize
        }
      }, { cancelToke: this.cancelTokenSource })

      if (result.offers && result.offers.length > 0) {
        for (let i = 0; i < result.offers.length; i++) {
          this.offers.push(result.offers[i])
        }
      }

      this.hasMore = result.hasMore
      // Почему-то приходит hasMore == true когда по сути нет.
      console.log(this.hasMore)

      this.loading = false
      this.$store.commit('meta/setMeta', result.meta)
    },

    async fetchOffers () {
      if (this.loading) {
        if (this.cancelTokenSource) {
          this.cancelTokenSource.cancel()
          this.cancelTokenSource = axios.CancelToken.source()
        }
      }

      this.loading = true

      try {
        const { result } = await this.$api('offers.FastCards', {
          search: {
            ...this.searchParams,
            city: this.city,
            searchType: this.searchType,
            buildType: this.buildType,
            limit: this.pageSize
          }
        }, { cancelToke: this.cancelTokenSource })

        result.offers ? this.offers = result.offers : this.offers = []

        this.offerCount = result.count
        this.hasMore = result.hasMore

        const lastUrl = this.$store.state.meta.meta.url

        if (result.meta.url !== lastUrl) {
          this.$store.commit('meta/setMeta', result.meta)

          window.history.pushState(result.meta, result.meta.title, result.meta.url)
        }
      } catch (err) {
        console.log(err)
      }

      this.loading = false
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .search__breadcrumbs {
      width: 100%;
      margin-bottom: $gap-r-m;
      overflow-x: auto;
      overflow-y: hidden;
    }

    .search__grid {
      position: relative;
      margin-bottom: $gap-r-l;
    }

    .search__listing {
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .search__filter {
      position: fixed;
      z-index: 2000;
    }
  }

  @media screen and (min-width: 1280px) {
    .search__breadcrumbs {
      overflow-y: hidden;
      max-width: 1200px;
      margin-bottom: $gap-m;
    }

    .search__grid {
      position: relative;
      grid-auto-flow: dense;
      margin-bottom: $gap-xl;
    }

    .search__listing {
      grid-column: 1/10;
    }

    .search__filter {
      grid-column: 10/-1;
      position: sticky;
      top: 16px;
      z-index: 0;
    }
  }
</style>
