<template lang="pug">
  .input
    input.input__field.input-value(
      v-bind="$attrs"
      :value="value"
      :type="type"
      :placeholder="placeholder"
      v-on="inputListeners"
    )
</template>

<script>
export default {
  name: 'UgInput',

  props: {
    value: {
      type: String,
      default: () => ''
    },

    type: {
      type: String,
      default: () => ''
    },

    placeholder: {
      type: String,
      default: () => ''
    }
  },

  computed: {
    inputListeners () {
      const vm = this

      return Object.assign({}, this.$listeners, {
        input: function (event) {
          vm.$emit('input', event.target.value)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .input {
      position: relative;
      width: 100%;
      height: rem(48);
    }

    .input__field {
      width: inherit;
      height: inherit;
      padding: 0 rem(16);
      background-color: $bg;
      border: 1px solid $border;
      box-sizing: border-box;
    }

    .input__field:disabled {
      background-color: $bg-2;
    }

    .input__field::placeholder {
      color: $placeholder;
      font-size: rem(16);
      line-height: 1em;
    }
  }

  @media screen and (min-width: 1280px) {
    .input {
      height: 48px;
    }

    .input__field {
      padding: 0 16px;
    }

    .input__field::placeholder {
      font-size: 16px;
    }
  }
</style>
