<template lang="pug">
div {{ city }}
  ug-input.m(fullwidth placeholder="Код подтверждения вебхука" v-model="city.vkWebhookConfirmation")
  ug-input.m(fullwidth placeholder="ID паблика ВК" v-model.number="city.vkPublicId")
  btn(@click="save") Сохранить
</template>
<script>
import UgInput from '~/components/ui/UgInput.vue'
import Btn from '~/components/ui/Btn.vue'

export default {
  components: {
    UgInput,
    Btn
  },
  layout: 'moderation',
  async asyncData ({ app, route }) {
    const { result } = await app.$api('cities.get', { id: Number.parseInt(route.params.id) })
    return {
      city: result
    }
  },
  methods: {
    async save () {
      const { error } = await this.$api('cities.save', { city: this.city })
      if (error) {
        this.$toast.error('Ошибка')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.m {
  margin-top: 32px;
  margin-bottom: 32px;
}
</style>
