<template lang="pug">
div
  nuxt-link.city(v-for="city,i in cities" :key="i" :to="`/moderation/cities/${city.id}`") {{ city.title }}

</template>

<script>
export default {
  layout: 'moderation',
  async asyncData ({ app }) {
    const { result } = await app.$api('cities.all')
    return {
      cities: result
    }
  }
}
</script>

<style lang="scss" scoped>
.city {
  display: block;
}
</style>
