<template lang="pug">
div
  div.form-item-space(v-if="offerId") {{ editType }} объявления о
    select.custom-select(v-model="searchTypeEdit")
      option(value="1") поиске гнёздышка
      option(value="2") поиске гнездоискателя
      option(value="3") поиске соседа
  div(v-for="step,i in form.steps" :key="i" track-by="$index")
    div(v-for="row, j in step.items" track-by="$index")
      offer-form-block.form-item-space(:item="row" v-model="value[row.data.mapColumn]" :key="`${i}-${j}`" v-show="filterItem(step.items,row)")
  div
    button.submit-offer-form-btn(@click="submit") Сохранить
    nuxt-link.offer-link(v-if="offerId" :to="`/offers/${offerId}`") Посмотреть на сайте
</template>

<script>
import offerFormBlock from '~/components/domain/offers//offerForm/block/offerFormBlock.vue'

export default {
  components: {
    offerFormBlock
  },
  model: {
    prop: 'offer',
    event: 'update'
  },
  props: {
    offer: {
      required: true,
      type: Object,
      default () {
        return { searchType: this.searchType }
      }
    },
    searchType: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      // TODO: build object by schema with empty fields
      value: this.offer,
      searchTypeEdit: this.searchType
    }
  },
  computed: {
    editType () {
      if (this.$route.params.id) {
        return 'Редактирование'
      }
      return 'Создание'
    },
    offerId () {
      if (this.$route.params.id) {
        return this.$route.params.id
      }
      return false
    },
    form () {
      switch (this.searchType) {
        case 1:
          return {
            steps: [
              {
                items: [
                  {
                    type: 'control',
                    alias: 'buildType',
                    data: {
                      type: 'buttonGroup',
                      valueType: 'number',
                      title: 'Вы ищете',
                      mapColumn: 'buildType',
                      items: [
                        {
                          value: 1,
                          title: 'Квартиру'
                        },
                        {
                          value: 2,
                          title: 'Комнату'
                        },
                        {
                          value: 3,
                          title: 'Дом'
                        },
                        {
                          value: 4,
                          title: 'Койко-место'
                        }
                      ]
                    }
                  },
                  {
                    type: 'control',
                    data: {
                      type: 'buttonGroup',
                      valueType: 'number',
                      mapColumn: 'rentDuration',
                      title: 'Срок аренды',
                      items: [
                        {
                          value: 1,
                          title: 'Суточно'
                        },
                        {
                          value: 2,
                          title: 'На несколько месяцев'
                        },
                        {
                          value: 3,
                          title: 'На длительный срок'
                        }
                      ]
                    }
                  },
                  {
                    type: 'control',
                    alias: 'roomCount',
                    data: {
                      type: 'buttonGroup',
                      valueType: 'number',
                      title: 'Сколько всего комнат',
                      mapColumn: 'roomCount',
                      items: [
                        {
                          value: 1,
                          title: '1'
                        },
                        {
                          value: 2,
                          title: '2'
                        },
                        {
                          value: 3,
                          title: '3+'
                        },
                        {
                          value: 4,
                          title: 'Студия'
                        }
                      ]
                    }
                  },
                  {
                    type: 'control',
                    alias: 'address',
                    data: {
                      type: 'search',
                      title: 'Адрес',
                      mapColumn: 'address',
                      method: 'geo.search'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'addresses',
                    data: {
                      type: 'slice',
                      title: 'Дополнительный адрес',
                      mapColumn: 'addresses',
                      addButtonLabel: 'Добавить адрес'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'metroStations',
                    data: {
                      type: 'search',
                      title: 'Метро',
                      mapColumn: 'metroStations',
                      method: 'geo.SuggestMetroStation',
                      multiple: true,
                      addButtonLabel: 'Добавить'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'comment',
                    data: {
                      type: 'textarea',
                      title: 'Текст объявления',
                      mapColumn: 'comment'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'price',
                    data: {
                      type: 'input',
                      title: 'Бюджет',
                      valueType: 'number',
                      mapColumn: 'price'
                    }
                  },
                  {
                    type: 'control',
                    data: {
                      type: 'upload',
                      title: 'Изображения',
                      mapColumn: 'images'
                    }
                  }
                ]
              }
            ]
          }
        case 2:
          return {
            steps: [
              {
                items: [
                  {
                    type: 'control',
                    alias: 'buildType',
                    data: {
                      type: 'buttonGroup',
                      valueType: 'number',
                      title: 'Выберите тип объекта',
                      mapColumn: 'buildType',
                      items: [
                        {
                          value: 1,
                          title: 'Квартира'
                        },
                        {
                          value: 2,
                          title: 'Комната'
                        },
                        {
                          value: 3,
                          title: 'Дом'
                        },
                        {
                          value: 4,
                          title: 'Койко-место'
                        }
                      ]
                    }
                  },
                  {
                    type: 'control',
                    data: {
                      type: 'buttonGroup',
                      valueType: 'number',
                      mapColumn: 'rentDuration',
                      title: 'Срок аренды',
                      items: [
                        {
                          value: 1,
                          title: 'Суточно'
                        },
                        {
                          value: 2,
                          title: 'На несколько месяцев'
                        },
                        {
                          value: 3,
                          title: 'На длительный срок'
                        }
                      ]
                    }
                  },
                  {
                    type: 'control',
                    alias: 'roomCount',
                    data: {
                      type: 'buttonGroup',
                      valueType: 'number',
                      title: 'Сколько всего комнат',
                      mapColumn: 'roomCount',
                      items: [
                        {
                          value: 1,
                          title: '1'
                        },
                        {
                          value: 2,
                          title: '2'
                        },
                        {
                          value: 3,
                          title: '3+'
                        },
                        {
                          value: 4,
                          title: 'Студия'
                        }
                      ]
                    }
                  },
                  {
                    type: 'control',
                    alias: 'address',
                    data: {
                      type: 'search',
                      title: 'Адрес',
                      mapColumn: 'address',
                      method: 'geo.search'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'metroStations',
                    data: {
                      type: 'search',
                      title: 'Метро',
                      mapColumn: 'metroStations',
                      method: 'geo.SuggestMetroStation',
                      multiple: true,
                      addButtonLabel: 'Добавить'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'comment',
                    data: {
                      type: 'textarea',
                      title: 'Текст объявления',
                      mapColumn: 'comment'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'price',
                    data: {
                      type: 'input',
                      title: 'Цена',
                      valueType: 'number',
                      mapColumn: 'price'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'hasCommunal',
                    data: {
                      type: 'switch',
                      title: 'Коммунальные платежи отдельно',
                      mapColumn: 'hasCommunal'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'communal',
                    conditions: [
                      {
                        alias: 'hasCommunal',
                        value: true
                      }
                    ],
                    data: {
                      type: 'input',
                      title: 'Стоимость коммунальных услуг',
                      valueType: 'number',
                      mapColumn: 'communal'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'communalTo',
                    conditions: [
                      {
                        alias: 'hasCommunal',
                        value: true
                      }
                    ],
                    data: {
                      type: 'input',
                      title: '',
                      valueType: 'number',
                      mapColumn: 'communalTo'
                    }
                  },
                  {
                    type: 'control',
                    data: {
                      type: 'upload',
                      title: 'Изображения',
                      mapColumn: 'images'
                    }
                  }
                ]
              }
            ]
          }
        case 3:
          return {
            steps: [
              {
                items: [
                  {
                    type: 'control',
                    alias: 'buildType',
                    data: {
                      type: 'buttonGroup',
                      valueType: 'number',
                      title: 'В какое гнёздышко ищете соседа?',
                      mapColumn: 'buildType',
                      items: [
                        {
                          value: 1,
                          title: 'В квартиру'
                        },
                        {
                          value: 2,
                          title: 'В комнату'
                        },
                        {
                          value: 3,
                          title: 'В дом'
                        }
                      ]
                    }
                  },
                  {
                    type: 'control',
                    alias: 'hasHome',
                    data: {
                      type: 'switch',
                      title: 'Вы уже живете в этом гнёздышке?',
                      trueTitle: 'Да',
                      falseTitle: 'Нет',
                      mapColumn: 'hasHome',
                      default: true
                    }
                  },
                  {
                    type: 'control',
                    data: {
                      type: 'buttonGroup',
                      valueType: 'number',
                      mapColumn: 'rentDuration',
                      title: 'Срок аренды',
                      items: [
                        {
                          value: 2,
                          title: 'На несколько месяцев'
                        },
                        {
                          value: 3,
                          title: 'На длительный срок'
                        }
                      ]
                    }
                  },
                  {
                    type: 'control',
                    alias: 'roomCount',
                    data: {
                      type: 'buttonGroup',
                      valueType: 'number',
                      title: 'Сколько всего комнат в квартире',
                      mapColumn: 'roomCount',
                      items: [
                        {
                          value: 1,
                          title: '1'
                        },
                        {
                          value: 2,
                          title: '2'
                        },
                        {
                          value: 3,
                          title: '3+'
                        },
                        {
                          value: 4,
                          title: 'Студия'
                        }
                      ]
                    }
                  },
                  {
                    type: 'control',
                    alias: 'address',
                    data: {
                      type: 'search',
                      title: 'Адрес',
                      mapColumn: 'address',
                      method: 'geo.Suggest'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'metroStations',
                    data: {
                      type: 'search',
                      title: 'Метро',
                      mapColumn: 'metroStations',
                      method: 'geo.SuggestMetroStation',
                      multiple: true,
                      addButtonLabel: 'Добавить'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'comment',
                    data: {
                      type: 'textarea',
                      title: 'Текст объявления',
                      mapColumn: 'comment'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'price',
                    data: {
                      type: 'input',
                      title: 'Цена',
                      valueType: 'number',
                      mapColumn: 'price'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'hasCommunal',
                    data: {
                      type: 'switch',
                      title: 'Коммунальные платежи отдельно',
                      falseTitle: 'Включены',
                      trueTitle: 'Не включены',
                      mapColumn: 'hasCommunal'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'communal',
                    conditions: [
                      {
                        alias: 'hasCommunal',
                        value: true
                      }
                    ],
                    data: {
                      type: 'input',
                      title: 'Стоимость коммунальных услуг',
                      valueType: 'number',
                      mapColumn: 'communal'
                    }
                  },
                  {
                    type: 'control',
                    alias: 'communalTo',
                    conditions: [
                      {
                        alias: 'hasCommunal',
                        value: true
                      }
                    ],
                    data: {
                      type: 'input',
                      title: 'До',
                      valueType: 'number',
                      mapColumn: 'communalTo'
                    }
                  },
                  {
                    type: 'control',
                    data: {
                      type: 'upload',
                      title: 'Изображения',
                      mapColumn: 'images'
                    }
                  }
                ]
              }
            ]
          }
      }
      return false
    },
    meta () {
      return {}
    }
  },
  watch: {
    value: {
      handler (v) {
        console.log('watch trigger:', v)
        this.$emit('update', v)
      },
      deep: true
    }
  },
  created () {
    // fill defaults
    this.form.steps.forEach((step) => {
      step.items.forEach((item) => {
        if (!item.data.mapColumn) {
          return
        }
        if (typeof item.data.default !== 'undefined') {
          this.$set(this.value, item.data.mapColumn, item.data.default)
        } else if (!this.value[item.data.mapColumn]) {
          this.$set(this.value, item.data.mapColumn, null)
        }
      })
    })
  },
  methods: {
    async submit () {
      this.$set(this.value, 'searchType', this.searchType)

      let method = 'offers.fastCreate'
      if (this.offerId) {
        method = 'offers.fastUpdate'
      }

      const { result, error } = await this.$api(method, {
        offerRequest: {
          ...this.value,
          searchType: Number.parseInt(this.searchTypeEdit)
        }
      })
      if (typeof error !== 'undefined') {
        // handle error here
        this.$toast.error(error.message)
      } else if (result > 0) {
        // offer created, we need redirect to payment here
        this.$router.push(`/offers/${result}/pay`)
      } else if (this.offer.id === 0) {
        this.$toast.error(
          'Неизвестная ошибка, попробуйте еще раз или обратитесь в поддержку'
        )
      } else if (this.offer.id !== 0) {
        this.$toast.success('Объявление сохранено')
      }
    },
    values (row) {
      if (row.type === 'header') {
        return null
      }
      if (row.data.mapColumn) {
        if (typeof this.value[row.data.mapColumn] === 'undefined') {
          this.value[row.data.mapColumn] = ''
        }

        return [
          {
            columnName: row.data.mapColumn,
            value: this.value[row.data.mapColumn]
          }
        ]
      } else if (row.data.mapColumns) {
        return row.data.mapColumns.map((column) => {
          if (typeof this.value[column] === 'undefined') {
            this.value[column] = null
          }
          return {
            columnName: column,
            value: this.value[column]
          }
        })
      }
      throw new Error(`unknown column mapping: ${JSON.stringify(row)}`)
    },
    filterItem (items, item) {
      if (
        item.conditions &&
        Array.isArray(item.conditions) &&
        item.conditions.length > 0
      ) {
        // find item by alias
        const neighbour = items.find(i => i.alias === item.conditions[0].alias)

        let value = this.value[neighbour.data.mapColumn]
        if (
          (typeof value === 'undefined' || value === null) &&
          typeof neighbour.data.default !== 'undefined'
        ) {
          value = neighbour.data.default
          this.$set(this.value, neighbour.data.mapColumn, value)
        }
        if (value === item.conditions[0].value) {
          return true
        } else {
          // обнуляем значение скрытого блока
          console.log('reset', this.value, item.data.mapColumn)
          this.$set(this.value, item.data.mapColumn, null)
          return false
        }
      }
      return true
    }
  }
}
</script>

<style lang="scss" scoped>
.form-item-space {
  margin-top: 30px;
  margin-bottom: 30px;
}

.submit-offer-form-btn {
  padding: 20px;
  color: #fff;
  font-size: 14px;
  background-color: $primary;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
}

.offer-link {
  margin-left: 15px;
}

.custom-select {
  font-size: 14px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 1px 1px 2px 0 #333;
  cursor: pointer;
}
</style>
