<template lang="pug">
.announcement-wrapper
  .announcement-wrapper__item(v-for="(item, index) in announcementType" :key="index" @click="onChooseSubject(item.id)")
      .announcement-element(:to="item.link")
        img(src="~assets/images/icons/icon-add-new.svg", class="announcement-element__ico-plus")
        .announcement-element__title {{ item.title }}
        .help {{ item.help }}
        img(src="~assets/images/content/announcement/announcement-ico.png", class="announcement-element__sub-ico")
</template>

<script>
export default {
  model: {
    prop: 'searchType',
    event: 'update'
  },
  props: ['searchType'],
  data () {
    return {
      declaratinSubtitle: 'Стоимость размещения объявления: 125 гнездокоинов',
      announcementType: [
        {
          id: 1,
          title: 'Ищу гнёздышко',
          help: 'Снять квартиру или комнату'
        },
        {
          id: 2,
          title: 'Сдаю гнёздышко',
          help: 'Сдать квартиру или комнату'
        }
        // {
        //   id: 3,
        //   title: 'Ищу гнездососеда',
        //   help: 'Найти соседа'
        // }
      ]
    }
  },
  methods: {
    onChooseSubject (searchType) {
      this.$emit('update', searchType)
    }
  }
}
</script>

<style lang="scss" scoped>
.announcement-wrapper {
  @media screen and (max-width: 800px) {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 800px) {
  .declaration-box {
    padding-top: 0;
  }

  .declaration-content__settings {
    margin-top: 0;
  }
}

.announcement-element {
  text-decoration: none;

  &__title {
    @media screen and (max-width: 800px) {
      margin-top: 0;
    }
  }

  &__ico-plus {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  &__sub-ico {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}

.help {
  margin-top: 5px;
  color: #666;
  font-size: 0.8em;
}
</style>
