<template lang="pug">
  div.auth
    div.auth__wrapper
      div.block._small
        div.auth__inner
          div.auth__form-wrapper
            h1.h1.auth__header Добро пожаловать!
            div.auth__subhead Регистрация
            div.auth__form
              div.auth__inline-setting
                div.inline-setting._middle
                  div.inline-setting__item-block._full
                    input(type="email" id="email"
                    placeholder="email"
                    v-model="phoneWrapped"
                    ref="phone").inline-setting__input._full._small-height
                  div.inline-setting__tooltip._error(v-if="sendErr") {{ sendErr }}
                div.auth__inline-setting
                  div.inline-setting._middle
                    div.inline-setting__item-block._full
                      input(
                        type="password"
                        placeholder="Пароль"
                        v-model="password").inline-setting__input._full._small-height
                    div.inline-setting__tooltip._error(v-if="passwordErr") {{ passwordErr }}
                div.auth__inline-setting
                  div.inline-setting._middle
                    div.inline-setting__item-block._full
                      input(
                        type="password"
                        placeholder="Повторите пароль"
                        v-model="passwordConfirmation").inline-setting__input._full._small-height
                    div.inline-setting__tooltip._error(v-if="passwordRepeatErr") {{ passwordRepeatErr }}
              div.auth__submit
                button(@click="onSubmit").btn._main._full Зарегистрироваться
              div.auth__reg
                nuxt-link(to="login").link._orange Уже есть аккаунт?
            //div.auth__socials
              a(v-for="item in socialAuth" href="#").auth__social-link
                img(:src="require(`~/assets/images/icons/icon-${item.icon}.svg`)").auth__social-link-image

            div.auth__desciption Авторизируясь на сайте, вы принимаете условия <a href="#" class="link _orange">пользовательсвого соглашения</a>, и даете согласие на обработку ваших персональных данных в соответсвии с законодательством РФ.
          div.auth__image
            img(src="~assets/images/content/auth-image.png").auth__image-file
</template>

<script>

export default {
  data () {
    return {
      sendErr: false,
      codeErr: false,
      passwordErr: false,
      passwordRepeatErr: false,
      phone: '',
      confirmationCode: null,
      password: '',
      passwordConfirmation: '',
      session: '',
      buttonDisabled: true,
      regCodeSended: false,
      socialAuth: [
        {
          icon: 'vk'
        },
        {
          icon: 'fb'
        },
        {
          icon: 'google'
        },
        {
          icon: 'yandex'
        },
        {
          icon: 'mailru'
        }
      ]
    }
  },
  computed: {
    phoneWrapped: {
      get () {
        return `${this.phone}`
      },

      set (value) {
        this.phone = value
      }
    }
  },
  mounted () {
    if (this.$auth.loggedIn) {
      this.$router.push(`/users/${this.$auth.user.id}/edit`)
    }
    // this.$nextTick(() => {
    //   this.$refs.phone.$el.focus()
    //   this.$refs.phone.$el.value = "" //dirty hack https://stackoverflow.com/a/2345915
    //   this.$refs.phone.$el.value = "+7 "
    // })
  },
  methods: {
    onSubmit () {
      const self = this
      if (this.password.length < 6) {
        this.passwordErr = 'Слишком короткий пароль'
        return
      } else {
        this.passwordErr = false
      }
      if (this.passwordConfirmation !== this.password) {
        this.passwordRepeatErr = 'Пароли не совпадают'
        return
      } else {
        this.passwordRepeatErr = false
      }
      //  this.buttonDisabled = true
      this.$api('auth.reg', {
        phone: this.phone,
        password: this.password,
        code: this.confirmationCode,
        sessionId: this.session
      })
        .then((data) => {
          if (typeof data.error !== 'undefined') {
            let msg = data.error.message
            switch (data.error.code) {
              case 507:
                msg = 'Логин уже занят, попробуйте войти'
                break
              case 504:
                msg = 'Неверный код'
                this.codeErr = msg
                return
            }
            this.$toast.error(msg)
            return
          }
          this.session = data.result.sessionId
          const f = async function () {
            await self.$auth.setToken('local', data.result.token)
            await self.$auth.fetchUser()
          }
          f().then(() => self.$router.push(`/users/${this.$auth.user.id}/edit`))
        })
        .catch((err) => {
          console.log(err)
        })
    },
    async sendSMS () {
      // if (this.phone.length !== 10) {
      //   this.sendErr = 'Неверный формат'
      //   return
      // } else {
      //   this.sendErr = false
      // }
      this.sendErr = false

      const resp = await this.$api('auth.checkLogin', { login: this.phone })
      console.log('allo', resp)
      if (resp.result === true) {
        this.sendErr = 'Логин занят'
        return
      } else {
        this.sendErr = false
      }

      const { result } = await this.$api('auth.sendCode', {
        phone: this.phone
      })
      this.session = result
      this.buttonDisabled = false
      this.regCodeSended = true

      this.$nextTick(() => {
        this.$refs.code.focus()
      })
    }
  }
}
</script>
