<template lang="pug">
  .main__wrap
    .auth.block.grid
      .auth__image
        img(:src="require('~/assets/img/png/hero.png')").auth__image-file
      .auth__form
        h1.ttl.ttl_1= "Добро пожаловать!"
        .auth__tab
          button.auth__btn-link.link(
            :class="{active: authType === 'login'}"
            @click="authType = 'login'"
          )= "Вход"
          button.auth__btn-link.link(
            :class="{active: authType === 'reg'}"
            @click="authType = 'reg'"
          )= "Регистрация"
          button.auth__btn-link.link(
            :class="{active: authType === 'restore'}"
            @click="authType = 'restore'"
          )= "Восстановление"
        .auth__form-wrap
          .auth__input-wrap
            ug-input-phone(v-model="phone" ref="phoneInput")
            //- UgInput(
            //-   v-model="phone"
            //-   :type="'tel'"
            //-   :placeholder="'+7 (___) ___ - __ - __'"
            //- )
            span.disclaimer(v-if="sendErr") {{ sendErr }}
          .auth__input-wrap(v-if="(authType === 'reg' || authType === 'restore') && regCodeSended")
            .auth__form-item
              UgInput(
                v-model.number="confirmationCode"
                type="number"
                pattern="[0-9]*"
                ref="codeInput"
                placeholder="Код из СМС"
                maxlength="4"
              )
              button.auth__btn-link.link(
                :class="{'disable': resendBtnDisabled}"
                @click="sendSMS"
              )= "Отправить повторно"
            span.disclaimer(v-if="codeErr") {{ codeErr }}
          .auth__input-wrap(v-if="authType === 'login' || ((authType === 'reg' || authType === 'restore') && regCodeSended)")
            UgPass(
              v-model="password"
              :placeholder="'Введите пароль'"
              v-on:keyup.enter=""
            )
            span.disclaimer(v-if="passwordErr") {{ passwordErr }}
          .auth__input-wrap(v-if="(authType === 'reg' || authType === 'restore') && regCodeSended")
            UgPass(
              v-model="passwordConfirmation"
              :placeholder="'Повторите пароль'"
              v-on:keyup.enter=""
            )
            span.disclaimer(v-if="passwordRepeatErr") {{ passwordRepeatErr }}
        UgBtn.btn_primary(
          :func="btnHandler"
          :class="{ 'disable': !checkFields }"
        ) {{ btnName }}
        UgBtn.btn_secondary(
          v-if="authType === 'login'"
          :icon="'vk'"
          :href="'https://oauth.vk.com/authorize?client_id=6355667&redirect_uri=https://ugnest.com/auth/vk/callback&response_type=code'"
          :target="'_blank'"
        )= "Войти через Вконтакте"
        p.disclaimer
          = "Авторизируясь на сайте, вы принимаете условия "
          a(href="#")= "пользовательского соглашения"
          = " , и даете согласие на обработку ваших персональных данных в соответсвии с законодательством РФ."
</template>

<script>
import UgBtn from '~/components/ui/UgBtn/UgBtn'
import UgInput from '~/components/ui/UgInput/UgInput'
import UgPass from '~/components/ui/UgPass/UgPass'

import UgInputPhone from '~/components/ui/UgInputPhone'

export default {
  components: {
    UgBtn,
    UgInput,
    UgPass,
    UgInputPhone
  },

  layout: '100vh',

  props: ['hideImage', 'noRedirect', 'message'],

  data () {
    return {
      authType: 'login',
      phone: '',
      confirmationCode: null,
      password: '',
      passwordConfirmation: '',
      session: '',
      authStep: true,
      resendBtnDisabled: true,
      regCodeSended: false,
      sendErr: false,
      codeErr: false,
      passwordErr: false,
      passwordRepeatErr: false
    }
  },

  computed: {
    checkFields () {
      if (this.authType === 'login' || ((this.authType === 'reg' || this.authType === 'restore') && this.regCodeSended)) {
        return Boolean(this.phone.length && this.password.length)
      } else {
        return Boolean(this.phone.length)
      }
    },

    btnName () {
      if (this.authType === 'login') {
        return 'Войти по номеру'
      } else if (this.authType === 'reg' && this.regCodeSended) {
        return 'Зарегистрироваться'
      } else if (this.authType === 'restore' && this.regCodeSended) {
        return 'Восстановить доступ'
      } else if (this.authType === 'reg' && !this.regCodeSended) {
        return 'Выслать код подтверждения'
      } else if (this.authType === 'restore' && !this.regCodeSended) {
        return 'Отправить код'
      }
    },

    isRestore () {
      if (this.authType === 'reg' && this.regCodeSended) {
        return false
      } else if (this.authType === 'restore' && this.regCodeSended) {
        return true
      } else {
        return null
      }
    }
  },

  watch: {
    authType () {
      this.codeErr = ''
      this.passwordErr = ''
      this.sendErr = ''
      this.regCodeSended = false
    }
  },

  async beforeMount () {
    if (this.$auth.loggedIn && !this.noRedirect) {
      await this.$router.push(`/users/${this.$auth.user.id}/edit`)
    }
  },

  mounted () {
    if (this.$auth.loggedIn) {
      this.$router.push(`/users/${this.$auth.user.id}/edit`)
    }

    // this.$nextTick(() => {
    //   if (this.$refs.phone) {
    //     this.$refs.phone.focus()
    //   }
    // })
  },

  methods: {
    btnHandler () {
      if (this.authType === 'login') {
        this.login()
      } else if ((this.authType === 'reg' || this.authType === 'restore') && this.regCodeSended) {
        this.reg()
      } else if ((this.authType === 'reg' || this.authType === 'restore') && !this.regCodeSended) {
        this.sendSMS()
      }
    },

    errTitle (code, msg) {
      switch (code) {
        case 500:
          return 'Неверный логин или пароль (попробуйте восстановить)'
        case 505:
          return 'Превышено число неверных попыток'
        default:
          return msg
      }
    },

    login () {
      const self = this
      this.$auth
        .loginWith('local', {
          data: {
            phone: this.phone,
            password: this.password
          }
        })
        .then(() => {
          self.$auth.fetchUser().then(() => {
            this.$emit('success')
            if (!self.noRedirect) {
              this.$router.push(`/users/${this.$auth.user.id}`)
            }
          })
        })
        .catch((err) => {
          self.passwordErr = this.errTitle(
            err.response.data.error.code,
            err.response.data.error.message)

          if (
            typeof err.response !== 'undefined' &&
            typeof err.response.data !== 'undefined'
          ) {
            this.$toast.error(
              this.errTitle(
                err.response.data.error.code,
                err.response.data.error.message
              )
            )
          }
        })
    },

    async sendSMS () {
      this.sendErr = false

      if (this.authType === 'reg') {
        const resp = await this.$api('auth.checkLogin', {
          login: this.phone
        })

        if (resp.result === true) {
          this.sendErr = 'Логин занят (попробуйте восстановить пароль)'

          // предлагаем восстановить пароль

          return
        } else {
          this.sendErr = false
        }
      }

      const { result } = await this.$api('auth.sendCode', {
        phone: this.phone
      })

      this.session = result
      this.regCodeSended = true

      setTimeout(() => {
        this.resendBtnDisabled = false
      }, 30000)
    },

    reg () {
      const self = this
      if (this.confirmationCode < 1000 || this.confirmationCode > 9999) {
        this.codeErr = 'Неверный код'
        return
      } else {
        this.codeErr = false
      }
      if (this.password.length < 6) {
        this.passwordErr = 'Слишком короткий пароль'
        return
      } else {
        this.passwordErr = false
      }
      if (this.passwordConfirmation !== this.password) {
        this.passwordRepeatErr = 'Пароли не совпадают'
        return
      } else {
        this.passwordRepeatErr = false
      }

      this.$api('auth.reg', {
        phone: this.phone,
        password: this.password,
        code: this.confirmationCode,
        sessionId: this.session,
        isRestore: this.isRestore
      })
        .then((data) => {
          if (typeof data.error !== 'undefined') {
            let msg = data.error.message
            switch (data.error.code) {
              case 507:
                msg = 'Логин уже занят, попробуйте войти'
                break
              case 504:
                msg = 'Неверный код'
                this.codeErr = msg
                return
            }
            this.$toast.error(msg)
            return
          }
          this.session = data.result.sessionId
          const f = async function () {
            await self.$auth.setToken('local', data.result.token)
            await self.$auth.fetchUser()
          }

          if (this.isRestore) {
            this.$toast.success('Пароль успешно изменен')
          } else {
            this.$toast.success('Вы успешно зарегистрировались')
          }

          f().then(() => self.$router.push(`/users/${this.$auth.user.id}/edit`))
        })
        .catch((err) => {
          console.log(err)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .auth {
      grid-auto-flow: dense;
      justify-items: center;
      margin-bottom: $gap-r-l;
    }

    .auth__image,
    .auth__form {
      grid-column: 1/-1;
    }

    .auth__image {
      width: 226px;
      margin: 32px 0;
    }

    .auth__form {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      gap: $gap-r-s;
    }

    .auth__form-wrap {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
    }

    .auth__form-item {
      display: flex;
      align-items: center;
      gap: rem(30);
    }

    .auth__form-item .link {
      white-space: nowrap;
      margin-right: 1.5rem;
    }

    .auth__tab {
      display: flex;
      justify-content: space-between;
    }

    .auth__btn-link {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
    }

    .auth__btn-link.disable {
      opacity: 0.3;
      pointer-events: none;
    }

    .auth__input-wrap {
      display: flex;
      flex-direction: column;
      gap: rem(4);
    }

    .auth__input-wrap > span {
      color: $error;
    }
  }

  @media screen and (min-width: 600px) {
    .auth {
      margin-bottom: 0;
    }

    .auth__image {
      grid-column: 6/-1;
      width: initial;
      margin: initial;
    }

    .auth__form {
      grid-column: 1/6;
    }

    .auth__form-item {
      gap: $gap-r-xs;
    }

    .auth__form-item .link {
      margin: 0;
    }
  }

  @media screen and (min-width: 1280px) {
    .auth__image {
      grid-column: 7/-1;
    }

    .auth__form {
      grid-column: 2/6;
    }

    .auth__form-item {
      gap: 30px;
    }

    .auth__tab {
      justify-content: flex-start;
      gap: $gap-s;
    }

    .auth__input-wrap {
      gap: 4px;
    }
  }
</style>
