<template lang="pug">
  .main__wrap
    .auth.block.grid
      .auth__form
        h1.ttl.ttl_1= "Добро пожаловать!"
          .auth__tab
            nuxt-link.link(to="/auth")= "Вход"
            nuxt-link.link.active(to="/auth/reg")= "Регистрация"
        .auth__form
          .auth__inline-setting
            .inline-setting._middle
              .inline-setting__item-block._full
                ug-input-phone(
                  type="text"
                  placeholder="Номер телефона"
                  v-model="phoneWrapped"
                  ref="phone"
                  v-on:keyup.enter="sendSMS").inline-setting__input._full._small-height
              .inline-setting__tooltip._error(v-if="sendErr") {{ sendErr }}
          .auth__reg-form(v-if="regCodeSended")
            .auth__inline-setting
              .inline-setting._middle
                .inline-setting__item-block._full
                  input(
                    type="text"
                    placeholder="Код из смс"
                    v-model.number="confirmationCode"
                    ref="code").inline-setting__input._full._small-height
                .inline-setting__tooltip._error(v-if="codeErr") {{ codeErr }}
            .auth__inline-setting
              .inline-setting._middle
                .inline-setting__item-block._full
                  input(
                    type="password"
                    placeholder="Пароль"
                    v-model="password").inline-setting__input._full._small-height
                .inline-setting__tooltip._error(v-if="passwordErr") {{ passwordErr }}
            .auth__inline-setting
              .inline-setting._middle
                .inline-setting__item-block._full
                  input(
                    type="password"
                    placeholder="Повторите пароль"
                    v-model="passwordConfirmation").inline-setting__input._full._small-height
                .inline-setting__tooltip._error(v-if="passwordRepeatErr") {{ passwordRepeatErr }}
          .auth
            btn(v-if="!regCodeSended" @click="sendSMS" type="submit" fullwidth) Продолжить
            btn(v-if="regCodeSended" @click="onSubmit" fullwidth) Зарегистрироваться
          .auth__options
            div
              nuxt-link(to="/auth").link._gray Войти
            div
              nuxt-link(to="/auth/restore").link._gray Забыли пароль?
        //.auth__socials
          a(v-for="item in socialAuth" href="#").auth__social-link
            img(:src="require(`~/assets/images/icons/icon-${item.icon}.svg`)").auth__social-link-image

        .auth__desciption Авторизируясь на сайте, вы принимаете условия <a href="#" class="link _orange">пользовательсвого соглашения</a>, и даете согласие на обработку ваших персональных данных в соответсвии с законодательством РФ.
      .auth__image
        img(src="~assets/images/content/auth-image.png").auth__image-file
</template>

<script>
import Btn from '~/components/ui/Btn'
import UgInputPhone from '~/components/ui/UgInputPhone'

export default {
  components: {
    Btn,
    UgInputPhone
  },
  data () {
    return {
      sendErr: false,
      codeErr: false,
      passwordErr: false,
      passwordRepeatErr: false,
      phone: '',
      confirmationCode: null,
      password: '',
      passwordConfirmation: '',
      session: '',
      buttonDisabled: true,
      regCodeSended: false,
      socialAuth: [
        {
          icon: 'vk'
        },
        {
          icon: 'fb'
        },
        {
          icon: 'google'
        },
        {
          icon: 'yandex'
        },
        {
          icon: 'mailru'
        }
      ]
    }
  },
  computed: {
    phoneWrapped: {
      get () {
        return `${this.phone}`
      },

      set (value) {
        this.phone = value
      }
    }
  },
  mounted () {
    if (this.$auth.loggedIn) {
      this.$router.push(`/users/${this.$auth.user.id}/edit`)
      return
    }
    this.$nextTick(() => {
      // this.$refs.phone.$el.focus()
      // this.$refs.phone.$el.value = '' // dirty hack https://stackoverflow.com/a/2345915
      // this.$refs.phone.$el.value = '+7 '
    })
  },
  methods: {
    onSubmit () {
      const self = this
      if (this.confirmationCode < 1000 || this.confirmationCode > 9999) {
        this.codeErr = 'Неверный код'
        return
      } else {
        this.codeErr = false
      }
      if (this.password.length < 6) {
        this.passwordErr = 'Слишком короткий пароль'
        return
      } else {
        this.passwordErr = false
      }
      if (this.passwordConfirmation !== this.password) {
        this.passwordRepeatErr = 'Пароли не совпадают'
        return
      } else {
        this.passwordRepeatErr = false
      }
      //  this.buttonDisabled = true
      this.$api('auth.reg', {
        phone: this.phone,
        password: this.password,
        code: this.confirmationCode,
        sessionId: this.session
      })
        .then((data) => {
          if (typeof data.error !== 'undefined') {
            let msg = data.error.message
            switch (data.error.code) {
              case 507:
                msg = 'Логин уже занят, попробуйте войти'
                break
              case 504:
                msg = 'Неверный код'
                this.codeErr = msg
                return
            }
            this.$toast.error(msg)
            return
          }
          this.session = data.result.sessionId
          const f = async function () {
            await self.$auth.setToken('local', data.result.token)
            await self.$auth.fetchUser()
          }
          f().then(() => self.$router.push(`/users/${this.$auth.user.id}/edit`))
        })
        .catch((err) => {
          console.log(err)
        })
    },
    async sendSMS () {
      // if (this.phone.length !== 18) {
      //   this.sendErr = 'Неверный формат'
      //   return
      // } else {
      //   this.sendErr = false
      // }
      this.sendErr = false

      const resp = await this.$api('auth.checkLogin', { login: this.phone })
      console.log('allo', resp)
      if (resp.result === true) {
        this.sendErr = 'Логин занят'
        return
      } else {
        this.sendErr = false
      }

      const { result } = await this.$api('auth.sendCode', {
        phone: this.phone
      })
      this.session = result
      this.buttonDisabled = false
      this.regCodeSended = true

      this.$nextTick(() => {
        this.$refs.code.focus()
      })
    }
  }
}
</script>
