<template lang="pug">
div
  ug-uploader(
    @done="onDone"
    @progress="onProgress"
    @uploadStarted="onUploadStarted"
    v-model="value"
  )
  div {{ value }}
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

import UgUploader from '~/components/ui/UgUploader.vue'

@Component({
  layout: 'dev',
  components: {
    UgUploader
  }
})
export default class DevPage extends Vue {
    value: string[] = [];

    onDone (v) {
      console.log('done', v)
    }

    onProgress (v) {
      console.log('progress', v)
    }

    onUploadStarted (v) {
      console.log('onUploadStarted', v)
    }
}

</script>
