<template lang="pug">
  div.offer__wrapper
    .block(v-if="loading||!offer.id") Загрузка...
    div.block(v-else)
      div.offer__header
        div.offer__header-info
          h1.offer__head.h1 {{ offer.title }}
          div.offer__header-info
            div.head-info-labels
              div.head-info-labels__item._time
                span {{ publishedAt }}
                span.vk-help(v-if="offer.isVkOffer") • объявление из нашего паблика ВК
              span <b>статус:</b> {{ offer.statusTitle }}
              span(v-if="offer.statusComment") &nbsp; <b>комментарий модератора:</b> {{ offer.statusComment }}
      .offer__page
        .offer__main
          publication-controls(v-if="$auth.loggedIn" v-model="offer.status" :userId="offer.user.id" :offerId="offer.offerId" :statusComment="offer.statusComment")
          .offer__slider-wrapper
            swiper(:images="offer.images" :arrows="true")
          div.offer__about(v-if="offer.comment")
            h3.offer__about-head.h3 Описание объекта
            nl2br.offer__about-text(tag="div" :text="offer.comment")
          comments(:comments="comments" :objectType="1" :objectId="offer.offerId" @update="fetchComments")
        div.offer__sidebar
          div.info-sidebar
            div.info-sidebar__item._price(v-if="$auth.user && (offer.user.id !== 0 && $auth.user.id === offer.user.id) || ($auth.user && $auth.user.isModerator)")
              div
                nuxt-link(:to="`/offers/${offer.offerId}/edit`") Редактировать
            div.info-sidebar__item._price(v-if="offer.price")
              div.info-sidebar__head.info-sidebar__head--large {{ toCurrencyString(offer.price) }} в месяц
              div.info-sidebar__text(v-if="depositTitle!='Без залога' && depositTitle") Залог: {{depositTitle}}
            div.info-sidebar__item._owner.mb(v-if="offer.address") Адрес:&nbsp;
              b {{ offer.address }}
              //div.mt(v-if="offer.metroStations&&offer.metroStations.length>0") Станции метро: &nbsp;
                b {{ `${offer.metroStations.map(x=>x.title).join(', ')}` }}
            div.info-sidebar__item._owner
              user-card(v-if="!offer.user.isBot" :userInfo="offer.user")
              .sidebar-btn-container
                btn(v-if="contacts === null" type="button" @click="showContacts")._main._full Показать контакты
                a.btn-call(v-else target="_blank" :href="contactLink.link" fullwidth) {{ contactLink.title }}
            div.info-sidebar__report(v-if="$auth.user && $auth.user.isModerator")
              btn(type="button" @click="ban" fullwidth).report Заблокировать объявление
            report(:objectId="offer.offerId")
            div.offer-map(v-if="offer.address&&offer.lat&&offer.lon")
              ug-map(:point="{lat:offer.lat,lon:offer.lon}")
</template>

<script>
// import { SweetModal } from 'sweet-modal-vue'
import Nl2br from 'vue-nl2br'

import userCard from '~/components/domain/users/userCard'
import counter from '~/components/domain/offers/counters/defaultCounter'
import offerMeta from '~/components/domain/offers/offer/offerMeta'
import offerFurniture from '~/components/domain/offers/offer/offerFurniture'
import offerRequirements from '~/components/domain/offers/offer/offerRequirements'
import UgMap from '~/components/ui/UgMap.vue'
import comments from '~/components/domain/comments/comments.vue'
import Btn from '~/components/ui/Btn'
import Ago from '~/components/ui/Ago'
import PublicationControls from '~/components/domain/offers/offer/publicationControls.vue'
import Report from '~/components/domain/offers/offer/report'
import Swiper from '~/components/ui/Swiper'

import { ObjectTypeOffer } from '~/ug/const'
import formatPhone from '~/utils/phone-format'
import formatDate from '~/utils/FormatDate'

export default {
  components: {
    Ago,
    Btn,
    userCard,
    counter,
    offerMeta,
    offerFurniture,
    offerRequirements,
    Nl2br,
    // SweetModal,
    UgMap,
    comments,
    PublicationControls,
    Report,
    Swiper
  },
  props: ['offer', 'comments', 'loading'],
  data () {
    return {
      contacts: null,
      objectTypeOffer: ObjectTypeOffer
    }
  },
  computed: {
    depositTitle () {
      if (this.itemValueByIdFromValue(8)) {
        return this.itemValueByIdFromValue(8).title
      }
      return ''
    },
    publishedAt () {
      let time = this.offer.publishedAt
      if (!this.offer.publishedAt) {
        time = this.offer.createdAt
      }
      return formatDate(time)
    },
    topImage () {
      let url = ''
      try {
        url = this.offer.images[0].url
      } catch {
        return 'https://pp.userapi.com/c848416/v848416336/110b9f/J6JDEKlYY6s.jpg'
        // console.error(e)
      }
      if (url !== '') {
        return url
      }
      const imgAttr = this.attribute(43)
      // console.log(imgAttr)
      if (
        imgAttr != null &&
        imgAttr.items != null &&
        imgAttr.items.length === 1 &&
        imgAttr.items[0].value !== ''
      ) {
        return imgAttr.items[0].value
      } else {
        return 'https://pp.userapi.com/c848416/v848416336/110b9f/J6JDEKlYY6s.jpg'
      }
    },
    comment () {
      let comment
      try {
        comment = this.offer.params.attributes.find(x => x.id === 44).value
      } catch {
        comment = ''
      }
      return comment
    },
    phone () {
      try {
        return this.contacts.phone
      } catch {
        return false
      }
    },
    vkUserId () {
      try {
        return this.contacts.vkId
      } catch {
        return false
      }
    },
    email () {
      try {
        return this.contacts.email
      } catch {
        return false
      }
    },
    contactLink () {
      try {
        let link = ''
        let title = 'Позвонить'
        if (this.contacts.phone) {
          link = `tel:${this.contacts.phone}`
          title = formatPhone(this.contacts.phone)
        } else if (this.contacts.vkId) {
          title = 'Написать сообщение'
          link = `https://vk.me/id${this.contacts.vkId}`
        } else {
          return false
        }

        return {
          link: link,
          title: title
        }
      } catch {
        return false
      }
    }
  },
  methods: {
    async like () {
      const { error } = await this.$api('offers.like', {
        offerId: this.offer.offerId
      })
      if (error) {
        this.$toast.error(error.message)
      }
      await this.$api('offers.reactions', {
        offerId: this.offer.offerId
      })
    },
    async ban () {
      if (!confirm('Забанить объявление?')) {
        return
      }
      const { error } = await this.$api('moderation.BanOffer', {
        offerId: this.offer.offerId
      })
      if (error) {
        this.$toast.error(error.message)
        return
      }
      this.$toast.success('Забанено!')
      this.$emit('updateStatus', 13)
    },
    async fetchComments () {
      const { result } = await this.$api('comments.offerComments', {
        offerId: this.offer.offerId
      })
      this.comments = result
    },
    toCurrencyString (number) {
      return number
        .toLocaleString('ru-RU', { style: 'currency', currency: 'RUB' })
        .replace(',00', '')
    },
    attribute (id) {
      if (this.attributes != null) {
        const value = this.attributeValue(id)
        let attribute = this.attributes.find(x => x.id === id)
        if (value != null) {
          attribute = { ...attribute, ...value }
        }
        return attribute
      }
    },
    attributeValue (attributeId) {
      if (this.offer && this.offer.params && this.offer.params.attributes) {
        const attr = this.offer.params.attributes.find(x => x.id === attributeId)
        if (attr) {
          return attr
        } else {
          return {}
        }
      }
      return {}
    },
    itemValueByIdFromValue (attributeId) {
      try {
        if (this.offer && this.offer.params && this.offer.params.attributes) {
          const attr = this.offer.params.attributes.find(x => x.id === attributeId)
          return attr.items.find(x => x.id === attr.value)
        } else {
          return {}
        }
      } catch (err) {
        console.error('item value', err)
      }
      return {}
    },
    async showContacts () {
      const { result } = await this.$api('offers.showContacts', {
        offerId: this.offer.offerId
      })
      this.contacts = result

      console.log(this.contacts)

      // this.$refs.contactsModal.open()
    },
    shuffle (a) {
      for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1))
        ;[a[i], a[j]] = [a[j], a[i]]
      }
      return a
    },
    swiperOptions () {
      return {
        slidesPerView: 1,
        spaceBetween: 0,
        // speed: Math.random() * (5000 - 1000) + 1000,
        freeMode: false,
        // autoplay: {
        //   delay: Math.random() * (10000 - 2000) + 2000
        // },
        lazy: true,
        loop: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  }
}
</script>

<style lang="scss">
@media screen and (min-width: 1280px) {

}

.offer-map {
  margin-top: 10px;
}

.tmp__offer-notice {
  margin-bottom: 2em;

  /* background-color: rgba(214,150,28,0.18039); */
  padding: 20px;
  color: $clr-coral;
  border: 1px solid $clr-coral;
  border-radius: 4px;
}

._inline {
  position: relative;
  top: 10px;
  display: block;
}

._pt10 {
  padding-top: 10px;
}

.mb {
  margin-bottom: 16px;
}

.mt {
  margin-top: 16px;
}

.modal-contacts {
  width: 400px;
}

.swiper-button-white {
  opacity: 0.2;
  filter: invert(0.1);
}

.swiper-button-white:hover {
  opacity: 1;
}

.vk-help {
  color: #aaa;
}

.button-group {
  display: flex;

  .btn {
    margin-right: 15px;
  }
}

.sidebar-btn-container {
  margin-top: 10px;

  &:nth-child(2) {
    margin-top: 10px;
  }
}

.btn-call {
  display: inline-block;
  width: 100%;
  padding: 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: $primary;
  border-radius: 4px;
}
</style>
