<template lang="pug">
  div.offer__wrapper
    div.block
      div.offer__header
        div.offer__header-info
          h1.offer__head.h1 {{ offer.title }}
          div.offer__header-info
            div.head-info-labels
              div.head-info-labels__item._time
                ago(:datetime="publishedAt")
              //div.head-info-labels__item._date
        div.offer__header-links
          div.action-links
            div.action-links__item
              img(src='~assets/images/icons/icon-follow.svg').action-links__ico
            div.action-links__item
              img(src='~assets/images/icons/icon-heart.svg').action-links__ico
      div.offer__page
        div.offer__main
          div.offer__slider-wrapper
            // div.offer__label.slider-label Показать карту
            div.offer__slider(:style="{ backgroundColor: `rgba${topImage.color}`}")
              img(:src='topImage.url').offer__slider-image
          div.offer__place.places-info
            div.places-info__place-item._city
              img(src='~assets/images/icons/icon-place.svg').places-info__place-icon
              div.places-info__place-text {{attributeValue(5).value}}
            //div.places-info__place-items
              div(v-for="item in offer.distance").places-info__place-item
                img(v-if="item.transport" src='~assets/images/icons/icon-transport.svg').places-info__place-icon
                div(:class="`_${item.way}`").places-info__place-text {{item.branch}}
                div.offer__place-desc {{item.time}}

          //offer-meta(:meta="layoutData.comfort")

          //offer-furniture(:furniture="offer.layout.furniture")

          div.offer__about
            h3.offer__about-head.h3 Описание объекта
            nl2br.offer__about-text(tag="div" :text="offer.description")

          //offer-requirements(:requirements="offer.requirements")

          //div.offer__owner-message
            div.h3.offer__owner-message-head Комментарии гнездовладельца
            div.offer__owner-message-text

        div.offer__sidebar
          div.info-sidebar
            //div.info-sidebar__item._price(v-if="$auth.user && $auth.user.ownerId == offer.ownerId")
              div
                nuxt-link(:to="`/offers/${$route.params.id}/edit`") Редактировать
            div.info-sidebar__item._price
              div.info-sidebar__head.info-sidebar__head--large {{offer.price}} P в месяц
              //div.info-sidebar__text(v-if="itemValueByIdFromValue(8).title!='Без залога'") Залог: {{itemValueByIdFromValue(8).title}}
            div.info-sidebar__item._owner
              //user-card(:userInfo="draft.user")

</template>

<script>
import Nl2br from 'vue-nl2br'

import userCard from '~/components/domain/users/userCard'
import counter from '~/components/domain/offers/counters/defaultCounter'
import offerMeta from '~/components/domain/offers/offer/offerMeta'
import offerFurniture from '~/components/domain/offers/offer/offerFurniture'
import offerRequirements from '~/components/domain/offers/offer/offerRequirements'
import Ago from '~/components/ui/Ago'

export default {
  components: {
    userCard,
    counter,
    offerMeta,
    offerFurniture,
    offerRequirements,
    Nl2br,
    Ago
  },
  props: {
    offer: {
      type: Object,
      required: true
    }
  },
  data () {
    return {}
  },
  computed: {
    sliderBackgroundColor () {
      return 'rgba' + this.topImage.color
    },
    // layoutData() {
    //   let res = {
    //     comfort: [],
    //     furniture: []
    //   }
    //   for (let i = 0; i < this.offer.layout.comfort.length; i++) {
    //     let row = []
    //     for (let j = 0; j < this.offer.layout.comfort[i].length; j++) {
    //       let id = this.offer.layout.comfort[i][j]
    //       row.push(this.attribute(id))
    //     }
    //     res.comfort.push(row)
    //   }
    //   return res
    // },
    topImage () {
      if (this.offer.images && this.offer.images[0]) {
        return this.offer.images[0]
      } else {
        return {
          url:
            'https://pp.userapi.com/c848416/v848416336/110b9f/J6JDEKlYY6s.jpg'
        }
      }
    },
    comment () {
      let comment
      try {
        comment = this.draft.params.attributes.find(x => x.id === 44).value
      } catch {
        comment = ''
      }
      return comment
    },
    computedOffer () {
      let offerData = this.offerData
      if (!offerData) {
        offerData = {}
      }
      return {
        ...offerData
      }
    }
  },
  methods: {
    attribute (id) {
      if (this.attributes != null) {
        const value = this.attributeValue(id)
        let attribute = this.attributes.find(x => x.id === id)
        if (value != null) {
          attribute = { ...attribute, ...value }
        }
        return attribute
      }
    },
    attributeValue (attributeId) {
      if (this.draft && this.draft.params && this.draft.params.attributes) {
        const attr = this.draft.params.attributes.find(x => x.id === attributeId)
        if (attr) {
          return attr
        } else {
          return {}
        }
      }
      return {}
    },
    itemValueByIdFromValue (attributeId) {
      if (this.draft && this.draft.params && this.draft.params.attributes) {
        const attr = this.draft.params.attributes.find(x => x.id === attributeId)
        return attr.items.find(x => x.id === attr.value)
      } else {
        return {}
      }
    }
  }
}
</script>
