<template lang="pug">
.publication-controls
    .tmp__offer-notice(v-if="status == 10 && ($auth.user && (!$auth.user.isModerator || $auth.user.id === userId))") Это черновик объявления, отправьте его на модерацию, чтобы оно появилось в поиске.
      btn._main._inline(@click="submitForModeration") Отправить на модерацию
    .tmp__offer-notice(v-if="status == 13")
      div(v-if="$auth.user && $auth.user.isModerator") Это объявление заблокировано модератором
      div(v-else) Это объявление заблокировано модератором
    .tmp__offer-notice(v-if="status == 15")
      div(v-if="$auth.user && $auth.user.isModerator") Объявление не прошло модерацию. Обновите объявление и попробуйте ещё раз.
        p Комментарий модератора: <b class="b">{{ statusComment }}</b>
        btn._main._inline(@click="submitForModeration") Отправить на модерацию
      div(v-else) Объявление не прошло модерацию.
    .tmp__offer-notice(v-if="status == 11")
      div(v-if="$auth.user && $auth.user.isModerator") Это объявление находится на модерации, его можно опубликовать.
        .button-group
        btn._main._inline(@click="publish") Опубликовать
        btn._gray._inline(@click="reject" muted) Отклонить
        btn._gray._inline(@click="fail" muted) Запросить данные
      div(v-else) Это объявление находится на модерации
        btn._main._inline(@click="unpublish") В черновики
    .tmp__offer-notice(v-if="status == 12 && ($auth.user && ($auth.user.isModerator || $auth.user.id === userId))") Это объявление опубликовано, его можно снять с публикации.
        btn._main._inline(@click="unpublish") Снять с публикации
    .tmp__offer-notice(v-if="status == 16 && $auth.user.isModerator") Публикуется (вы можете перезапустить публикацию, если она зависла).
      btn._gray._inline(@click="restart") Начать заново
</template>

<script>
import Btn from '~/components/ui/Btn'

export default {
  components: {
    Btn
  },
  model: {
    prop: 'status',
    event: 'updateStatus'
  },
  props: {
    status: {
      type: Number,
      default: () => 10
    },
    statusComment: {
      type: String,
      default: () => ''
    },
    offerId: {
      type: Number,
      required: true
    },
    userId: {
      type: Number,
      required: true
    }
  },
  methods: {
    async submitForModeration () {
      const res = await this.$api('offers.submitForModeration', {
        offerId: this.offerId
      })
      if (res.result && res.result.error) {
        this.$toast.error(res.result.error.message)
      } else {
        this.$emit('updateStatus', 11)
        this.$toast.success('Объявление отправлено на модерацию')
      }
    },
    async restart () {
      const { error } = await this.$api('moderation.restartPublication', {
        offerId: this.offerId
      })
      if (error) {
        this.$toast.error('Ошибка')
      }
    },
    async reject () {
      const reason = prompt('Введите причину', 'Агент')

      if (reason == null) {
        this.$toast.error('введите причину')
        return
      }
      const res = await this.$api('moderation.banOffer', {
        offerId: this.offerId,
        comment: reason
      })
      if (res.result && res.result.error) {
        this.$toast.error(res.result.error.message)
      } else {
        this.$emit('updateStatus', 13)
        this.$toast.success('Объявление успешно отклонено')
      }
    },
    async fail () {
      const reason = prompt('Введите причину', 'Агент')

      if (reason == null) {
        this.$toast.error('введите причину')
        return
      }
      const res = await this.$api('moderation.DenialOfPublication', {
        offerId: this.offerId,
        message: reason
      })
      if (res.result && res.result.error) {
        this.$toast.error(res.result.error.message)
      } else {
        this.$emit('updateStatus', 15)
        this.$toast.success('Объявление успешно отклонено')
      }
    },
    async publish () {
      const res = await this.$api('moderation.submitOffer', {
        offerId: this.offerId
      })
      if (res.result && res.result.error) {
        this.$toast.error(res.result.error.message)
      } else {
        this.$emit('updateStatus', 12)
        this.$toast.success('Объявление успешно опубликовано')
      }
    },
    async unpublish () {
      const res = await this.$api('offers.unPublish', {
        offerId: this.offerId
      })
      if (res.result && res.result.error) {
        this.$toast.error(res.result.error.message)
      } else {
        this.$emit('updateStatus', 10)
        this.$toast.success('Объявление успешно снято с публикации')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.publication-controls {
  .tmp__offer-notice {
    margin-bottom: 2em;

    /* background-color: rgba(214,150,28,0.18039); */
    padding: 20px;
    color: #ff8c48;
    border: 1px solid #ff8c48;
    border-radius: 4px;
  }
}

.b {
  font-weight: 700;
}
</style>
