<template lang="pug">
.report
  .report-header(v-if="!reported")
    btn(muted @click="toggle" fullwidth) Пожаловаться на объявление
  .report-body.mt(v-if="!closed&&!reported")
    .report-reason(
        v-for="item, i in reasons"
        :key="i"
        @click="choose(item.id)"
        :class="{'active': item.id===active}"
    ) {{ item.title }}
    ug-input.mt(placeholder="Есть что добавить?" fullwidth v-model="comment")
    btn.mt(@click="report") Отправить жалобу
  .report-body.mt(v-if="reported") Ваша жалоба отправлена на модерацию.
</template>

<script>
import Btn from '~/components/ui/Btn'
import UgInput from '~/components/ui/UgInput'

export default {
  components: {
    Btn,
    UgInput
  },
  props: {
    objectId: {
      type: Number
    }
  },
  data () {
    return {
      closed: true,
      reported: false,
      active: -1,
      comment: '',
      reasons: [
        { id: 1, title: 'Не актуально или сдано' },
        { id: 2, title: 'Мошенничество' },
        { id: 3, title: 'Агент' },
        { id: 4, title: 'Другое' }
      ]
    }
  },
  methods: {
    toggle () {
      this.closed = !this.closed
    },
    choose (id) {
      this.active = id
    },
    async report () {
      await this.$api('offers.Complaint', {
        text: this.comment,
        objectId: this.objectId,
        reason: this.active
      })
      this.reported = true
    }
  }
}
</script>

<style lang="scss" scoped>
.report {
  &-header {

  }

  &-body {
    .report-reason {
      padding: 16px 8px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: #eee;
      }
    }
  }
}

.active {
  background-color: #bbb;
}

.mt {
  margin-top: 8px;
}
</style>
