<template lang="pug">
.item
  .content
    .heading
      .img
      .title
        .user-name
        .name
    .text
    .images
    .actions
      .text Понравилось Петру Иванову
      .buttons
  .comments
</template>

<style lang="scss" scoped></style>
