<template lang="pug">
  header.header(:class="{'_logged': this.$auth.loggedIn, 'dark': dark }")
    .header__wrap
      transition(name="fade")
        .header__select-city(v-show="locationWindowIsOpen")
          span.ttl.ttl_5= "Выберите город"
          .header__city-wrap
            span.header__city-item.link(
              v-for="(item, index) in cities"
              :key="index"
              @click="chooseCity(item.id)"
            ) {{ item.title }}
      .header__left
        nuxt-link.header__logo(to="/")
          img.header__logo-img(src='@/assets/img/png/logo.png')
      .header__right
        nuxt-link.header__btn.svg-border-wrap(
          :to="headerNav[0].to"
        )
          UgSVG.header__btn-icon(:svg="'search'")
          span.link {{ headerNav[0].title }}
          svg.svg-border
            rect(width="100%" height="100%")
        nuxt-link.header__btn.svg-border-wrap(
          :to="headerNav[1].to"
        )
          UgSVG.header__btn-icon(:svg="'plus'")
          span.link {{ headerNav[1].title }}
          svg.svg-border
            rect(width="100%" height="100%")
        nuxt-link.header__btn.header__btn_fave.svg-border-wrap(
          :to="headerNav[2].to"
        )
          UgSVG.header__btn-icon(:svg="'like-multiple'")
          transition(name="fade")
            span.header__fave-count(
              v-show="countOfFaveList"
            ) {{ countOfFaveList }}
          svg.svg-border
            rect(width="100%" height="100%")
        nuxt-link.header__btn.header__btn_auth.svg-border-wrap(
          v-if="!$auth.loggedIn"
          :to="headerNav[3].to"
        )
          span.link {{ headerNav[3].title }}
          svg.svg-border
            rect(width="100%" height="100%")
        nuxt-link.header__btn.svg-border-wrap(
          v-if="$auth.loggedIn"
            :to="headerNav[4].to"
        )
          span.link {{ headerNav[4].title }}
          svg.svg-border
            rect(width="100%" height="100%")
        .header__btn.header__btn_auth.svg-border-wrap(
          v-if="$auth.loggedIn"
          @click="logout()"
        )
          span.link {{ headerNav[5].title }}
          svg.svg-border
            rect(width="100%" height="100%")
        .header__burger-menu(
          :class="{ open: menuIsOpen }"
          @click="toggleMenu"
        )
          .header__burger
    .header__menu(
      :class="{ open: menuIsOpen }"
    )
      .header__menu-wrap
        nuxt-link.header__menu-btn(:to="headerNav[0].to")
          UgSVG.header__menu-btn-icon(:svg="'search'")
          span.link.header__menu-btn-txt {{ headerNav[0].title }}
        nuxt-link.header__menu-btn(:to="headerNav[1].to")
          UgSVG.header__menu-btn-icon(:svg="'plus'")
          span.link.header__menu-btn-txt {{ headerNav[1].title }}
        nuxt-link.header__menu-btn(:to="headerNav[2].to")
          UgSVG.header__menu-btn-icon(:svg="'like-multiple'")
          span.link.header__menu-btn-txt {{ headerNav[2].title }}
        nuxt-link.header__menu-btn(
          v-if="!$auth.loggedIn"
          :to="headerNav[3].to"
        )
          UgSVG.header__menu-btn-icon(:svg="'person'")
          span.link.header__menu-btn-txt {{ headerNav[3].title }}
        nuxt-link.header__menu-btn(
          v-if="$auth.loggedIn"
          :to="headerNav[4].to"
        )
          UgSVG.header__menu-btn-icon(:svg="'person'")
          span.link.header__menu-btn-txt {{ headerNav[4].title }}
        .header__menu-btn(
          v-if="$auth.loggedIn"
          @click="logout()"
        )
          UgSVG.header__menu-btn-icon(:svg="'person'")
          span.link.header__menu-btn-txt {{ headerNav[5].title }}
</template>

<script>
// Может понадобиться в дальнейшем, либо необходимо выпилить
// import { mixin as clickaway } from "vue-clickaway";
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgHeader',

  // mixins: [clickaway],

  components: {
    UgSVG
  },

  props: {
    dark: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      menuIsOpen: false,

      menuItems: [],

      locationWindowIsOpen: false
    }
  },

  computed: {
    countOfFaveList () {
      return this.$store.state.localStorage.faveList.length
    },

    citySelected () {
      return this.$store.state.localStorage.citySelected
    },

    cities () {
      return this.$store.state.localStorage.cities
    },

    headerNav () {
      const menu = [
        {
          title: 'Найти объявление',
          to: '/snyat'
        },
        {
          title: 'Подать объявление',
          to: '/add/new'
        },
        {
          title: 'Избранное',
          to: '/favourite'
        },
        {
          title: 'Вход',
          to: '/auth/login'
        }
      ]

      if (this.$auth.loggedIn) {
        const menuFull = [
          {
            title: 'Профиль',
            to: `/users/${this.$auth.user.id}`
          },
          {
            title: 'Выйти',
            to: '/'
          },
          {
            title: 'Мои объявления',
            to: `/users/${this.$auth.user.id}/offers`
          },
          {
            title: 'Модерация',
            to: '/moderation/t',
            isModerator: true
          }
        ]

        menuFull.forEach(item => {
          menu.push(item)
        })

        if (!this.$auth.user.isModerator) {
          return menu.filter((item) => !item.isModerator)
        }
      }

      return menu
    }
  },

  mounted () {
    // this.$store.dispatch('fetchUnreadCount')

    // Для отладки locationWindow
    // this.$store.commit('localStorage/setCitySelected', false)

    if (!this.citySelected) {
      setTimeout(() => {
        this.locationWindowIsOpen = true
      }, 5000)
    }
  },

  methods: {
    chooseCity (id) {
      this.$store.commit('localStorage/setCity', id)
      this.closeLocationWindow()
    },

    closeLocationWindow () {
      this.locationWindowIsOpen = false
      this.$store.commit('localStorage/setCitySelected', true)
    },

    async logout () {
      await this.$auth.logout()
      this.$router.push('/auth/login')
    },

    toggleMenu () {
      this.menuIsOpen = !this.menuIsOpen
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 3rem;
      padding-left: 1rem;
      background-color: $bg;
      border: 1px solid $border;
      z-index: 1000;
    }

    .header__wrap {
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 100%;
    }

    .header__left {
      display: flex;
      align-items: center;
    }

    .header__right {
      display: flex;
      flex-shrink: 0;
    }

    .header__logo {
      max-width: rem(124);
    }

    .header__logo-img {
      width: 100%;
      height: 100%;
    }

    .header__btn {
      display: none;
    }

    .header__burger-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(48);
      height: 100%;
      border-left: 1px solid $border;
    }

    .header__burger {
      position: relative;
      width: rem(16);
      height: rem(16);
      transition: $t-04-eio;
    }

    .header__burger-menu.open .header__burger {
      transform-origin: center center;
      transform: rotate(180deg);
    }

    .header__burger::before,
    .header__burger::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $icon-default;
      border-radius: 1px;
      transform-origin: center center;
    }

    .header__burger::before {
      top: rem(5);
      left: 50%;
      transform: translate(-50%, -50%);
      transition: $t-04-eio;
    }

    .header__burger-menu.open .header__burger::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .header__burger::after {
      bottom: rem(5);
      left: 50%;
      transform: translate(-50%, 50%);
      transition: $t-04-eio;
    }

    .header__burger-menu.open .header__burger::after {
      bottom: 50%;
      transform: translate(-50%, 50%) rotate(-45deg);
    }

    .header__menu {
      position: absolute;
      // top: rem(48);
      left: 0;
      width: 100%;
      height: calc(100vh - 3rem);
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      transition: $t-04-eio;
      overflow: hidden;
    }

    .header__menu.open {
      opacity: 1;
      visibility: visible;
    }

    .header__menu-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: rem(8);
      background-color: $bg;
      border-bottom: 1px solid $border;
      transform: translateY(-100%);
      transition: $t-04-eio;
    }

    .header__menu.open .header__menu-wrap {
      transform: translateY(0);
    }

    .header__menu-btn {
      display: flex;
      padding: rem(16);
      gap: $gap-r-xs;
      text-decoration: none;
    }

    .header__menu-btn-icon {
      width: rem(16);
      height: rem(16);
      fill: $primary-color;
    }

    .text.header__menu-btn-txt {
      font-size: rem(12);
      line-height: rem(16);
    }

    .header__select-city,
    .header__city-wrap {
      display: flex;
      flex-direction: column;
    }

    .header__select-city {
      position: absolute;
      top: rem(56);
      right: $gap-r-xxs;
      gap: $gap-r-xs;
      width: 100%;
      padding: $gap-r-xs;
      background-color: $bg;
      border: 1px solid $border;
      z-index: 10;
      box-sizing: border-box;
    }

    .header__city-wrap {
      gap: $gap-r-xs;
      border-top: 1px solid $border;
      padding-top: $gap-r-xs;
    }

    .header__city-item {
      cursor: pointer;
    }
  }

  @media screen and (min-width: 600px) {
    .header {
      height: rem(64);
      padding-left: rem(24);
    }

    .header__logo {
      max-width: rem(180);
    }

    .header__burger-menu {
      width: rem(64);
    }

    .header__menu {
      top: rem(64);
      height: calc(100vh - 4rem);
    }

    .header__menu-wrap {
      padding: rem(8) rem(16);
    }

    .header__select-city {
      top: rem(72);
      width: initial;
    }
  }

  @media screen and (min-width: 1280px) {
    .header {
      position: static;
      height: 80px;
      padding-left: 0;
      z-index: initial;
    }

    .header__wrap {
      max-width: 1200px;
      height: 100%;
      margin: 0 auto;
    }

    .header__logo {
      max-width: 224px;
    }

    .header__btn {
      position: relative;
      display: flex;
      flex-shrink: 0;
      gap: $gap-xs;
      align-items: center;
      justify-content: center;
      min-width: 80px;
      padding: 32px 24px;
      text-decoration: none;
      cursor: pointer;
      border-left: 1px solid $border;
    }

    .header__btn-icon {
      width: 16px;
      height: 16px;
      transition: $t-04-eio;
      fill: $primary-color;
    }

    .header__fave-count {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% + 16px), calc(-50% - 12px));
      color: $caption;
      font-size: 10px;
      line-height: 1em;
    }

    .header__btn:hover .header__btn-icon {
      fill: $primary-color-dark;
    }

    .header__btn_auth {
      border-right: 1px solid $border;
    }

    .header__burger-menu {
      display: none;
    }

    .header__menu {
      display: none;
    }

    .header__select-city {
      right: 0;
      top: 88px;
    }
  }
</style>
