<template lang="pug">
div.block
  div.sitemap
    nuxt-link(v-for="(link, index) in links" :key="index" :to="link.to") {{ link.title }}
</template>

<script>
export default {
  data () {
    return {
      links: [
        { title: 'Создание формы', to: '/at/forms/builder' },
        { title: 'Все формы', to: '/at/forms' }
      ]
    }
  }
}
</script>
