<template lang="pug">
.feedback(v-on-clickaway="close")
  .feedback-header(@click="opened = !opened") Обратная связь
  .feedback-body(:style="{height:opened?'200px':'0px'}")
    .messages(id="messages")
        div(v-for="message, i in reversedMessages" :key="i")
          div(v-if="message.fromModerator" v-html="`Модератор: `+md(message.text)")
          div(v-else v-html="`Вы: `+md(message.text)")
    div
        messenger-textarea(@send="send" ref="textarea")
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'

import UgTextarea from '~/components/ui/UgTextarea'
import Btn from '~/components/ui/Btn'
import MessengerTextarea from '~/components/ui/MessengerTextarea'

function nl2br (str, is_xhtml) {
  // http://kevin.vanzonneveld.net
  // +   original by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
  // +   improved by: Philip Peterson
  // +   improved by: Onno Marsman
  // +   improved by: Atli Þór
  // +   bugfixed by: Onno Marsman
  // +      input by: Brett Zamir (http://brett-zamir.me)
  // +   bugfixed by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
  // +   improved by: Brett Zamir (http://brett-zamir.me)
  // +   improved by: Maximusya
  // *     example 1: nl2br('Kevin\nvan\nZonneveld');
  // *     returns 1: 'Kevin<br />\nvan<br />\nZonneveld'
  // *     example 2: nl2br("\nOne\nTwo\n\nThree\n", false);
  // *     returns 2: '<br>\nOne<br>\nTwo<br>\n<br>\nThree<br>\n'
  // *     example 3: nl2br("\nOne\nTwo\n\nThree\n", true);
  // *     returns 3: '<br />\nOne<br />\nTwo<br />\n<br />\nThree<br />\n'
  const breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br ' + '/>' : '<br>' // Adjust comment to avoid issue on phpjs.org display

  return (str + '').replace(/([^\n\r>]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2')
}

const mdit = nl2br

const fetchMessages = async (api, deviceId) => {
  const { result } = await api('helpchat.History', {
    deviceId
  })
  return result
}

export default {
  components: {
    UgTextarea,
    Btn,
    MessengerTextarea
  },
  mixins: [clickaway],
  data () {
    return {
      opened: false,
      messages: []
    }
  },
  async fetch () {
    this.messages = await fetchMessages(this.$api, this.$store.state.localStorage.deviceId)
    this.$nextTick(() => {
      this.scrollToEnd()
    })
  },
  computed: {
    hasNewMessage () {
      return this.$store.state.hasHelpMessage
    },
    reversedMessages () {
      try {
        if (this.messages) {
          return this.messages.slice(0).reverse()
        } else {
          return []
        }
      } catch {
        return []
      }
    }
  },
  watch: {
    opened (isOpened) {
      if (isOpened) {
        this.$refs.textarea.focus()
      }
    },
    async hasNewMessage (v) {
      if (v) {
        this.messages = await fetchMessages(this.$api, this.$store.state.localStorage.deviceId)
        this.$store.commit('resetHasHelpMessage')
        this.$nextTick(() => {
          this.scrollToEnd()
        })
      }
    }
  },
  methods: {
    md (text) {
      return mdit.render(text)
    },
    close () {
      this.opened = false
    },
    async send (msg) {
      await this.$api('helpchat.send', {
        deviceId: this.$store.state.localStorage.deviceId,
        text: msg
      })
      this.messages = await fetchMessages(this.$api, this.$store.state.localStorage.deviceId)
      this.$nextTick(() => {
        this.scrollToEnd()
      })
    },
    scrollToEnd () {
      try {
        const container = this.$el.querySelector('#messages')
        container.scrollTop = container.scrollHeight
      } catch {
        console.log(this.$el)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.feedback {
  border-radius: 4px;

  &-header {
    padding: 16px;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
  }

  &-body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    transition: all 200ms;
  }
}

.messages {
  height: 200px;
  padding: 8px;
  overflow-y: auto;
}
</style>
