<template lang="pug">
    div {{ message }}
      nuxt-link(to="/") На главную
</template>

<script>
export default {
  data () {
    return {
      callbackUrl: null,
      message: 'Загрузка...'
    }
  },
  async mounted () {
    const { result, error } = await this.$api('auth.loginWithVk', {
      redirectUri: 'https://ugnest.com/auth/vk/pp',
      code: this.$route.query.code
    })
    if (error) {
      console.error(error)
    } else {
      window.localStorage.setItem('tmpToken', result.token)
      await this.$auth.setToken('local', result.token)
      await this.$auth.fetchUser()

      try {
        window.opener.UGVkAuthCallback(result.token)
      } catch (err) {
        console.error(err)
      // TODO: send to sentry
      }

      window.close()

      // await this.$router.push('/')
    }
    window.close()
  }
  //     if (process.browser) {
  //       console.log(window.location)
  //       this.callbackUrl = window.location.origin + window.location.pathname
  //     } else {
  //       this.message = "Ошибка!"
  //       return
  //     }

  //     console.log(result, error)
  //
}
</script>
