<template lang="pug">
div
  ug-input(placeholder="Поиск" v-model="q")
  ug-table(:data="users")
</template>

<script>
import UgTable from '~/components/ui/UgTable'
import UgInput from '~/components/ui/UgInput'

const mapUsers = users => users.map(x => ({ id: x.id, firstName: x.firstName, lastName: x.lastName, isVkUser: x.isVkUser, createdAt: x.createdAt, link: `/users/${x.id}` }))

export default {
  components: {
    UgTable,
    UgInput
  },
  layout: 'moderation',
  async asyncData ({ app }) {
    const { result } = await app.$api('users.search')
    return {
      users: mapUsers(result)
    }
  },
  data () {
    return {
      q: ''
    }
  },
  watch: {
    async q (v) {
      const { result } = await this.$api('users.search', {
        search: {
          query: v
        }
      })
      this.users = mapUsers(result)
    }
  }
}
</script>
