<template lang="pug">
  .breadcrumbs(
    itemscope="itemscope"
    itemtype="http://schema.org/BreadcrumbList"
  )
    .breadcrumbs__item-wrap
      .breadcrumbs__item(
        v-for="(item, index) in items"
        :key="index"
        itemscope="itemscope"
        itemprop="itemListElement"
        itemtype="https://schema.org/ListItem"
      )
        nuxt-link.breadcrumbs__link.link(
          :to="item.value"
          itemprop="item"
          itemtype="http://schema.org/ListItem"
          :title="item.title"
        )
          span(itemprop="name") {{ item.title }}
        meta(itemprop="position" :content="index + 1")
</template>

<script>
export default {
  name: 'UgBreadcrumbs',

  props: {
    items: {
      type: Array,
      default: () => []
    }
  },

  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .breadcrumbs {
      width: 100%;
      padding: $gap-r-s 0;
      overflow: auto;
    }

    .breadcrumbs__item-wrap {
      display: flex;
      flex-wrap: nowrap;
      width: max-content;
      padding: 0 $gap-r-xs;
    }

    .breadcrumbs__item {
      display: flex;
      align-items: center;
      color: $link-default;
    }

    .breadcrumbs__item:not(:last-child)::after {
      content: url("data:image/svg+xml; utf8, %3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.16303 12.834C4.94305 12.6152 4.94607 12.2634 5.16978 12.0483L9.37954 8L5.16978 3.95168C4.94607 3.73655 4.94305 3.38481 5.16303 3.16603C5.383 2.94726 5.74268 2.9443 5.96639 3.15943L11 8L5.96639 12.8406C5.74268 13.0557 5.383 13.0527 5.16303 12.834Z' fill='%23878787'/%3E%3C/svg%3E%0A");
      width: rem(16);
      height: rem(16);
      margin: 0 $gap-r-xxs;
      color: $link-default;
    }

    .breadcrumbs__item:last-child .breadcrumbs__link {
      color: $link-active;
      pointer-events: none;
    }

    .breadcrumbs__item:last-child .breadcrumbs__link:hover {
      color: $link-active;
    }
  }

  @media screen and (min-width: 600px) {
    .breadcrumbs__item-wrap {
      padding: 0 $gap-r-s;
    }
  }

  @media screen and (min-width: 1280px) {
    .breadcrumbs {
      padding: $gap-s 0;
    }

    .breadcrumbs__item-wrap {
      flex-wrap: wrap;
      row-gap: $gap-xs;
      width: 100%;
      padding: 0;
    }

    .breadcrumbs__item:not(:last-child)::after {
      width: 16px;
      height: 16px;
      margin: 0 $gap-xxs;
    }
  }
</style>
