<template lang="pug">
aside.declaration-box__aside
  div.declaration-aside
    div.declaration-aside__steps
      nav.steps-aside
        span(
          v-for="(step, index) in steps",
          :key="index",
          :class="{'_active': isCurrentStep(index), '_disabled': false}",
          @click="$emit('goToStep', {stepIndex: index})").steps-aside__item {{ step.title }}
    div.declaration-aside__useful
      nav.colored-useful-links
        nuxt-link(:to="`/users/${$auth.user.id}`").colored-useful-links__item Моя анкета
        nuxt-link(:to="`/users/${$auth.user.id}/edit`").colored-useful-links__item Редактировать профиль
        //nuxt-link(
          v-for="(usefulLink, index) in usefulLinksComputed",
          :to="usefulLink.link",
          :key="usefulLink.index",
          :class="{'_disabled': usefulLink.isDisabled}").colored-useful-links__item {{ usefulLink.title }}
          div(v-if="usefulLink.notation").colored-useful-links__notation.circle-notation {{ usefulLink.notation }}
</template>

<script>
export default {
  props: ['steps', 'currentStepIndex'],
  data () {
    const links = [
      // {
      //   id: 2,
      //   isDisabled: false,
      //   link: "/",
      //   title: "Реклама"
      // },
      // {
      //   id: 3,
      //   isDisabled: false,
      //   link: "/",
      //   title: "Черновики",
      //   notation: "1"
      // },
      // {
      //   id: 4,
      //   isDisabled: false,
      //   link: "/",
      //   title: "Архив"
      // },
    ]
    if (this.$auth.loggedIn) {
      links.push(
        {
          id: 0,
          isDisabled: false,
          link: `/users/${this.$auth.user.id}/edit`,
          title: 'Моя анкета'
        },
        {
          id: 1,
          isDisabled: false,
          link: `/users/${this.$auth.user.id}/offers`,
          title: 'Объявления'
        },
        {
          id: 5,
          isDisabled: false,
          link: '/moderation/t',
          title: 'Модератор'
        }
      )
    }
    return {
      links,
      usefulLinks: [
        {
          id: 0,
          isDisabled: false,
          link: '/',
          title: 'Моя анкета'
        },
        {
          id: 1,
          isDisabled: false,
          link: '/',
          title: 'Объявления'
        },
        {
          id: 3,
          isDisabled: false,
          link: '/',
          title: 'Черновики',
          notation: '1'
        },
        {
          id: 5,
          isDisabled: true,
          link: '/',
          title: 'Модератор',
          onlyForModerator: true
        }
      ]
    }
  },
  computed: {
    usefulLinksComputed () {
      const isModerator = this.$auth.user.isModerator
      return this.usefulLinks.map((x) => {
        if (x.onlyForModerator) {
          return isModerator
        }
        return true
      })
    }
  },

  methods: {
    isCurrentStep (index) {
      return index === this.currentStepIndex
    }
  }
}
</script>
