<template lang="pug">
div
    .user
      .user__header
        .user__header-go-to-back(@click="$router.back()")
          img(src="~assets/images/icons/icon-back.svg").user__header-icon
          | Назад
        .user__header-name {{ user.firstName }} {{ user.lastName }}
          //.user__header-online-status Online
          //.user__header-like
              img(src="~assets/images/icons/icon-heart.svg").user__header-icon-like
    .flex
        .main
          //user__info-block.user-info-block
            .user-info-block__header
              .user-info-block__title Личная&nbsp;информация
            .user-info-block__body
              .user-info-block__info
                .user-info-block__list.user-info-block__list--questions
                  .user-info-block__item Пол
                  .user-info-block__item Возраст
                  .user-info-block__item Семейное положение
                  .user-info-block__item Дети
                  .user-info-block__item Домашние животные
                .user-info-block__list.user-info-block__list--answers
                  .user-info-block__item {{ user.sexTitle }}
                  .user-info-block__item {{ user.pluralAge }}
                  .user-info-block__item {{ user.relationTitle }}
                  .user-info-block__item {{ user.hasChild?'Есть':'Нет' }}
                  .user-info-block__item {{ user.animalTitle }}
              .user-info-block__info
                .user-info-block__list.user-info-block__list--questions
                  .user-info-block__item Родной город
                  .user-info-block__item Город проживания
                .user-info-block__list.user-info-block__list--answers
                  .user-info-block__item {{ user.hometown }}
                  .user-info-block__item {{ user.cityTitle }}
          .user__info-block.user-info-block
            .user-info-block__header
              .user-info-block__title О&nbsp;себе
            .user-info-block__body
              .user-info-block__info {{ user.bio }}

            //- .user__info
            //-     .content.clearfix
            //-         .content__title Личная информация
            //-             .content__line
            //-         .content__list-wrapper
            //-             ul.content__list
            //-                 li.content__item(v-for="userList in userLists") {{ userList }}
            //-             ul.content__list-answers
            //-                 li.content__item(v-for="userAnswer in userAnswers") {{ userAnswer }}
            //-         .content__list-wrapper
            //-             ul.content__list
            //-                 li.content__item(v-for="userInfo in userInfos") {{ userInfo }}
            //-             ul.content__list-answers
            //-                 li.content__item(v-for="userInform in userInforms") {{ userInform }}
            //- .user__info
            //-     .content.clearfix
            //-         .content__title Образование и карьера
            //-             .content__line
            //-         .content__flex-block
            //-             .content__list-wrapper.content__list-wrapper--education
            //-                 .content__item-name Образование
            //-                 .content__item Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание модели развития.
            //-             .content__list-wrapper.content__list-wrapper--education
            //-                 .content__item-name Работа
            //-                 .content__item Таким образом постоянное информационно пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание модели развития.
            //- .user__info
            //-     .content.clearfix
            //-         .content__title Образование и карьера
            //-             .content__line
            //-         .content__flex-block
            //-                 .content__item Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий способствует подготовки и реализации систем массового участия.
          //.user__info-block.user-info-block
            .user-info-block__header
              .user-info-block__title Увлечения и интересы
            .user-info-block__body
              .user-info-block__info
                .user-info-block__list.user-info-block__list--questions
                  .user-info-block__item Интерес к языкам
                  .user-info-block__item Путешествую
                  .user-info-block__item Интерес к политике
                  .user-info-block__item Инетрес к религии
                .user-info-block__list.user-info-block__list--answers
                  .user-info-block__item Учу английский
                  .user-info-block__item Часто
                  .user-info-block__item Нейтральное
                  .user-info-block__item Нейтральное
              .user-info-block__info
                .user-info-block__list.user-info-block__list--questions
                  .user-info-block__item Ориентация
                  .user-info-block__item В еде не приемлю
                  .user-info-block__item Курение
                  .user-info-block__item Алкоголь
                .user-info-block__list.user-info-block__list--answers
                  .user-info-block__item Гетеросексуальность
                  .user-info-block__item Мясо
                  .user-info-block__item Не курю
                  .user-info-block__item По праздникам
          //.user__info-block.user-info-block
            .user-info-block__header
              .user-info-block__title Образование и карьера
            .user-info-block__body
              .user-info-block__info
                | Etiam hendrerit hendrerit risus, quis condimentum enim aliquet dictum. Curabitur eu quam dui. Quisque varius nunc tempor, lacinia sem quis, fermentum est. Sed dolor lectus, efficitur vel condimentum ut, lacinia ac massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ac risus tempor est interdum pharetra eget pharetra augue. Quisque sit amet leo lacus. Phasellus id elit hendrerit, eleifend nulla quis, ullamcorper quam. Donec posuere ante nec pharetra malesuada. Vestibulum viverra, orci nec ultricies dapibus, dolor tortor eleifend neque, malesuada eleifend est risus congue libero. Cras vitae lorem risus. Maecenas bibendum tortor vel euismod faucibus
              .user-info-block__info
                | Etiam hendrerit hendrerit risus, quis condimentum enim aliquet dictum. Curabitur eu quam dui. Quisque varius nunc tempor, lacinia sem quis, fermentum est. Sed dolor lectus, efficitur vel condimentum ut, lacinia ac massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus ac risus tempor est interdum pharetra eget pharetra augue. Quisque sit amet leo lacus. Phasellus id elit hendrerit, eleifend nulla quis, ullamcorper quam. Donec  posuere ante nec pharetra malesuada. Vestibulum viverra, orci nec ultricies dapibus, dolor tortor eleifend neque, malesuada eleifend est risus congue libero. Cras vitae lorem risus. Maecenas bibendum tortor vel euismod faucibus
        .aside
          .user__photo
            img(:src="user.avatarUrl")
            //img(src="~assets/images/icons/icon-play-video.svg").user__icon-play
          //.user__information
              .user__elipses
                .user__ellipse
                .user__ellipse.user__ellipse--beige
                .user__ellipse.user__ellipse--dark-blue
              .user__occupancy
                  .occupancy__header
                    .occupancy__title Заполненность профиля
                    .occupancy__procent 90%
                  .occupancy__progress
                    .occupancy__progress-wrapper
                      .occupancy__progress-inner
                  .occupancy__statistics
                      .occupancy__statistics-likes
                          img(src="~assets/images/icons/icon-likes.svg").occupancy__statistics-icon
                          .occupancy__statistics-likes-number 4142
                      .occupancy__statistics-dislikes
                          img(src="~assets/images/icons/icon-dislikes.svg").occupancy__statistics-icon
                          .occupancy__statistics-dislikes-numder 21
                      .occupancy__statistics-comment
                          img(src="~assets/images/icons/icon-comments.svg").occupancy__statistics-icon
                          .occupancy__statistics-comment-number 16
              .user__links
                  a(href="#").user__link Vkontakte
                  a(href="#").user__link Instagram
                  a(href="#").user__link Facebook

          btn.mt.btn._full(block :to="`/im?user=${user.id}`") Отправить сообщение
          btn.mt.btn._full(type="button" @click="writeFromSupport" v-if="$auth.user && $auth.user.isModerator") Написать от поддержки
          .user__complaint
              img(src="~assets/images/icons/icon-cloud.svg").user__icon
              | Пожаловаться на пользователя
    //- sweet-modal(ref="writeFromSupport" overlay-theme="dark" class="styled-popup _narrow")
    //-   .messenger-box
    //-     .heading Написать сообщение от поддержки
    //-     .textarea-container
    //-       textarea.textarea(v-model="moderationText")
    //-     .actions
    //-       button.btn._main(@click="sendFromModerator") Отправить
</template>

<script>
// import { SweetModal } from 'sweet-modal-vue'

import Btn from '~/components/ui/Btn'

export default {
  components: {
    //    SweetModal,
    Btn
  },
  props: ['user'],
  data () {
    return {
      moderationText: null
    }
  },
  methods: {
    writeFromSupport () {
      this.$refs.writeFromSupport.open()
    },
    async sendFromModerator () {
      const { error } = await this.$api('messenger.SendMessageFromSupport', {
        to: Number.parseInt(this.$route.params.id),
        text: this.moderationText
      })
      if (error) {
        this.$toast.error(error.message)
      }
      this.moderationText = null
      this.$toast.success('Сообщение отправлено!')
      this.$nextTick(() => {
        this.$refs.writeFromSupport.close()
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
