<template lang="pug">
  div.user-card
    nuxt-link.user-card__name(:to="`/users/${ui.id}`") {{ ui.firstName }} {{ ui.lastName }}
    nuxt-link.user-card__image(:to="`/users/${ui.id}`")
      img(:src="this.ui.avatarUrl").user-card__image-file
      //- img(src="~assets/images/content/ebalo.jpg").user-card__image-file
      //temporary hardcoded
      //img(src="~assets/images/icons/icon-owner-label.svg").user-card__achivments
    //div.user-card__nav
      div.user-card__rate
        div.user-card__rate-link
          div.rate-link
            div.rate-link__icon
              img(src="~assets/images/icons/icon-like.svg", @click="like").rate-link__icon-file
            div.rate-link__count {{this.ui.likeCount}}
        div.user-card__rate-link
          div.rate-link
            div.rate-link__icon
              img(src="~assets/images/icons/icon-dislike.svg", @click="dislike").rate-link__icon-file
            div.rate-link__count {{this.ui.dislikeCount}}
      div.user-card__comments
        div.comment-link
          div.comment-link__icon
            img(src="~assets/images/icons/icon-comment.svg").comment-link__icon-file
          div.comment-link__count {{this.ui.commentsCount}}
</template>

<script>
export default {
  props: {
    userInfo: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    ui () {
      if (this.userInfo) {
        return this.userInfo
      }
      return {
        firstName: 'firstname'
      }
    }
  },
  methods: {
    like () {
      this.userInfo.likeCount++
    },
    dislike () {
      this.userInfo.dislikeCount++
    }
  }
}
</script>

<style lang="scss" scoped>
.user-card__name {
  text-decoration: none;
}
</style>
