.ui {
  &__section {
    margin-top: 50px;
  }

  &__section-items {
    display: flex;
    flex-wrap: wrap;
  }

  &__inner {
    max-width: $wrapper-width;
    margin: 0 auto;
  }

  &__item {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon-filename {
    margin-bottom: 10px;
  }

  &__section-name {
    margin-bottom: 20px;
    color: $clr-amaranth;
    font-size: 26px;
  }
}
