<template lang="pug">
  .page.dark
    UgHeader(:dark="true")
    .main-content-wrapper.wrapper-content
      .main-content
        nuxt
      .main-content-aside
        a.aside-rich-link(href="http://home.ugnest.ru")
          img.aside-rich-link-img(:src="require('~/assets/images/offline-home.jpg')")
          | Оффлайн-квартира, медиаплощадка, творческое пространство
    UgFooter(:dark="true")
</template>

<script>
import UgHeader from '~/components/ui/UgHeader/UgHeader'
import UgFooter from '~/components/ui/UgFooter/UgFooter'

export default {
  components: {
    UgHeader,
    UgFooter
  },

  computed: {
    dark () {
      return this.$store.state.dark
    }
  },

  watch: {
    async $route (r) {
      // todo move to middleware
      if (r.path.startsWith('/at/') || r.path === '/at') {
        if (!this.$auth.loggedIn || !this.$auth.user.isAdmin) {
          await this.$router.push('/')
        }
      }
    }
  },

  methods: {
    hideMobileAlert () {
      this.$store.commit('hideMobileAlert')
    },

    vantaBlack () {
      this.$store.commit('toggleDark')
    }
  }
}
</script>
