<template lang="pug">
  .page
    .beta-disclaimer(v-if="!isMain")
       | Это бета-версия сайта. Данные на сайте могут быть неточными и не полными.
       | Если вы нашли ошибку, пожалуйста, опишите ее в <a target="_blank" rel="nofollow" href="https://t.me/alphaugnestru">телеграм-чате</a>.
    UgHeader
    main.main
      nuxt
    UgFooter
</template>

<script>
import UgHeader from '~/components/ui/UgHeader/UgHeader'
import UgFooter from '~/components/ui/UgFooter/UgFooter'

export default {
  components: {
    UgHeader,
    UgFooter
  },

  head () {
    const meta = [
      {
        hid: 'description',
        name: 'description',
        content: this.$store.state.meta.meta.description
      },
      {
        hid: 'og:title',
        name: 'og:title',
        content: this.$store.state.meta.meta.title
      },
      {
        hid: 'og:description',
        property: 'og:description',
        name: 'og:description',
        content: this.$store.state.meta.meta.description
      }
    ]

    if (this.$store.state.meta.meta.image) {
      meta.push({
        hid: 'og:image',
        name: 'og:image',
        content: this.$store.state.meta.meta.image
      })
    }

    if (this.$store.state.meta.meta.twitterCard) {
      meta.push({
        hid: 'twitter:card',
        name: 'twitter:card',
        content: this.$store.state.meta.meta.twitterCard
      })
    }

    if (this.$store.state.meta.meta.twitterImage) {
      meta.push({
        hid: 'twitter:image',
        name: 'twitter:image',
        content: this.$store.state.meta.meta.twitterImage
      })
    }

    return {
      title: this.$store.state.meta.meta.title,
      meta: meta
    }
  },

  computed: {
    dark () {
      return this.$store.state.dark
    },

    isMain () {
      return this.$route.path === '/'
    }
  },

  watch: {
    async $route (r) {
      // todo move to middleware
      if (r.path.startsWith('/at/') || r.path === '/at') {
        if (!this.$auth.loggedIn || !this.$auth.user.isAdmin) {
          await this.$router.push('/')
        }
      }
    },

    head: {
      deep: true,
      handler () {
        console.log('head changed')
      }
    }
  },

  methods: {
    hideMobileAlert () {
      this.$store.commit('hideMobileAlert')
    },

    vantaBlack () {
      this.$store.commit('toggleDark')
    }
  }
}
</script>

<style scoped>
.beta-disclaimer {
  font-size: 0.8rem;
  color: #fff;
  background-color: #000;
  text-align: center;
}
</style>
