<template lang="pug">
  .error.block.grid
    .error__form-wrapper
      h1.ttl.ttl_1.error__header(v-if="error.statusCode === 404") Страница не найдена!
      h1.ttl.ttl_1.error__header(v-else) Неизвестная ошибка!
      .paragraph.error__subhead Попробуйте уточнить запрос или написать нам в техподдержку
      .error__form
        UgBtn.btn_primary.error__button(:to="'/'")= "Вернуться на главную"
        UgBtn.btn_secondary.error__button()= "Написать в техподдержку"
    .error__image
      img(src="~assets/img/png/hero.png").error__image-file
</template>

<script>
import UgBtn from '~/components/ui/UgBtn/UgBtn'

export default {
  components: {
    UgBtn
  },

  layout: 'blog',

  props: ['error'] // you can set a custom layout for the error page
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .error {
      margin: $gap-r-s 0 $gap-r-l;
      display: flex;
      flex-direction: column;
    }

    .error__header {
      margin-bottom: $gap-r-xxs;
    }

    .error__subhead {
      margin-bottom: $gap-r-s;
    }

    .error__form {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
    }

    .error__image {
      margin: 0 auto $gap-r-s;
      order: -1;
    }

    .error__image-file {
      width: rem(212);
      height: rem(204);
    }
  }

  @media screen and (min-width: 600px) {
    .error {
      margin: 0;
      height: rem(688);
      display: grid;
      align-self: center;
      align-items: center;
    }

    .error__form-wrapper {
      grid-column: 1/7;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .error__image {
      grid-column: 7/-1;
      margin: 0;
      order: initial;
    }

    .error__image-file {
      width: rem(344);
      height: rem(333);
    }
  }

  @media screen and (min-width: 1280px) {
    .error {
      height: fit-content;
    }

    .error__header {
      margin-bottom: $gap-xxs;
    }

    .error__subhead {
      margin-bottom: $gap-m;
    }

    .error__form {
      flex-direction: row;
      gap: 32px;
    }

    .error__button {
      width: 100%;
    }

    .error__image-file {
      width: 584px;
      height: 566px;
    }
  }
</style>
