<template lang="pug">
  .page
    UgHeader
    nuxt
</template>

<script>
import UgHeader from '~/components/ui/UgHeader/UgHeader'

export default {
  components: {
    UgHeader
  },

  watch: {
    async $route (r) {
      // todo move to middleware
      if (r.path.startsWith('/at/') || r.path === '/at') {
        if (!this.$auth.loggedIn || !this.$auth.user.isAdmin) {
          await this.$router.push('/')
        }
      }
    }
  }
}
</script>
