<template lang="pug">
  .page
    UgHeader
    moderation-layout
      nuxt
    UgFooter
</template>

<script>
import UgHeader from '~/components/ui/UgHeader/UgHeader'
import UgFooter from '~/components/ui/UgFooter/UgFooter'
import ModerationLayout from '~/components/domain/moderation/moderationLayout'

export default {
  components: {
    UgHeader,
    UgFooter,
    ModerationLayout
  },

  watch: {
    async $route (r) {
      // todo move to middleware
      if (r.path.startsWith('/at/') || r.path === '/at') {
        if (!this.$auth.loggedIn || !this.$auth.user.isAdmin) {
          await this.$router.push('/')
        }
      }
    }
  },

  methods: {
    hideMobileAlert () {
      this.$store.commit('hideMobileAlert')
    }
  }
}
</script>
