<template lang="pug">
  .gallery
    .gallery__wrap(:class="{ 'gallery__wrap_active': !isMap }")
      .gallery__item(
        v-for="(item, index) of gallery"
        :key="index"
        :class="{ 'gallery__item_active': (index === activeImg) }"
      )
        img.gallery__img-bg(:src='getUrl(item.url)')
        img.gallery__img(:src='getUrl(item.url)')
      .gallery__pag(v-if='gallery && gallery.length > 1')
        .gallery__pag-item(v-for="item, index of gallery" :key="index" :class="{ 'gallery__pag-item_active': (index === activeImg) }" @click="setActiveImg(index)")
          img.gallery__pag-img(:src='getUrl(item.url)')
      .gallery__btn.gallery__btn_prev(
        v-if='gallery && gallery.length > 1'
        @click="prevImg()"
      )
        UgSVG.gallery__btn-icon(:svg="'arrow'")
      .gallery__btn.gallery__btn_next(
        v-if='gallery && gallery.length > 1'
        @click="nextImg()"
      )
        UgSVG.gallery__btn-icon(:svg="'arrow'")
    .gallery__wrap.gallery__wrap_map(:class="{ 'gallery__wrap_active': isMap }")
      ug-map(v-if="isMap" :point='{lat: offer.lat ? offer.lat : 59.91807199347784, lon: offer.lon ? offer.lon : 30.304908500000003}')
    .gallery__toggle(@click="toggleGallery()")
      img.gallery__pag-img(v-show="isMap" :src='getUrl(gallery[activeImg].url)')
      img.gallery__pag-img(v-show="!isMap" src="~/assets/img/jpg/mini-map.jpg")
</template>

<script>
import Hammer from 'hammerjs'

import UgMap from '~/components/ui/UgMap.vue'
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgGallery',

  components: {
    UgMap,
    UgSVG
  },

  props: {
    gallery: {
      type: Array,
      default: () => []
    },

    offer: {
      type: Object,
      default: () => {}
    }
  },

  data () {
    return {
      activeImg: 0,
      isMap: false
    }
  },

  computed: {
    length () {
      return this.gallery.length - 1
    }
  },

  mounted () {
    const recognizer = new Hammer(this.$el, {
      recognizers: [
        [Hammer.Swipe, { direction: Hammer.DIRECTION_HORIZONTAL }]
      ]
    })

    recognizer.on('swipe', event => {
      if (event.offsetDirection === 2) {
        this.nextImg()
      }
      if (event.offsetDirection === 4) {
        this.prevImg()
      }
    })
  },

  methods: {
    toggleGallery () {
      this.isMap = !this.isMap
    },

    setActiveImg (index) {
      this.activeImg = index
    },

    prevImg () {
      if (this.activeImg === 0) {
        this.activeImg = this.length
      } else {
        --this.activeImg
      }
    },

    nextImg () {
      if (this.activeImg === this.length) {
        this.activeImg = 0
      } else {
        ++this.activeImg
      }
    },

    getUrl (uri) {
      if (typeof uri === 'object') {
        uri = uri.url
      }
      return uri.startsWith('/api/v1') ? uri : uri //  + '?w=278&h=320'
    }
  }
}
</script>

<style lang="scss">
@media screen and (min-width: 320px) {
  .gallery {
    position: relative;
    width: 100%;
    height: 18rem;
    overflow: hidden;
    background-color: $bg-2;
    border-radius: 0.25rem;
  }

  .gallery__wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $bg-3;
    visibility: hidden;
    opacity: 0;
    transition: $t-08-l;
  }

  .gallery__wrap_active {
    z-index: 0;
    visibility: visible;
    opacity: 1;
  }

  .gallery__item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: $t-08-l;
  }

  .gallery__item_active {
    z-index: 0;
    visibility: visible;
    opacity: 1;
  }

  .gallery__img-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px) opacity(0.2);
  }

  .gallery__img {
    z-index: 1;
  }

  .gallery__pag {
    position: absolute;
    bottom: rem(8);
    left: 50%;
    z-index: 10;
    display: flex;
    gap: $gap-r-xxs;
    align-items: flex-end;
    max-width: calc(100% - #{rem(16)});
    transform: translate(-50%, 0);
  }

  .gallery__pag-item {
    position: relative;
    flex: 0 1 auto;
    width: 4.5rem;
    height: 0.25rem;
    overflow: hidden;
    border: 2px solid $g-100;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.6;
    transition: $t-04-eio;
  }

  .gallery__pag-item_active {
    border: 2px solid $g-100;
    opacity: 1;
  }

  .gallery__pag-item:hover {
    flex: 0 0 auto;
    height: 4.5rem;
    opacity: 1;
  }

  .gallery__pag-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }

  .gallery__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 0.25rem;
    transform: translate(0, -50%);
    cursor: pointer;
    opacity: 1;
    transition: $t-04-eio;
  }

  .gallery__btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.8);
  }

  .gallery__btn_prev {
    left: 1rem;
    transform: translate(0, -50%) rotate(180deg);
  }

  .gallery__btn_next {
    right: 1rem;
  }

  .gallery__btn-icon {
    width: 1rem;
    height: 1rem;
    fill: $g-100;
  }

  .gallery__toggle {
    position: absolute;
    top: rem(8);
    right: rem(8);
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    background-color: $bg-2;
    border: 2px solid $g-100;
    border-radius: 0.25rem;
    cursor: pointer;

    // временно
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .gallery {
    height: 25.3rem;
  }

  .gallery__pag {
    bottom: rem(16);
    gap: $gap-r-xs;
    max-width: calc(100% - #{rem(32)});
  }

  .gallery__toggle {
    top: rem(16);
    right: rem(16);
    width: 3.875rem;
    height: 3.875rem;
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    height: 502px;
    border-radius: 4px;
  }

  .gallery__pag {
    bottom: 16px;
    gap: $gap-xs;
    max-width: calc(100% - 32px);
  }

  .gallery__pag-item {
    width: 72px;
    height: 4px;
    border-radius: 4px;
  }

  .gallery__pag-item:hover {
    height: 72px;
  }

  .gallery__btn {
    display: flex;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    opacity: 0;
  }

  .gallery:hover .gallery__btn {
    opacity: 1;
  }

  .gallery__btn_prev {
    left: 16px;
  }

  .gallery__btn_next {
    right: 16px;
  }

  .gallery__btn-icon {
    width: 16px;
    height: 16px;
  }

  .gallery__toggle {
    top: 16px;
    right: 16px;
    width: 62px;
    height: 62px;
    border-radius: 4px;
  }
}
</style>
