<template lang="pug">
div
  no-ssr
    div
      button(id="pick-avatar") Загрузить новое изображение профиля
      avatar(
        @uploaded="handleUploaded"
        trigger="#pick-avatar"
        upload-url="/api/v1/upload"
        :labels=`{ submit: "Сохранить", cancel: "Отмена"}`)
      img(:src="imgDataUrl" height="50px")
</template>

<script>
export default {
  data () {
    let avatarUrl
    if (this.$auth.loggndIn) {
      avatarUrl = this.$auth.user.avatarUrl
    }
    return {
      imgDataUrl: avatarUrl
    }
  },
  methods: {
    handleUploaded (resp) {
      this.imgDataUrl = resp.url
      this.$emit('onUpload', { avatarUrl: resp.url })
    }
  }
}
</script>

<style lang="css" scoped></style>
