<template lang="pug">
.dev-blog-wrap
  ug-breadcrumbs(:items="$store.state.meta.meta.breadcrumbs")
  h1 {{ post.title }}
  img.dev-blog-post-image(:src="post.topImage.url" :srcset="post.topImage.attrSrcset" :alt="post.title")
  .dev-blog-post-text(v-html="post.body")
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'

@Component({
  async asyncData ({ app, route }) {
    const { result } = await app.$api('blog.GetPostBySlug', {
      slug: route.params.slug
    })
    return {
      post: result
    }
  }
})
export default class Blog extends Vue {
}
</script>

<style>
.dev-blog-post-text p {
  margin-bottom: 16px;
}
</style>

<style lang="scss" scoped>
.dev-blog {
  &-wrap {
    max-width: 800px;
    margin: 16px auto;
    padding: 0 16px;
  }

  &-post {
    text-decoration: none;

    &-text {
      font-size: 20px;
      line-height: 28px;
    }

    &-image {
      height: 340px;
      max-height: 340px;
      margin: 0 auto;
    }

    &-title {
      &:hover {
        text-decoration: underline;
      }
    }

    &-summary {
      color: #666;
      text-decoration: none;
    }
  }

  &-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 640px) {
      display: block;
    }
  }
}
</style>
