<template lang="pug">
.dev-blog-wrap
  ug-breadcrumbs(:items="$store.state.meta.meta.breadcrumbs")
  h1 Новости
  .dev-blog-posts
    nuxt-link.dev-blog-post(v-for="post,i in posts" :key="i" :to="`/blog/${post.slug}`")
      h2.dev-blog-post-title {{ post.title }}
      img.dev-blog-post-image(:src="`/api/v1/resizer?h=220&url=${post.topImage.url}`")
      .dev-blog-post-summary {{ post.summary }}
      .dev-blog-post-date {{ publishedAt(post.publishedAt) }}
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'

import formatDate from '~/utils/FormatDate'

// import { formatRelative } from 'date-fns'
// import { ru } from 'date-fns/locale'

@Component({
  async asyncData ({ app }) {
    const { result } = await app.$api('blog.posts')
    return {
      posts: result
    }
  }
})
export default class Blog extends Vue {
  publishedAt (date) {
    return formatDate(date)
  }
}
</script>

<style lang="scss" scoped>
.dev-blog {
  &-wrap {
    max-width: 800px;
    margin: auto;
  }

  &-post {
    text-decoration: none;

    &-image {
      height: 220px;
      max-height: 220px;
    }

    &-title {
      &:hover {
        text-decoration: underline;
      }
    }

    &-summary {
      color: #666;
      text-decoration: none;
    }

    &-date {
      margin-top: 8px;
      color: #999;
    }
  }

  &-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 640px) {
      display: block;
    }
  }
}
</style>
