.dialogs {
  display: flex;
  flex-direction: column;

  &__head,
  &__body {
    padding-left: 24px;
  }

  &__body {
    flex: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__categories {
    display: flex;
  }

  &__title {
    //font-family: "Lato";
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    color: #616161;
    font-weight: bold;
    font-size: 16px;
  }

  &__category-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 28px;
    color: #878787;
    font-size: 12px;
    border: 1px solid #bcbcbc;
    cursor: pointer;

    @include mt(0.1s);

    &:last-child {
      margin-left: -1px;
    }

    &:hover {
      color: #ff8c48;
    }

    &--active {
      color: #ff8c48;
      border: 1px solid #ff8c48;
      cursor: default;
    }
  }

  &__search {
    position: relative;
    margin-bottom: 14px;

    &-input {
      width: 100%;
      padding-bottom: 9px;
      padding-left: 27px;
      color: #878787;
      font-size: 12px;
      border-bottom: 1px solid #e4e4e4;

      &:focus {
        border-color: #7fb1b1;
      }

      &::placeholder {
        color: #878787;
      }
    }

    &-icon {
      position: absolute;
      bottom: 10px;
      left: 0;
    }
  }

  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__filter {
    display: flex;
    align-items: center;
    padding: 5px 11px;
    color: #616161;
    font-size: 11px;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 12px;
    cursor: pointer;

    @include mt(0.1s);

    &--active {
      cursor: default;
    }

    &--active,
    &:hover {
      border-color: #7fb1b1;
    }
  }

  &__body {
    overflow-y: scroll;
  }
}
