.dialog {
  display: flex;
  padding: 16px 14px;
  cursor: pointer;

  @include mt(0.1s);

  &:hover {
    background-color: darken(#f2f9fa, 5%);
  }

  &--no-readed {
    background-color: #f2f9fa;
  }

  &--active {
    .dialog {
      &__avatar {
        border: 1px solid #ff8c48;
      }
    }
  }

  &__avatar {
    width: 56px;
    height: 56px;
    margin-right: 12px;
    border-radius: 50%;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  &__author {
    font-weight: 800;
  }

  &__meta {
    display: flex;
    color: #bcbcbc;
  }

  &__time {
    margin-right: 8px;
  }

  &__body {
    color: #616161;
    font-size: 11px;
    line-height: 17px;
    text-align: left;
  }
}
