.message-modal,
.dialogs {
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    padding: 0 24px;
    background-color: #f4f4f4;
  }
}

.dialogs {
  &__footer {
    border-right: 2px solid #fcfcfc;

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      margin-right: 16px;
      background-color: #fff;
      border-radius: 50%;
    }

    &-help {
      display: flex;
      flex-basis: 320px;
      align-items: center;
      width: 400px;
      border-right: 2px solid #fcfcfc;
    }
  }
}

.message-modal {
  &__footer-form {
    width: 100%;
  }
}

// .#{message-modal} {
//
//   .footer-box {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//
//     .dialog__footer-box {
//       margin: 0;
//       width: calc(30% + 16px);
//     }
//
//     .messages__send {
//       flex: 1;
//       padding-right: 35px;
//       background: #F4F4F4;
//       display: flex;
//       align-items: center;
//       height: 76px;
//       margin-left: 2px;
//     }
//
//     .comments__form {
//       width: 100%;
//       margin-left: 28px;
//     }
//   }
// }
