.message-modal {
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 70px;
    margin-left: 16px;
    padding-right: 24px;
    padding-bottom: 6px;
    border-bottom: 1px solid #e6e6e6;
  }

  &__user {
    display: flex;
    align-items: flex-end;

    &-avatar {
      width: 28px;
      height: 28px;
      margin-right: 10px;
      border-radius: 50%;
    }
  }

  &__name {
    margin-right: 6px;
    font-weight: 700;
    font-size: 14px;
  }

  &__status {
    color: #bcbcbc;
    font-size: 12px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }

  &__control {
    margin-right: 24px;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }
  }
}
