@import '___message';

.messages {
  flex: 1;
  overflow-y: scroll;

  &__list {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    padding-right: 24px;
  }
}

// .#{message-modal} {
//   .messages {
//     overflow-y: scroll;
//     flex: 1;
//     margin-right: 20px;
//     margin-left: 40px;
//     display: flex;
//     flex-direction: column;
//
//     &__add-user {
//       display: flex;
//       align-items: flex-start;
//       padding-left: 10px;
//       line-height: 24px;
//       font-size: 14px;
//       color: #878787;
//       width: 70%;
//       margin-right: 20px;
//       margin-top: -6px !important ;
//     }
//
//     &__add-icon {
//       align-self: flex-start;
//       align-items: center;
//       margin: 0 0 13px 20px !important;
//       padding: 0 !important;
//     }
//
//     &__add-icon-plus {
//       margin-right: 8px;
//     }
//
//     &__users {
//       position: relative;
//       margin-left: 20px;
//       width: 100%;
//     }
//
//     &__users-head {
//       display: flex;
//       align-items: center;
//       justify-content: flex-start;
//       flex: 0;
//     }
//
//     &__users-avatar {
//       height: 28px;
//       position: absolute;
//       left: 16px;
//       top: 0;
//       width: 28px;
//       border-radius: 50%;
//       border: 2px solid #ffffff;
//
//       &:first-child {
//         left: 0;
//       }
//
//       &:nth-child(3) {
//         left: 32px;
//       }
//     }
//
//     &__users-name {
//       margin: 0 auto 0 80px;
//     }
//
//     &__users-attesch,
//     &__users-star {
//       margin-right: 24px;
//     }
//
//     &__users-post {
//       display: flex;
//       margin-top: 7px;
//       background: #f4f4f4;
//       font-size: 11px;
//       text-align: center;
//       color: #616161;
//       border-top: 1px solid #e4e4e4;
//       padding-top: 5px;
//       padding-bottom: 8px;
//       padding-left: 22px;
//     }
//
//     &__users-post-name {
//       color: #038992;
//       padding-left: 3px;
//     }
//
//     &__data {
//       font-size: 12px;
//       text-align: center;
//       color: #bcbcbc;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       align-self: center;
//     }
//
//     &__data-line {
//       width: 306px;
//       height: 1px;
//       background: #f4f4f4;
//     }
//
//     &__box {
//       $message-box: &;
//
//       flex: 0;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       overflow-x: hidden;
//       overflow-y: scroll;
//     }
//   }
// }
