.message {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin: 20px 0;
  margin-right: 36px;

  &--your {
    flex-direction: row-reverse;
    margin-right: 0;
    margin-left: 36px;

    .message {
      &__body {
        background-color: #fff;
        border: 1px solid #eaeaea;
      }

      &__user {
        &-avatar {
          margin-right: 0;
          margin-left: 8px;
        }
      }

      &__time {
        right: auto;
        left: 0;
      }
    }
  }

  &__user {
    &-avatar {
      width: 28px;
      height: 28px;
      margin-right: 8px;
      border-radius: 50%;
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 16px;
    background-color: #f4f4f4;
    border-radius: 12px;
  }

  &__text {
    text-align: left;
  }

  &__time {
    position: absolute;
    right: 0;
    bottom: -20px;
    color: #bcbcbc;
    font-size: 12px;
  }

  &__controls {
    display: flex;
  }

  &__control {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    cursor: pointer;

    &:last-child {
      margin: 0;
    }
  }
}

// .#{message-box} {
//
//   .message {
//     padding-top: 13px;
//     min-height: 71px;
//     margin-bottom: 9px;
//     min-height: 71px;
//     display: flex;
//     justify-content: flex-end;
//     align-items: flex-end;
//     flex-direction: column;
//
//     &--your {
//       align-items: flex-start;
//
//       .message__user {
//         flex-direction: row;
//       }
//
//       .message__text {
//         background: #F4F4F4;
//         margin-right: 0;
//         margin-left: 14px;
//         border: none;
//         position: relative !important;
//
//         img {
//           display: none;
//         }
//
//         .message__time {
//           right: 0;
//           justify-content: flex-end;
//           display: flex;
//         }
//       }
//     }
//
//     &__user {
//       display: flex;
//       flex-direction: row-reverse;
//     }
//
//     &__user-avatar {
//       height: 28px;
//       width: 28px;
//       border-radius: 50%;
//       align-self: flex-end;
//     }
//
//     &__text {
//       display: flex;
//       border: 1px solid #E4E4E4;
//       border-radius: 16px;
//       line-height: 23px;
//       padding-left: 24px;
//       padding-right: 6px;
//       font-size: 13px;
//       color: #616161;
//       height: 40px;
//       margin-right: 14px;
//       align-items: center;
//       position: relative;
//     }
//
//     &__text-icon {
//       margin-right: 9px;
//
//       &:first-child {
//         margin-left: auto;
//       }
//     }
//
//     &__time{
//       font-size: 12px;
//       color: #BCBCBC;
//       position: absolute;
//       bottom: -20px;
//       left: 0;
//     }
//   }
// }
