.#{message-box} {
  .sweet-modal {
    height: 90vh;
    overflow: hidden;

    .sweet-content {
      padding: 0 !important;
    }

    .sweet-action-close svg {
      width: 16px !important;
      height: 16px !important;
    }
  }
}
