@import '___sweet-modal';
@import '___dialogs';
@import '___dialog';
@import '___footer';
@import '___header';
@import '___messages';

.message-modal {
  $message-modal: &;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  height: 90vh;
  min-height: 100%;

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 0 0;
  }

  &__dialogs {
    width: 400px;
  }

  &__main {
    display: flex;
    flex-direction: column;
  }
}

.scroll-area {
  position: relative;
  width: 400px;
  height: 300px;
  margin: auto;
}
