<template lang="pug">
no-ssr
  ug-notifications
</template>

<script>
import UgNotifications from '~/components/ui/UgNotifications'

export default {
  components: {
    UgNotifications
  }
}
</script>
