<template lang="pug">
ug-uploader(v-model="offer.images" @uploadStarted="$emit('uploadStarted')" @done="$emit('done')" @progress="onProgress")
</template>

<script>
import UgUploader from '~/components/ui/UgUploader'

export default {
  components: {
    UgUploader
  },
  model: {
    prop: 'offer',
    event: 'update'
  },
  props: ['offer'],
  methods: {
    onProgress (v) {
      this.$emit('uploadProgress', v)
    }
  }
}
</script>
