<template lang="pug">
.contacts
  transparent-login(@success="$emit('success')")
</template>

<script>
import TransparentLogin from '~/components/domain/auth/TransparentLogin.vue'

export default {
  components: {
    TransparentLogin
  }

}
</script>

<style lang="scss" scoped>
.contacts {

}
</style>
