<template lang="pug">
div.p
  .ug-flex
    .ug-col-8.mb
      label Текст объявления
    .ug-col-5.full-width-on-small-devices
      ug-textarea.ug-col-5(fullwidth v-model="offer.text" placeholder="Напишите тут что-нибудь")
    .ug-col-3.hide-on-small-device
      .pl Если вы ищете жильца, опишите ваше гнёздышко, где оно находится и кого хотите заселить.
  .ug-flex(v-if="offer.searchType !== 1")
    .ug-col-8.mt.mb
      label Адрес
    .ug-col-5.full-width-on-small-devices
      ug-autocomplete(placeholder="Адрес" v-model="offer.address" :handler="addressAutocomplete")
    .ug-col-3.hide-on-small-device
      .pl Адрес нужен для отображения на карте и поиска ближайшего метро
  //- TODO: проверить что у города есть метро
  .ug-flex(v-if="offer.searchType !== 1")
    .ug-col-8.mt.mb
      label Метро
    .ug-col-5.full-width-on-small-devices
      search-area.metro-border(v-model="offer.metroStations")
  .ug-flex(v-if="offer.searchType !== 1")
    .ug-col-8.mt.mb Количество комнат
    .ug-col-5.full-width-on-small-devices
      button-group(:items="[{title:'1', id: 1}, {title:'2', id: 2}, {title:'3+', id: 3}, {title:'студия', id: 4}]" v-model="offer.roomCount")
    .ug-col-3
  .ug-flex(v-if="offer.searchType !== 1")
    .ug-col-8.mt.mb
      label Стоимость аренды в месяц
    .ug-col-5.full-width-on-small-devices
      ug-input(placeholder="Сумма" fullwidth type="number" v-model.number="offer.price")
    //- .ug-col-3
    //-   .pl От цены может зависеть предложение
  .ug-flex(v-if="offer.searchType !== 1")
    .ug-col-8.mt.mb
      label Коммуналка
    .ug-col-5.full-width-on-small-devices
      .flex
        ug-input.no-right-border-radius.no-right-border(placeholder="От" type="number" v-model.number="offer.communal")
        ug-input.no-left-border-radius(placeholder="До" type="number" v-model.number="offer.communalTo")
    //- .ug-col-3
    //-   .pl От цены может зависеть предложение
</template>

<script>
import axios from 'axios'

import UgTextarea from '~/components/ui/UgTextarea'
import UgInput from '~/components/ui/UgInput'
import ButtonGroup from '~/components/ui/BtnGroup.vue'
import SearchArea from '~/components/domain/search/area'
import UgRange from '~/components/domain/offers/form/range'

export default {
  components: {
    UgTextarea,
    UgInput,
    ButtonGroup,
    SearchArea,
    UgRange
  },
  model: {
    prop: 'offer',
    event: 'update'
  },
  props: ['offer'],
  data () {
    return {
      titleStationMapping: {},
      communalRange: { from: null, to: null },
      geoSuggestSource: null,
      geoSuggestCancelToken: null
    }
  },
  watch: {
    'offer.address' (v, old) {
      if (v === old) {
        return
      }

      if (this.titleStationMapping[v] && this.titleStationMapping[v].metroStations) {
        this.offer.metroStations.splice(0)

        this.titleStationMapping[v].metroStations.forEach(item => {
          this.offer.metroStations.push(item)
        })

        this.$set(this.offer, 'metroStations', this.offer.metroStations)
      }
    }
  },
  methods: {
    async addressAutocomplete (q) {
      if (this.geoSuggestSource !== null) {
        this.geoSuggestSource.cancel('Operation calncelled by user')
      }

      this.geoSuggestCancelToken = axios.CancelToken
      this.geoSuggestSource = this.geoSuggestCancelToken.source()

      const { result } = await this.$api(
        'geo.suggest',
        { query: q },
        { cancelToken: this.geoSuggestSource.token }
      )

      if (typeof result === 'undefined') {
        return []
      }

      if (result === null) {
        return []
      }

      // заодно обновляем метро
      result.forEach(el => {
        this.titleStationMapping[el.title] = el
      })

      return result.map(x => x.title)
    }
  }
}
</script>

<style scoped lang="scss">
.pl {
  padding-left: 16px;
}

.mt {
  margin-top: 16px;
}

.mb {
  margin-bottom: 16px;
}

.p {
  padding: 8px;
}

.metro-border {
  border: 1px solid #bbb;
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  .hide-on-small-device {
    display: none;
  }

  .full-width-on-small-devices {
    width: 100%;
  }
}

.no-right-border-radius {
  border-radius: 4px 0 0 4px;
}

.no-left-border-radius {
  border-radius: 0 4px 4px 0;
}

.no-right-border {
  border-right: none;
}

</style>
