<template lang="pug">
.add-offer-form
  .light-add-back(v-if="stepIndex !== 0 " @click="prevStep")
    img(src="~assets/images/icons/icon-back-2.svg")
    | Назад
  h2(v-if="stepTitle") {{ stepTitle }}
  keep-alive
    component(
        :is="stepComponent"
        v-model="offer"
        @uploadStarted="uploadStarted = true;uploadDone=false"
        @done="uploadSuccess"
        @success="autoNextStep"
        @uploadProgress="onUploadProgress")
  .light-add-actions(v-if="!stepObject.hideNextButton")
    btn.btn.btn-primary(@click="nextStep") Продолжить
    .btn-help-text(v-if="$device.isMacOS") нажмите&nbsp;
      img.inline-image(:src="require(`~/assets/images/icons/cmd.png`)" width="14px" height="14px")
      span  + Enter
    .btn-help-text(v-else-if="!$device.isMobile") нажмите Ctrl+Enter
</template>

<script>
import AddOfferFormContacts from '~/components/domain/offers/AddOfferForm/AddOfferFormContacts.vue'
import AddOfferFormWaitUploading from '~/components/domain/offers/AddOfferForm/AddOfferFormWaitUploading.vue'
import AddOfferFormNotifications from '~/components/domain/offers/AddOfferForm/AddOfferFormNotifications.vue'
import ChooseSearchType from '~/components/domain/offers/AddOfferForm/ChooseSearchType.vue'
import ChooseBuildType from '~/components/domain/offers/AddOfferForm/ChooseBuildType.vue'
import AddOfferFormText from '~/components/domain/offers/AddOfferForm/AddOfferFormText'
import AddOfferFormImages from '~/components/domain/offers/AddOfferForm/AddOfferFormImages'
import Btn from '~/components/ui/Btn'

const StepText = 1
const StepImages = 2
const StepContacts = 3
const StepWaitUploading = 4
const StepNotifications = 5
const StepChooseSearchType = 6
const StepChooseBuildType = 7

const searchTypeSearchNest = 1
const searchTypeSearchNester = 2
const searchTypeNeighbour = 3

const MaxStep = StepNotifications

// analytics
const ActionPageOpened = 4
const ActionStartInput = 5
const ActionUpload = 6
const ActionAuth = 7

export default {
  components: {
    Btn,
    AddOfferFormContacts,
    AddOfferFormWaitUploading,
    AddOfferFormNotifications,
    ChooseSearchType,
    ChooseBuildType,
    AddOfferFormText,
    AddOfferFormImages
  },
  props: {
    searchType: {
      type: Number,
      default: () => null
    }
  },
  data () {
    return {
      uploadProgress: null,
      stepIndex: 0,
      uploadStarted: false,
      uploadDone: false,
      offer: { searchType: this.searchType, buildType: null, price: null, address: null, text: null, images: [], roomCount: 3, metroStations: [] },
      steps: [
        { id: StepChooseSearchType, done: false, hideNextButton: true },
        {
          id: StepChooseBuildType,
          title: (offer) => {
            if (offer.searchType === searchTypeSearchNest) {
              return 'Что хотите снять?'
            } else if (offer.searchType === searchTypeSearchNester) {
              return 'Что сдаёте?'
            } else if (offer.searchType === searchTypeNeighbour) {
              return 'Что предлагаете соседу?'
            }
          }
        },
        { id: StepText, done: false, analytics: { action: ActionStartInput, sended: false } },
        { id: StepImages, done: false, hasImages: false, analytics: { action: ActionUpload, sended: false } },
        { id: StepContacts, done: false },
        //  { id: StepWaitUploading, done: false },
        { id: StepNotifications, done: false, hideNextButton: true }
      ]
    }
  },
  computed: {
    step () {
      return this.steps[this.stepIndex].id
    },
    stepObject () {
      return this.steps[this.stepIndex]
    },
    stepTitle () {
      if (!this.stepObject) {
        return false
      }
      if (typeof this.stepObject.title === 'function') {
        return this.stepObject.title(this.offer)
      }
      return this.stepObject.title
    },
    stepComponent () {
      switch (this.step) {
        case StepChooseSearchType:
          return ChooseSearchType
        case StepChooseBuildType:
          return ChooseBuildType
        case StepText:
          return AddOfferFormText
        case StepImages:
          return AddOfferFormImages
        case StepContacts:
          return AddOfferFormContacts
        case StepWaitUploading:
          return AddOfferFormWaitUploading
        case StepNotifications:
          return AddOfferFormNotifications
        default:
          return AddOfferFormText
      }
    },
    validateErrors () {
      switch (this.step) {
        case StepText:
          if (!this.offer.text) {
            return 'Введите текст!'
          }
          break
        case StepImages:
          if (!this.uploadStarted) {
            return 'Загрузите изображения!'
          }
          break
      }
      return null
    }
  },
  watch: {
    uploadDone (v) {
      if (v && !!Notification && Notification.permission === 'granted' && this.$auth.loggedIn) {
        this.createOffer()
      }
    }
  },
  created () {
    if (this.searchType !== null && this.searchType > 0) {
      this.stepIndex++
    }
  },
  mounted () {
    window.addEventListener('keydown', this.handleKeyUp)

    // this.$refs.text.focus()

    // const self = this

    // this.carouselInterval = setInterval(() => {
    // self.activeCarouselItem++
    // if (self.activeCarouselItem >= self.carouselItems.length) {
    //     self.activeCarouselItem = 0
    // }
    // }, 30000)

    // this.$api('analytics.add', {
    //     actionType: ActionPageOpened
    // })
  },
  beforeDestroy () {
    window.removeEventListener('keydown', this.handleKeyUp)
    // clearInterval(this.interval)
    // clearInterval(this.carouselInterval)
  },
  methods: {
    onUploadProgress (progress) {
      this.uploadProgress = Math.round(progress * 100)
    },
    async createOffer () {
      console.log('try create offer')
      this.$api('analytics.add', {
        actionType: ActionAuth
      })
      try {
        const { result, error } = await this.$api('drafts.add', this.offer)
        if (error && error.code) {
          this.$toast.error(error.message)
          return
        }
        if (result) {
          this.$router.push(`/offers/${result}`)
        } else {
          this.$toast.error('что-то пошло не так')
        }
      } catch (err) {
        this.$toast.error(err)
      }
    },
    uploadSuccess () {
      this.uploadDone = true
      if (!this.offer.images || this.offer.images.length === 1) {
        return
      }
      if (this.step === StepWaitUploading) {
        // картинки загрузились и мы находимся на последнем шаге
        this.createOffer()
      }
    },
    prevStep () {
      this.stepIndex--

      if (this.step === StepContacts && this.$auth.loggedIn) {
        this.prevStep()
      }
    },
    autoNextStep () {
      // if (!this.offer.images || this.offer.images.length === 1) {
      //   return
      // }
      this.nextStep()
    },
    nextStep () {
      if (this.validateErrors !== null) {
        this.$toast.error(this.validateErrors)
        alert(this.validateErrors)
        return
      }
      if (this.step === MaxStep) {
        this.createOffer()
        return
      }

      // if (this.step === StepImages && this.$auth.loggedIn) {
      //     if (this.uploadDone) {
      //         this.createOffer()
      //         return
      //     } else {
      //         this.step = MaxStep
      //         return
      //     }
      // }
      // if ((this.step === StepContacts) && this.uploadDone) {
      //     this.createOffer()
      //     return
      // }

      // TODO: что?
      if (this.steps.length === this.stepIndex) {
        this.createOffer()
        return
      }

      if (this.step === StepNotifications) {
        if (this.uploadDone) {
          this.createOffer()
          return
        }
      }

      this.stepIndex++

      if (this.step === StepNotifications) {
        if (this.uploadDone) {
          this.createOffer()
          return
        }
      }

      if (this.step === StepContacts && this.$auth.loggedIn) {
        this.nextStep()
      }

      // analytics
      if (this.stepObject.analytics && !this.stepObject.analytics.sended) {
        this.steps[this.stepIndex].analytics.sended = true
        this.$api('analytics.add', {
          actionType: this.stepObject.analytics.action
        })
      }
    },
    handleKeyUp (e) {
      if (this.step === MaxStep) {
        return
      }
      if ((e.metaKey || e.ctrlKey) && e.keyCode === 13) {
        this.nextStep()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
// .add-offer-form {

// }

.light-add {
  &-back {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    img {
      display: inline;
      margin-right: 8px;
    }
  }
}

.light-add-actions {
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 15px;
}

.light-add-back {
  margin-bottom: 16px;
}

.btn-help-text {
  margin-left: 10px;
  color: #666;

  .inline-image {
    position: relative;
    bottom: -3px;
    display: inline;
    filter: contrast(0.3);
  }
}
</style>
