<template lang="pug">
choose-offer-type(v-model="offer.searchType" @update="$emit('success')")
</template>

<script>
import chooseOfferType from '~/components/domain/offers/chooseOfferType'

export default {
  components: {
    chooseOfferType
  },
  model: {
    prop: 'offer',
    event: 'update'
  },
  props: ['offer'],
  data () {
    return {
      searchTypes: [
        { title: 'Сдать гнёздышко' },
        { title: 'Найти гнёздышко' }
        // { title: 'Найти соседа' },
      ]
    }
  }
}
</script>
