<template lang="pug">
  .flex.flex--wrap
    .item(@click="choose(1)") Квартиру
    .item(@click="choose(2)") Комнату
</template>

<script>
export default {
  model: {
    prop: 'offer',
    event: 'update'
  },
  props: ['offer'],
  methods: {
    choose (v) {
      this.offer.buildType = v
      this.$emit('success')
    }
  }
}
</script>

<style lang="scss" scoped>
.item {
  width: 40%;
  padding: 32px;
  text-align: center;
  border: 1px solid #bbb;
  border-radius: 4px;
  box-shadow: 0 9px 29px rgba(51, 51, 51, 0.11);
  cursor: pointer;
  transition: 0.3s all;

  &:hover {
    border: 1px solid $ug-blue;
  }
}

.item:nth-child(2) {
  margin-left: 32px;
}

@media screen and (max-width: 800px) {
  .item {
    width: 100%;
    margin-top: 16px;
  }

  .item:nth-child(2) {
    margin-left: 0;
  }
}

</style>
