.steps-aside {
  border-left: 1px solid $clr-mercury;

  &__item {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: $clr-black;
    line-height: 15px;
    text-decoration: none;
    cursor: pointer;

    &._active {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: $clr-blue-lagoon;
        content: '';
      }
    }

    &._disabled {
      color: $clr-silver;
    }
  }
}
