.param-list {
  width: 100%;

  &__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: $clr-primary-light;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__start {
    display: flex;
    flex: 1;
    align-items: flex-end;
  }

  &__divider {
    width: 100%;
    height: 1px;
    margin: 0 12px 2px;
    background-color: #f4f4f4;
  }

  &__name {
    flex-shrink: 0;
  }
}
