<template lang="pug">
div
  keep-alive(v-if="component")
    component(:is="component")
</template>

<script>
export default {
  async beforeRouteLeave (to, _, next) {
    // if (this.pageType === 'search' && to.name === 'offers-id') {
    //   await this.$store.dispatch('offers/fetchAndShowModalOffer', Number.parseInt(to.params.id))
    //   return
    // }
    next()
  },
  computed: {
    pageType () {
      return this.$store.state.meta.meta.pageType
    },
    component () {
      switch (this.pageType) {
        case 'search':
          return () => import('~/pages/search/index.vue')
        default:
          return false
      }
    }
  }
}
</script>
