<template lang="pug">
  .fave.main__wrap
    .fave__grid.block.grid
      h1.fave__ttl.ttl.ttl_1= "Избранное"
      .fave__listing
        UgCardList(
          :emptyText="'У вас пока нет избранных объявлений, добавляйте их и они появятся тут.'"
          :offers="offers"
          :hasMore="false"
        )
      UgFloatingPanel.fave__filter
        UgSelect(
          :options="searchTypes"
          :value="searchType"
          @select="chooseSearchType($event)"
        )
        //nuxt-link.aside-link(to="/views") История просмотров
        //nuxt-link.aside-link(to="/notes") Объявления с заметками
</template>

<script>
import UgCardList from '~/components/ui/UgCardList/UgCardList'
import UgFloatingPanel from '~/components/ui/UgFloatingPanel/UgFloatingPanel'
import UgSelect from '~/components/ui/UgSelect/UgSelect'

export default {
  components: {
    UgCardList,
    UgFloatingPanel,
    UgSelect
  },

  data () {
    return {
      offers: [],

      searchTypes: [
        { title: 'Все', id: 0 },
        { title: 'Найти арендатора', id: 1 },
        { title: 'Cнять гнездышко', id: 2 }
      ],

      searchType: 0
    }
  },

  computed: {
    checkFaveList () {
      return this.$store.state.localStorage.faveList.length
    }
  },

  watch: {
    checkFaveList () {
      this.fetchFaveOffers()
    },

    searchType () {
      this.fetchFaveOffers()
    }
  },

  created () {
    this.fetchFaveOffers()
  },

  methods: {
    chooseSearchType (id) {
      this.searchType = id
    },

    async fetchFaveOffers () {
      if (this.$store.state.localStorage.faveList && this.$store.state.localStorage.faveList.length > 0) {
        const { result } = await this.$api('offers.FastCards', {
          search: {
            ids: this.$store.state.localStorage.faveList,
            limit: 999999,
            botOffers: true,
            searchType: this.searchType
          }
        })

        this.offers = result.offers
      } else {
        this.offers = []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .fave__grid {
      position: relative;
      margin-bottom: $gap-r-l;
    }

    .fave__ttl {
      grid-column: 1/-1;
      padding: $gap-r-m 0;
    }

    .fave__listing {
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .fave__filter {
      position: fixed;
      z-index: 2000;
    }
  }

  @media screen and (min-width: 1280px) {
    .fave__grid {
      position: relative;
      grid-auto-flow: dense;
      margin-bottom: $gap-xl;
    }

    .fave__ttl {
      padding: $gap-m 0;
    }

    .fave__listing {
      grid-column: 1/10;
    }

    .fave__filter {
      grid-column: 10/-1;
      position: sticky;
      top: 16px;
      z-index: 0;
    }
  }
</style>
