<template lang="pug">
.wrapme
  h1 Напишите нам

</template>

<script>

export default {
  components: {

  },

  data () {
    return {
    }
  }

}
</script>

<style lang="scss" scoped>
.wrapme {
  width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .wrapme {
    width: 100%;
  }
}

</style>
