<template lang="pug">
.block
  .messenger
    .messenger-header
      .messenger-header-dialogs Сообщения
      .messenger-header-messages(v-if="activeDialog") {{ dialog.title }}
    .messenger-body
      .messenger-dialogs
        .messenger-dialog(v-for="dialog,i in allDialogs" :key="i" :class="{'_active': dialog.id==activeDialog}" @click="loadHistory(dialog.id)")
          img.messenger-dialog-img(:src="dialog.user.avatarUrl")
          .messenger-dialog-data
            .messenger-dialog-header
              .messenger-dialog-name {{ dialog.user.name || dialog.title }}
              .messenger-dialog-time {{ dialog.time }}
              .messenger-dialog-pin(v-if="dialog.pinned")
            .messenger-dialog-body {{ dialog.text }}
      .messenger-messages(id="messages")
        .messenger-enable-notifications(v-if="!notificationsEnabled&&!activeDialog")
          .messenger-enable-notifications-caption Для доступа к разделу соообщений необходимо включить уведомления.
          .messenger-enable-notifications-btn(@click="requestNotificationPermissions") Включить
        .messenger-choose-dialog(v-if="!activeDialog&&notificationsEnabled") Выберите диалог
          .messenger-choose-dialog-help Вы можете написать любому пользователю с его личной страницы
        .messenger-message(v-for="message,i in messages" :key="i")
          .messenger-message-body(:class="{'reverse':message.outgoing}")
            img.messenger-message-img(:src="message.user.avatarUrl")
            .messenger-message-content-choose-dialog
              .messenger-message-text(v-if="message.text") {{ message.text }}
              .messenger-message-text(v-if="message.image")
                img(:src="message.image")
              .messenger-message-time(:class="{'reverse':!message.outgoing}") {{ message.createdAt }}
    .messenger-actions
      .messenger-side(@click="sn")
        img.messenger-side-icon(src="~assets/images/icons/icon-logo-not-name.svg")
        .messenger-side-text Написать в поддержку
      .messenger-form(v-if="activeDialog")
        textarea.messenger-form-textarea(
          ref="textarea"
          placeholder="Введите сообщение..."
          v-model="message"
          @keydown.enter.exact.prevent
          @keyup.enter.exact="send"
          @keydown.enter.shift.exact="newline"
          )
        .attachments(@click="chooseFile")
          img(src="~/assets/images/icons/icon-attach.svg")
          ug-input-upload(ref="upload" @update='attachUploaded')
        button.messenger-form-button(@click="send")
          img(src="~assets/images/icons/icon-push.svg")
</template>

<script>
import UgInputUpload from '~/components/ui/UgInputUpload'

const publicServerKey =
  'BDOlOjC6SctnZU_eoAyi6vVmCGPDPzbpa_WB2pbw9XqIzoclMBHZhfjJC4br1XrHgi9uU7TQaEdK72FwuL_mC5o'

async function loadHistory (dialogId, api) {
  api('messenger.readDialog', {
    dialogId
  })
  const { result } = await api('messenger.history', {
    dialogId
  })
  return result
}

function urlBase64ToUint8Array (base64String) {
  const padding = '='.repeat((4 - (base64String.length % 4)) % 4)
  const base64 = (base64String + padding).replace(/-/g, '+').replace(/_/g, '/')

  const rawData = window.atob(base64)
  const outputArray = new Uint8Array(rawData.length)

  for (let i = 0; i < rawData.length; ++i) {
    outputArray[i] = rawData.charCodeAt(i)
  }
  return outputArray
}

export default {
  components: {
    UgInputUpload
  },
  layout: 'im',
  async asyncData ({ app, route }) {
    const { result } = await app.$api('messenger.dialogs')

    let activeDialog = null
    if (route.query.user && Number.parseInt(route.query.user) > 0) {
      const res = await app.$api('messenger.resolveDialogId', {
        userId: Number.parseInt(route.query.user)
      })

      if (res.result > 0) {
        activeDialog = res.result
        const messages = await loadHistory(activeDialog, app.$api)
        return {
          activeDialog,
          dialogs: result,
          messages
        }
      }
    }
    return {
      dialogs: result
    }
  },
  data () {
    return {
      activeDialog: null,
      message: '',
      dialogs: [],
      messages: [],
      notificationsEnabled: Notification.permission === 'granted',
      polling: null,
      supportDialog: null,
      attachmentImage: null
    }
  },
  computed: {
    dialog () {
      return this.dialogs.find(x => x.id === this.activeDialog)
    },
    allDialogs () {
      return this.dialogs
    }
  },
  watch: {
    activeDialog (v) {
      this.loadHistory(v)
    }
  },
  beforeDestroy () {
    clearInterval(this.polling)
  },
  updated () {
    const self = this
    setTimeout(() => {
      self.scrollToEnd()
    }, 500)
  },
  created () {
    this.pollData()
    // let self = this
    // let permission = await Notification.requestPermission()
    // if (permission === "granted") {
    //  self.notificationsEnabled = true
    // }

    const that = this
    if (!('serviceWorker' in navigator)) {
      console.log('service worker not found')
      return
    }

    console.log('sw w', navigator.serviceWorker)

    navigator.serviceWorker.ready.then((sw) => {
      console.log('SW READEE!!!!')
      sw.pushManager.getSubscription().then((sub) => {
        console.log('sub status:', sub)
        if (
          sub === null ||
          sub.options.applicationServerKey !== publicServerKey
        ) {
          sw.pushManager
            .subscribe({
              userVisibleOnly: true,
              applicationServerKey: urlBase64ToUint8Array(publicServerKey)
            })
            .then((subscription) => {
              console.log(
                'Subscribe OK:',
                JSON.stringify(subscription.toJSON())
              )

              that.$api('users.addwebsubscription', {
                subscription
              })

              // return fetch("http://localhost:3000/api/add/subscription", {
              //   method: "POST",
              //   body: JSON.stringify(subscription.toJSON()),
              //   headers: {
              //     "Content-Type": "application/json",
              //     Accept: "application/json"
              //   }
              // })
            })
            .then(() => {
              console.log('Server Stored Subscription.')
            })
            .catch((err) => {
              console.log('Subscribe Error:', err)
            })
        } else {
          console.log('already subscribed', sub)
        }
      })
    })
  },
  methods: {
    attachUploaded (uri) {
      this.attachmentImage = uri
      this.send()
    },
    chooseFile () {
      this.$refs.upload.$el.click()
    },
    // todo remove to ws update
    pollData () {
      // this.polling = setInterval(() => {
      //   if (this.activeDialog != null) {
      //     this.loadHistory(this.activeDialog)
      //   }
      // }, 3000)
    },
    async send () {
      if (this.message === '' && this.attachmentImage === null) {
        return
      }
      if (this.$route.query.user && Number.parseInt(this.$route.query.user) > 0) {
        const { result } = await this.$api('messenger.sendPrivateMessage', {
          to: Number.parseInt(this.$route.query.user),
          text: this.message,
          image: this.attachmentImage
        })
        this.activeDialog = result.dialogId
      } else {
        await this.$api('messenger.sendText', {
          dialogId: this.activeDialog,
          text: this.message,
          image: this.attachmentImage
        })
      }

      await this.loadHistory(this.activeDialog)
      this.message = ''
      this.attachmentImage = null
    },
    async loadHistory (dialogId) {
      // this.$router.replace({
      //   path: this.$route.path,
      //   query: null
      // })
      const messages = await loadHistory(dialogId, this.$api)
      this.activeDialog = dialogId
      this.messages = messages
    },
    scrollToEnd () {
      const container = this.$el.querySelector('#messages')
      container.scrollTop = container.scrollHeight
    },
    async requestNotificationPermissions () {
      const permission = await Notification.requestPermission()
      if (permission === 'granted') {
        self.notificationsEnabled = true
      }
    },
    async sn () {
      // запрашиваем диалог с поддержкой
      const { result } = await this.$api('messenger.DialogWithSupport')
      // ищем диалог с поддержкой во всех диалогах
      // если не нашли - добавляем в начало
      const dialog = this.dialogs.find(x => x.id === result.id)
      if (dialog) {
        this.activeDialog = dialog.id
        this.$nextTick(() => {
          this.$refs.textarea.focus()
        })
      } else {
        this.dialogs.unshift(result)
        this.activeDialog = result.id
        this.$nextTick(() => {
          this.$refs.textarea.focus()
        })
      }
    }
  }
}
</script>

<style lang="css" scoped>
.messenger-dialog._active {
  background-color: #e0f1f3;
}
</style>

<style lang="scss" scoped>
$height: 70vh;
$side-width: 35%;

.messenger {
  margin-top: 20px;

  &-header {
    display: flex;
    padding: 10px 0;
    font-weight: bold;

    &-dialogs {
      flex: 1;
    }

    &-messages {
      flex: 2;
      padding-left: 30px;
    }
  }

  &-body {
    display: flex;
  }

  &-dialogs {
    width: $side-width;
    height: $height;
    padding-right: 10px;
    overflow-y: scroll;
  }

  &-choose-dialog {
    position: relative;
    top: 200px;
    width: 100%;
    font-size: 1.5em;
    text-align: center;

    &-help {
      color: #bbb;
      font-size: 0.7em;
    }
  }

  &-enable-notifications {
    position: relative;
    top: 200px;
    width: 100%;
    font-size: 1.5em;
    text-align: center;

    &-btn {
      display: inline-block;
      margin-top: 5px;
      padding: 10px 20px;
      color: $ug-white;
      background-color: $ug-blue;
      border: 1px solid #eee;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  &-dialog {
    display: flex;
    padding: 20px 20px 20px 10px;
    transition: all 0.2s;

    ._active {
      background-color: #e0f1f3;
    }

    &:hover {
      background-color: #e0f1f3;
      cursor: pointer;
    }

    &-img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: 50%;
    }

    &-data {
      width: 100%;
    }

    &-header {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }

    &-body {
      margin-top: 10px;
    }

    &-name {
      flex: 1;
    }
  }

  &-messages {
    flex: 2;
    height: $height;
    padding-right: 20px;
    padding-bottom: 10px;
    overflow-y: scroll;
  }

  &-message {
    padding: 5px 0;

    &-body {
      position: relative;
      display: flex;
    }

    &-body.reverse {
      flex-direction: row-reverse;
      padding-left: 20px;
    }

    &-img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    &-content {
      margin-right: 15px;
      margin-left: 15px;
    }

    &-text {
      padding: 10px;
      border-radius: 4px;
    }

    &-time.reverse {
      float: right;
    }

    &-space {
      width: 20px;
      height: 1px;
    }
  }

  &-actions {
    display: flex;
    height: 60px;
    background-color: #fafafa;
  }

  &-side {
    display: flex;
    align-items: center;
    width: $side-width;
    padding-left: 10px;
    cursor: pointer;

    &-icon {
      margin-right: 10px;
    }
  }

  &-form {
    position: relative;
    display: flex;
    flex: 1;
    padding: 10px 20px 10px 10px;
    box-shadow: inset 0 0 1px 1px #eee;

    .attachments {
      position: absolute;
      top: 16px;
      right: 72px;
      cursor: pointer;
    }

    &-textarea {
      flex: 1;
      padding: 10px;
      border: none;
      border-radius: 4px;
      outline: none;
      box-shadow: inset 0 0 1px 1px #eee;
      resize: none;
    }

    &-button {
      margin-left: 10px;
      padding: 0 10px;
      background-color: inherit;
      background-color: #038992;
      border: none;
      border-radius: 4px;
    }
  }
}
</style>
