<template lang="pug">
.block
  h1.heading Избранное
  .flex
    .main
      .search
        input.search-input(placeholder="Поиск по заметкам" v-model="q")
      UgCardList(:offers="offers")
      .no-found-notice(v-if="offers.length===0") Ничего не найдено!
    .aside
      nuxt-link.aside-link(to="/favourite") Избранное
</template>

<script>
import UgCardList from '~/components/ui/UgCardList/UgCardList'

export default {
  components: {
    UgCardList
  },
  async asyncData ({ app, store }) {
    if (store.state.localStorage.notes.length > 0) {
      const { result } = await app.$api('offers.fastcards', {
        search: {
          ids: store.state.localStorage.notes.map(x => x.offerId)
        }
      })
      return { offers: result.offers }
    } else {
      return { offers: [] }
    }
  },
  data () {
    return {
      q: null
    }
  },
  watch: {
    async q (val) {
      const offerIds = this.$store.state.localStorage.notes
        .filter(x => x.text.includes(val))
        .map(x => x.offerId)
      if (offerIds.length === 0) {
        this.offers = []
        return
      }
      const { result } = await this.$api('offers.fastcards', {
        search: {
          ids: offerIds
        }
      })
      this.offers = result.offers
    }
  }
}
</script>

<style lang="scss" scoped>
.heading {
  margin-top: 16px;
  margin-bottom: 16px;
}

.main {
  width: 80%;
  padding-right: 15px;

  .search {
    &-input {
      width: 100%;
      margin-bottom: 20px;
      padding: 15px 15px;
      border-radius: 4px;
      box-shadow: 2px 2px 5px 2px #eee;
    }
  }
}

.aside {
  width: 20%;

  &-link {
    color: $ug-blue;
    text-decoration: none;
  }
}
</style>
