<template lang="pug">
.block
  .header Перенаправление на чат Уютного гнёздышка
  .body  Если автоматическое перенаправление не сработало, перейдите
    a(href="https://t.me/Ugnest") по ссылке
</template>

<script>
const protoUrl = 'tg://resolve?domain=Ugnest'

export default {
  mounted () {
    setTimeout(function () {
      window.location = protoUrl
    }, 1000)
  }
}
</script>

<style lang="scss" scoped>
.header {
  font-size: 2em;
}

.body {
  margin-left: 2.3em;
}
</style>
