<template lang="pug">
.block
  h1.heading Избранное
  .flex
    .main
      UgCardList(:offers="offers")
    .aside
      nuxt-link.aside-link(to="/favourite") Избранное
</template>

<script>
import UgCardList from '~/components/ui/UgCardList/UgCardList'

export default {
  components: {
    UgCardList
  },
  async asyncData ({ app, store }) {
    const { result } = await app.$api('offers.fastcards', {
      search: {
        ids: store.state.localStorage.viewedList,
        limit: 999999
      }
    })
    return { offers: result.offers }
  }
}
</script>

<style lang="scss" scoped>
.heading {
  margin-top: 16px;
  margin-bottom: 16px;
}

.main {
  width: 80%;
  padding-right: 15px;
}

.aside {
  width: 20%;

  &-link {
    color: $ug-blue;
    text-decoration: none;
  }
}
</style>
