<template lang="pug">
.main
  .header
    .block
      .header-inner
        a.logo(href="/home")
            img(:src="require('~/assets/images/logo.png')")
  //.section.hero-bg(:style="{'background-image': `url(${require('~/assets/images/l12.jpg')})`}")
  .section.hero-bg()
    .block
      .hero-text <b>Уютное гнёздышко</b> – квартира в центре Петербурга, сообщество творческих людей, которые создают новое, не боясь креатива и свободы: творческие проекты, мастер-классы, выставки, квартирники, кроссформатные вечеринки, фотосессии и занятия йогой.
  .section(v-if="items && items.length>0")
    .block
      .section-heading События
      .items
        .item(v-for="item,i in items" :key="i")
          .item-inner
            .item-head
              .item-head-date {{ formatDate(item.date) }}
            .item-body
              .item-image
                img(:src="require('~/assets/images/il-placeholder.png')")
              .item-content
                .item-content-title {{ item.title }}
                .item-content-description {{ item.amount }}
              .item-actions
                btn(link="https://vk.com/offlinehome") Участвовать
  .block
    social-icons(
        vk="offlinehome"
        instagram="cozynest_offline"
        youtube="channel/UCZFCGga7ch6oozThqJmhDzQ"
        )
</template>

<script>
import Btn from '~/components/ui/Btn'
import SocialIcons from '~/components/ui/SocialIcons'

export default {
  components: {
    Btn,
    SocialIcons
  },
  layout: 'ughome',
  data () {
    return {
      items: [
        // {
        //     date: '2020-06-21T16:00:00.000+03:00',
        //     title: 'День открытых дверей',
        //     amount: 'от 200 рублей'
        // },
        //  {
        //     date: '2020-06-21T17:00:00.000+03:00',
        //     title: 'Йога',
        //     amount: 'донат'
        // },
        // {
        //     date: '2020-06-26T22:00:00.000+03:00',
        //     title: 'Ночной Йога ретрит',
        //     amount: 'донат'
        // }
      ]
    }
  },
  methods: {
    formatDate (dateString) {
      const date = new Date(Date.parse(dateString))
      const dateTimeFormat = new Intl.DateTimeFormat('en', { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' })
      const [{ value: month },, { value: day },, { value: year },, { value: hour },, { value: minute }] = dateTimeFormat.formatToParts(date)

      return `${day}.${month}.${year} ${hour}:${minute}`
    }
  }
}
</script>

<style lang="scss" scoped>

.block {
  max-width: 900px;

  @media screen and (max-width: 600px) {
    max-width: 600px;
    padding: 0 8px;
  }

  @media screen and (max-width: 375px) {
    max-width: 375px;
  }
}

.header {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0;
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.639);
  border: none;

  .header-inner {
    display: flex;
    text-align: center;

    .logo {
      margin: 0 auto;
    }
  }

  .header-left {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .header-right {
    display: flex;
    align-items: center;
  }

  .address {
    margin-left: 16px;
  }
}

.section {
  &-heading {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
  }
}

.hero-bg {
  @media screen and (min-width: 900px) {
    background-repeat: no-repeat;
    background-position-y: -150px;
    //background-image: url());
    background-size: cover;
  }

  @media screen and(max-width: 899px) {
    background-image: none !important;
  }
}

.hero-text {
  padding: 32px 16px;
  font-size: 28px;
  background-color: rgba(255, 255, 255, 0.639);
  border-radius: 4px;
  filter: none;

  @media screen and (max-width: 900px) {
    padding: 0;
  }
}

.about {
  padding: 0;
}

.logo {
  img {
    width: 64px;
    height: 64px;
    filter: invert(1);
  }
}

.items {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap-xxs;
  align-items: stretch;

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: 100%;
  }

  .item {
    &-inner {
      position: relative;
      height: 100%;
      padding-bottom: 4em;
      background-color: #eee;
      border-radius: 4px;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
      padding-right: 0;
    }

    &-head {
      padding: 8px;

      &-date {
        display: inline-block;
        padding: 8px;
        background-color: $ug-orange;
        border-radius: 4px;
      }
    }

    &-image {
      height: 150px;
      background-color: #eef;

      img {
        width: auto;
        height: 100%;
        margin: 0 auto;
      }
    }

    &-content {
      padding: 16px;

      &-title {
        width: 100%;
        height: 3em;
        overflow: hidden;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.2em;
        text-overflow: ellipsis;
      }

      &-description {
        font-size: 18px;
      }
    }

    &-actions {
      position: absolute;
      right: 16px;
      bottom: 16px;
    }
  }
}
</style>
