<template lang="pug">
  .profile-fill
    .profile-fill__data
      span.caption= "Заполненность профиля"
      span.caption= "{{ progress + '%' }}"
    progress.profile-fill__progress(
      max="100"
      :value="progress"
    )
</template>

<script>
export default {
  name: 'UgProfileFill',

  props: {
    progress: {
      type: Number,
      default () {
        return 0
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .profile-fill__data {
      margin-bottom: $gap-r-xs;
      display: flex;
      justify-content: space-between;
    }

    .profile-fill__progress {
      width: 100%;
      height: rem(16);
      appearance: none;
      border: none;
      color: $primary-color-light;
      background-color: $g-97;
    }

    .profile-fill__progress::-webkit-progress-bar {
      background-color: $g-97;
    }

    .profile-fill__progress::-webkit-progress-value {
      background-color: $primary-color-light;
    }

    .profile-fill__progress::-moz-progress-bar {
      background-color: $primary-color-light;
    }
  }

  @media screen and (min-width: 1280px) {
    .profile-fill__data {
      margin-bottom: $gap-xs;
    }

    .profile-fill__progress {
      height: 16px;
    }
  }
</style>
