@import "occupancy";
@import "user";
@import "content";

.user {
  &__data {
    width: 90%;
    margin-right: 30px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
  }

  &__header-go-to-back {
    display: flex;
    align-items: center;
    color: $clr-coral;
    font-size: 12px;
    cursor: pointer;
  }

  &__header-icon {
    margin-right: 8px;
  }

  &__header-name {
    display: flex;
    align-items: center;
    margin-top: 24px;
    color: #000;
    font-size: 24px;
  }

  &__header-online-status {
    margin-left: 16px;
    color: #bcbcbc;
    font-size: 18px;
  }

  &__header-like {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    margin-top: 11px;
    margin-left: auto;
    border: 1px solid #e4e4e4;
  }

  &__body {
    display: flex;
  }
}
