.user-info-block {
  margin-bottom: 50px;

  &__header {
    margin-bottom: 35px;
  }

  &__title {
    display: flex;
    color: #038992;
    font-weight: bold;
    font-size: 16px;

    &::after {
      display: flex;
      width: 100%;
      margin-bottom: 3px;
      margin-left: 10px;
      border-bottom: 1px solid #e4e4e4;
      content: '';
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 45%;
    line-height: 26px;
  }

  &__list {
    &--answers {
      width: 160px;
      color: #616161;
    }

    &--questions {
      width: 180px;
      color: #bcbcbc;
    }
  }

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin: 0;
    }
  }
}

// .content {
//   width: 897px;
//   height: 241px;
//
//   &__title {
//     font-size: 16px;
//     color: #038992;
//     font-weight: bold;
//     display: flex;
//     margin-bottom: 35px;
//   }
//
//   &__flex-block {
//     display: flex;
//     width: 100%;
//   }
//
//   &__line {
//     display: flex;
//     width: 80%;
//     margin-left: auto;
//     border-bottom: 1px solid #e4e4e4;
//   }
//
//   &__list-wrapper {
//     display: flex;
//     float: left;
//
//     &--education {
//       display: flex;
//       flex-direction: column !important;
//       margin-right: 110px;
//
//       &:nth-child(2) {
//         margin-right: 0 !important;
//       }
//
//       .content__item-name {
//         display: block;
//         width: 100%;
//         font-size: 14px;
//         margin-bottom: 10px;
//         color: #bcbcbc;
//       }
//     }
//   }
//
//   .content__list-wrapper:nth-child(2) {
//     margin-right: 245px;
//   }
//
//   &__list {
//     list-style-type: none;
//     margin: 0 62px 0 0;
//     padding: 0;
//     color: #bcbcbc;
//   }
//
//   &__list-answers &__item {
//     color: #616161;
//   }
//
//   &__item {
//     line-height: 29px;
//     font-size: 14px;
//   }
// }
