.occupancy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    color: #616161;
    font-size: 12px;
  }

  &__progress {
    margin: 10px 0;
    padding: 0 16px;

    &-wrapper {
      height: 16px;
      overflow: hidden;
      background-color: #f3f3f3;
      border-radius: 10px;
    }

    &-inner {
      width: 90%;
      height: 100%;
      background-color: $clr-coral;
    }
  }

  &__statistics {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    color: #bcbcbc;
    font-size: 12px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
  }

  &__statistics-likes {
    display: flex;
    margin-right: 12px;
  }

  &__statistics-dislikes {
    display: flex;
  }

  &__statistics-comment {
    display: flex;
    margin-left: auto;
  }

  &__statistics-icon {
    margin-right: 4px;
  }
}
