//.user {
//  &__info {
//    width: 277px;
//    margin-left: 30px;
//  }
//
//  &__photo {
//    position: relative;
//  }
//
//  &__icon-play {
//    position: absolute;
//    top: 16px;
//    right: 16px;
//    cursor: pointer;
//  }
//
//  &__complaint {
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    height: 32px;
//    margin-top: 12px;
//    color: #bcbcbc;
//    font-weight: 500;
//    font-size: 12px;
//    background-color: #f4f4f4;
//    cursor: pointer;
//    text-decoration-line: underline;
//
//    @include mt(0.2s);
//
//    &:hover {
//      color: #616161;
//    }
//  }
//
//  &__icon {
//    width: 15px;
//    height: 16px;
//    margin-top: 5px;
//    margin-right: 5px;
//  }
//
//  &__information {
//    position: relative;
//    padding: 51px 0 0 0;
//    border: 1px solid #e4e4e4;
//    border-top: none;
//    border-bottom: none;
//  }
//
//  &__elipses {
//    position: absolute;
//    top: -24px;
//    right: 30px;
//  }
//
//  &__ellipse {
//    display: inline-block;
//    width: 48px;
//    height: 48px;
//    margin-right: -24px;
//    background-color: #92aa9a;
//    border: 3px solid #fff;
//    border-radius: 50%;
//
//    &--beige {
//      background-color: #dca98a;
//    }
//
//    &--dark-blue {
//      background-color: #374863;
//    }
//  }
//
//  &__links {
//    display: flex;
//    justify-content: space-between;
//    padding: 24px 20px;
//    border-bottom: 1px solid #e4e4e4;
//  }
//
//  &__link {
//    color: #038992;
//    font-size: 12px;
//    text-decoration: none;
//  }
//}
