<template lang="pug">
    div.inline-setting
      label.inline-setting__label(:class="{'_error' : isError(controlIndex)}") {{ control.title }}
      div.inline-setting__body
        div.inline-setting__item-block._group(v-if="control.type == 'radio'")
          div(
          v-for="(item, index) in control.items",
          :class="{'_active' :item.active}",
          @click=" $emit('updateAttribute', { id: control.id, activeIndex: index }) ").inline-setting__button {{ item.title }}

        div.inline-setting__item-block(v-if="control.type == 'enumInput'")
            multiselect(
            :options="itemTitles(control.items)",
            label="title",
            :value="selectedItem(control)"
            :id="control.id",
            class="inline-setting__multiselect",
            @select="onselect"
            )

        div.inline-setting__item-block(v-if="control.type == 'string'")
            input(
            :id="control.id"
            v-model.sync="control.value"
            type="text"
            :placeholder="control.placeholder").inline-setting__input

        div.inline-setting__item-block(v-if="control.type == 'int'")
            input(
            :id="control.id"
            v-model.sync="control.value"
            type="number"
            :placeholder="control.placeholder").inline-setting__input

        div.inline-setting__item-block._ico-group(v-if="control.type == 'iconGroup'")
            div(
            v-for="(item, index) in control.items",
            :class="{'_active': item.active, '_small': item.small}"
            @click="item.active = !item.active").inline-setting__button._with-ico {{ item.title }}
            img(:src="require(`~/assets/images/furniture/${item.icon}.svg`)", alt="item.title").inline-setting__ico

        div.inline-setting__item-block(v-if="control.type == 'upload'")
            dropzone(:url="uploadUrl" :successHandler="uploadHandler(control)")
        div.inline-setting__error-notify(v-if="isError(controlIndex)") {{errors[controlIndex].msg}}
</template>

<script>
import Dropzone from '~/components/ui/dropzone'

export default {
  components: {
    Dropzone
  },
  props: ['control', 'controlIndex'],
  data () {
    console.log('items', this.items)
    return {
      uploadUrl: '/api/v1/upload',
      errors: []
    }
  },
  watch: {
    control (control) {
      console.log('control changed', control)
    }
  },
  methods: {
    isError (index) {
      if (this.errors.length > index && this.errors[index].hasError) {
        return true
      }
      return false
    },
    itemTitles (items) {
      return items
    },
    onselect (item, controlId) {
      this.$emit('updateAttribute', {
        id: controlId,
        activeId: item.id
      })
    },
    selectedItem (control) {
      console.log(control.items)
      return control.items.find(x => x.active)
    },
    uploadHandler (control) {
      const self = this
      return (a, b) => {
        self.$emit('updateAttribute', {
          id: control.id,
          value: b.url
        })
      }
    }
  }
}
</script>
