<template lang="pug">
div hello avito
  div {{ offers }}
</template>

<script>
export default {
  layout: 'moderation',
  async asyncData ({ app }) {
    const { result } = await app.$api('moderation.avitooffers')
    return {
      offers: result
    }
  }
}
</script>
