<template lang="pug">
h1 Ваш баланс: {{ balance }}
</template>

<script>
export default {
  layout: 'moderation',
  async asyncData ({ app }) {
    const { result } = await app.$api('users.balance')
    return {
      balance: result
    }
  }
}
</script>
