<template lang="pug">
.block
  .moderation
    .moderation__main-content.main--aside
      .moderation__title Модерация
      .moderation__online
          | Я {{ this.moderatorIsOnline ? '' : 'не' }} в сети
          div(@click="onlineSwitch" :class="{'moderation__checked-button--no-active': !this.moderatorIsOnline}").moderation__checked-button
              .circle
      .moderation__subtitle {{ activeStep.title }}
      a.moderation__no-moderator
          p Перестать быть модератором
          div.quest ?
      .moderation__tabs
          .moderation__tabs-big(v-for="bigTab in bigTabs" :class="{'moderation__tabs-big--active': bigTab.status}"
          @click="toggleBigTabs") {{ bigTab.name }}
      .page-view
          .page-view__info
            .page-view__tickets {{ ticketsCount }} тикетов
            .moderation__tabs-mini(v-for="tab in tabs" :class="{'moderation__tabs-mini--active': tab.status}" @click="chooseListState(tab.id)") {{ tab.name }}
          .settings-view
              a.settings-view__item
                  img(src="~assets/images/icons/icon-filter-card-1.svg")
              a.settings-view__item
                  img(src="~assets/images/icons/icon-filter-card-2.svg")
      .moderation__cards.cards
        card-moderation(v-for="ticket in tickets" :ticket="ticket" :key="ticket.id" @showOffer="showOffer")
        .moderation__stub(v-if="tickets === null")
          .moderation__stub-title
            | Актуальные тикеты отсутствуют,
            br
            | в гнездышке все спокойно
          .moderation__stub-img
            img(src="~assets/images/content/auth-image.png")
    aside.declaration-box__aside
      div.declaration-aside
        div.declaration-aside__steps
          nav.steps-aside
            a(v-for="navItem in moderationNav"
            :class="{'_active' : navItem.active}"
            @click="loadTickets(navItem.id)").steps-aside__item.is-active {{ navItem.title }}
        div.declaration-aside__useful
          nav.colored-useful-links
            <a href="/" class="colored-useful-links__item is-active">Моя анкета</a>
            <a href="/" class="colored-useful-links__item is-active">Объявления</a>
            <a href="/" class="colored-useful-links__item is-active">Реклама</a>
            <a href="/" class="colored-useful-links__item is-active">Черновики
                <span class="colored-useful-links__notation circle-notation">1</span>
            </a>
            <a href="/" class="colored-useful-links__item is-active">Архив</a>
            <a href="/" class="colored-useful-links__item is-active _active">Модератор</a>
  //sweet-modal(ref="offerModal")
    offer(v-if="attributes !== null" :offer="offer" :offerData="draft" :attributes="attributes" :draft="draft")
    div.moderation__sentence
      .moderation__help-call
        img(src="~assets/images/icons/icon-add-new.svg").moderation__help-call-img
        | Пригласить к разбору
      .moderation__offer-btns
        button.mr(
            type="submit",
            class="btn _trans _bold"
          ) Отказаться
        button.mr(
            type="submit",
            class="btn _gray _bold"
            @click="reject(selectedTicket.id)"
          ) Отклонить
        button(
            type="submit",
            class="btn _main _bold"
            @click="publish(selectedTicket.id)"
          ) Удовлетворить
</template>

<script>
// import { SweetModal } from 'sweet-modal-vue'

import cardModeration from '~/components/domain/moderation/cards/card-moderation'
import offer from '~/components/domain/offers/offer'

export default {
  components: {
    // SweetModal,
    cardModeration,
    offer
  },
  async asyncData ({ app }) {
    const ticketsResp = await app.$api('tickets.list', {
      search: { type: 2, status: 1 }
    })

    const { result } = await app.$api('offers.cards', {
      search: { status: 11 }
    })

    const attrs = await app.$api('attributes.list')
    return {
      offers: result,
      tickets: ticketsResp.result,
      attributes: attrs.result
    }
  },
  data () {
    const moderationNav = [
      {
        title: 'Жалобы',
        link: '/moderation',
        alias: 'complaint',
        active: false,
        id: 3
      },
      {
        title: 'Контент',
        link: '/moderation/t',
        alias: 'content',
        active: true,
        id: 2
      },
      {
        title: 'Заявки в модераторы',
        link: '/moderation/moderator',
        alias: 'moderator',
        active: false,
        id: 1
      },
      {
        title: 'Реклама',
        link: '/moderation/ads',
        alias: 'ads',
        active: false,
        id: 4
      },
      {
        title: 'Обращения пользователей',
        link: '/moderation/feedback',
        alias: 'feedback',
        active: false,
        id: 5
      }
    ]
    const activeStep = moderationNav[1]
    return {
      listState: 'all',
      draft: { title: '' },
      attributes: null,
      tickets: null,
      selectedOffer: {},
      selectedTicket: null,
      showPayConfirModal: false,
      selectedCards: [],
      activeStep,
      moderationNav,
      moderatorIsOnline: true,
      moderatorsTickets: [
        {
          id: 1,
          userName: 'Валера Валерович',
          ticketCommet: 'Хачччууу стать мадиротерем, пажожда',
          filingTime: '13 фев 2019',
          ticketStatus: 'Ожидание'
        },
        {
          id: 1,
          userName: 'Валера Валерович',
          ticketCommet: 'Хачччууу стать мадиротерем, пажожда',
          filingTime: '13 фев 2019',
          ticketStatus: 'Ожидание'
        },
        {
          id: 1,
          userName: 'Валера Валерович',
          ticketCommet: 'Хачччууу стать мадиротерем, пажожда',
          filingTime: '13 фев 2019',
          ticketStatus: 'Ожидание'
        },
        {
          id: 1,
          userName: 'Валера Валерович',
          ticketCommet: 'Хачччууу стать мадиротерем, пажожда',
          filingTime: '13 фев 2019',
          ticketStatus: 'Ожидание'
        }
      ],
      tabs: [
        {
          name: 'Все',
          status: true,
          id: 'all'
        },
        {
          name: 'Новые',
          status: false,
          id: 'notViewed'
        },
        {
          name: 'Просмотренные',
          status: false,
          id: 'viewed'
        },
        {
          name: 'На обсуждении',
          status: false,
          id: 'disput'
        }
      ],
      bigTabs: [
        {
          name: 'Актуальные тикеты',
          status: true
        },
        {
          name: 'Завершенные тикеты',
          status: false
        }
      ],
      offer: {
        head: {
          string:
            'Сдам комнату в 3-комнатной квартире в Калининском районе посуточно'
        },
        address: {
          city: 'Санкт-Петербург',
          area: 'Петроградский район',
          street: 'Барочная, 23'
        },
        layout: {
          // comfort: [[9, 10, 11, 12, 13], [14, 18, 29, 50]],
          furniture: [
            {
              title: 'Общее пользование',
              items: [
                {
                  name: 'Диван',
                  icon: 'sofa'
                },
                {
                  name: 'Кресло',
                  icon: 'chair'
                },
                {
                  name: 'Телевизор',
                  icon: 'tv'
                },
                {
                  name: 'Утюг',
                  icon: 'iron'
                },
                {
                  name: 'Кровать (двуспальная)',
                  icon: 'bed'
                },
                {
                  name: 'Стол',
                  icon: 'table'
                },
                {
                  name: 'Фен',
                  icon: 'dryer'
                },
                {
                  name: 'Гладильная доска',
                  icon: 'pressboard'
                },
                {
                  name: 'Шкаф',
                  icon: 'cupboard'
                },
                {
                  name: 'Стулья',
                  icon: 'chairs'
                },
                {
                  name: 'Микроволновая печь',
                  icon: 'microwave'
                },
                {
                  name: 'Стиральная машина',
                  icon: 'washer'
                }
              ]
            },
            {
              title: 'Общее пользование',
              items: [
                {
                  name: 'Диван',
                  icon: 'sofa'
                },
                {
                  name: 'Кресло',
                  icon: 'chair'
                },
                {
                  name: 'Телевизор',
                  icon: 'tv'
                },
                {
                  name: 'Утюг',
                  icon: 'iron'
                },
                {
                  name: 'Кровать (двуспальная)',
                  icon: 'bed'
                },
                {
                  name: 'Стол',
                  icon: 'table'
                },
                {
                  name: 'Фен',
                  icon: 'dryer'
                },
                {
                  name: 'Гладильная доска',
                  icon: 'pressboard'
                },
                {
                  name: 'Шкаф',
                  icon: 'cupboard'
                },
                {
                  name: 'Стулья',
                  icon: 'chairs'
                },
                {
                  name: 'Микроволновая печь',
                  icon: 'microwave'
                },
                {
                  name: 'Стиральная машина',
                  icon: 'washer'
                }
              ]
            },
            {
              title: 'Личное пользование',
              items: [
                {
                  name: 'Диван',
                  icon: 'sofa'
                },
                {
                  name: 'Кресло',
                  icon: 'chair'
                },
                {
                  name: 'Телевизор',
                  icon: 'tv'
                },
                {
                  name: 'Утюг',
                  icon: 'iron'
                },
                {
                  name: 'Кровать (двуспальная)',
                  icon: 'bed'
                },
                {
                  name: 'Стол',
                  icon: 'table'
                },
                {
                  name: 'Фен',
                  icon: 'dryer'
                },
                {
                  name: 'Гладильная доска',
                  icon: 'pressboard'
                },
                {
                  name: 'Шкаф',
                  icon: 'cupboard'
                },
                {
                  name: 'Стулья',
                  icon: 'chairs'
                },
                {
                  name: 'Микроволновая печь',
                  icon: 'microwave'
                },
                {
                  name: 'Стиральная машина',
                  icon: 'washer'
                }
              ]
            }
          ]
        },
        distance: [
          {
            transport: true,
            branch: 'Петроградская',
            time: '10 мин (транспорт)',
            way: 'blue'
          },
          {
            transport: false,
            branch: 'Чкаловская',
            time: '20 мин (пешком)',
            way: 'purple'
          }
        ],
        offerInfo: {
          views: 152,
          price: '10000',
          publishDate: '12 июля 15:00',
          isFavorite: false,
          isLiked: false,
          isDisliked: false
        },
        about: {
          title: 'Описание объекта',
          text:
            'Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий способствует подготовки и реализации систем массового участия.'
        },
        requirements: [
          [
            {
              key: 'Пол',
              value: 'Мужской'
            },
            {
              key: 'Возраст',
              value: '25 - 30 лет'
            },
            {
              key: 'Семейное положение',
              value: 'Не женат'
            },
            {
              key: 'Дети',
              value: 'Нет'
            },
            {
              key: 'Домашние животные',
              value: 'Девушка'
            }
          ],
          [
            {
              key: 'Родной язык',
              value: 'Русский'
            },
            {
              key: 'В еде не приемлет',
              value: 'Мясо'
            },
            {
              key: 'Курение',
              value: 'Не курит'
            },
            {
              key: 'Алкоголь',
              value: 'По праздникам'
            },
            {
              key: 'Ориентация',
              value: 'Гетеросексуальность'
            }
          ]
        ],
        ownerMessage: {
          text:
            'Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий способствует подготовки и реализации систем массового участия.'
        }
      }
    }
  },
  computed: {
    ticketsCount () {
      if (this.tickets) {
        return this.tickets.length
      } else {
        return '0'
      }
    }
  },
  methods: {
    async toggleBigTabs () {
      const newArr = this.bigTabs.map((tab) => {
        tab.status = !tab.status
        return tab
      })
      this.$set(this.bigTabs, newArr)
      await this.loadTickets(this.activeStep.id)
    },
    async chooseListState (id) {
      let state = id
      this.tabs = this.tabs.map((tab) => {
        tab.status = false
        if (tab.id === id) {
          state = tab.id
          tab.status = true
        }
        return tab
      })
      this.listState = state
      await this.loadTickets(this.activeStep.id)
    },
    async loadTickets (id) {
      const searchParams = {
        type: id,
        status: 1
      }
      switch (this.listState) {
        case 'notViewed':
          searchParams.needNotViewed = true
          break
        case 'viewed':
          searchParams.needViewed = true
          break
      }
      if (this.bigTabs[1].status) {
        searchParams.status = 3
      }
      const { result } = await this.$api('tickets.list', {
        search: searchParams
      })
      this.moderationNav.map((x) => {
        if (x.id === id) {
          this.activeStep = x
        }
        x.active = false
      })
      this.activeStep.active = true
      this.tickets = result
    },
    async getOffer (offerId) {
      const draftResponse = await this.$api('offers.get', {
        offerId
      })
      console.info('draft downloaded:', draftResponse.result)
      this.draft = draftResponse.result
    },
    async showOffer (ticket) {
      console.log('show ticket', ticket)
      this.selectedOffer = ticket.objectId

      this.selectedTicket = ticket

      console.info('get offer')
      await this.getOffer(ticket.objectId)
      console.info('set viewed')
      await this.$api('moderation.ticketSetViewedByModerator', {
        ticketId: ticket.id
      })

      console.info('open modal')

      this.$refs.offerModal.open()
    },
    onlineSwitch () {
      this.moderatorIsOnline = !this.moderatorIsOnline
    },
    offerAttribute (offer, attributeId) {
      if (!offer) {
        return
      }
      let res = null
      offer.params.attributes.map((x) => {
        if (x.id === attributeId) {
          res = x
        }
      })
      return res
    },
    offerViewAttributes (offer) {
      const res = []
      this.view.map((attrId) => {
        const attr = this.offerAttribute(offer, attrId)
        if (typeof attr === 'object' && attr !== null) {
          let value = attr.value
          switch (attr.type) {
            case 'radio':
              attr.items.map((attrItem) => {
                if (attrItem.active) {
                  value = attrItem.title
                }
              })
              break
            case 'enum':
              value = attr.items.find(attrItem => attrItem.active).title
              break
            case 'upload':
              attr.items.map((attrItem) => {
                value = attrItem.value
              })
          }
          res.push({
            title: attr.title,
            value
          })
        }
      })
      return res
    },
    async publish (ticketId) {
      console.log('publish offer', ticketId)
      await this.$api('moderation.ticketSubmit', { ticketId })
      this.$refs.offerModal.close()
      this.tickets = this.tickets.filter(ticket => ticket.id !== ticketId)
      this.$toast.success('Объявление опубликовано')
    },
    async reject (ticketId) {
      console.log('reject ticket', ticketId)
      await this.$api('moderation.ticketReject', { ticketId })
      this.$refs.offerModal.close()
      this.tickets = this.tickets.filter(ticket => ticket.id !== ticketId)
      this.$toast.success('Объявление отклонено')
    }
  }
}
</script>

<style>
.mr {
  margin-right: 25px;
}
</style>
