<template lang="pug">
div Новые сообщения
  .dialogs
    .dialog(v-for="dialog,i in dialogs" :key="i")
      .dialog-title Диалог с пользователем {{ dialog.user.name }}
      .dialog-message <b>Текст сообщения:</b> {{ dialog.text }}
</template>

<script>
export default {
  layout: 'moderation',
  async asyncData ({ app }) {
    const { result } = await app.$api('moderation.dialogs')
    return {
      dialogs: result
    }
  },
  created () {
    console.log('da')
  }
}
</script>

<style lang="scss" scoped>
.dialogs {
  b {
    font-weight: bold;
  }

  .dialog {
    display: block;

    &-title {
      display: block;
    }

    &-message {
      display: block;
    }
  }
}
</style>
