<template lang="pug">
.moderation
  nuxt-link.moderation-item(v-for="item,i in tickets" :key="i" :to="`/moderation/tickets/${item.id}`")
    .moderation-item-heading {{ item.title }}
    .moderation-item-content {{ item.text }}
    .moderation-item-footer
      .moderation-item-footer-status Новый
      .moderation-item-footer-time {{ item.createdAt }}
</template>

<script>
export default {
  layout: 'moderation',
  async asyncData ({ app }) {
    const { result } = await app.$api('tickets.list', {
      search: { type: 2, status: 1 }
    })

    return {
      tickets: result
    }
  },
  data () {
    return {}
  },
  created (to, from, _, c) {
    console.log(this, c, to, from)
  }
}
</script>

<style lang="scss" scoped>
.moderation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &-item {
    width: 30%;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #666;
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0 0 1px 1px #eee;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &-heading {
      padding: 16px;
      background-color: #f4f4f4;
    }

    &-content {
      padding: 16px;
    }

    &-footer {
      display: flex;
      align-items: center;
      padding: 16px;
      border-top: 1px solid #eee;

      &-status {
        padding: 5px 10px;
        color: #fff;
        text-decoration: none;
        background-color: #7fb1b1;
        border-radius: 4px;
      }

      &-time {
        flex: 1;
        text-align: right;
      }
    }
  }
}
</style>
