<template lang="pug">
.parser
  ug-textarea(v-model="text" fullwidth)
  btn(@click="parse") Распарсить
  div {{ parseResult }}
</template>

<script>
import UgTextarea from '~/components/ui/UgTextarea.vue'
import Btn from '~/components/ui/Btn.vue'

export default {
  components: {
    UgTextarea,
    Btn
  },
  layout: 'moderation',
  data () {
    return {
      text: null,
      parseResult: null
    }
  },
  methods: {
    async parse () {
      const { result } = await this.$api('offers.parse', {
        text: this.text
      })
      this.parseResult = result
    }
  }
}
</script>

<style lang="scss" scoped>
.parser {
  width: 100%;
}
</style>
