<template lang="pug">
div
  h1 Посты из телеграм-бота
  .offer(v-for="offer,i in offers" :key="i")
    .offer-text {{ offer.comment }}
    .offer-images
      .offer-image(v-for="img,i in offer.images" :key="i")
        img.offer-image-item(:src="img.url")
    .offer-actions
      .btn(@click="publish(offer.externalId)") Создать объявление
</template>

<script>
export default {
  layout: 'moderation',
  async asyncData ({ app }) {
    let { result } = await app.$api('moderation.TelegramOffers')
    if (!result) {
      return { offers: [] }
    }
    result = result.filter(x => x.paid)
    return {
      offers: result
    }
  },
  methods: {
    async publish (offerId) {
      const { result, error } = await this.$api(
        'moderation.CreateOfferFromTelegram',
        {
          telegramOfferID: Number.parseInt(offerId)
        }
      )

      if (error) {
        this.$toast.error(`Ошибка: ${error.message}`)
        return
      }

      await this.$router.push(`/offers/${result}/edit`)
    }
  }
}
</script>

<style lang="scss" scoped>
.offer {
  margin: 20px 0;

  &-text {
  }

  &-actions {
  }

  &-images {
    display: flex;
  }

  &-image {
    flex: 1;

    &-item {
      max-width: 100%;
      height: 150px;
      max-height: 100%;
      margin: 0 auto;
    }
  }
}

.btn {
  color: #666;
}
</style>
