<template lang="pug">
div
  .offers
    vk-item(v-for="offer,i in offers" :offer="offer" :key="i" @publish="publish(offer)" @reject="reject(offer)")
</template>

<script>
import vkItem from '~/components/domain/moderation/vkItem.vue'

export default {
  components: {
    vkItem
  },
  layout: 'moderation',
  async asyncData ({ app }) {
    const { result } = await app.$api('moderation.LastExternalOffers')
    return {
      offers: result
    }
  },
  methods: {
    async refetch () {
      const { result } = await this.$api('moderation.LastExternalOffers')
      this.offers = result
    },
    async publish (o) {
      const { error } = await this.$api('moderation.PublishExternalOffer', {
        integration: o.integration,
        id: o.id,
        buildType: o.buildType,
        searchType: o.searchType,
        roomCount: o.roomCount,
        price: o.price,
        address: o.address
      })
      if (error) {
        this.$toast.error(error.message)
        return
      }
      this.refetch()
    },
    async reject (o) {
      const { error } = await this.$api('moderation.RejectExternalOffer', {
        integration: o.integration,
        id: o.id
      })
      if (error) {
        this.$toast.error(error.message)
        return
      }
      this.refetch()
    }
  }
}
</script>

<style lang="scss" scoped>
.offers {
}
</style>
