<template lang="pug">
  .growth
    .growth__item(v-if="growth.bunkBed")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#bunk-bed")
      span.caption= "Двухярусная кровать"
    .growth__item(v-if="growth.singleBed")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#single-bed")
      span.caption= "Односпальная кровать"
    .growth__item(v-if="growth.doubleBed")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#double-bed")
      span.caption= "Двуспальная кровать"
    .growth__item(v-if="growth.sofa")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#sofa")
      span.caption= "Диван"
    .growth__item(v-if="growth.armchair")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#armchair")
      span.caption= "Кресло"
    .growth__item(v-if="growth.chair")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#chair")
      span.caption= "Стул"
    .growth__item(v-if="growth.chestOfDrawers")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#chest-of-drawers")
      span.caption= "Комод"
    .growth__item(v-if="growth.cupboard")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#cupboard")
      span.caption= "Шкаф"
    .growth__item(v-if="growth.table")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#table")
      span.caption= "Стол"
    .growth__item(v-if="growth.airConditioning")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#air-conditioning")
      span.caption= "Кондиционер"
    .growth__item(v-if="growth.tv")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#tv")
      span.caption= "Телевизор"
    .growth__item(v-if="growth.teapot")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#teapot")
      span.caption= "Чайник"
    .growth__item(v-if="growth.dishwasher")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#dishwasher")
      span.caption= "Посудомойка"
    .growth__item(v-if="growth.oven")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#oven")
      span.caption= "Духовка"
    .growth__item(v-if="growth.multicooker")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#multicooker")
      span.caption= "Мультиварка"
    .growth__item(v-if="growth.plate")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#plate")
      span.caption= "Плита"
    .growth__item(v-if="growth.microwave")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#microwave")
      span.caption= "Микроволновая печь"
    .growth__item(v-if="growth.kitchenSet")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#kitchen-set")
      span.caption= "Кухонный гарнитур"
    .growth__item(v-if="growth.refrigerator")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#refrigerator")
      span.caption= "Холодильник"
    .growth__item(v-if="growth.washer")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#washer")
      span.caption= "Стиральная машина"
    .growth__item(v-if="growth.dryer")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#dryer")
      span.caption= "Сушилка"
    .growth__item(v-if="growth.aVacuumCleaner")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#a-vacuum-cleaner")
      span.caption= "Пылесос"
    .growth__item(v-if="growth.iron")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#iron")
      span.caption= "Утюг"
    .growth__item(v-if="growth.ironingBoard")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#ironing-board")
      span.caption= "Гладильная доска"
    .growth__item(v-if="growth.hairDryer")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#hair-dryer")
      span.caption= "Фен"
    .growth__item(v-if="growth.wardrobe")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#wardrobe")
      span.caption= "Гардероб"
    .growth__item(v-if="growth.bath")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#bath")
      span.caption= "Ванна"
    .growth__item(v-if="growth.shower")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#shower")
      span.caption= "Душ"
    .growth__item(v-if="growth.jacuzzi")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#jacuzzi")
      span.caption= "Джакузи"
    .growth__item(v-if="growth.bidet")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#bidet")
      span.caption= "Биде"
    .growth__item(v-if="growth.toilet")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#toilet")
      span.caption= "Унитаз"
    .growth__item(v-if="growth.bathroomAccessories")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#bathroom-accessories")
      span.caption= "Ванные принадлежности"
    .growth__item(v-if="growth.dishes")
      svg.growth__icon
        use(xlink:href="@/assets/img/svg/sprite.svg#dishes")
      span.caption= "Посуда"
</template>

<script>
export default {
  name: 'UgGrowth',

  props: {
    growth: {
      type: Object,
      default: () => {}
    }
  },

  data () {
    return {

    }
  }
}
</script>

<style lang="scss">
@media screen and (min-width: 320px) {
  .growth {
    display: grid;
    grid-row-gap: $gap-r-xs;
    grid-template-columns: 1fr;
  }

  .growth__item {
    display: flex;
    gap: $gap-r-xs;
    align-items: center;
  }

  .growth__icon {
    position: relative;
    width: 2rem;
    height: 2rem;
    fill: $primary-color;
  }
}

@media screen and (min-width: 600px) {
  .growth {
    grid-row-gap: $gap-r-xs;
    grid-column-gap: $gap-r-s;
    grid-template-columns: repeat(2, 1fr);
  }

  .growth__item {
    gap: 0.75rem;
  }
}

@media screen and (min-width: 1280px) {
  .growth {
    grid-row-gap: $gap-xs;
    grid-column-gap: $gap-m;
    grid-template-columns: repeat(3, 1fr);
  }

  .growth__item {
    gap: $gap-xs;
  }

  .growth__icon {
    width: 32px;
    height: 32px;
  }
}
</style>
