.info-sidebar {
  &__item {
    border: 1px solid $clr-mercury;
    border-radius: 4px;

    &._price {
      margin-bottom: 16px;
      padding: 24px;
    }

    &._owner {
      padding: 16px;
    }

    &._timepicker {
      margin-top: 16px;
      padding: 24px 16px;
    }
  }

  &__head {
    margin-bottom: 16px;
    color: $clr-black;
    font-weight: $fw-semibold;

    &--large {
      font-size: 20px;
    }

    &--center {
      text-align: center;
    }
  }

  &__datepickers {
    margin-top: 24px;
  }

  &__datepicker {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__people {
    margin-top: 24px;
  }

  &__people-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-left: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__order {
    margin-top: 22px;
  }

  &__report {
    margin-top: 16px;
  }
}
