.filter-search {
  margin-top: 20px;

  &__still {
    position: relative;
    color: #038992;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;

    &::before {
      position: absolute;
      left: 46.5%;
      content: "● ● ● ";
    }
  }

  &__separator {
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
  }

  .btn {
    width: 277px;
  }

  .filter-multiselect {
    position: relative;
    margin-left: -1px;
  }

  .inline-setting {
    &--border {
      border-bottom: 1px solid #e4e4e4;
    }

    &__filter-visibility {
      display: flex;
      color: #038992;
      font-weight: 500;
      font-size: 12px;
      line-height: normal;
      text-align: center;
      text-decoration-line: underline;
    }

    &__hide-icon {
      margin-right: 8px;
      transform: rotate(180deg);
    }

    &__icon {
      margin-right: 8px;
    }

    &__found {
      margin-right: 30px;
      margin-left: auto;
      color: #616161;
      font-size: 14px;
      text-align: right;
    }

    &__history-search {
      width: 10%;
      text-align: right;
    }

    &__item-block {
      margin-left: -1px;

      &:last-child {
        margin-left: -2px;
      }
    }

    &__input {
      margin-left: -1px;
      background-color: inherit;

      &:last-child {
        margin-left: -2px;
      }
    }

    &__button {
      &--mg {
        margin-left: -2px;
      }

      &--filter {
        align-items: center;
        justify-content: space-between;
        width: 170px;
        height: 54px;
        margin: 0 30px 30px 0;
      }
    }

    &__ico {
      width: 32px;
      height: 17px;
    }

    &__labels {
      padding-left: 15px;

      &:last-child {
        padding-right: 15px;
        padding-left: 0;
      }
    }
  }
}
