<template lang="pug">
  .profile-photo
    .profile-photo__picture(v-if="image && image.url")
      img(
        :src="image.url"
        :alt="image.alt || null"
      )
    .profile-photo__dummy(v-else)
      .profile-photo__dummy-wrap
        UgSVG(
          :svg="'profile-empty'"
          :viewBox="'0 0 158 177'"
        )
</template>

<script>
import UgSVG from '~/components/common/UgSVG/UgSVG'

export default {
  name: 'UgProfilePhoto',

  components: {
    UgSVG
  },

  props: {
    image: {
      type: Object,
      default () {
        return null
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    $height: rem(320);

    .profile-photo {
      height: #{$height};
      width: auto;
    }

    .profile-photo__picture {
      position: relative;
      padding-top: #{$height};
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .profile-photo__picture img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }

    .profile-photo__dummy {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $g-97;
      width: 100%;
      height: 100%;
    }

    .profile-photo__dummy-wrap {
      position: relative;
      width: rem(200);
      height: rem(200);
      border-radius: 50%;
      background-color: $ug-white;
    }

    .profile-photo__dummy-wrap svg {
      position: absolute;
      top: rem(24);
      left: 50%;
      transform: translateX(-50%);
      width: rem(156);
      height: rem(192);
      fill: $g-97;
    }
  }

  @media screen and (min-width: 600px) {
    $height: rem(260);

    .profile-photo {
      height: #{$height};
    }

    .profile-photo__picture {
      padding-top: #{$height};
    }

    .profile-photo__dummy-wrap {
      width: rem(162);
      height: rem(162);
    }

    .profile-photo__dummy-wrap svg {
      top: rem(18);
      width: rem(126);
      height: rem(156);
    }
  }

  @media screen and (min-width: 1280px) {
    $height: 320px;

    .profile-photo {
      height: #{$height};
    }

    .profile-photo__picture {
      padding-top: #{$height};
    }

    .profile-photo__dummy-wrap {
      width: 200px;
      height: 200px;
    }

    .profile-photo__dummy-wrap svg {
      top: 24px;
      width: 156px;
      height: 192px;
    }
  }
</style>
