<template lang="pug">
form.search__form.filer-search
  .search-form-row
    button-group(:items="searchTypeItems" v-model="searchTypeActive")
    .search-form-row-right
      .subscribe(@click="toggleSubscriptionForm")
        span(v-if="!subscribeFormOpened") Получать новые объявления &nbsp;
        .subscribe-button(v-if="!subscribeFormOpened") в&nbsp;телеграм
          img.subscribe-button-icon(:src="require(`~/assets/images/icons/icon-tele.svg`)")
        .subscribe-button-close(v-if="subscribeFormOpened") Закрыть
  transition-expand
    .search-form-row(v-if="subscribeFormOpened" v-observe-visibility="subscribeObserveVisibilityOptions")
      .subscribe-summary
        .subscribe-summary-text Мы можем присылать новые объявления из этого поиска прямо в телеграм. По вашим фильтрам бот будет присылать примерно {{ offersPerDay }} {{ subsciptionOffersPerDayPlural }} в день.&nbsp;
          a(:href="`/api/v1/redirect/telegram/subscribe-search/${this.subscriptionToken}`" target="_blank" rel="nofollow" no-prefetch) Перейти в телеграм
      .subscribe-qr(v-if="isDesktop")
        img(v-if="this.subscriptionToken" height="300px" width="300px" alt="QR-код со ссылкой на нашего телеграм-бота" :src="`/api/v1/qr/telegram/subscribe-search/${this.subscriptionToken}`")
        span Наведите камерой телефона, произойдёт магия.
  .search-form-row
    .search-form-control
      //dropdown-build-type(v-model="buildType" :roomCount="editValue.roomCount")
    .search-form-control
      ug-input.budget-input(placeholder="Бюджет" v-model="editValue.price" type="number" fullwidth noborder)
    .search-form-control
      search-area(v-model="editValue.area")
  .filer-search__separator
</template>

<script>
import axios from 'axios'
import { mixin as clickaway } from 'vue-clickaway'

// import DropdownBuildType from '~/components/domain/offers/form/dropdownBuildType.vue'
import ButtonGroup from '~/components/ui/BtnGroup.vue'
import UgInput from '~/components/ui/UgInput.vue'
import Range from '~/components/domain/offers/form/range.vue'
import SearchArea from '~/components/domain/search/area'
import TransitionExpand from '~/components/common/TransitionExpand.vue'

import plural from '~/utils/plural'

export default {
  components: {
    // DropdownBuildType,
    ButtonGroup,
    Range,
    SearchArea,
    UgInput,
    TransitionExpand
  },
  mixins: [clickaway],
  beforeRouteUpdate (to) {
    console.log('TO', to)
  },
  model: {
    prop: 'searchParams',
    event: 'update'
  },
  props: {
    searchParams: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  data () {
    // TODO:fix
    let bt = [false, false]
    if (this.searchParams.buildType === 1) {
      bt = [true, false]
    } else if (this.searchParams.buildType === 2) {
      bt = [false, true]
    }
    let searchTypeActive = [false, false]
    if (this.searchParams.searchType === 1) {
      searchTypeActive = [false, true]
    } else if (this.searchParams.searchType === 2) {
      searchTypeActive = [true, false]
    }

    let to = 0
    if (Number.parseInt(this.searchParams.priceTo) > 0) {
      to = Number.parseInt(this.searchParams.priceTo)
    }

    return {
      editValue: { ...this.searchParams },
      price: {
        from: this.searchParams.priceFrom ? Number.parseInt(this.searchParams.priceFrom) : null,
        to: to > 0 ?? null
      },
      searchSource: null,
      searchCancelToken: null,
      offersCount: false,
      metros: [],
      metro: null,
      offers: [],
      cities: ['Санкт-Петербург', 'Москва'],
      tooltipInputIsOpen: false,
      searchResultCount: 0,
      searchTypeItems: ['Снять', 'Сдать'],
      searchTypeActive,
      rentDurationItems: ['Длительно', 'Суточно'],
      rentDurationActive: [true, false],
      buildType: {
        buildType: bt,
        roomCount: null
      },
      subscribeFormOpened: false,
      subscriptionToken: '',
      offersPerDay: 0,
      subscribeObserveVisibilityOptions: {
        callback: (v) => { if (!v) { this.subscribeFormOpened = false } },
        intersection: {
          rootMargin: '100px',
          threshold: 0
        }
      }
    }
  },
  computed: {
    city () {
      return this.$store.state.localStorage.city
    },
    subsciptionOffersPerDayPlural () {
      return plural(this.offersPerDay, 'объявление', 'объявления', 'объявлений')
    },
    isDesktop () {
      if (window.innerWidth > 0 && window.innerWidth <= 1024) {
        return false
      }
      return true
    }
  },
  watch: {
    price: {
      handler (v) {
        this.searchParams.priceFrom = Number.parseInt(v.from)
        this.searchParams.priceTo = Number.parseInt(v.to)
      },
      deep: true
    },
    city () {
      this.prefetchMetros(true)
    },
    editValue: {
      handler (value) {
        this.$emit('update', value)
        this.subscribeFormOpened = false
      },
      deep: true
    },
    searchTypeActive: {
      handler (value) {
        let v = 2
        if (value[1]) {
          v = 1
        } else if (value[2]) {
          v = 3
        }
        this.$set(this.editValue, 'searchType', v)
      },
      deep: true
    },
    rentDurationActive (value) {
      let v = 2
      if (value[1]) {
        v = 1
      } else if (value[2]) {
        v = 2
      }
      this.$set(this.editValue, 'rentDuration', v)
    },
    buildType: {
      handler (value) {
        let v = 1
        if (value.buildType[1]) {
          v = 2
        } else if (value.buildType[2]) {
          v = 3
        }
        this.$set(this.editValue, 'buildType', v)
        this.$set(this.editValue, 'roomCount', value.roomCount)
      },
      deep: true
    },
    metro (value) {
      this.$set(this.editValue, 'metro', value ? value.id : null)
    }
  },
  methods: {
    async toggleSubscriptionForm () {
      this.subscribeFormOpened = !this.subscribeFormOpened
      if (this.subscribeFormOpened) {
        const { result } = await this.$api('offers.PrepareSearchInfo', { search: this.editValue })
        this.offersPerDay = result.offersPerDay
        this.subscriptionToken = result.id
      }
    },
    async prefetchMetros (force) {
      if (this.metros.length === 0 || force) {
        const resp = await this.$api('metros.list', {
          city: this.city
        })
        if (resp.result.length > 0) {
          this.metros = resp.result
        }
      }
      return this.metros
    },
    async search () {
      if (this.searchSource !== null) {
        this.searchSource.cancel('Operation canceled by the user.')
      }
      this.searchCancelToken = axios.CancelToken
      this.searchSource = this.searchCancelToken.source()
      try {
        const { result } = await this.$api(
          'offers.fastCards',
          { search: {} },
          {
            cancelToken: this.searchSource.token
          }
        )
        if (typeof result === 'undefined') {
          return
        }
        this.offers = result.offers
        this.offersCount = result.count
        this.$emit('updated', this.offers)
      } catch (err) {
        console.warn('catch error api call', err)
      }
    }
  }
}
</script>

<style lang="scss" scoped src="./styles.scss"></style>

<style lang="css" scoped>
.multiselect-no-border >>> .multiselect__tags {
  height: 100%;
  padding: 15px;
  border: none;
}
</style>
