.subscribe {
  display: flex;
  flex: 1;
  align-items: baseline;
  text-align: right;
  cursor: pointer;

  @media screen and (max-width: 1024px) {
    margin-top: 16px;
  }

  &-summary {
    display: flex;
    flex: 1;
    font-size: 1.4em;
  }

  &-qr {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1024px) {
      display: none;
    }

    img {
      width: 300px;
      max-width: auto;
      height: 300px;
    }

    span {
      display: inline-block;
      margin-top: 8px;
    }
  }

  span {
    display: block;
    height: 100%;
    line-height: 100%;
  }

  &-button,
  &-button-close {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 4px;
    cursor: pointer;

    &-icon {
      margin-left: 8px;
    }
  }

  &-button-close {
    border: 1px solid rgb(245, 157, 157);
  }
}

.flex-items-center {
  align-items: center;
}

.bot-checkbox {
  margin-right: 8px;
}

.bot-text {
  color: #bbb;
  font-size: 0.9em;
  cursor: pointer;
}

.search-form-row {
  display: flex;
  width: 100%;
  max-height: 350px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 500ms ease;

  &.thin-column {
    display: block;
  }

  &-right {
    margin-left: auto;
  }

  .multiselect-no-border {
    border: none;
  }

  .search-form-control {
    // box-shadow: 0 0 10px #eee, inset 0 0 1px 0px #aaa;
    position: relative;
    flex: 1;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;

    .budget-input {
      padding: 16px 20px;

      &::placeholder {
        color: #666;
      }
    }

    &:first-child {
      border-left: 1px solid #bbb;
      border-radius: 4px 0 0 4px;

      @media screen and (max-width: 1024px) {
        border-radius: 4px 4px 0 0;
      }
    }

    &:last-child {
      border-radius: 0 4px 4px 0;

      @media screen and (max-width: 1024px) {
        border-radius: 0 0 4px 4px;
      }
    }

    @media screen and (max-width: 1024px) {
      border-bottom: 0 solid #bbb;
      border-left: 1px solid #bbb;
    }

    &:last-child {
      border-bottom: 1px solid #bbb;
    }
  }

  .search-form-tabs {
    display: flex;
    margin-bottom: 10px;

    .search-form-tab {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 115px;
      height: 40px;
      color: $clr-black;
      border: 1px solid #bcbcbc;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:nth-child(1n) {
        border-right: none;
      }

      &:last-child {
        border-right: 1px solid #bcbcbc;
      }
    }
  }
}

.collapsed {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.mb-10 {
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .search-form-row {
    display: block;
    flex-wrap: wrap;
  }

  .search-form-control {
    width: 100%;
  }
}
