<template lang="pug">
  .comments
    .comments-header
      div Комментарии
        span(v-if="comments && comments.length") • {{ comments.length }}
    //.comments__heading
      .comments__filter.filter
        a.filter__item(:class="{'filter__item--active' : tab == 'all'}" @click="chooseTab('all')")
          .filter__category Все
          .filter__circle ●
          .filter__number {{comments.length}}
        a.filter__item(:class="{'filter__item--active' : tab == 'positive'}" @click="chooseTab('positive')")
          .filter__category Положительные
          .filter__circle ●
          .filter__number {{positiveCommentsCount}}
        a.filter__item(:class="{'filter__item--active' : tab == 'negative'}" @click="chooseTab('negative')")
          .filter__category Негативные
          .filter__circle ●
          .filter__number {{negativeCommentsCount}}
      .comments__rating
        span.comments__rating-text Рейтинг сервиса по отзывам:
        stars-rating(:rating="roundRating")
    .comments-body
      .comment-add-form
        .comment-add-form__textarea-block
          textarea(:placeholder="placeholder" v-model="comment").comment-add-form__textarea.comments-textarea
          //img(src="~assets/images/icons/icon-smile.svg").comment-add-form__icon
          //img(src="~assets/images/icons/icon-attach.svg").comment-add-form__icon
        button.comment-add-form__button.comments-send-btn(@click="addComment")
          img(src="~assets/images/icons/icon-push.svg").comments__form-button-icon
    //- START VUE integration
    comments(:comments="filteredComments" :objectType="1")
    //- END VUE integration
</template>

<script>
import comments from '~/components/domain/comments'
import starsRating from '~/components/domain/comments/starsRating'

import { ObjectTypeOffer } from '~/ug/const'

export default {
  components: {
    comments,
    starsRating
  },
  props: {
    comments: { type: Array, default: () => null },
    objectType: { type: Number, required: true },
    objectId: { type: Number, required: true }
  },
  data () {
    return {
      comment: null,
      tab: 'all',
      roundRating: 3
    }
  },
  computed: {
    placeholder () {
      if (this.comments && this.comments.length) {
        return 'Написать комментарий...'
      }
      return 'Написать первый комментарий...'
    },
    filteredComments () {
      switch (this.tab) {
        case 'all':
          return this.comments
        case 'positive':
          return this.comments.filter(comment => comment.rating > 3)
        case 'negative':
          return this.comments.filter(comment => comment.rating <= 3)
        default:
          return this.comments
      }
    },
    positiveCommentsCount () {
      return this.comments.filter(comment => comment.rating > 3).length
    },
    negativeCommentsCount () {
      return this.comments.filter(comment => comment.rating <= 3).length
    }
  },
  methods: {
    chooseTab (tab) {
      this.tab = tab
    },
    async addComment () {
      if (!this.comment) {
        return
      }
      if (this.objectType === ObjectTypeOffer) {
        await this.$api('comments.addOfferComment', {
          offerId: Number.parseInt(this.objectId),
          comment: this.comment
        })
        this.$emit('update')
        this.comment = ''
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.comments {
  border: 1px solid #eee;
  border-radius: 4px;

  &-header {
    padding: 10px 32px;
    border-bottom: 1px solid #eee;
  }

  &-body {
    padding: 32px;
  }

  &-textarea {
    border-radius: 4px 0 0 4px;
  }

  &-send-btn {
    border-radius: 0 4px 4px 0;
  }
}
</style>
