<template lang="pug">
  .comments__list
    comment(v-for="comment in comments" :key="comments.commentId" :comment="comment")
    .empty-comments(v-if="!comments") Отзывов еще нет. Будьте первым ;)
</template>

<script>
import comment from '~/components/domain/comments/comment'

export default {
  name: 'Comments',
  components: {
    comment
  },
  props: ['comments']
}
</script>
