<template lang="pug">
.latest-comments
 .latest-comments-header Последние комментарии:
 .latest-comments-body
   .latest-comments-body-inner
     .comment(v-for="comment,i in comments" :key="i")
       .comment-header
         .comment-header-avatar
           img(:src="comment.user.avatarUrl" width="20" height="20")
         .comment-header-name {{ comment.user.name }}
         .comment-header-time {{ agoMinutes(comment.createdAt) }}
       .comment-body {{ comment.text }}
       .comment-footer
         nuxt-link(:to="`/offers/${comment.object.id}`") {{ comment.object.title }}
</template>

<script>
export default {
  data () {
    return {
      comments: null
    }
  },
  mounted () {
    this.latest()
  },
  methods: {
    async latest () {
      const { result } = await this.$api('comments.latest', { pageSize: 3 })
      this.comments = result
    },
    agoMinutes (time) {
      const createdAt = new Date(time)
      const now = Date.now()
      const diff = now - createdAt
      const ago = Math.round(diff / 60 / 1000)
      if (ago > 60 * 24) {
        return `${Math.round(ago / 60 / 24)}д`
      } else if (ago > 60) {
        return `${Math.round(ago / 60)}ч`
      } else if (ago === 0) {
        return 'Только что'
      }
      return `${ago}м`
    }
  }
}
</script>

<style lang="scss" scoped>
.latest-comments {
  &-header {
    margin-bottom: 10px;
    color: #999;
  }
}

.comment {
  margin-bottom: 30px;
  padding-top: 0 !important; // fix global rule
  border-top: none !important; // fix global rule

  &-header {
    display: flex;

    &-avatar {
      margin-right: 10px;

      img {
        border-radius: 50%;
      }
    }

    &-name {
      font-weight: bold;
    }

    &-time {
      margin-left: 20px;
      color: #aaa;
    }
  }

  &-body {
    margin-top: 8px;
  }

  &-footer {
    margin-top: 8px;

    a {
      color: $ug-blue;
      font-weight: 500;
      text-decoration: none;
    }
  }
}
</style>
