<template lang="pug">
  .block-radio
    .block-radio__head
      span.block-radio__ttl {{ blockRadio.title }}
    .block-radio__body
      UgRbutton(
        v-for="(item, index) in blockRadio.array"
        :key="index"
        :option="item"
        :name="name"
      )
</template>

<script>
import UgRbutton from '~/components/ui/UgRbutton/UgRbutton'

export default {
  name: 'UgBlockRbutton',

  components: {
    UgRbutton
  },

  props: {
    blockRadio: {
      type: Object,
      default () {
        return []
      }
    },

    name: {
      type: String,
      default () {
        return ''
      }
    }
  },

  data () {
    return {}
  }
}
</script>

<style lang="scss">
  @media screen and (min-width: 320px) {
    .block-radio {
      width: 100%;
      background-color: $bg;
      border: 1px solid $border;
      overflow: hidden;
      transition: $t-04-eio;
    }

    .block-radio__head {
      position: relative;
      width: inherit;
      padding: $gap-r-xs rem(48) $gap-r-xs $gap-r-xs;
      box-sizing: border-box;
    }

    .block-radio__ttl {
      font-family: $main-font;
      color: $input-value;
      font-size: rem(16);
      line-height: 1em;
    }

    .block-radio__body {
      display: flex;
      align-items: center;
      padding: $gap-r-xxs $gap-r-xs $gap-r-xs;
      box-sizing: border-box;
    }

    .block-radio__body label {
      flex: 1 0 auto;
    }
  }

  @media screen and (min-width: 1280px) {
    .block-radio__head {
      padding: $gap-xs 48px $gap-xs $gap-xs;
    }

    .block-radio__ttl {
      font-size: 16px;
    }

    .block-radio__body {
      padding: $gap-xxs $gap-xs $gap-xs;
    }
  }
</style>
