/* counter */
.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;

  &__button {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__value {
    width: 40px;
    text-align: center;
  }
}
