<template lang="pug">
div.offer__params(v-if="false")
  //div(v-for="paramList in meta").offer__params-list
    div.param-list
      div(v-for="param in paramList").param-list__item
        div.param-list__start
          div.param-list__name {{ param.title }}
          div.param-list__divider
        div.param-list__end
          div.param-list__value {{ paramValue(param) }}
</template>

<script>
export default {
  props: ['meta'],
  methods: {
    paramValue (param) {
      switch (param.type) {
        case ('string', 'int'):
          return param.value
        case 'radio': {
          const activeItem = param.items.find(x => x.active)
          if (activeItem != null) {
            return activeItem.title
          } else {
            return 'Нет'
          }
        }
        default:
          return 'Нет'
      }
    }
  }
}
</script>
