<template lang="pug">
.block
  .moderation
    .moderation-main
      .moderation-main-heading Модерация
      .moderation-main-content
        slot
    .moderation-aside
      ul
        li(v-for="item,i in items" :key="i")
          nuxt-link(:to="item.path" :class="{'active': item.path==$route.path}") {{ item.title }}
</template>

<script>
export default {
  data () {
    return {
      items: [
        {
          path: '/moderation/stats',
          title: 'Статистика'
        },
        {
          path: '/moderation',
          title: 'Контент'
        },
        {
          path: '/moderation/t',
          title: 'Телеграм'
        },
        {
          path: '/moderation/im',
          title: 'Сообщения'
        },
        {
          path: '/moderation/helpchat',
          title: 'Вопросы'
        },
        {
          path: '/moderation/users',
          title: 'Пользователи'
        },
        {
          path: '/moderation/vk',
          title: 'ВК'
        },
        {
          path: '/moderation/avito',
          title: 'Авито'
        },
        {
          path: '/moderation/cities',
          title: 'Города'
        },
        {
          path: '/moderation/cities/add',
          title: 'Добавить город'
        },
        {
          path: '/moderation/parser',
          title: 'Парсер'
        },
        {
          path: '/moderation/balance',
          title: 'Баланс'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.moderation {
  display: flex;

  &-main {
    width: 80%;
    margin-right: 1%;

    &-heading {
      margin-bottom: 10px;
      font-size: 1.2em;
    }

    &-content {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-aside {
    flex: 19%;

    ul {
      box-sizing: content-box;

      li a {
        display: inline-block;
        padding: 16px;
        color: #666;
        text-decoration: none;
        border-left: 2px solid #f4f4f4;

        &.active {
          border-left: 5px solid #08c1c1;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &-aside {
      display: none;
    }
  }

  &-item {
    width: 30%;
    margin-right: 15px;
    margin-bottom: 15px;
    color: #666;
    background-color: #fff;
    box-shadow: 0 0 1px 1px #eee;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &-heading {
      padding: 16px;
      background-color: #bbb;
    }

    &-content {
      padding: 16px;
    }

    &-footer {
      display: flex;
      align-items: center;
      padding: 16px;
      border-top: 1px solid #eee;

      &-status {
        padding: 5px 10px;
        background-color: rgb(240, 240, 22);
      }

      &-time {
        flex: 1;
        text-align: right;
      }
    }
  }
}
</style>
