<template lang="pug">
    .offer
      .offer-inner
        .offer-body
          .offer-images
            .offer-image(v-for="image,i in offer.images" :key="i")
              img(:src="image" height="200px")
          .offer-text(v-if="offer.text")
            nl2br(tag="div" :text="offer.text")
        .offer-actions
          .action.reject
            button.reject(@click="$emit('reject')") Скрыть
          .action.search-type(:class="{'error':!offer.searchType}") тип объявления
            select.search-type-select(ref="searchTypeSelect" v-model.number="offer.searchType")
              option(value="2") Сдача гнёздышка
              option(value="1") Поиск гнёздышка
              option(value="3") Поиск соседа
          .action.search-type(:class="{'error':!offer.buildType}") тип объекта
                select.search-type-select(v-model.number="offer.buildType")
                  option(value="1") Квартира
                  option(value="2") Комната
          .action.search-type(:class="{'error':!offer.roomCount}") Количество комнат
            select.search-type-select(ref="searchTypeSelect" v-model.number="offer.roomCount")
              option(value="4") Студия
              option(value="1") 1
              option(value="2") 2
              option(value="3") 3+
          .action.price(:class="{'error':!offer.price}")
            input(v-model.number="offer.price" type="number" placeholder="Цена")
          .action.address(:class="{'error':!offer.address}")
            input(v-model="offer.address" placeholder="Адрес")
          .action.submit
            button.submit(@click="$emit('publish')") Опубликовать
</template>

<script>
import Nl2br from 'vue-nl2br'

export default {
  components: {
    Nl2br
  },
  props: ['offer'],
  data () {
    return {
      searchType: null
    }
  }
}
</script>

<style lang="scss" scoped>
.offer {
  &-images {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  &-image {
    flex: 0 0 auto;
  }

  .search-type {
    position: relative;
    display: inline-block;
    padding: 10px;
    overflow: hidden;

    &-select {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border: none;
      opacity: 0;
    }
  }

  .action {
    background-color: $ug-blue;
    border-right: 1px solid #eee;

    input,
    button {
      border: none;
    }

    &:first-child {
      overflow: hidden;
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      overflow: hidden;
      border-radius: 0 4px 4px 0;
    }

    input {
      padding: 15px;
      color: black;
      background-color: inherit;
    }

    button {
      padding: 15px;
      background-color: inherit;
    }

    .reject {
      background: orange;
    }
  }

  &-actions {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 600px) {
      .action {
        width: 100%;
        margin-bottom: 10px;

        input,
        button {
          width: 100%;
        }
      }
    }
  }

  .error {
    background-color: #fdd;
  }
}
</style>
