/* furniture */
.furniture {
  padding: 32px 40px 24px 40px;
  border: 1px solid $clr-mercury;

  &__header {
    margin-bottom: 24px;
  }

  &__title {
    margin-bottom: 28px;
    color: $clr-blue-lagoon;
    font-size: $fs-medium-xs;
    text-transform: uppercase;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__set {
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }

  &__item-icon {
    display: flex;
    justify-content: center;
    width: 32px;
    margin-right: 8px;
  }

  &__item-name {
    width: 120px;
  }
}
