<template lang="pug">
  ul.link-group
    li.link-group__item(
      v-for="(link, index) in links"
      :key="index"
    )
      nuxt-link.link(:to="link.url")= "{{ link.text }}"
</template>

<script>
export default {
  name: 'UgLinkGroup',

  props: {
    links: {
      type: Array,
      default () {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .link-group {
      padding: $gap-r-s;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $gap-r-s;
      border: 1px solid $border;
    }

    .link-group__item {
      width: 100%;
    }
  }

  @media screen and (min-width: 1280px) {
    .link-group {
      padding: $gap-s;
      gap: $gap-s;
    }
  }
</style>
