<template lang="pug">
div
  div
    div
      div {{text}}
      ug-textarea(v-model="text")
      btn(@click="send" block) Отправить
    div(v-for="message,i in messages")
     div(v-if="message.fromModerator") Модератор: {{ message.text }}
     div(v-else) Пользователь {{ message.text}}

</template>

<script>
import UgTextarea from '~/components/ui/UgTextarea'
import Btn from '~/components/ui/Btn'

const fetchMessages = async (api, deviceId) => {
  const { result } = await api('helpchat.History', {
    deviceId
  })
  return result
}

export default {
  components: {
    UgTextarea,
    Btn
  },
  layout: 'moderation',
  async asyncData ({ app, route }) {
    return {
      messages: await fetchMessages(app.$api, route.params.deviceId)
    }
  },
  data () {
    return {
      text: null
    }
  },
  methods: {
    async send () {
      await this.$api('moderation.AnswerToHelpChat', {
        deviceId: this.$route.params.deviceId,
        text: this.text
      })
      this.text = null
      this.messages = await fetchMessages(this.$api, this.$route.params.deviceId)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
