<template lang="pug">
div
  h2 Анонимные вопросы
  div.flex.flex--wrap
    moderation-card.mr.mc(v-for="dialog,i in dialogs"
    :key="i" :title="`Анонимный диалог`"
    :to="`/moderation/helpchat/${dialog.deviceId}`"
    toMessage="Ответить")
      div {{ dialog.text }}
      div.mt
        b Создано: &nbsp;
        ago(:datetime="dialog.createdAt")
</template>

<script>
import ModerationCard from '~/components/ui/ModerationCard.vue'
import Ago from '~/components/ui/Ago.vue'

export default {
  components: {
    ModerationCard,
    Ago
  },
  layout: 'moderation',
  async asyncData ({ app }) {
    const { result } = await app.$api('moderation.HelpChatDialogs')
    return {
      dialogs: result
    }
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
.mr {
  margin-right: 16px;
}

.mt {
  margin-top: 16px;
}

.mc {
  flex: 1;
  margin-bottom: 16px;
  padding: 8px;
}

</style>
