<template lang="pug">
.block
  add-offer-form(:offer="offer" :searchType="searchType")
</template>

<script>
import addOfferForm from '~/components/domain/offers/addOfferForm.vue'
export default {
  components: {
    addOfferForm
  },
  data () {
    return {
      offer: {}
    }
  },
  computed: {
    searchType () {
      switch (this.$route.params.searchType) {
        case 'search-nest':
          return 1
        case 'search-nester':
          return 2
        case 'search-neighbour':
          return 3
        default:
          // not found here
          return 0
      }
    }
  }
}
</script>
