<template lang="pug">
div
  div.block.content._small
    h1.h1 Быстрая подача объявления
    div.flex.flex-item
        select.select(v-model.number="offer.searchType")
            option(value="2" ) Сдаю
            option(value="1") Хочу снять
            option(value="0") Тип
        select.select(v-model.number="offer.rentDuration")
            option(value="3") Длительный
            option(value="2") На несколько месяцев
            option(value="1") Суточно
            option(value="0") Срок
        select.select(v-model.number="offer.buildType")
            option(value="1") Квартира
            option(value="2") Комната
            option(value="3") Дом
            //option(value="4") Подселение
            option(value="0") Тип
    div.flex-item
      label Текст объявления
            textarea.fast-textarea(v-model="offer.comment")
    div.flex.flex--between.flex--center
        label.flex.flex--jc-center Деньги
            input(class='inline-setting__input' placeholder="сумма" v-model.number="offer.price" required)
        label.flex.flex--jc-center Адрес
            input(class='inline-setting__input' placeholder="Адрес" v-model="offer.address")
        label.flex.flex--jc-center Метро
            select(class='inline-setting__input' placeholder="Email" v-model="offer.metro" type="email")
              option(v-for="metro, index in metros" :value="metro.id") {{ metro.title }}
    yandex-map.fast-map(:coords="coords" :zoom="zoom" :controls="['zoomControl']")
      ymap-marker(
        marker-id="1"
        marker-type="placemark"
        :coords="coords"
        :icon="{color: 'red', glyph: 'home'}"
        :options="{draggable:'true'}"
        :callbacks="{dragend:coordsChanged}")
    div.flex.flex--between.flex--center(v-if="parseInt($route.query.offerId)==0")
        label.flex.flex--jc-center Email
            input(class='inline-setting__input' placeholder="Email" v-model="offer.user.email" required)
    label.custom-file-upload
        input(type="file" ref="file" multiple @change="fileChange" accept="image/*")
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z"/></svg>
        | Загрузить изображения
    div.flex
      img.image-preview(v-for="img,i in offer.images" :key="i" height="100px" :src="img.url")
    //div(v-if="this.$auth.user.isAdmin && this.$route.query.vkId")
      label Создать пользователя из ВК
        input(type="checkbox" v-model="offer.createUser")
    div(v-if="isAdmin")
      label Опубликовать в телеграм
        input(type="checkbox" v-model="offer.publishInTelegram")
    div.flex.flex--center.flex--jc-center
        button.btn._main(@click="create") Сохранить
        div(v-if="status") {{ status }}
        nuxt-link(v-if="parseInt($route.query.offerId)>0" :to="`/offers/${$route.query.offerId}`")
          button.btn._main.ml.no-decoration Посмотреть на сайте

</template>

<script>
import axios from 'axios'

export default {
  components: {
  },
  layout: 'responsive',
  async asyncData ({ app, query }) {
    const metroResp = await app.$api('metros.list')
    let offer = {
      rentDuration: 3,
      searchType: 2,
      buildType: 2,
      images: [],
      user: {}
    }
    if (query.vkId) {
      const resp = await app.$api('vk.post', {
        postId: Number.parseInt(query.vkId)
      })

      console.info(resp)
      offer = {
        comment: resp.result.comment,
        price: resp.result.price,
        searchType: resp.result.searchType,
        rentDuration: resp.result.rentDuration,
        buildType: resp.result.buildType,
        images: resp.result.images,
        createUser: true,
        user: {
          firstName: resp.result.user.firstName,
          lastName: resp.result.user.lastName,
          id: resp.result.user.id,
          avatarUrl: resp.result.user.avatarUrl,
          vkId: resp.result.user.vkId,
          isVkUser: resp.result.user.isVkUser
        },
        publishInTelegram: false,
        publish: true,
        vkPostID: Number.parseInt(query.vkId)
      }
    } else if (Number.parseInt(query.offerId) > 0) {
      const resp = await app.$api('offers.getFast', {
        offerId: Number.parseInt(query.offerId)
      })
      offer = resp.result
      console.log('OFFER BY ID FAST', offer)
    }

    return {
      metros: metroResp.result,
      offer
    }
  },
  data () {
    return {
      coords: [59.95, 30.3],
      status: '',
      offer: {
        rentDuration: 3,
        searchType: 2,
        buildType: 2,
        images: [],
        user: {}
      },
      zoom: 12,
      metros: null,

      locationCancelToken: null,
      locationSource: null
    }
  },
  computed: {
    isAdmin () {
      try {
        return this.$auth.user.isAdmin
      } catch {
        return false
      }
    },
    address () {
      return this.offer.address
    },
    offerRequest () {
      const o = this.offer
      if (Number.parseInt(this.$route.query.offerId) !== 0) {
        o.offerId = Number.parseInt(this.$route.query.offerId)
      }
      return o
    }
  },
  watch: {
    async address () {
      if (this.address === '') {
        console.info('address is nil')
        return
      }
      if (this.locationSource !== null) {
        this.locationSource.cancel('Operation canceled by the user.')
      }
      this.locationCancelToken = axios.CancelToken
      this.locationSource = this.locationCancelToken.source()
      const { result } = await this.$api(
        'geo.location',
        { query: this.address },
        { cancelToken: this.locationSource.token }
      )
      this.coords = [result.lon, result.lat]
      this.offer.location = [result.lat, result.lon]
      console.log(result)
    }
  },
  mounted () {
    if (this.$route.query.vkId) {
      this.vkId = this.$route.query.vkId
    }
  },
  methods: {
    coordsChanged (e) {
      console.log('changed', e.get('target').geometry.getCoordinates())
    },
    fileChange ($event) {
      [...$event.target.files].forEach(
        (file, index) => this.upload(file, index)
      )
    },
    async upload (file, index) {
      const uploadUrl = '/api/v1/upload'
      const formData = new FormData()
      formData.append('file', file)
      console.info(index, file)
      const response = await this.$axios.post(uploadUrl, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      })
      this.offer.images.push({ url: response.data.url })
    },
    async create () {
      const resp = await this.$api('offers.fastCreate', {
        offerRequest: this.offerRequest
      })
      this.status = `Объявление создано (ID: ${resp.result})`
      console.info('allo', resp.result)
      if (Number.parseInt(resp.result) > 0) {
        await this.$router.push(`/offers/${resp.result}`)
      }
    }
  }
}
</script>

<style scoped>
.ml {
  margin-left: 2em;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 30%;
  height: 40px;
  height: 56px;
  padding: 0 15px;
  text-indent: 0.01px;
  border: 1px solid #eee;
  border: 1px solid #bcbcbc;
  -moz-appearance: none;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 40px;
}

.flex-item {
  flex: 1;
}

.row {
  flex-direction: row;
}

.p {
  padding: 1em;
}

.fast-textarea {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 250px;
  margin-bottom: 40px;
  padding: 0 15px;
  border: 1px solid #eee;
  border: 1px solid #bcbcbc;
}

.image-preview {
  float: left;
  padding-left: 10px;
}

label.flex.flex--jc-center {
  margin: 0;
}

.custom-file-upload {
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 25px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.custom-file-upload svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.custom-file-upload input {
  display: none;
}

.fast-map {
  width: 100%;
  height: 200px;
  background-color: #eee;
}

@media (max-width: 480px) {
  .block {
    padding: 0 15px;
  }

  .flex.flex-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .select {
    width: 100%;
    margin: 5px 0;
  }

  label.flex.flex--jc-center {
    width: 100%;
    margin: 5px 0;
  }
}
</style>
