<template lang="pug">
  choose-offer-type
</template>

<script>
import chooseOfferType from '~/components/domain/offers/chooseOfferType'

export default {
  components: {
    chooseOfferType
  },
  middleware ({ redirect }) {
    return redirect('/add/new')
  }
}
</script>
