<template lang="pug">
.block(v-cloak @drop.prevent="addFile" @dragover.prevent)
  .light-add-back(v-if="step!==1" @click="step--")
    img(src="~assets/images/icons/icon-back-2.svg")
    | Назад
  .light-add-header 🔥Мы опубликуем объявление в нашем телеграм-канале с охватом 4 000 человек бесплатно!🔥
  h1.light-add-header Создание объявления
    .light-add-description  обычно занимает две минуты
  .light-add-container(v-if="step===1")
    .light-add-main
      textarea.light-add-textarea(
          placeholder="Введите текст объявления"
          :class="{filled: offerTextAllowed}"
          v-model="text"
          ref="text"
        )
    .light-add-aside.hide-small-screen
      .help-text-carousel
        .help-text-carousel-item(v-for="item,i in carouselItems" :key="i" :class="{'help-text-carousel-item--active': i===activeCarouselItem}") {{ item.text }}
      //.help-text Если вы ищете жильца, опишите ваше гнёздышко, где оно находится и кого хотите заселить.
  .light-add-container.no-flex(v-if="step===2")
    .light-add-heading Загрузите изображения
    .light-add-uploader
      .light-add-uploader-input(@click="$refs.uploaderInput.click()")
        input(type="file" ref="uploaderInput" @change="fileChange" multiple accept="image/*")
        .help-text
          img(src='~/assets/images/icons/icon-add-new.svg' width="50px" height="50px").header__comments-file
          p Нажмите или перетащите изображения сюда
      .light-add-uploader-images
        img(:src="getFileURL(file)" v-for="file,i in files" :key="i" height="100px")

  .light-add-container.no-flex(v-if="step===3")
    .light-add-heading Какой способ связи предпочитаете?
    .light-add-two-columns
      .light-add-column
        .light-add-column-inner(@click="openWindow")
          img(src='~/assets/images/icons/icon-header-comment.svg' width="40px" height="40px").header__comments-file
          .light-add-column-heading Сообщения&nbsp;ВКонтакте
          .light-add-help-number 1
      .light-add-column
        .light-add-column-inner(v-if="!phoneChosen" @click="phoneChosen=true")
          img.header__comments-file(src='~/assets/images/icons/phone.svg' width="40px" height="40px")
          .light-add-column-heading Номер телефона
          .light-add-help-number 2
        .light-add-column-inner(v-show="phoneChosen")
          .number-input
            label(for="phone") Номер телефона:
            input(type="tel"
                  ref="phoneInput"
                  v-model="phone"
                  placeholder="Введите номер здесь"
                  inputmode="numeric"
                  id="phone"
                )
          .code-input(v-show="phoneInputDone")
            label Код из СМС:
            input(type="number"
                  pattern="[0-9]*"
                  ref="codeInput"
                  placeholder="●●●●"
                  maxlength="4"
                  v-model.number="code"
                 )
  .light-add-container.no-flex(v-if="step===4")
    .light-add-heading Завершаем загрузку изображений, после загрузки всех изображений, объявление будет создано и отправлено на модерацию автоматически.
  .light-add-actions
    btn.btn.btn-primary(:class="{'btn-hidden': !offerTextAllowed, 'disable-animation': !offerTextAllowed}" @click="nextStep") Продолжить
    .btn-help-text(v-if="$device.isMacOS && offerTextAllowed") нажмите
      img.inline-image(:src="require(`~/assets/images/icons/cmd.png`)" width="14px" height="14px")
      span  + Enter
    .btn-help-text(v-else-if="offerTextAllowed") нажмите Ctrl+Enter

</template>

<script>
import Btn from '~/components/ui/Btn'

const ActionPageOpened = 4
const ActionStartInput = 5
const ActionUpload = 6
const ActionAuth = 7

export default {
  components: {
    Btn
  },
  middleware ({ redirect }) {
    return redirect('/add/new')
  },
  data () {
    return {
      draftId: null,
      draftCreating: false,
      step: 1,
      text: '',
      files: [],
      images: [],
      authWindow: null,
      phoneChosen: false,
      phone: '',
      code: '',
      sessionId: '',

      carouselItems: [
        {
          text:
            'Если вы ищете жильца, опишите ваше гнёздышко, где оно находится и кого хотите заселить.'
        },
        {
          text:
            'Если вы чувствуете, что человек «не ваш» - это еще не значит, что он плохой. Не тратьте свое время на перепалки, вам не по пути, только и всего.'
        },
        {
          text:
            'Жильцы с животными бывают проблемой, однако если человек заботиться о ком-то кроме себя, это может говорить о его доброте и ответственности. Не спешите отказывать, попробуйте понять каждого конкретного человека, и тогда, поверьте, вас обязательно поймут и примут в ответ.'
        },
        {
          text:
            'Возмущаясь высокой ценой на гнездо - задумайтесь! Возможно вы просто не можете себе его позволить?'
        },
        {
          text: 'Девочки бывают нечистоплотными, а мальчики бывают спокойными.'
        }
      ],
      activeCarouselItem: Number.parseInt(Math.random() * (5 - 0), 10),
      carouselInterval: null,

      interval: null,

      startInputActionSended: false,
      uploadStarted: false
    }
  },
  computed: {
    offerTextAllowed () {
      switch (this.step) {
        case 1:
          return !!this.text && this.text.length > 1
        case 2:
          return this.files.length > 0
        default:
          return false
      }
    },
    phoneInputDone () {
      return this.phone && this.phone.length === 18
    },
    codeInputDone () {
      return this.code && this.code > 999 && this.code < 10000
    },
    formattedPhone () {
      let phone = this.phone
      if (phone) {
        if (
          phone.charAt(0) !== '7' &&
          phone.charAt(0) !== '8' &&
          phone.charAt(0) !== '+'
        ) {
          phone = '7' + phone
        }
        if (phone.charAt(0) === '7') {
          phone = '+' + phone
        }
        if (phone.charAt(0) === '8') {
          phone = '+7' + phone.slice(1)
        }

        if (phone.length > 2 && phone.charAt(2) !== ' ') {
          phone = phone.slice(0, 2) + ' ' + phone.slice(2)
        }
        if (phone.length > 3 && phone.charAt(3) !== '(') {
          phone = phone.slice(0, 3) + '(' + phone.slice(3)
        }
        if (phone.length > 7 && phone.charAt(7) !== ')') {
          phone = phone.slice(0, 7) + ')' + phone.slice(7)
        }
        if (phone.length > 8 && phone.charAt(8) !== ' ') {
          phone = phone.slice(0, 8) + ' ' + phone.slice(8)
        }
        if (phone.length > 12 && phone.charAt(12) !== '-') {
          phone = phone.slice(0, 12) + '-' + phone.slice(12)
        }
        if (phone.length > 15 && phone.charAt(15) !== '-') {
          phone = phone.slice(0, 15) + '-' + phone.slice(15)
        }
        if (phone.length >= 18) {
          phone = phone.slice(0, 18)
        }
      } else {
        return ''
      }
      return phone
    }
  },
  watch: {
    async step (val) {
      if (val === 4) {
        if (this.allUploaded() && this.$auth.loggedIn) {
          const offerId = await this.createDraft()
          if (offerId) {
            this.$router.push(`/offers/${offerId}`)
            return
          }
          this.$toast.error('Ошибка!')
        }
      }
    },
    text () {
      if (!this.startInputActionSended) {
        this.startInputActionSended = true
        this.$api('analytics.add', {
          actionType: ActionStartInput
        })
      }
    },
    async code (val) {
      if (val && val > 999 && val < 10000) {
        // sms auth
        const { result, error } = await this.$api('auth.SMSAuth', {
          phone: this.phone,
          sessionID: this.sessionId,
          code: this.code
        })
        if (error && error.code) {
          if (error.code === 504) {
            this.code = ''
            this.$toast.error('Не верный код')
            return
          }

          this.$toast.error('Не верный код')
          return
        }
        this.$toast.success('Создаём объявление...')
        await this.$auth.setToken('local', result.token)
        await this.$auth.fetchUser()

        if (this.allUploaded()) {
          const offerId = await this.createDraft()
          if (offerId) {
            this.$router.push(`/offers/${offerId}`)
          }
        } else {
          this.step++
        }
      }
    },
    phoneChosen (val) {
      if (val) {
        this.$nextTick(() => {
          if (this.$refs.phoneInput) {
            this.$refs.phoneInput.focus()
          }
        })
      }
    },
    async phoneInputDone (val) {
      if (val) {
        this.$nextTick(() => {
          if (this.$refs.codeInput) {
            this.$refs.codeInput.focus()
          }
        })
        // send sms here
        const { result } = await this.$api('auth.SendCode', {
          phone: this.phone
        })
        this.sessionId = result
      }
    },
    phone (val, oldVal) {
      if (
        val !== this.formattedPhone ||
        (oldVal != null && val.length >= oldVal.length)
      ) {
        this.phone = this.formattedPhone
      }
    }
  },
  mounted () {
    window.addEventListener('keydown', this.handleKeyUp)
    this.$refs.text.focus()

    const self = this

    this.carouselInterval = setInterval(() => {
      self.activeCarouselItem++
      if (self.activeCarouselItem >= self.carouselItems.length) {
        self.activeCarouselItem = 0
      }
    }, 30000)

    this.$api('analytics.add', {
      actionType: ActionPageOpened
    })
  },
  beforeDestroy () {
    window.removeEventListener('keydown', this.handleKeyUp)
    clearInterval(this.interval)
    clearInterval(this.carouselInterval)
  },
  methods: {
    nextStep () {
      if (this.step === 2 && this.$auth.loggedIn) {
        this.step = 4
        return
      }
      if (this.step === 3) {
        return
      }
      this.step++
    },
    async createDraft () {
      if (!this.allUploaded()) {
        return
      }
      if (this.draftCreating) {
        return
      }
      this.draftCreating = true
      this.$api('analytics.add', {
        actionType: ActionAuth
      })

      const { result, error } = await this.$api('drafts.add', {
        text: this.text,
        images: this.images.map(x => x.url)
      })
      this.draftCreating = false
      if (error && error.code) {
        this.$toast.error(error.message)
        return
      }
      this.draftId = result
      return result
    },
    allUploaded () {
      let allUploaded = true
      for (let i = 0; i < this.files.length; i++) {
        if (
          this.images[i] &&
          this.images[i].url &&
          this.images[i].url.length > 0
        ) {
          // no here
        } else {
          allUploaded = false
        }
      }
      return allUploaded
    },
    async handleKeyUp (e) {
      if ((e.metaKey || e.ctrlKey) && e.keyCode === 13) {
        if (this.step < 2) {
          // todo validate current step
          this.step++
        } else if (this.step === 2) {
          if (this.step === 2 && this.files.length === 0) {
            return
          }
          // check user auth
          if (this.$auth.loggedIn) {
            // send offer to moderation here
            // wait upload here
            if (!this.allUploaded()) {
              this.step = 4
            } else {
              await this.createDraft()
              if (this.draftId) {
                this.$router.push(`/offers/${this.draftId}`)
              } else {
                this.$toast.error('что-то пошло не так')
              }
            }
          } else {
            this.step++
          }
        }
      }
      if (e.keyCode === 49 && this.step === 3 && !this.phoneChosen) {
        this.openWindow()
      }
      if (e.keyCode === 50 && this.step === 3 && !this.phoneChosen) {
        this.phoneChosen = true
        e.preventDefault()
      }
    },
    async checkAuth () {
      const tmpToken = window.localStorage.getItem('tmpToken')
      if (tmpToken) {
        await this.$auth.setToken('local', tmpToken)
        await this.$auth.fetchUser()

        if (this.allUploaded()) {
          await this.createDraft()
          if (this.draftId) {
            this.$router.push(`/offers/${this.draftId}`)
          } else {
            this.$toast.error('что-то пошло не так')
          }
        } else {
          this.step = 4
        }
      }
    },
    openWindow () {
      const width = 570
      const height = 520
      const left = screen.width / 2 - width / 2
      const top = screen.height / 2 - height / 2
      this.authWindow = window.open(
        'https://oauth.vk.com/authorize?client_id=6355667&redirect_uri=https://ugnest.com/auth/vk/pp&response_type=code',
        // "https://oauth.vk.com/authorize?client_id=6355667&redirect_uri=http://localhost:3000/auth/vk/pp&response_type=code",
        '_blank',
        `height=${height},width=${width},top=${top},left=${left},scrollbars=yes,status=yes`
      )
      const self = this
      window.UGVkAuthCallback = () => {
        self.checkAuth()
      }
      this.authWindow.addEventListener('beforeunload', function (e) {
        self.checkAuth()
        delete e.returnValue
      })
    },
    async fileChange ($event) {
      if (!this.uploadStarted) {
        this.uploadStarted = true
        this.$api('analytics.add', {
          actionType: ActionUpload
        })
      }

      const self = this
      const len = this.files.length
      ;[...$event.target.files].forEach((file, index) => {
        self.files.push(file)
        self.images.push({})
        self.upload(file, index + len)
      })
      if ($event.target.files.length > 1) {
        if (this.$auth.loggedIn) {
          // send offer to moderation here
          // wait upload here
          if (!this.allUploaded()) {
            this.step = 4
            console.log('444')
          } else {
            await this.$router.push('/')
          }
        } else {
          this.step++
        }
      }
    },
    async addFile (e) {
      if (!this.uploadStarted) {
        this.uploadStarted = true
        this.$api('analytics.add', {
          actionType: ActionUpload
        })
      }

      const droppedFiles = e.dataTransfer.files

      const self = this
      const len = this.files.length

      if (!droppedFiles) {
        return // this tip, convert FileList to array, credit: https://www.smashingmagazine.com/2018/01/drag-drop-file-uploader-vanilla-js/
      }
      [...droppedFiles].forEach((file, index) => {
        console.log(file)
        self.files.push(file)
        self.images.push({})
        self.upload(file, index + len)
      })
      if ([...droppedFiles].length > 1) {
        if (this.$auth.loggedIn) {
          // send offer to moderation here
          // wait upload here
          if (!this.allUploaded()) {
            this.step = 4
            console.log('444')
          } else {
            await this.$router.push('/')
          }
        } else {
          this.step++
        }
      }
    },
    getFileURL (file) {
      return URL.createObjectURL(file)
    },
    async upload (file, index) {
      const uploadUrl = '/api/v1/upload'
      const formData = new FormData()
      formData.append('file', file)
      console.info(index, file)
      const response = await this.$axios.post(uploadUrl, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        onUploadProgress (progressEvent) {
          const percentCompleted = Math.round(
            (progressEvent.loaded * 100) / progressEvent.total
          )
          console.log(percentCompleted)
        }
      })
      try {
        this.images[index].url = response.data.url
        console.log(`end upload for index ${index} ${this.images[index].url}`)
      } catch (err) {
        console.error(`set url to index ${index} len: ${this.images.length}`, err)
      }
      if (this.allUploaded() && this.step === 4) {
        const offerId = await this.createDraft()
        if (offerId) {
          this.$router.push(`/offers/${offerId}`)
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.light-add {
  &-back {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    img {
      display: inline;
      margin-right: 8px;
    }
  }
}

.light-add-two-columns {
  display: flex;
}

.light-add-column {
  flex: 50%;
  text-align: center;

  &:nth-child(1) {
    margin-right: 20px;
  }

  .light-add-column-inner {
    position: relative;
    height: 100%;
    padding: 100px 0;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px #eee;
    cursor: pointer;

    .light-add-help-number {
      position: absolute;
      right: 0.4em;
      bottom: 0.4em;
      color: #aaa;
    }

    img {
      margin: 0 auto;
    }

    .number-input {
      text-align: center;

      label {
        display: block;
      }

      input {
        margin-top: 10px;
        font-size: 2em;

        &::placeholder {
          font-size: 0.95em;
          text-align: center;
        }
      }
    }

    .code-input {
      margin-top: 10px;

      label {
        display: block;
      }

      input {
        width: 6ch;
        //background-color: #eee;
        padding-left: 0.25em;
        //text-align: center;
        font-size: 3em;
        letter-spacing: 0.4ch;

        &::placeholder {
          font-size: 0.65em;
          letter-spacing: 0.2em;
          text-align: center;
        }
      }
    }
  }
}

.light-add-container {
  display: flex;
  align-items: center;

  .light-add-heading {
    width: 100%;
    margin-bottom: 10px;
  }

  .light-add-main {
    flex: 1;
    padding-right: 10px;

    .light-add-textarea {
      width: 100%;
      height: 50vh;
      padding: 10px;
      font-size: 18px;
      font-family: CustomSerif, Georgia, Cambria, 'Times New Roman', serif;
      border: none;
      border-radius: 4px;
      outline: none;
      box-shadow: 0 0 1px 1px #eee;
      transition: all 1s;
      resize: none;
    }

    .filled {
      box-shadow: 0 0 1px 1px $ug-blue;
    }

    .help-text {
      font-size: 16px;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  .light-add-aside {
    width: 20%;
  }
}

.no-flex {
  display: block !important;
  flex: none;
}

.light-add-uploader {
  width: 100%;
  cursor: pointer;

  &-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #fdfdfd;
    border: 1px dashed #eee;

    .help-text {
      margin: 0 auto;

      img {
        display: block;
        margin: 0 auto 10px;
      }
    }

    input {
      display: none;
    }
  }
}

.help-text-carousel {
  position: relative;

  &-item {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;

    &--active {
      opacity: 1;
    }
  }
}

.light-add-actions {
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 15px;

  .btn,
  .btn-back {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    color: #666;
  }

  .btn-primary {
    background-color: $ug-blue;
  }

  .btn-hidden {
    visibility: hidden;
  }

  .active {
    color: white;
    visibility: visible;
  }

  .btn-help-text {
    margin-left: 10px;
    color: #666;

    .inline-image {
      position: relative;
      bottom: -3px;
      display: inline;
      filter: contrast(0.3);
    }
  }
}

.light-add-header {
  margin: 20px 0;
}

.light-add-description {
  display: inline;
  color: #999;
  font-size: 0.5em;
}

.disable-animation {
  transition: none !important;
}

@media screen and (max-width: 1024px) {
  .hide-small-screen {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 600px) {
}
</style>
