<template lang="pug">
div
  .add-form-wrapper
    h1 Создание объявления
    add-offer-form(:searchType="searchType")
</template>

<script>
import AddOfferForm from '~/components/domain/offers/AddOfferForm/AddOfferForm'

const ActionPageOpened = 4

export default {
  components: {
    AddOfferForm
  },
  computed: {
    searchType () {
      return this.$route.query.st ? Number.parseInt(this.$route.query.st) : null
    }
  },
  mounted () {
    this.$api('analytics.add', {
      actionType: ActionPageOpened
    })
  }
}
</script>

<style lang="scss">
h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.add-form-wrapper {
  margin-top: 32px;

  width: 800px;

  @media screen and (max-width: 800px) {
    width: 100%;
    padding: 0 16px;
  }
}
</style>
