<template lang="pug">
  div.block.p
    h3 Страница в разработке
    p Чтобы подать объявление, предложите его в качестве поста в нашем паблике, мы опубликуем его в течении часа
      img.inline(src="http://localhost:3000/_nuxt/assets/images/icons/icon-vk.svg" height=16)
      a(href="https://vk.com/yuytnoe_gnezdishko" target="_blank") Уютное гнёздышко
</template>

<style scoped>
.p {
  padding: 100px 0;
}

.inline {
  display: inline;
}
</style>
