<template lang="pug">
div.block
  div
    h1 Формы
    div(v-for="(form, index) in formList")
      nuxt-link(:to="`/at/forms/edit/${form.id}`" :key="index") {{ form.title }}
</template>

<script>
export default {
  async asyncData ({ app }) {
    const { result } = await app.$api('at.formList')
    console.log(result)
    return { formList: result }
  }
}
</script>
