.#{notifications} {
  .notification {
    display: flex;
    align-items: center;
    width: 640px;
    margin-bottom: 32px;

    &__user {
      display: flex;
      flex-direction: column;
      margin-left: 23px;
    }

    &__user-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    &__user-avatar {
      width: 48px !important;
      height: 48px !important;
      border-radius: 50%;
    }

    &__user-name {
      color: #000;
      font-size: 12px;
    }

    &__time {
      color: #bcbcbc;
      font-size: 12px;
      text-align: right;
    }

    &__text {
      display: inline;
      color: #616161;
      font-size: 13px;
      line-height: 19px;
      text-align: left;
      text-decoration: none;
    }

    &__text-blue {
      display: inline;
      color: #038992;
      text-decoration: none;
    }
  }
}
