.#{notifications} {
  .sweet-modal {
    min-width: 994px !important;
    height: 90vh;
    overflow-x: none;
    overflow-y: none;
  }

  .sweet-content {
    padding: 24px 48px 14px 48px !important;
  }
}
