@import '___notification-modal';
@import '___notification';

.notifications {
  $notifications: &;

  &__heading {
    margin-bottom: 38px;
    padding-bottom: 24px;
    color: #616161;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #e4e4e4;
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__show-previous {
    position: relative;
    color: #038992;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-decoration-line: underline;

    &::before {
      position: absolute;
      left: 35%;
      color: #038992;
      font-weight: 500;
      font-size: 12px;
      text-decoration: none;
      content: '● ● ● ';
    }
  }

  &__aside {
    text-align: left;
  }

  &__list {
    padding: 12px 10px;
    background: #f4f4f4;
  }

  &__list-item {
    display: block;
    padding-bottom: 12px;
    color: #000;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    text-decoration: none;

    &:last-child {
      padding-bottom: 0;
    }

    &--active {
      color: #038992;
    }
  }
}
