.info-block {
  padding: 24px;
  color: $clr-black;
  font-size: $fs-medium;
  line-height: 21px;
  background: $clr-white;

  &._gray {
    color: $clr-dove-gray;
    background: $clr-wild-sand;
  }
}
