<template lang="pug">
div
  div {{ blogPost }}
  edit-form(v-model="blogPost")
  btn(@click="save") Сохранить
</template>

<script lang="ts">
import toInteger from 'lodash/toInteger'
import Vue from 'vue'
import { Component } from 'vue-property-decorator'

import EditForm from '~/components/domain/blog/EditForm.vue'

import { BlogPost } from '~/services/api/factory'

@Component({
  layout: 'moderation',
  components: {
    EditForm
  }

})

export default class Blog extends Vue {
    blogPost: BlogPost = new BlogPost() ;

    created () {
      this.fetch()
    }

    async fetch () {
      const { result } = await this.$api('blog.getPost', {
        postId: toInteger(this.$route.params.id)
      })

      this.blogPost = Object.assign(this.blogPost, result)
    }

    async save () {
      const { result } = await this.$api('blog.updatePost', {
        blogPost: this.blogPost
      })
      console.log(result)
    }
}
</script>
