<template lang="pug">
  div
    div {{ blogPost }}
    edit-form(v-model="blogPost")
    btn(@click="save") Создать
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'

import EditForm from '~/components/domain/blog/EditForm.vue'

import { BlogPost } from '~/services/api/factory'

@Component({
  layout: 'moderation',
  components: {
    EditForm
  }
})

export default class Blog extends Vue {
    blogPost: BlogPost = new BlogPost() ;

    async save () {
      const { result } = await this.$api('blog.addPost', {
        blogPost: this.blogPost
      })
      console.log(result)
    }
}
</script>
