<template lang="pug">
  div
    nuxt-link(to="/moderation/blog/add") Добавить
</template>

<script lang="ts">
import Vue from 'vue'
import { Component } from 'vue-property-decorator'

@Component({
  layout: 'moderation',
  components: {
  }
})
export default class Blog extends Vue {

}
</script>
