.first-auth {
  .step-1,
  .step-2,
  .step-3,
  .step-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .step-1,
  .step-2,
  .step-3 {
    display: none;
  }

  .step-3,
  .step-4 {
    .btn {
      width: 300px;
    }
  }

  .sweet-modal {
    min-width: 482px !important;
    max-height: 464px !important;
  }

  .sweet-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 30px 50px 30px !important;
  }

  .sweet-content-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sweet-box-actions {
    top: 1px !important;
    right: 1px !important;
  }

  &__back {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    color: #bcbcbc;
    font-size: 12px;
  }

  &__back-icon {
    margin-right: 8px;
  }

  &__title {
    margin-bottom: 24px;
    color: #000;
    font-size: 16px;
    line-height: 24px;
  }

  &__multiselect {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 8px 0 48px 0;
  }

  &__img {
    align-self: center;
    width: auto;
    height: 260px;
  }

  &__data {
    display: flex;
    padding-left: 16px;
    color: #616161;
    font-size: 14px;
    background: #fff;
    border: 1px solid #e4e4e4;
  }

  &__input {
    margin: 8px 0;
  }

  &__data-input {
    width: 100%;

    &::placeholder {
      color: #616161;
      font-size: 14px;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 32px;
    margin-bottom: 120px;
  }

  &__button {
    width: 150px !important;
    color: #bcbcbc;
    font-size: 14px;
    text-align: center;
    border: 1px solid #bcbcbc !important;

    &:last-child {
      margin-left: -1px;
    }
  }

  &__btns {
    width: 100%;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 177px;
    padding: 0;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
  }

  .dots {
    position: absolute;
    bottom: 25px;
    display: flex;
  }

  .dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #e4e4e4;
    border-radius: 50%;

    &._active {
      background-color: #bcbcbc;
    }
  }
}
