<template lang="pug">
  .drop-group
    .drop-group__head(@click="toggleBody")
      h3.ttl.ttl_3 {{ title }}
      svg.drop-group__icon(:class="{'open': bodyIsVisible}")
        use(xlink:href='@/assets/img/svg/sprite.svg#arrow')
    transition(name="fade")
      .drop-group__body(v-show="bodyIsVisible")
        slot
</template>

<script>
export default {
  name: 'UgDropGroup',

  props: {
    title: {
      type: String,
      default () {
        return ''
      }
    }
  },

  data () {
    return {
      bodyIsVisible: false
    }
  },

  methods: {
    toggleBody () {
      this.bodyIsVisible = !this.bodyIsVisible
    }
  }
}
</script>

<style lang="scss">
  @media screen and (min-width: 320px) {
    .drop-group {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
      width: 100%;
    }

    .drop-group__head {
      position: relative;
      display: flex;
      align-items: center;
      width: inherit;
      box-sizing: border-box;
      cursor: pointer;
    }

    .drop-group__icon {
      position: absolute;
      top: 50%;
      right: rem(16);
      transform: translateY(-50%) rotate(90deg);
      width: rem(16);
      height: rem(16);
      fill: $icon-default;
      pointer-events: none;
      transition: $t-04-eio;
    }

    .drop-group__icon.open {
      transform: translateY(-50%) rotate(270deg);
    }

    .drop-group__body {
      display: flex;
      flex-direction: column;
      gap: $gap-r-xs;
      box-sizing: border-box;
    }
  }

  @media screen and (min-width: 1280px) {
    .drop-group {
      gap: $gap-xs;
    }

    .drop-group__icon {
      right: 16px;
      width: 16px;
      height: 16px;
    }

    .drop-group__body {
      gap: $gap-xs;
    }
  }
</style>
