<template lang="pug">
  .comment__attached-files
    // comment-attached-image(v-for="(image, imageIndex) in images" :key="imageIndex" :image="image")
</template>

<script>
// import commentAttachedImage from '~/components/comments/comment/commentAttachedImagesList/commentAttachedImage/index'

export default {
  name: 'CommentAttachedImagesList',
  components: {
    // commentAttachedImage
  },
  props: ['images']
}
</script>
