
<template lang="pug">
div
  button-group(:items="labels" v-model="editValue.buildType" :class="{'no-side-borders': noSideBorders}")
  .room-count
    label.room-count-item(v-for="item,i in rooms" :key="i")
        input(type="checkbox" v-model="rooms[i].active")
        | &nbsp;{{ item.title }}
</template>

<script>
import ButtonGroup from '~/components/ui/BtnGroup.vue'
import Dropdown from '~/components/domain/offers/form/dropdown.vue'

export default {
  components: {
    ButtonGroup,
    Dropdown
  },
  model: {
    prop: 'buildType',
    event: 'update'
  },
  props: {
    buildType: {
      type: Object,
      default () {
        return {
          buildType: 1,
          roomCount: []
        }
      }
    },
    noSideBorders: {
      type: Boolean
    }
  },
  data () {
    return {
      editValue: this.buildType,
      active: false,
      labels: ['Квартира', 'Комната'],
      rooms: [
        {
          title: 'Студия',
          id: 4,
          active: this.roomCount ? this.roomCount.includes(4) : false
        },
        {
          title: '2 комнаты',
          id: 2,
          active: this.roomCount ? this.roomCount.includes(2) : false
        },
        {
          title: '1 комната',
          id: 1,
          active: this.roomCount ? this.roomCount.includes(1) : false
        },

        {
          title: '3 и более комнат',
          id: 3,
          active: this.roomCount ? this.roomCount.includes(3) : false
        }
      ]
    }
  },
  computed: {

  },
  watch: {
    editValue: {
      handler (v) {
        this.$emit('update', v)
      },
      deep: true
    },
    rooms: {
      handler (v) {
        this.editValue.roomCount = v.filter(x => x.active).map(x => x.id)
      },
      deep: true
    }
  }
}
</script>

<style lang="scss" scoped>
.room-count {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;

  .room-count-item {
    flex: 50%;
    margin-top: 10px;
  }
}
</style>
