<template lang="pug">
    button.button {{ title }}
</template>

<script>
export default {
  props: ['title']
}
</script>

<style scoped>
.button {
  background-color: #f00;
  border-radius: 10px;
}
</style>
