<template lang="pug">
div.select-container
  //- multiselect.date-item(:options="dayItems" :preselect-first="true" placeholder="День" v-model="day" @select="onDaySelect")
  //-   span(slot="noResult") Ничего не найдено :(
  //- multiselect.date-item(:options="monthItems" :preselect-first="true" label="title" placeholder="Месяц" v-model="month")
  //-   span(slot="noResult") Ничего не найдено :(
  //- .date-item.year
  //-   input.year(placeholder="Год" v-model.number="year")
</template>
<script>

export default {
  components: {
  },
  model: {
    prop: 'value',
    event: 'update'
  },
  props: {
    value: {
      type: String,
      default: () => {
        return '21.2.2002'
      }
    }
  },
  data () {
    const arr = this.value.split('.')

    const months = [
      { id: 1, title: 'Январь' },
      { id: 2, title: 'Февраль' },
      { id: 3, title: 'Март' },
      { id: 4, title: 'Апрель' },
      { id: 5, title: 'Май' },
      { id: 6, title: 'Июнь' },
      { id: 7, title: 'Июль' },
      { id: 8, title: 'Август' },
      { id: 9, title: 'Сентябрь' },
      { id: 10, title: 'Октябрь' },
      { id: 11, title: 'Ноябрь' },
      { id: 12, title: 'Декабрь' }
    ]

    const month = months.find(m => m.id === Number.parseInt(arr[1]))

    return {
      day: Number.parseInt(arr[0]),
      month,
      year: Number.parseInt(arr[2]),
      monthItems: months
    }
  },
  computed: {
    bdate () {
      const m = this.month ? this.month.id : 1
      return `${this.day}.${m}.${this.year}`
    },
    dayItems () {
      return [...new Array(31)].map((_, i) => i + 1)
    },
    yearItems () {
      return [...new Array(31)].map((_, i) => i + 1)
    }
  },
  watch: {
    day () {
      this.$emit('update', this.bdate)
    },
    month () {
      this.$emit('update', this.bdate)
    },
    year () {
      this.$emit('update', this.bdate)
    }
  },
  mounted () {
    const inputs = this.$el.querySelectorAll('input')
    for (const input of inputs) {
      input.type = 'number'
    }
  },
  methods: {
    onDaySelect (value, index) {
      console.log(value, index)
    }
  }
}
</script>

<style lang="scss" scoped>
.select-container {
  position: relative;
  display: flex;
  transition: all 1s;
}

.date-item {
  flex: 1;
  min-width: 120px;
  transition: all 1s;
}

.date-item:first-child {
  border-radius: 4px;
}

.date-item .year {
  height: 56px;
  padding: 0 15px;
  color: #666;
  font-size: 14px;
  box-shadow: inset 0 0 1px 0 #aaa;
}

.date-item .year {
  border-radius: 0 4px 4px 0;
}
</style>

<style lang="css" scoped>
.date-item >>> .multiselect__tags {
  border: none;
  box-shadow: inset 0 0 1px 0 #aaa;
}

.date-item:first-child >>> .multiselect__tags {
  border-radius: 4px 0 0 4px;
}

.date-item:last-child >>> .multiselect__tags {
  /* border-right: 1px solid #bcbcbc; */
}

.date-item:last-child >>> .multiselect__content-wrapper {
  width: calc(100%+1px);
}

.date-item >>> .multiselect__placeholder {
  color: #bbb;
}

.date-item >>> .multiselect__content-wrapper {
  border: none;
}
</style>
