<template lang="pug">
.dropdown-body(v-on-clickaway="close")
  .dropdown-activator(@click="active = !active" )  {{ label }}
  .dropdown-content(v-if="active")
    slot
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'

import ButtonGroup from '~/components/ui/BtnGroup.vue'

export default {
  components: {
    ButtonGroup
  },
  mixins: [clickaway],
  props: {
    label: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      active: false
    }
  },
  watch: {
    active (v) {
      this.$emit('toggle', v)
    }
  },
  methods: {
    close () {
      this.active = false
    }
  }
}
</script>

<style lang="scss" scoped>
.dropdown-body {
  position: relative;
  font-size: 14px;

  .dropdown-activator {
    padding: 16px 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 4;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 0 10px 0.1px #999, inset 0 0 1px 0 #aaa;
  }
}

._hidden {
  display: none;
}
</style>
