<template lang="pug">
.range
  .label Цена
  input.from(
    placeholder="От"
    type="number"
    v-model.number="editValue.from"
    inputmode="numeric"
    pattern="[0-9]*"
  )
  ug-input.to(
    placeholder="До"
    type="number"
    v-model.number="editValue.to"
    inputmode="numeric"
    pattern="[0-9]*"
  )
</template>

<script>
import UgInput from '~/components/ui/UgInput'

export default {
  components: {
    UgInput
  },
  model: {
    prop: 'price',
    event: 'update'
  },
  props: {
    price: {
      type: Object,
      default () {
        return {
          from: null,
          to: null
        }
      }
    }
  },
  data () {
    return {
      editValue: {
        from: this.price.from > 0 ? this.price.from : null,
        to: this.price.to > 0 ? this.price.to : null
      }
    }
  },
  watch: {
    editValue: {
      handler (v) {
        this.$emit('update', { from: v.from > 0 ? v.from : 0, to: v.to > 0 ? v.to : 0 })
        console.log('update', v.from, v.to)
      },
      deep: true
    }
  }
}
</script>

<style lang="scss" scoped>
.range {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  overflow: hidden;

  input {
    padding: 15px 0;
    color: $ug-black;
    font-size: 14px;
    background-color: inherit;
  }

  .from,
  .to {
    width: 40%;
    font-size: 16px;
  }

  .from {
    margin-left: 10px;
  }
}
</style>
