<template lang="pug">
textarea.textarea(:class="{fullwidth:fullwidth}" placeholder="" v-model="editValue")
</template>

<script>
export default {
  model: {
    prop: 'message',
    event: 'update'
  },
  props: {
    fullwidth: {
      type: Boolean,
      dafault: () => false
    },
    message: {
      type: String,
      default: () => ''
    }
  },
  data () {
    return { editValue: this.message }
  },
  watch: {
    editValue (v) {
      this.$emit('update', v)
    }
  }
}
</script>

<style lang="scss" scoped>
.textarea {
  height: 100px;
  padding: 10px;
  border: 1px solid #eee;
  outline: none;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
}

.fullwidth {
  width: 100%;
}
</style>
