<template lang="pug">
  .uploader
    .uploader-input(@click="$refs.uploaderInput.click()")
      input(type="file" ref="uploaderInput" @change="fileChange" multiple accept="image/*")
      .help-text
        img(src='~/assets/images/icons/icon-add-new.svg' width="50px" height="50px").header__comments-file
        p Нажмите или перетащите изображения сюда
    .uploader-images
      img(:src="getFileURL(file.file)" v-for="file,i in files" :key="i" height="100px")
</template>

<script>
export default {
  model: {
    prop: 'files',
    event: 'update'
  },
  props: {
    files: { type: Array, default: () => [] }
  },
  data () {
    return {
      values: this.files
    }
  },
  watch: {
    values: {
      deep: true,
      handler () {
        this.$emit('update', this.values)
        if (
          this.values
            .map(x => x.progress)
            .reduce((all100, cur) => all100 && cur === 100, true)
        ) {
          this.$emit('progress', 100)
        } else {
          this.$emit('progress', 0)
        }
      }
    }
  },
  methods: {
    getFileURL (file) {
      return URL.createObjectURL(file)
    },
    fileChange ($event) {
      const self = this
      const len = this.values.length
      ;[...$event.target.files].forEach((file, index) => {
        self.values.push({ file, progress: null, url: null })
        self.upload(file, index + len)
      })
    },
    async upload (file, index) {
      const uploadUrl = '/api/v1/upload'
      const self = this
      const formData = new FormData()
      formData.append('file', file)
      const response = await this.$axios.post(uploadUrl, formData, {
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        onUploadProgress (progressEvent) {
          const percentCompleted = Math.round(
            (progressEvent.loaded * 100) / progressEvent.total
          )
          self.values[index].progress = percentCompleted
        }
      })
      try {
        this.values[index].url = response.data.url
        console.log(`end upload for index ${index} ${this.values[index].url}`)
      } catch (err) {
        console.error(`set url to index ${index} len: ${this.values.length}`, err)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.uploader {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;

  &-input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #0c1e19;
    border: 1px dashed #0c1e19;

    .help-text {
      margin: 0 auto;

      img {
        display: block;
        margin: 0 auto 10px;
      }
    }

    input {
      display: none;
    }
  }
}
</style>
