<template lang="pug">
  div.block
    offer-list(:offers="offers")
</template>

<script>
import UgCardList from '~/components/ui/UgCardList/UgCardList'

export default {
  components: {
    UgCardList
  },
  async asyncData ({ app }) {
    const { result } = await app.$api('offers.list')
    const res = await app.$api('attributes.view', { name: 'moderation' })
    return { offers: result, view: res.result }
  }
}
</script>
