.payment {
  &__title {
    margin-bottom: 56px;
    color: #000;
    font-size: 24px;
  }

  &__info {
    display: flex;
  }

  &__info-list {
    width: 192px;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__info-item {
    margin-bottom: 16px;
    color: #616161;
    font-size: 14px;

    &--black {
      color: #000;
    }
  }

  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 421px;
    height: 49px;
    margin-top: 16px;
    margin-bottom: 82px;
    padding: 0 84px 0 20px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    background: $clr-coral;
  }

  &__buttons {
    display: flex;
    align-items: center;
    margin-bottom: 54px;
  }

  &__buttons-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    margin-right: -1px;
    border: 1px solid #bcbcbc;

    &--active {
      z-index: 1;
      color: $clr-coral;
      border: 1px solid $clr-coral;
    }
  }

  &__from-account {
    margin-bottom: 32px;
    color: #878787;
    font-size: 12px;
  }

  &__balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 391px;
    margin-bottom: 113px;
  }

  &__balance-name {
    color: #038992;
    font-weight: 500;
    font-size: 14px;
    text-decoration-line: underline;
  }

  &__balance-many {
    display: flex;
    color: #616161;
    font-size: 24px;

    &--ruble {
      margin-left: 3px;
      font-family: "Arial";
    }
  }

  &__pay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 40px;
    margin-bottom: 168px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    background: #038992;
    border-radius: 3px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  }
}
