<template lang="pug">
  div(:class="containerClass")
    label(:class="`${containerClass}__label`") <slot name="label"></slot>
    div(:class="[`${containerClass}__item-block`, `${inputBlockPrefix}`]")
      Input(
        type="text",
        :class="[`${containerClass}__input`, `${inputPrefix}`]",
        :placeholder="placeholder"
      )
      slot(name="separator")
      slot(name="secondValue")
</template>

<script>
import Input from '~/components/domain/offers/formElements/input'

export default {
  compoentns: {
    Input
  },
  props: {
    containerClass: {
      type: String,
      default: 'form-element-container'
    },
    typeInput: {
      type: String,
      default: 'text'
    },
    placeholder: {
      type: String
    },
    inputBlockPrefix: {
      type: String
    },
    inputPrefix: {
      type: String
    }
  }
}
</script>
