<template lang="pug">
  div.inline-setting__item-block._group
    input(
      v-if="!control.items"
      :id="control.id"
      v-model.sync="control.value"
      type="number"
      :placeholder="control.placeholder"
      ).inline-setting__input

    div.inline-setting__button._small(
      v-if="control.items"
      v-for="(item, index) in control.items"
      :key="control.items.id"
      @click="updateActive(control, item)"
      :class="{'_active' :item.active&&!control.value}"
      ) {{ item.title }}
    div.inline-setting__button(
      v-if="control.hasFreeInput"
      :class="{'_active' :control.value}"
      )
      input.inline-setting__button-input(
        v-model.sync="control.value"
        @keyup="clearActives"
        type="number"
        placeholder="Введите число")
</template>

<script>
export default {
  props: ['initialControl'],
  data () {
    return {
      control: {}
    }
  },
  watch: {
    control: {
      handler (newControl, oldControl) {
        try {
          if (newControl.value !== oldControl.value) {
            const newItems = this.control.items.map((x) => {
              x.active = false
              return x
            })
            this.$set(this.control, 'items', newItems)
          }
        } catch {
          console.warn('watch int control')
        }
      },
      deep: true
    }
  },
  mounted () {
    this.control = this.initialControl
  },
  methods: {
    updateActive (control, item) {
      const newItems = control.items.map((x) => {
        x.active = x.id === item.id
        return x
      })
      this.$set(this.control, 'items', newItems)
      this.$set(this.control, 'value', '')
    },
    clearActives () {
      if (!this.control) {
        return
      }
      const newItems = this.control.items.map((x) => {
        x.active = false
        return x
      })
      this.$set(this.control, 'items', newItems)
    }
  }
}
</script>

<style lang="css" scoped></style>
