<template lang="pug">
.block
  h1 Модерация объявления
  div
    nuxt-link(:to="ticket.objectLink") Ссылка на объявление
  div.m
    nl2br(tag="div" :text="ticket.text")
  //div
    btn(@click="submit") Опубликовать
    btn(@click="close" muted) Архивировать тикет
</template>

<script>
import Nl2br from 'vue-nl2br'

import Btn from '~/components/ui/Btn.vue'

export default {
  components: {
    Btn,
    Nl2br
  },
  layout: 'moderation',
  async asyncData ({ app, route }) {
    const { result } = await app.$api('tickets.get', {
      id: Number.parseInt(route.params.id)
    })
    return {
      ticket: result
    }
  },
  methods: {
    async submit () {
      const { result } = await this.$api('')
    },
    async close () {
      const { result } = await this.$api('')
    }
  }
}
</script>

<style lang="scss" scoped>
.m {
  margin-top: 32px;
  margin-bottom: 32px;
}
</style>
