<template lang="pug">
  div.offer
    div.offer__bread
      div.bread
        div.bread__wrapper
          div.block
            div.bread__inner
              nuxt-link(to="/").bread__link.link._gray Санкт-Петербург
              nuxt-link(to="/").bread__link.link._gray Петроградский район
              nuxt-link(to="/").bread__link.link._gray Метро Петроградская
              nuxt-link(to="/").bread__link.link._gray Найти гнездышко
              nuxt-link(to="/").bread__link.link._gray Посуточно
              div.bread__current Комната
    offer-view(:offer="offer")
</template>

<script>
import offerView from '~/components/domain/offers/offer/offerView'

export default {
  components: {
    offerView
  },
  async asyncData ({ app, route }) {
    const resp = await app.$api('vk.post', {
      postId: Number.parseInt(route.params.id)
    })
    console.info(resp)
    if (!resp.result) {
      return { offer: {} }
    }

    return { offer: resp.result }
  }
}
</script>
