<template lang="pug">
.block.flex.flex--top
    .main.main--aside.balance
        .balance__title Баланс профиля
        .amount
            .amount__info
                .amount__info-many 35 гнездокоинов
                .amount__info-equally 1 гнездокоин - 1 рубль
            a(href="#" v-if="!this.$store.state.BETA_ENV").amount__replenish Пополнить баланс
        //.balance__payment Оплата объявлений
        //.balance__buttons
            .balance__buttons-ad.balance__buttons-ad--active Объявления
            .balance__buttons-connect-amenities Подключение услуг
            .balance__buttons-advertising Реклама
        //.ad
            .ad__head
                .ad__head-heading(v-for="heading in headings") {{ heading }}
            .ad__block
                .ad__block-name «Сниму 2-х комнатную квартиру в Калининском, Петроградском, Невском районе на длительный срок»
                .ad__block-data 01.05.2018 16:00
                .payment
                    .payment__price 35 руб
                    .payment__data 01.05.2018
                    .payment__time 12:03
                .ad__block-remove 28.06.2018
            .ad__block
                .ad__block-name «Сниму 2-х комнатную квартиру в Калининском, Петроградском, Невском районе на длительный срок»
                .ad__block-data 01.05.2018 16:00
                .payment
                    .payment__price 35 руб
                    .payment__data 01.05.2018
                    .payment__time 12:03
                .ad__block-remove 28.06.2018
            .ad__block
                .ad__block-name «Сниму 2-х комнатную квартиру в Калининском, Петроградском, Невском районе на длительный срок»
                .ad__block-data 01.05.2018 16:00
                .payment
                    .payment__price 35 руб
                    .payment__data 01.05.2018
                    .payment__time 12:03
                .ad__block-remove 28.06.2018
    aside-links(:links="usefulLinks")
</template>

<script>
import AsideLinks from '~/components/domain/users/aside'

export default {
  components: {
    AsideLinks
  },
  data () {
    return {
      headings: [
        'Заголовок объявления',
        'Публикации',
        'Оплата ',
        'Снятие с публикации'
      ],
      usefulLinks: [
        {
          id: 0,
          isDisabled: false,
          link: '/',
          title: 'Моя анкета'
        },
        {
          id: 1,
          isDisabled: false,
          link: '/',
          title: 'Объявления'
        },
        {
          id: 3,
          isDisabled: false,
          link: '/',
          title: 'Черновики',
          notation: '1'
        },
        {
          id: 5,
          isDisabled: true,
          link: '/',
          title: 'Модератор',
          onlyForModerator: true
        }
      ]
    }
  }
}
</script>
