<template lang="pug">
.block
  .heading Редактирование профиля
  .profile-form
    .profile-form-title Личная информация
    //.profile-form-control
      .profile-form-control-label Изображение профиля
      .profile-form-control-body
        ug-avatar-cropper(v-model="editValue.avatarUrl")
    .profile-form-control
      .profile-form-control-label Имя и фамилия
      .profile-form-control-body
        .profile-form-input-group
          input.profile-form-input(placeholder="Имя" v-model.sync="editValue.firstName")
          input.profile-form-input(placeholder="Фамилия" v-model.sync="editValue.lastName")
      .profile-form-control-help
        .question-mark
          img.question-mark-img(src="~assets/images/icons/question-mark.svg" width="13px")
    //.profile-form-control
      .profile-form-control-label Модератор
      .profile-form-control-body
        toggle-button(v-model="editValue.isModerator" color="#666666" :labels="{checked: 'Да', unchecked: 'Нет'}")
    .profile-form-control
      .profile-form-control-label Дата рождения
      .profile-form-control-body
        date-picker(v-model="editValue.bdate")
    .profile-form-control
      .profile-form-control-label Пол
      .profile-form-control-body
        button-group(:items="['Мужчина','Женщина']" v-model="sexValue")
    .profile-form-control
      .profile-form-control-label О себе
      .profile-form-control-body
        textarea.profile-form-textarea(v-model="editValue.bio")
    .profile-form-control
      button.profile-form-btn(@click="updateProfile") Сохранить
      nuxt-link.profile-form-link(:to="`/users/${$route.params.id}`") Посмотреть профиль
</template>

<script>
import ButtonGroup from '~/components/ui/BtnGroup.vue'
import DatePicker from '~/components/domain/offers/form/datepicker.vue'
import UgAvatarCropper from '~/components/ui/UgAvatarCropper.vue'

export default {
  components: {
    ButtonGroup,
    DatePicker,
    UgAvatarCropper
  },
  async asyncData ({ app, route }) {
    const { result } = await app.$api('users.profile', {
      userId: Number.parseInt(route.params.id)
    })
    console.log(result)
    return { editValue: result }
  },
  data () {
    return {
      active: [true, false],
      enabled: false,
      items: [...new Array(31)].map((_, i) => i + 1)
    }
  },
  computed: {
    sexValue: {
      set (value) {
        this.$set(this.editValue, 'sex', value[0] ? 1 : 2)
      },
      get () {
        if (this.editValue.sex === 1) {
          return [true, false]
        }
        return [false, true]
      }
    }
  },
  methods: {
    async updateProfile () {
      const res = await this.$api('users.updateProfile', {
        profile: this.editValue
      })
      console.log(res)
      this.$toast.success('Ваш профиль успешно сохранён!')

      this.$router.push(`/users/${this.$route.params.id}`)
    }
  }
}
</script>

<style lang="scss" scoped>
.heading {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 24px;
}

.pr {
  position: relative;
}

.profile-form-control-help {
  margin-left: 10px;
}

.question-mark {
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
}

.question-mark-img {
  filter: contrast(0%);
}

.profile-form-control {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.profile-form-control-label {
  width: 15%;
  margin-right: 10px;
}

.profile-form-input {
  height: 56px;
  color: #666;
  font-size: 14px;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
}

.profile-form-input:first-child {
  border-radius: 4px 0 0 4px;
}

.profile-form-input:last-child {
  border-radius: 0 4px 4px 0;
}

.profile-form-input:nth-child(1n) {
  padding: 10px 10px;
}

.profile-form-textarea {
  min-width: 450px;
  min-height: 112px;
  padding: 15px 15px;
  color: #666;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  // border: 1px solid #bcbcbc;
  outline: none;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
}

.profile-form-btn {
  height: 56px;
  padding: 15px;
  font-size: 14px;
  background-color: inherit;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 10px #eee, inset 0 0 1px 0 #aaa;
  cursor: pointer;
}

.profile-form-link {
  margin-left: 15px;
  color: $ug-blue;
  text-decoration: none;
}
</style>
