<template lang="pug">
  .user.main__wrap
    .user__grid.block.grid
      UgMobileBar
        UgBtn.btn_secondary(
          v-for="(link, index) in links"
          :key="index"
          :to="link.url"
        )= "{{ link.text }}"
        UgBtn.btn_primary.user__edit-button(:to="`/users/${$route.params.id}/edit`")= "Редактировать профиль"
      .user__side-bar-wrap
        .user__side-bar
          .user__heading
            h1.ttl.ttl_1 {{ fullName }}
            span.caption= "{{ fakeData.isOnline ? 'online' : null }}"
          UgProfilePhoto.user__picture(:image="userPhoto")
          UgProfileFill.user__profile-fill(:progress="fakeData.fullness")
          UgLinkGroup.user__links(:links="links")
          UgBtn.btn_primary.user__edit-button(
            :to="`/users/${$route.params.id}/edit`"
          )= "Редактировать профиль"
      .user__info
        .user__heading
          h1.ttl.ttl_1 {{ fullName }}
          span.caption= "{{ fakeData.isOnline ? 'online' : null }}"
        .user__info-block(v-if="isPersonalInfo")
          h2.user__ttl_2.ttl.ttl_2= "Личная информация"
          UgTwoColList(
            :items="personalInfo"
          )
        .user__info-block(v-if="isAdvancedInfo")
          h2.user__ttl_2.ttl.ttl_2= "Дополнительная информация"
          UgTwoColList(
            :items="advancedInfo"
          )
        .user__info-block
          h2.user__ttl_2.ttl.ttl_2= "О себе"
          p.paragraph {{ user.bio }}
</template>

<script>
// import profile from '~/components/domain/users/profile'
// import UgCardList from '~/components/ui/UgCardList/UgCardList'

import UgProfilePhoto from '~/components/ui/UgProfilePhoto/UgProfilePhoto'
import UgProfileFill from '~/components/ui/UgProfileFill/UgProfileFill'
import UgLinkGroup from '~/components/ui/UgLinkGroup/UgLinkGroup'
import UgBtn from '~/components/ui/UgBtn/UgBtn'
import UgTwoColList from '~/components/ui/UgTwoColList/UgTwoColList'
import UgSVG from '~/components/common/UgSVG/UgSVG'
import UgMobileBar from '~/components/ui/UgMobileBar/UgMobileBar'

export default {
  components: {
    UgProfilePhoto,
    UgProfileFill,
    UgLinkGroup,
    UgBtn,
    UgTwoColList,
    UgSVG,
    UgMobileBar
  },

  async asyncData ({ app, route }) {
    const res = await app.$api('users.userById', {
      userId: Number.parseInt(route.params.id)
    })

    const { result } = await app.$api('offers.PublicUserOffers', {
      userId: Number.parseInt(route.params.id)
    })

    return { user: res.result, offers: result }
  },

  data () {
    return {
      links: [
        {
          url: `/users/${this.$route.params.id}/offers`,
          text: 'Мои объявления'
        },
        {
          url: '/favourite',
          text: 'Избранное'
        }
      ],
      // рыбные данные
      fakeData: {
        fullness: 20,
        isOnline: true
      }
    }
  },

  computed: {
    fullName () {
      return `${this.user.firstName} ${this.user.lastName}`
    },

    userPhoto () {
      const photo = {}

      if (this.user.avatarUrl) {
        photo.url = this.user.avatarUrl
      }

      if (this.fullName) {
        photo.alt = this.fullName
      }

      return photo
    },

    isPersonalInfo () {
      let result = false

      this.personalInfo.forEach(item => {
        if (item.value) {
          result = true
        }
      })

      return result
    },

    personalInfo () {
      return [
        {
          name: 'Пол',
          value: this.user.sexTitle
        },
        {
          name: 'Профессия',
          // value: 'Маркетолог'
          value: this.user.profession
        },
        {
          name: 'Возраст',
          // value: '20'
          value: this.user.age
        },
        {
          name: 'Родной город',
          // value: 'Санкт-Петербург'
          value: this.user.nativeCity
        },
        {
          name: 'Город проживания',
          // value: 'Санкт-Петербург'
          value: this.user.lifeCity
        },
        {
          name: 'Семейное положение',
          // value: 'Холост'
          value: this.user.maritalStatus
        },
        {
          name: 'Образование',
          // value: 'Высшее'
          value: this.user.education
        },
        {
          name: 'Дети',
          // value: 'Есть'
          value: this.user.children
        }
      ]
    },

    isAdvancedInfo () {
      let result = false

      this.advancedInfo.forEach(item => {
        if (item.value) {
          result = true
        }
      })

      return result
    },

    advancedInfo () {
      return [
        {
          name: 'Ориентация',
          // value: 'Гетеро'
          value: this.user.sexOrientation
        },
        {
          name: 'Родной язык',
          // value: 'Русский'
          value: this.user.nativeLang
        },
        {
          name: 'Национальность',
          // value: 'Русский'
          value: this.user.nationality
        },
        {
          name: 'В еде не приемлю',
          // value: 'Кушаю все'
          value: this.user.doNotEat
        },
        {
          name: 'Религия',
          // value: 'Христианство'
          value: this.user.religion
        },
        {
          name: 'Курение',
          // value: 'Не курю'
          value: this.user.smoke
        },
        {
          name: 'Политика',
          // value: 'Либерал'
          value: this.user.politycs
        },
        {
          name: 'Алкоголь',
          // value: 'Не пью'
          value: this.user.alcohole
        }
      ]
    }
  },

  methods: {
    moderationRightsRequest () {},

    moderationDryUpRequest () {},

    async logout () {
      await this.$auth.logout()
      this.$router.push('/auth/login')
    }
  }
}
</script>

<style lang="scss" scoped>
  @media screen and (min-width: 320px) {
    .user {
      margin: $gap-r-m 0 $gap-r-l;
    }

    .user__grid {
      position: relative;
    }

    // сайдбар
    .user__side-bar-wrap {
      margin-bottom: $gap-r-l;
      grid-column: 1/-1;
    }

    .user__heading {
      margin-bottom: $gap-r-m;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .user__picture {
      margin-bottom: $gap-r-s;
    }

    // данные пользователя
    .user__info {
      grid-column: 1/-1;
      display: flex;
      flex-direction: column;
      gap: $gap-r-m;
    }

    .user__ttl_2 {
      margin-bottom: $gap-r-s;
    }

    // элементы появляющиеся начиная с планшета
    .user__side-bar .user__links,
    .user__side-bar .user__edit-button,
    .user__info .user__heading {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {
    // сайдбар
    .user__side-bar-wrap {
      margin-bottom: 0;
      grid-column: 1/5;
    }

    .user__side-bar {
      position: sticky;
      top: rem(96);
      display: flex;
      flex-direction: column;
      gap: $gap-r-s;
    }

    .user__picture {
      margin: 0;
    }

    .user__side-bar .user__links,
    .user__side-bar .user__edit-button {
      display: flex;
    }

    // данные пользователя
    .user__info {
      grid-column: 5/-1;
    }

    .user__info .user__heading {
      margin: 0;
      display: flex;
    }

    // элементы только для мобильной версии
    .user__side-bar .user__heading {
      display: none;
    }

  }

  @media screen and (min-width: 1280px) {
    .user {
      margin: $gap-l 0 $gap-xl;
    }

    // сайдбар
    .user__side-bar-wrap {
      grid-column: 1/4;
    }

    .user__side-bar {
      top: 16px;
      gap: $gap-s;
    }

    // данные пользователя
    .user__info {
      grid-column: 4/-1;
      display: flex;
      flex-direction: column;
      gap: $gap-l;
    }

    .user__ttl_2 {
      margin-bottom: $gap-s;
    }
  }
</style>
