<template lang="pug">
  .block.wrapper--m-top
    h2 Мои объявления
    div.flex.flex--wrap
      div.w80
        div
         .favorites__buttons.flex.flex--wrap
          .favorites__button(@click="filter('')" :class="{'favorites__button--active': '' === offerStatusSlug}") Все
          .favorites__button(@click="filter('published')" :class="{'favorites__button--active': 'published' === offerStatusSlug}") Опубликованные ({{ publishedCount }})
          .favorites__button(@click="filter('draft')" :class="{'favorites__button--active': 'draft' === offerStatusSlug}") Черновики ({{draftCount}})
          .favorites__button.favorites__button--disabled(@click="filter('archived')") Архив
        .offer-list
          offer-list(:offers="filteredOffers" :showStatus="true")
      ug-aside
</template>

<script>
import UgCardList from '~/components/ui/UgCardList/UgCardList'
import UgAside from '~/components/domain/users/aside'

export default {
  components: {
    UgCardList,
    UgAside
  },
  async asyncData ({ app }) {
    const { result } = await app.$api('offers.OffersByUser')
    return { offers: result.offers }
  },
  data () {
    return {
      offerStatusSlug: '',
      steps: [
        {
          id: 0,
          isActive: true,
          isDisabled: false,
          link: '/',
          title: 'Ищу гнездышко'
        },
        {
          id: 1,
          isActive: false,
          isDisabled: true,
          link: '/',
          title: 'Ищу гнездоискателя'
        },
        {
          id: 2,
          isActive: false,
          isDisabled: true,
          link: '/',
          title: 'Ищу гнездососеда'
        },
        {
          id: 3,
          isActive: false,
          isDisabled: true,
          link: '/',
          title: 'Рекламные объявления'
        }
      ],
      usefulLinks: [
        {
          id: 0,
          isDisabled: false,
          link: `/users/${this.$auth.user.id}`,
          title: 'Моя анкета'
        },
        {
          id: 5,
          isDisabled: true,
          link: '/',
          title: 'Модератор'
        }
      ]
    }
  },
  computed: {
    filteredOffers () {
      if (!this.offers) {
        return []
      }
      if (this.offerStatusSlug === '') {
        return this.offers
      }
      return this.offers.filter(offer => offer.status.alias === this.offerStatusSlug)
    },
    publishedCount () {
      if (!this.offers) {
        return 0
      }
      return this.offers.filter(offer => offer.status.alias === 'published').length
    },
    draftCount () {
      if (!this.offers) {
        return 0
      }
      return this.offers.filter(offer => offer.status.alias === 'draft').length
    }
  },
  methods: {
    filter (offerStatusSlug) {
      this.offerStatusSlug = offerStatusSlug
    }
  }
}
</script>

<style lang="css" scoped>
.favorites__button--disabled {
  color: #bcbcbc;
  border: 1px solid #e4e4e4;
}

.favorites__buttons {
  margin-bottom: 56px;
}

.flex-expand {
  flex: 1;
}
</style>

<style lang="scss" scoped>
.offer-list {
  width: 100%;
}

.w80 {
  width: 80%;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }
}

@media screen and (max-width: 1024px){
  .favorites__button {
    margin-top: 16px;
  }
}
</style>
