.action-links {
  $action-links: &;

  display: flex;

  &__ico {
    transition: 0.2s;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: 1px solid $clr-mercury;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }
}
