.colored-useful-links {
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 40px;
    margin-bottom: 3px;
    padding: 10px 16px;
    color: $clr-black;
    font-size: $fs-medium-xs;
    text-decoration: none;
    background: $clr-wild-sand;
    transition: all 0.2s ease-in-out;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background: darken($clr-wild-sand, 7%);
    }

    &._disabled {
      color: $clr-silver;
    }
  }

  &__notation {
    @include center(vertical);

    right: 8px;
  }
}
