.comment-link {
  display: flex;

  &__icon {
    margin-right: 4px;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__count {
    color: $clr-primary-lightest;
  }
}
